.error-overview {
  .no-more {
    color: $lightgray;
    text-align: center;
  }

  .page-total {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.125rem;
    border-bottom: 1px solid $lightnavy;
  }
}
