<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.PermissionMetaMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.PermissionMetaDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="service_code" jdbcType="VARCHAR" property="serviceCode"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="permission_code" jdbcType="VARCHAR" property="permissionCode"/>
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
        <result column="permission_type" jdbcType="TINYINT" property="permissionType"/>
        <result column="is_enable" jdbcType="TINYINT" property="isEnable"/>
        <result column="apply_url" jdbcType="VARCHAR" property="applyUrl"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>

        <!-- 扩展字段授权资源ID，为空表示未给任何app授权 -->
        <result column="grant_res_id" jdbcType="BIGINT" property="grantResId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, service_code, service_name, permission_code, permission_name, permission_type,
    is_enable, apply_url, memo, gmt_create, gmt_modified
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select pmeta.*
        from ta_permission_meta pmeta
                 left join ta_service_meta smeta on pmeta.service_code = smeta.service_code
        where pmeta.is_enable = 1
          and smeta.is_open = 1
    </select>

    <select id="selectByAppIdAndServiceCode" resultMap="BaseResultMap">
        SELECT meta.*,
               (select res.id
                from ta_permission_res res
                WHERE res.app_id = <![CDATA[#{arg0,jdbcType=VARCHAR}]]>
                  and res.res_path = meta.permission_code) as grant_res_id
        FROM `ta_permission_meta` meta
        WHERE meta.service_code = <![CDATA[#{arg1,jdbcType=VARCHAR}]]>
          and meta.is_enable = 1
        ORDER BY meta.id ASC
    </select>

    <select id="selectByServiceCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_permission_meta where service_code = <![CDATA[  #{serviceCode,jdbcType=VARCHAR} ]]> and is_enable = 1
    </select>
    <select id="countByServiceCode" resultType="java.lang.Integer">
        select count(*)
        from ta_permission_meta
        where service_code = <![CDATA[  #{serviceCode,jdbcType=VARCHAR} ]]> and is_enable = 1
    </select>

    <select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_permission_meta where id in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
        and is_enable = 1
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_permission_meta where id = #{id}
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_permission_meta where permission_code = <![CDATA[  #{arg0} ]]>
    </select>

    <select id="selectEnableOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_permission_meta
        where permission_code = <![CDATA[  #{arg0} ]]> AND is_enable = 1 limit 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from ta_permission_meta
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.alibaba.tesla.authproxy.model.PermissionMetaDO">
        insert into ta_permission_meta
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="serviceCode != null">
                service_code,
            </if>
            <if test="serviceName != null">
                service_name,
            </if>
            <if test="permissionCode != null">
                permission_code,
            </if>
            <if test="permissionName != null">
                permission_name,
            </if>
            <if test="permissionType != null">
                permission_type,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
            <if test="applyUrl != null">
                apply_url,
            </if>
            <if test="memo != null">
                memo,
            </if>
            gmt_create,
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="serviceCode != null">
                #{serviceCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="permissionCode != null">
                #{permissionCode,jdbcType=VARCHAR},
            </if>
            <if test="permissionName != null">
                #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="permissionType != null">
                #{permissionType,jdbcType=TINYINT},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=TINYINT},
            </if>
            <if test="applyUrl != null">
                #{applyUrl,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            NOW(),
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.authproxy.model.PermissionMetaDO">
        update ta_permission_meta
        <set>
            <if test="serviceCode != null">
                service_code = #{serviceCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                service_name = #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="permissionCode != null">
                permission_code = #{permissionCode,jdbcType=VARCHAR},
            </if>
            <if test="permissionName != null">
                permission_name = #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="permissionType != null">
                permission_type = #{permissionType,jdbcType=TINYINT},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=TINYINT},
            </if>
            <if test="applyUrl != null">
                apply_url = #{applyUrl,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            gmt_modified = NOW()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>