<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.RoleDO">
        <!-- DB 原生字段 -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="locale" property="locale" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, tenant_id, role_id, locale, name, description, gmt_create, gmt_modified
    </sql>

    <insert id="insert" parameterType="roleDO">
        INSERT INTO ta_role (tenant_id, role_id, locale, name, description, gmt_create, gmt_modified)
        values (#{tenantId,jdbcType=VARCHAR},
                #{roleId,jdbcType=VARCHAR},
                #{locale,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR},
                UTC_TIMESTAMP(),
                UTC_TIMESTAMP())
    </insert>

    <update id="update" parameterType="roleDO">
        UPDATE ta_role
        SET name         = #{name,jdbcType=VARCHAR},
            description  = #{description,jdbcType=VARCHAR},
            gmt_modified = UTC_TIMESTAMP()
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteAllByTenantIdAndRoleId">
        DELETE
        FROM ta_role
        WHERE tenant_id = #{tenantId,jdbcType=VARCHAR}
          AND role_id = #{roleId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM ta_role
    </delete>

    <select id="findFirstByTenantIdAndRoleIdAndLocale" resultMap="BaseResultMap">
        SELECT *
        FROM ta_role
        WHERE tenant_id = #{tenantId,jdbcType=VARCHAR}
          AND role_id = #{roleId,jdbcType=VARCHAR}
          AND locale = #{locale,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <select id="findAllByTenantIdAndRoleId" resultMap="BaseResultMap">
        SELECT *
        FROM ta_role
        WHERE tenant_id = #{tenantId,jdbcType=VARCHAR}
          AND role_id = #{roleId,jdbcType=VARCHAR}
    </select>

    <select id="findAllByTenantIdAndLocale" resultMap="BaseResultMap">
        SELECT *
        FROM ta_role
        WHERE tenant_id = #{tenantId,jdbcType=VARCHAR}
          AND locale = #{locale,jdbcType=VARCHAR}
    </select>

</mapper>