<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.authproxy.model.teslamapper.TeslaServiceUserMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.TeslaServiceUserDO">
        <id column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="employee_id" jdbcType="VARCHAR" property="employeeId"/>
        <result column="buc_user_id" jdbcType="VARCHAR" property="bucUserId"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="nickname_pinyin" jdbcType="VARCHAR" property="nicknamePinyin"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="secretkey" jdbcType="VARCHAR" property="secretkey"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone"/>
        <result column="aliww" jdbcType="VARCHAR" property="aliww"/>
        <result column="issuperadmin" jdbcType="TINYINT" property="issuperadmin"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="logintime" jdbcType="TIMESTAMP" property="logintime"/>
        <result column="validflag" jdbcType="TINYINT" property="validflag"/>
        <result column="is_public_account" jdbcType="TINYINT" property="isPublicAccount"/>
        <result column="account_safeguard" jdbcType="VARCHAR" property="accountSafeguard"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        userid, username, employee_id, buc_user_id, nickname, nickname_pinyin, name, secretkey,
    email, telephone, mobilephone, aliww, issuperadmin, createtime, logintime, validflag,
    is_public_account, account_safeguard
    </sql>
    <select id="selectByExample" parameterType="com.alibaba.tesla.authproxy.model.example.TeslaServiceUserExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where userid = #{userid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from users
        where userid = #{userid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.alibaba.tesla.authproxy.model.example.TeslaServiceUserExample">
        delete from users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.alibaba.tesla.authproxy.model.TeslaServiceUserDO">
        insert into users (userid, username, employee_id,
                           buc_user_id, nickname, nickname_pinyin,
                           name, secretkey, email,
                           telephone, mobilephone, aliww,
                           issuperadmin, createtime, logintime,
                           validflag, is_public_account, account_safeguard)
        values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR},
                #{bucUserId,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{nicknamePinyin,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{secretkey,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
                #{telephone,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, #{aliww,jdbcType=VARCHAR},
                #{issuperadmin,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{logintime,jdbcType=TIMESTAMP},
                #{validflag,jdbcType=TINYINT}, #{isPublicAccount,jdbcType=TINYINT},
                #{accountSafeguard,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.alibaba.tesla.authproxy.model.TeslaServiceUserDO">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="employeeId != null">
                employee_id,
            </if>
            <if test="bucUserId != null">
                buc_user_id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="nicknamePinyin != null">
                nickname_pinyin,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="secretkey != null">
                secretkey,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="mobilephone != null">
                mobilephone,
            </if>
            <if test="aliww != null">
                aliww,
            </if>
            <if test="issuperadmin != null">
                issuperadmin,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="logintime != null">
                logintime,
            </if>
            <if test="validflag != null">
                validflag,
            </if>
            <if test="isPublicAccount != null">
                is_public_account,
            </if>
            <if test="accountSafeguard != null">
                account_safeguard,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="employeeId != null">
                #{employeeId,jdbcType=VARCHAR},
            </if>
            <if test="bucUserId != null">
                #{bucUserId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="nicknamePinyin != null">
                #{nicknamePinyin,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="secretkey != null">
                #{secretkey,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="mobilephone != null">
                #{mobilephone,jdbcType=VARCHAR},
            </if>
            <if test="aliww != null">
                #{aliww,jdbcType=VARCHAR},
            </if>
            <if test="issuperadmin != null">
                #{issuperadmin,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="logintime != null">
                #{logintime,jdbcType=TIMESTAMP},
            </if>
            <if test="validflag != null">
                #{validflag,jdbcType=TINYINT},
            </if>
            <if test="isPublicAccount != null">
                #{isPublicAccount,jdbcType=TINYINT},
            </if>
            <if test="accountSafeguard != null">
                #{accountSafeguard,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.alibaba.tesla.authproxy.model.example.TeslaServiceUserExample"
            resultType="java.lang.Long">
        select count(*) from users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update users
        <set>
            <if test="record.userid != null">
                userid = #{record.userid,jdbcType=INTEGER},
            </if>
            <if test="record.username != null">
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.employeeId != null">
                employee_id = #{record.employeeId,jdbcType=VARCHAR},
            </if>
            <if test="record.bucUserId != null">
                buc_user_id = #{record.bucUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.nickname != null">
                nickname = #{record.nickname,jdbcType=VARCHAR},
            </if>
            <if test="record.nicknamePinyin != null">
                nickname_pinyin = #{record.nicknamePinyin,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.secretkey != null">
                secretkey = #{record.secretkey,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.telephone != null">
                telephone = #{record.telephone,jdbcType=VARCHAR},
            </if>
            <if test="record.mobilephone != null">
                mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
            </if>
            <if test="record.aliww != null">
                aliww = #{record.aliww,jdbcType=VARCHAR},
            </if>
            <if test="record.issuperadmin != null">
                issuperadmin = #{record.issuperadmin,jdbcType=TINYINT},
            </if>
            <if test="record.createtime != null">
                createtime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.logintime != null">
                logintime = #{record.logintime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.validflag != null">
                validflag = #{record.validflag,jdbcType=TINYINT},
            </if>
            <if test="record.isPublicAccount != null">
                is_public_account = #{record.isPublicAccount,jdbcType=TINYINT},
            </if>
            <if test="record.accountSafeguard != null">
                account_safeguard = #{record.accountSafeguard,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update users
        set userid = #{record.userid,jdbcType=INTEGER},
        username = #{record.username,jdbcType=VARCHAR},
        employee_id = #{record.employeeId,jdbcType=VARCHAR},
        buc_user_id = #{record.bucUserId,jdbcType=VARCHAR},
        nickname = #{record.nickname,jdbcType=VARCHAR},
        nickname_pinyin = #{record.nicknamePinyin,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        secretkey = #{record.secretkey,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        telephone = #{record.telephone,jdbcType=VARCHAR},
        mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
        aliww = #{record.aliww,jdbcType=VARCHAR},
        issuperadmin = #{record.issuperadmin,jdbcType=TINYINT},
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
        logintime = #{record.logintime,jdbcType=TIMESTAMP},
        validflag = #{record.validflag,jdbcType=TINYINT},
        is_public_account = #{record.isPublicAccount,jdbcType=TINYINT},
        account_safeguard = #{record.accountSafeguard,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.authproxy.model.TeslaServiceUserDO">
        update users
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId,jdbcType=VARCHAR},
            </if>
            <if test="bucUserId != null">
                buc_user_id = #{bucUserId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="nicknamePinyin != null">
                nickname_pinyin = #{nicknamePinyin,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="secretkey != null">
                secretkey = #{secretkey,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="mobilephone != null">
                mobilephone = #{mobilephone,jdbcType=VARCHAR},
            </if>
            <if test="aliww != null">
                aliww = #{aliww,jdbcType=VARCHAR},
            </if>
            <if test="issuperadmin != null">
                issuperadmin = #{issuperadmin,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="logintime != null">
                logintime = #{logintime,jdbcType=TIMESTAMP},
            </if>
            <if test="validflag != null">
                validflag = #{validflag,jdbcType=TINYINT},
            </if>
            <if test="isPublicAccount != null">
                is_public_account = #{isPublicAccount,jdbcType=TINYINT},
            </if>
            <if test="accountSafeguard != null">
                account_safeguard = #{accountSafeguard,jdbcType=VARCHAR},
            </if>
        </set>
        where userid = #{userid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.authproxy.model.TeslaServiceUserDO">
        update users
        set username          = #{username,jdbcType=VARCHAR},
            employee_id       = #{employeeId,jdbcType=VARCHAR},
            buc_user_id       = #{bucUserId,jdbcType=VARCHAR},
            nickname          = #{nickname,jdbcType=VARCHAR},
            nickname_pinyin   = #{nicknamePinyin,jdbcType=VARCHAR},
            name              = #{name,jdbcType=VARCHAR},
            secretkey         = #{secretkey,jdbcType=VARCHAR},
            email             = #{email,jdbcType=VARCHAR},
            telephone         = #{telephone,jdbcType=VARCHAR},
            mobilephone       = #{mobilephone,jdbcType=VARCHAR},
            aliww             = #{aliww,jdbcType=VARCHAR},
            issuperadmin      = #{issuperadmin,jdbcType=TINYINT},
            createtime        = #{createtime,jdbcType=TIMESTAMP},
            logintime         = #{logintime,jdbcType=TIMESTAMP},
            validflag         = #{validflag,jdbcType=TINYINT},
            is_public_account = #{isPublicAccount,jdbcType=TINYINT},
            account_safeguard = #{accountSafeguard,jdbcType=VARCHAR}
        where userid = #{userid,jdbcType=INTEGER}
    </update>
    <select id="selectByExampleWithRowbounds"
            parameterType="com.alibaba.tesla.authproxy.model.example.TeslaServiceUserExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>