@font-face {
  font-family: 'iconfont'; /* Project id 2869064 */
  src: url('iconfont.woff2?t=1661773321580') format('woff2'),
    url('iconfont.woff?t=1661773321580') format('woff'),
    url('iconfont.ttf?t=1661773321580') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-HTTP:before {
  content: '\e892';
}

.icon-ORACLE:before {
  content: '\ec48';
}

.icon-SPARK:before {
  content: '\ed2e';
}

.icon-a-3Dqipaoditu:before {
  content: '\e7d6';
}

.icon-ditu:before {
  content: '\e62d';
}

.icon-MYSQL:before {
  content: '\ec6d';
}

.icon-DB2:before {
  content: '\e610';
}

.icon-MSSQL:before {
  content: '\e664';
}

.icon-BIG_QUERY:before {
  content: '\e759';
}

.icon-NEOVIEW:before {
  content: '\ebc0';
}

.icon-ACCESS:before {
  content: '\ec16';
}

.icon-POSTGRESQL:before {
  content: '\ec5d';
}

.icon-H2:before {
  content: '\e6f6';
}

.icon-HIVE:before {
  content: '\e891';
}

.icon-SYBASE:before {
  content: '\e682';
}

.icon-INFORMIX:before {
  content: '\e61c';
}

.icon-CLICKHOUSE:before {
  content: '\e61d';
}

.icon-DERBY:before {
  content: '\e61e';
}

.icon-DORIS:before {
  content: '\e61f';
}

.icon-PRESTO:before {
  content: '\e622';
}

.icon-SQLSTREAM:before {
  content: '\e624';
}

.icon-PHOENIX:before {
  content: '\e626';
}

.icon-NETEZZA:before {
  content: '\e627';
}

.icon-IMPALA:before {
  content: '\e629';
}

.icon-FIREBIRD:before {
  content: '\e62a';
}

.icon-INTERBASE:before {
  content: '\e62c';
}

.icon-group-widget:before {
  content: '\e8b6';
}

.icon-image-widget:before {
  content: '\e7de';
}

.icon-reset-widget:before {
  content: '\e7fe';
}

.icon-time-widget:before {
  content: '\eb2a';
}

.icon-video-widget:before {
  content: '\e76d';
}

.icon-control-widget:before {
  content: '\e6eb';
}

.icon-query-widget:before {
  content: '\e828';
}

.icon-embed-widget:before {
  content: '\e991';
}

.icon-tab-widget:before {
  content: '\e7d2';
}

.icon-ownedChart-widget:before {
  content: '\e61a';
}

.icon-linkedChart-widget:before {
  content: '\e61b';
}

.icon-join_inner:before {
  content: '\e609';
}

.icon-join_right:before {
  content: '\e612';
}

.icon-join_left:before {
  content: '\e619';
}

.icon-CombinedShape:before {
  content: '\e741';
}

.icon-kanban:before {
  content: '\e806';
}

.icon-gitee:before {
  content: '\e611';
}

.icon-rich-text:before {
  content: '\e7a4';
}

.icon-graph-circular:before {
  content: '\e7d0';
}

.icon-graph:before {
  content: '\e6a8';
}

.icon-waterfall:before {
  content: '\e617';
}

.icon-treemap:before {
  content: '\e616';
}

.icon-sankey:before {
  content: '\e618';
}

.icon-parallel:before {
  content: '\e613';
}

.icon-graph-force:before {
  content: '\e614';
}

.icon-radar:before {
  content: '\e615';
}

.icon-gauge:before {
  content: '\e607';
}

.icon-chart:before {
  content: '\e635';
}

.icon-area-chart:before {
  content: '\e654';
}

.icon-areachart:before {
  content: '\ebc7';
}

.icon-areachart2:before {
  content: '\e7af';
}

.icon-fsux_tubiao_ciyun:before {
  content: '\e60f';
}

.icon-fsux_tubiao_shuangzhoutu:before {
  content: '\e60d';
}

.icon-fsux_tubiao_loudoutu:before {
  content: '\e60e';
}

.icon-fsux_tubiao_bingtu:before {
  content: '\e60a';
}

.icon-fsux_tubiao_bingtu1:before {
  content: '\e60b';
}

.icon-fsux_tubiao_nandingmeiguitu:before {
  content: '\e60c';
}

.icon-fsux_zhexiantu:before {
  content: '\e608';
}

.icon-sandiantu:before {
  content: '\e7a0';
}

.icon-fsux_tubiao_zhuzhuangtu:before {
  content: '\e601';
}

.icon-fsux_tubiao_duijizhuzhuangtu:before {
  content: '\e602';
}

.icon-fsux_tubiao_duijizhuzhuangtu1:before {
  content: '\e603';
}

.icon-fsux_tubiao_zhuzhuangtu1:before {
  content: '\e604';
}

.icon-fsux_tubiao_baifenbiduijizhuzhuangtu:before {
  content: '\e605';
}

.icon-fsux_tubiao_baifenbiduijitiaoxingtu:before {
  content: '\e606';
}

.icon-fenzubiao:before {
  content: '\e799';
}

.icon-mingxibiao:before {
  content: '\e79a';
}

.icon-fanpaiqi:before {
  content: '\e7a2';
}

.icon-fasongyoujian:before {
  content: '\e600';
}

.icon-shujukupeizhi:before {
  content: '\e65f';
}

.icon-24gf-table:before {
  content: '\eb12';
}

.icon-xietongzhihuidaping:before {
  content: '\e631';
}

.icon-users1:before {
  content: '\e92e';
}
