**/target
**/metastore_db
**/log.dir*
**/src/main/webapp/WEB-INF/lib
**/src/main/webapp/WEB-INF/classes
**/.settings
**/.classpath
**/.project
**/*.tar.gz
**/tree.txt
**/*.xml.orig
**/.idea
*.jar
*.ipr
*.iml
*.iws
*.versionsBackup
*.swp
**/*.log
.flattened-pom.xml
