.position-bar-chart {
  margin-bottom: 0 !important;
  border-width: 0 !important;
}

.monitor-comparative-container {
  padding: 10px 15px;

  .monitor-comparative-tip {
    margin-bottom: 10px;
  }
}

.position-bars {
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 4px;

  .sort-tab {
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 15px;
  }
}
