<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="lineage-edge-details" data-id="PropagationToolTip">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-9" style="margin-top: 5px;">
                <span class="pull-left">Enable/Disable Propagation</span>
                <label class="switch pull-left">
                    <input type="checkbox" class="switch-input" name="editPropagationType" value="text">
                    <span class="switch-slider"></span>
                </label>
                <span class="pull-left">Select Classifications to Block Propagation</span>
            </div>
        </div>
        <hr style="margin-top: 0px;">
    </div>
    <div class="editPropagation col-sm-12">
        <h4 class="title"><span data-id="edgeDetailName"></span></h4>
        <div class="overlay show">
            <div class="fontLoader show">
                <i class="fa fa-refresh fa-spin-custom"></i>
            </div>
        </div>
        <div class="col-md-12">
            <ul data-id="propagationOptions" class="propagation-list">
                <li>
                    <div class="radio">
                        <input type="radio" name="propagateRelation" value="ONE_TO_TWO" id="ONE_TO_TWO">
                        <label class="padding-left-0" for="ONE_TO_TWO">
                            <span class="fromName"></span>
                            <i class="fa-color fa fa-long-arrow-right"></i>
                            <span class="toName"></span>
                        </label>
                    </div>
                </li>
                <li class="TWO_TO_ONE" style="display: none">
                    <div class="radio">
                        <input type="radio" name="propagateRelation" value="TWO_TO_ONE" id="TWO_TO_ONE">
                        <label class="padding-left-0" for="TWO_TO_ONE">
                            <span class="fromName"></span>
                            <i class="fa-color fa fa-long-arrow-left"></i>
                            <span class="toName"></span>
                        </label>
                    </div>
                </li>
                <li class="both" style="display: none">
                    <div class="radio">
                        <input type="radio" name="propagateRelation" value="BOTH" id="BOTH">
                        <label class="padding-left-0" for="BOTH">
                            <span class="fromName"></span>
                            <i class="fa-color fa fa-arrows-h"></i>
                            <span class="toName"></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="radio">
                        <input type="radio" name="propagateRelation" value="NONE" id="NONE">
                        <label class="padding-left-0" for="NONE">None</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div data-id="PropagatedClassificationTable" class="propagatedClassificationTable col-sm-12" style="display: none"></div>
</div>