<?xml version="1.0" encoding="UTF-8"?>
<doc>
#*
* com.qlangtech.tis.sql.parser.stream.generate.StreamComponentCodeGenerator.MergeData#getTabFieldProcessors()
**#
    #foreach($p in $config.tabFieldProcessors  )
        <table name="${p.name}" >
#foreach($t in $p.colTransfers  )
              <alias name="${t.colKey}">
                return ${t.transfer}( ${t.param} );
              </alias>
#end
        </table>
    #end

</doc>