
:root {
  --cl-white: #ffffff;
  --cl-grey-1: var(--cl-white);
  --cl-grey-2: #fafafa;
  --cl-grey-3: #f5f5f5;
  --cl-grey-4: #f0f0f0;
  --cl-grey-5: #d9d9d9;
  --cl-grey-6: #bfbfbf;
  --cl-grey-7: #8c8c8c;
  --cl-grey-8: #595959;
  --cl-grey-9: #434343;
  --cl-grey-10: #262626;
  --cl-grey-11: #1f1f1f;
  --cl-grey-12: #141414;
  --cl-grey-13: #000000;
  --cl-black: var(--cl-grey-13);
  --cl-red: #f56c6c;
  --cl-magenta: #f759ab;
  --cl-purple: #9254de;
  --cl-geek-blue: #597ef7;
  --cl-blue: #409eff;
  --cl-cyan: #36cfc9;
  --cl-green: #67c23a;
  --cl-lime-green: #bae637;
  --cl-yellow: #ffec3d;
  --cl-gold: #ffc53d;
  --cl-orange: #e6a23c;

  --cl-primary-color: #409eff;
  --cl-primary-plain-color: rgb(217, 236, 255);
  --cl-success-color: #67c23a;
  --cl-success-plain-color: rgb(225, 243, 216);
  --cl-warning-color: var(--cl-orange);
  --cl-warning-plain-color: rgb(250, 236, 216);
  --cl-danger-color: var(--cl-red);
  --cl-danger-plain-color: rgb(253, 226, 226);
  --cl-info-color: #303133;
  --cl-info-medium-color: #909399;
  --cl-info-medium-light-color: rgb(200, 200, 205);
  --cl-info-light-color: rgb(233, 233, 235);
  --cl-info-plain-color: rgb(244, 244, 245);
  --cl-info-border-color: #e6e6e6;
  --cl-disabled-bg-color: #F5F7FA;
  --cl-disabled-border-color: #E4E7ED;
  --cl-disabled-color: #C0C4CC;
  --cl-default-transition-duration: 300ms;
  --cl-header-height: 64px;
  --cl-header-bg: var(--cl-white);
  --cl-header-border-color: #eaecef;
  --cl-tabs-view-height: 48px;
  --cl-tabs-view-tab-max-width: 180px;
  --cl-tabs-view-tab-height: 20px;
  --cl-tabs-view-tab-color: #263445;
  --cl-tabs-view-tab-border-color: var(--cl-info-light-color);
  --cl-tabs-view-border-color: var(--cl-header-border-color);
  --cl-tabs-view-active-tab-color: var(--cl-primary-color);
  --cl-tabs-view-bg: var(--cl-info-plain-color);
  --cl-menu-text: #bfcbd9;
  --cl-menu-active-text: var(--cl-primary-color);
  --cl-sub-menu-active-text: #f4f4f5;
  --cl-menu-bg: #304156;
  --cl-menu-hover: #263445;
  --cl-sub-menu-bg: #1f2d3d;
  --cl-sub-menu-hover: #001528;
  --cl-sidebar-width: 240px;
  --cl-sidebar-width-reverse: -240px;
  --cl-sidebar-width-collapsed: 64px;
  --cl-sidebar-collapse-transition-duration: var(--cl-default-transition-duration);
  --cl-container-bg: var(--cl-info-plain-color);
  --cl-container-white-bg: var(--cl-white);
  --cl-container-border-color: var(--cl-info-light-color);
  --cl-nav-sidebar-color: var(--cl-info-color);
  --cl-nav-sidebar-border-color: var(--cl-info-light-color);
  --cl-nav-sidebar-bg: var(--cl-white);
  --cl-nav-sidebar-item-height: 48px;
  --cl-nav-sidebar-width: 240px;
  --cl-nav-sidebar-item-border-color: var(--cl-nav-sidebar-border-color);
  --cl-nav-sidebar-item-action-color: var(--cl-info-color);
  --cl-nav-sidebar-search-height: 40px;
  --cl-nav-sidebar-collapse-transition-duration: var(--cl-default-transition-duration);
  --cl-nav-tabs-height: 40px;
  --cl-nav-actions-default-height: 40px;
  --cl-nav-actions-collapse-transition-duration: var(--cl-default-transition-duration);
  --cl-nav-actions-group-border-color: var(--cl-info-border-color);
  --cl-nav-actions-item-color: var(--cl-info-medium-color);
  --cl-file-editor-mask-bg: rgba(255, 255, 255, 0.05);
  --cl-file-editor-nav-menu-top-bar-height: 28px;
  --cl-file-editor-nav-menu-width: 240px;
  --cl-file-editor-nav-menu-border-color: var(--cl-info-border-color);
  --cl-file-editor-nav-menu-item-selected-bg: var(--cl-primary-plain-color);
  --cl-file-editor-nav-menu-item-selected-color: var(--cl-primary-color);
  --cl-file-editor-nav-menu-collapse-transition-duration: var(--cl-default-transition-duration);
  --cl-file-editor-nav-menu-item-drag-target-border-color: var(--cl-primary-color);
  --cl-file-editor-nav-tabs-height: 28px;
  --cl-file-editor-nav-tabs-bg: var(--cl-menu-bg);
  --cl-file-editor-nav-tabs-item-color: var(--cl-white);
  --cl-file-editor-nav-tabs-item-active-bg: var(--cl-primary-plain-color);
  --cl-file-editor-nav-tabs-item-active-color: var(--cl-primary-color);
  --cl-file-editor-nav-tabs-item-max-width: 240px;
  --cl-file-editor-settings-dialog-label-width: 240px;
  --cl-context-menu-item-height: 36px;
  --cl-context-menu-item-max-width: 480px;
}
