.artifacts-list-container {
  display: flex;
  height: 100%;
}

.artifacts-list-page {
  width: 300px;
  min-height: 100%;
  margin-left: -32px;
  padding-left: 20px;
  background: $white;

  .search-table-section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .search-group {
    padding: 0 27px 0 16px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 299px;
    display: block;
    height: 100%;
    border-right: thin solid $color-border;
    content: '';
  }

  .search-table-content {
    flex: 1;
    overflow: auto;
  }

  .search-table-header {
    margin-bottom: 12px;
    padding: 0 16px;
    overflow: unset;
  }

  .search-input {
    width: 236px;
  }

  .artifacts-pagination {
    float: right;
    margin-top: 10px;
  }

  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;

    .title {
      font-weight: 500;
      font-size: 16px;
    }
  }

  .search-tip {
    margin-top: 20px;
    color: $color-dark-6;
    text-align: center;
  }

  table {
    td {
      cursor: pointer;
    }
  }
}

.artifacts-detail-container {
  flex: 1;
  width: 0;
}
