include README.rst
include requirements.txt
include teslafaas/logging.json
recursive-include teslafaas *
recursive-include bin *
recursive-include tests *
recursive-include examples *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
