/*
 *   Licensed to the Apache Software Foundation (ASF) under one
 *   or more contributor license agreements.  See the NOTICE file
 *   distributed with this work for additional information
 *   regarding copyright ownership.  The ASF licenses this file
 *   to you under the Apache License, Version 2.0 (the
 *   "License"); you may not use this file except in compliance
 *   with the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

/* You can add global styles to this file, and also import other style files */

.tis-markdown code {
  color: #e30000;
}

.tis-markdown table {
  border: 1px solid #989898;
}
.tis-markdown th {
  padding: 4px;
  border: 1px solid #989898;
}
.tis-markdown td {
  padding: 4px;
  border: 1px solid #989898;
}

.get-gen-cfg-file .ant-drawer-body {
  overflow: hidden;
  padding: 2px;
}

.item-block {
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  margin-left: 8px;
}

.tool-bar {
  background-color: #ffffff;
  padding: 8px;
}

.alter-notice {
  margin: 12px;
}


.body_content {
  margin: 0 30px 0 30px;
}

.list-ul-msg {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nz-select, nz-cascader {
  width: 100%;
}

.tis-link-btn {
  display: inline-block;
  margin: 5px 10px 5px 10px
}

.combine-input {
  border: 1px dashed #cccccc;
  padding: 4px;
}

.combine-input input, nz-switch, nz-select {
  margin: 3px 0 3px 0;
}
