.connectors-page {
  &_createButton {
    margin-top: var(--pf-c-empty-state__primary--MarginTop);
  }
  &_toolbarCreateButton {
    margin-bottom: var(--pf-global--spacer--sm);
  }
  &_toolbarSortIcon {
    cursor: pointer;
  }
  &_dataTable {
    margin-top: var(--pf-global--spacer--sm);
    tr:nth-child(2) {
      @media screen and (max-width: 768px) {
        padding: 20px;
      }
      td:nth-child(2),
      td:nth-child(3) {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      td:nth-child(6) {
        .pf-c-dropdown {
          display: none;
        }
      }
      td:nth-child(4) {
        div.pf-l-flex {
          padding: 8px;
        }
      }
    }
  }

  &_toolbarFlex {
    padding: var(--pf-global--spacer--sm) 0;
    border-bottom: 1px solid var(--pf-global--palette--black-200);
    .flexCol {
      flex-direction: column;
    }
    div:nth-child(2) {
      margin-right: var(--pf-global--spacer--xl);
    }
    .pf-c-button {
      &.pf-m-primary {
        margin-bottom: 0;
      }
    }
    .pf-c-toolbar {
      &__content {
        padding: 0;
      }
    }
  }
}

.status-indicator {
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  color: white;
  display: inline-block;
}

.pf-c-table {
  tbody {
    > tr {
      > * {
        vertical-align: middle;
        padding: 15px var(--pf-c-table--cell--PaddingRight) 10px
          var(--pf-c-table--cell--PaddingLeft);
      }
    }
  }
  .pf-c-label {
    &.no-bg {
      background: none;
    }
  }
}
.pf-c-tooltip {
  .errors {
    text-align: left;
  }
}
