<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.BrowserMapper">

    <select id="getBrowserUserStats" parameterType="com.platform.website.module.QueryModel" resultType="hashMap">
        SELECT SUM(sessions_length) AS sessions_length, 
               SUM(sessions) AS sessions,
               SUM(active_users) AS active_users,
               SUM(new_install_users) AS new_users,
               SUM(total_install_users) AS total_users,
               SUM(active_members) AS active_members,
               SUM(new_members) AS new_members,
               SUM(total_members) AS total_members,
               SUM(pv) AS pv
        <include refid="groupColums"/>
        FROM stats_device_browser 
        <include refid="innerJoin"/>
        <where>
            <include refid="whereColumnsNonSum"/>
            <include refid="whereColumns"/>
        </where>
        <include refid="groupBy"/> 
        ORDER BY date.calendar ASC 
    </select>

    <sql id="groupColums">
        <if test="groups != null">
           <foreach item="item" index="index" collection="groups">
                <if test="item == 'platform'">
                     ,platform.platform_name AS group_platform
                </if>
                <if test="item == 'browser'">
                    ,browser.browser_name AS group_browser_name
                </if>
                <if test="item == 'browser_version'">
                    ,browser.browser_version AS group_browser_version
                </if>
                <if test="item == 'day'">
                     ,date.calendar  AS group_day
                </if>
                <if test="item == 'year'">
                     ,date.year AS group_year
                </if>
                <if test="item == 'season'">
                    ,concat(date.year,':', date.season)  AS group_season
                </if>
                <if test="item == 'month'">
                    ,concat(date.year,':', date.month)  AS group_month
                </if>
                <if test="item == 'week'">
                    ,concat(date.year,':', date.week)  AS group_week
                </if>
           </foreach>
       </if> 
    </sql>

    <sql id="innerJoin">
        INNER JOIN  dimension_date AS date ON date_dimension_id = date.id
        INNER JOIN dimension_browser AS browser ON browser_dimension_id = browser.id
        <if test="groups != null">
           <foreach item="item" index="index" collection="groups">
                <if test="item == 'platform'">
                     INNER JOIN  dimension_platform AS platform ON platform_dimension_id = platform.id
                </if>
           </foreach>
       </if>
    </sql>

    <sql id="whereColumnsNonSum">
        <if test="queryColumn.type != null">
            date.type = #{queryColumn.type}
        </if>
        <if test="queryColumn.startDate != null">
            <if test="queryColumn.type == 'day'">
                AND date.calendar <![CDATA[ >=  ]]> #{queryColumn.startDate}
            </if>
            <if test="queryColumn.type == 'week'">
                AND concat(YEAR(#{queryColumn.startDate}),LPAD(WEEK(#{queryColumn.startDate}) + 1, 2, 0)) <![CDATA[ <=  ]]> concat(date.year,LPAD(date.week, 2, 0))
            </if>
            <if test="queryColumn.type == 'month'">
                AND concat(YEAR(#{queryColumn.startDate}),LPAD(MONTH(#{queryColumn.startDate}), 2, 0)) <![CDATA[ <=  ]]> concat(date.year,LPAD(date.month, 2, 0))
            </if>
        </if>
        <if test="queryColumn.endDate != null">
            <if test="queryColumn.type == 'day'">
                AND date.calendar <![CDATA[ <=  ]]> #{queryColumn.endDate}
            </if>
            <if test="queryColumn.type == 'week'">
                AND concat(YEAR(#{queryColumn.endDate}),LPAD(WEEK(#{queryColumn.endDate}) + 1, 2, 0)) <![CDATA[ >=  ]]> concat(date.year,LPAD(date.week, 2, 0))
            </if>
            <if test="queryColumn.type == 'month'">
                AND concat(YEAR(#{queryColumn.endDate}),LPAD(MONTH(#{queryColumn.endDate}), 2, 0)) <![CDATA[ >=  ]]> concat(date.year,LPAD(date.month, 2, 0))
            </if>
        </if>
    </sql>

    <sql id="whereColumns">
        <if test="queryColumn.dimensionPlatformId != 0">
            AND platform_dimension_id = #{queryColumn.dimensionPlatformId}
        </if>
        <if test="queryColumn.dimensionBrowserId != 0">
            AND browser_dimension_id=#{queryColumn.dimensionBrowserId}
        </if>
        <if test="queryColumn.dimensionBrowserId == 0">
        	<choose>
	            <when test="groups != null and groups.size() > 0">
	                <choose>
	                    <when test="groups.contains('browser_version') and groups.contains('browser')">
	                        AND browser.browser_name != 'all' AND browser.browser_version != 'all'
	                    </when>
	                    <when test="groups.contains('browser_version')">
	                        <choose>
	                            <when test="queryColumn.browser != 'all' and queryColumn.browser != 'group_by'">
	                                AND browser.browser_name = #{queryColumn.browser} AND browser.browser_version != 'all'
	                            </when>
	                            <otherwise>
	                                AND browser.browser_name != 'all' AND browser.browser_version != 'all'
	                            </otherwise>
	                        </choose>
	                    </when>
	                    <when test="groups.contains('browser')">
	                        AND browser.browser_version = 'all'
	                        <choose>
	                            <when test="queryColumn.browser != 'all' and queryColumn.browser != 'group_by'">
	                                AND browser.browser_name = #{queryColumn.browser}
	                            </when>
	                            <otherwise>
	                                AND browser.browser_name != 'all'
	                            </otherwise>
	                        </choose>
	                    </when>
	                    <otherwise>
			            	AND browser.browser_version != 'all'
	                    </otherwise>
	                </choose>
	            </when>
	            <otherwise>
	            	AND browser.browser_version != 'all'
	            </otherwise>
        	</choose>
        </if>
    </sql>

    <sql id="groupBy">
        <if test="groups != null and groups.size() > 0">
                GROUP BY 
                <trim prefixOverrides=",">
                   <foreach item="item" index="index" collection="groups">
                        <if test="item == 'platform'">
                             ,platform_dimension_id
                        </if>
                        <if test="item == 'browser'">
                             ,browser.browser_name
                        </if>
                        <if test="item == 'browser_version'">
                             ,browser.browser_version
                        </if>
                        <if test="item == 'year'">
                             ,date.year
                        </if>
                        <if test="item == 'season'">
                             ,date.year,date.season
                        </if>
                        <if test="item == 'month'">
                             ,date.year,date.month
                        </if>
                        <if test="item == 'week'">
                             ,date.year,date.week
                        </if>
                        <if test="item == 'day'">
                             ,date.year,date.month,date.day
                        </if>
                    </foreach>
                </trim>
            </if> 
    </sql>
</mapper>
