<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.website.dao.DateDimensionMapper">
    <select id="getDateDimensionIdByDimension" parameterType="com.platform.website.module.DateDimension" resultType="int">
            SELECT id FROM  dimension_date
            <where> 
                <if test="year != -1">
                    year=#{year}
                </if> 
                <if test="season != -1">
                    AND season=#{season}
                </if>
                <if test="month != -1">
                    AND month=#{month}
                </if>
                <if test="week != -1">
                    AND week=#{week}
                </if>
                <if test="day != -1">
                    AND day=#{day}
                </if>
            </where>
    </select>
</mapper>