.summary {
  .progress-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: $white;
    border: 1px solid $color-border;
    border-radius: $radius;

    .progress-row {
      display: flex;
      line-height: 26px;

      .progress-left {
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin-right: 20px;
      }

      .progress-right {
        position: relative;
        width: calc(100% - 320px);
        overflow: hidden;
      }
    }
  }

  .ant-progress-inner {
    background-color: transparent;

    .ant-progress-bg {
      border-radius: 0;
    }
  }

  .bg-transparent .ec-card-container {
    background-color: transparent;
    box-shadow: none;
  }
}

.sort-panel {
  padding: 12px 12px 8px;
  background-color: $white;
  border-radius: $radius;
  @extend %shallow-shadow;

  .ant-spin-container {
    transition-property: opacity;
  }
}
