.topology-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .topology-header {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  .topology-content {
    display: flex;
    flex: 1;
    overflow: auto;

    .topology-chart {
      flex: 2;
    }
  }
}
