.clone-repo-name {
  margin: 5px 0;
  font-size: 18px;
}

.clone-content {
  padding: 8px 0;

  .addr {
    margin-bottom: 20px;

    &:hover {
      .border-warp {
        border-color: $color-primary;
      }
    }
  }

  .download-btn-group {
    display: flex;

    > button {
      flex: 1;
    }
  }

  .border-warp {
    padding: 6px 10px;
    border: 1px solid $color-border;
    border-radius: 4px 0 0 4px;
  }

  .copy-btn {
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

  .label {
    color: $color-dark-4;
  }
}

.repo-tree-page {
  min-height: 550px;

  .repo-locked-alert {
    margin-bottom: $p12;
  }

  .nav-block {
    display: flex;
    margin-bottom: $p12;

    .repo-branch-select {
      margin-bottom: 0;
    }
  }

  &.full-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .v-flex {
      display: flex;
      flex-direction: column;
    }

    .file-title .flex-1 {
      flex: 1;
      height: 100%;
      line-height: 40px;
    }

    .ant-spin-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .repo-file {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;
    }

    .file-content {
      flex: 1;
    }
  }
}

.repo-tree {
  margin-bottom: 20px;

  tbody {
    cursor: pointer;
  }
}

.repo-tree-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  color: $color-text-holder;
  background-color: $white;

  .title {
    margin: 20px 0;
    font-size: 20px;
  }

  span {
    line-height: 24px;
  }

  i {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 80px;
  }
}

.repo-clone-popover {
  width: 350px;
}

.repo-clone-btn {
  display: inline-block;

  .iconfont {
    margin-right: 0;
  }
}

.repo-link {
  color: $color-dark-8;

  &:hover {
    color: $color-dark-8;
    text-decoration: underline;
  }
}

.git-repo-config {
  padding: 0;

  .repo-locked-alert {
    margin-bottom: $p12;
  }

  .ant-form-item {
    p {
      margin-bottom: 0;
    }

    img {
      margin-top: 7px;
    }
  }
}
