{{!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<div data-id="policyTypeTab">
    <ul class="nav nav-tabs">
        {{#if isRenderAccessTab}}
            <li data-tab="access" class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#access">Access</a>
            </li>
        {{/if}}
        {{#showMaskingTab .}}
            <li data-tab="masking" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#masking">Masking</a>
            </li>
        {{/showMaskingTab}}
        {{#showRowLevelTab .}}
            <li data-tab="rowLevelFilter" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#rowLevelFilter">Row Level Filter</a>
            </li>
        {{/showRowLevelTab}}
    </ul>
</div>
{{#if setNewUi}}
<div class="list-header">
    {{#if isNotUser}}
        {{#if isNotAuditorOrKMSAuditor}}
            <button type="button" title="" data-name="deleteService" class=" btn btn-mini btn-right"> <i class="fa-fw fa fa-trash"></i> Service Delete</button>
            <button type="button" title="" data-name="serviceEdit" class=" btn btn-mini btn-right"> <i class="fa-fw fa fa-edit"></i> Service Edit</button>
        {{/if}}
        <button type="button" title="" data-name="serviceDetails" class=" btn btn-mini btn-right"> <i class="fa-fw fa fa-eye"></i> Service Details</button>
    {{/if}}
</div>
{{/if}}
<h3 class="wrap-header bold"> {{tt 'lbl.listOfPolicies'}} : {{rangerService.attributes.displayName}} </h3>
<div class="wrap non-collapsible m-height ">
    <div class="alert alert-warning {{displayClass}}" data-id="policyInfoAlert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fa-fw fa fa-info-circle searchInfoUserAccess padding-right-10"></i>{{{infoMsg}}}
    </div>
    <div>
        <div class="row margin-bottom-11">
            <div class="col-md-9">
                <div class="visual_search"></div>
            </div>
            <div class="col-md-1">
                <i class="fa-fw fa fa-info-circle searchInfo margin-left-min-30" title="Search Filter Hints" data-id="searchInfo"> </i>
            </div>
            <div class="col-md-2">
                <div class="clearfix btn-right">
                    {{#if isAddNewPolicyButtonShow}}
                    <a data-js="addNewPolicy" href="#!/service/{{rangerService.id}}/policies/create/{{this.rangerPolicyType}}" class="btn btn-primary btn-sm" type="button">{{tt 'lbl.addNewPolicy'}} </a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div data-id="r_table"></div>
    </div>
</div>