.erda-gantt-vertical-container {
  overflow: hidden;
  margin: 0;
  font-size: 0;
  padding: 0;
  background-color: $color-dark-02;
  position: relative;
}

.erda-gantt-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  overflow: hidden;
  outline: none;
  position: relative;
}

.gantt-operate-btn {
  display: inline-flex;
  font-size: 14px;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-right: 1px solid $color-border;

  &:last-child {
    border-right: none;
  }
}
