:root {
  --myApp-global--spacer--md: 30px;
}
body {
  font-size: var(--pf-global--FontSize--lg);
}
*:focus {
  outline: none;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--myApp-global--spacer--md);
}

.notification-container {
  flex: 0 1 auto;
}

.app-page {
  height: 100vh;
  background-color: white;
}

.app-page-section-border-bottom {
  border-bottom: 1px solid var(--pf-global--BorderColor--100);
}

.app-page-section-breadcrumb {
  padding: 12px 12px 24px;
}

.app-page-section-height {
  height: 100vh;
}

.pf-m-selected {
  color: var(--pf-global--active-color--100) !important;
}

.app-button-group-sm > *:not(:last-child) {
  margin-right: var(
    --pf-global--spacer--sm
  ); /* remove this when action group is added or we use utility classes */
}

.app-button-group-md > *:not(:last-child) {
  margin-right: var(
    --pf-global--spacer--md
  ); /* remove this when action group is added or we use utility classes */
}

.app-empty-state > a > .pf-c-button.pf-m-primary,
.app-empty-state .pf-c-empty-state__primary {
  margin-top: var(--pf-c-empty-state--c-button--MarginTop);
}

.pf-c-drawer__content {
  background-color: unset;
}

.app-drawer-drawer {
  display: flex;
  flex-direction: row;
}
