<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.EnvMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.EnvDO">
    <!--@mbg.generated-->
    <!--@Table am_env-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="namespace_id" jdbcType="VARCHAR" property="namespaceId" />
    <result column="env_id" jdbcType="VARCHAR" property="envId" />
    <result column="env_name" jdbcType="VARCHAR" property="envName" />
    <result column="env_creator" jdbcType="VARCHAR" property="envCreator" />
    <result column="env_modifier" jdbcType="VARCHAR" property="envModifier" />
    <result column="env_ext" jdbcType="LONGVARCHAR" property="envExt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, namespace_id, env_id, env_name, env_creator, env_modifier, 
    env_ext
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.EnvDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_env
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.EnvDOExample">
    <!--@mbg.generated-->
    delete from am_env
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.EnvDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_env
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="namespaceId != null and namespaceId != ''">
        namespace_id,
      </if>
      <if test="envId != null and envId != ''">
        env_id,
      </if>
      <if test="envName != null and envName != ''">
        env_name,
      </if>
      <if test="envCreator != null and envCreator != ''">
        env_creator,
      </if>
      <if test="envModifier != null and envModifier != ''">
        env_modifier,
      </if>
      <if test="envExt != null and envExt != ''">
        env_ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="namespaceId != null and namespaceId != ''">
        #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="envId != null and envId != ''">
        #{envId,jdbcType=VARCHAR},
      </if>
      <if test="envName != null and envName != ''">
        #{envName,jdbcType=VARCHAR},
      </if>
      <if test="envCreator != null and envCreator != ''">
        #{envCreator,jdbcType=VARCHAR},
      </if>
      <if test="envModifier != null and envModifier != ''">
        #{envModifier,jdbcType=VARCHAR},
      </if>
      <if test="envExt != null and envExt != ''">
        #{envExt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.EnvDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_env
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_env
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.namespaceId != null">
        namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.envId != null">
        env_id = #{record.envId,jdbcType=VARCHAR},
      </if>
      <if test="record.envName != null">
        env_name = #{record.envName,jdbcType=VARCHAR},
      </if>
      <if test="record.envCreator != null">
        env_creator = #{record.envCreator,jdbcType=VARCHAR},
      </if>
      <if test="record.envModifier != null">
        env_modifier = #{record.envModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.envExt != null">
        env_ext = #{record.envExt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_env
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      env_id = #{record.envId,jdbcType=VARCHAR},
      env_name = #{record.envName,jdbcType=VARCHAR},
      env_creator = #{record.envCreator,jdbcType=VARCHAR},
      env_modifier = #{record.envModifier,jdbcType=VARCHAR},
      env_ext = #{record.envExt,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>