/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #1f1f1f;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #080808;
}

.icon {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
}

#measureTable {
  font-size: 18px;
}

.po {
  cursor: pointer;
}

.ng2-st-actions-title .ng2-smart-title {
  color: #1e6bb8;
}

#measureTable .ng2-smart-titles {
  background-color: #7D95CC;
}

.pagination > li > a {
  cursor: pointer;
}

.swMain > ul {
  display: table;
  list-style: none;
  margin: 0 30px 20px 30px;
  padding: 10px 0;
  position: relative;
  background: #f7f7f8;
  border-radius: 5px
}

.formStep {
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  /*height:800px;*/
}

.swMain > ul li {
  display: table-cell;
  text-align: center;
  width: 1%
}

.swMain > ul li > a:before {
  border-top: 4px solid #c8c7cc;
  content: "";
  display: block;
  font-size: 0;
  height: 1px;
  overflow: hidden;
  position: relative;
  top: 21px;
  width: 100%;
  z-index: 1
}

.swMain > ul li:first-child > a:before {
  left: 50%;
  max-width: 51%
}

.swMain > ul li:last-child > a:before {
  max-width: 50%;
  width: 50%
}

.swMain li > a.done:before,
.swMain > ul li > a.selected:before {
  border-color: #007AFF
}

.onlyone:before {
  left: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

.swMain > ul .stepNumber {
  background-color: #fff;
  border: 5px solid #c8c7cc;
  border-radius: 100%;
  color: #546474;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 2
}

.swMain > ul li > a.selected .stepNumber {
  border-color: #007AFF
}

.swMain ul li > a.done .stepNumber {
  border-color: #007AFF;
  background-color: #007AFF;
  color: #fff;
  text-indent: -9999px
}

.swMain ul li > a.done .stepNumber:before {
  content: "\f00c";
  display: inline;
  float: right;
  font-family: FontAwesome;
  font-weight: 300;
  height: auto;
  text-shadow: none;
  margin-right: 7px;
  text-indent: 0
}

.swMain ul li > a.done.wait .stepNumber {
  background-color: #F6F6F6 !important;
  color: #CCC !important;
  text-indent: 0 !important
}

.swMain ul li > a.done.wait .stepNumber:before {
  content: "" !important
}

.swMain > ul li .stepDesc {
  color: #8e8e93;
  display: block;
  font-size: 14px;
  margin-top: 4px;
  max-width: 100%;
  table-layout: fixed;
  text-align: center;
  word-wrap: break-word;
  z-index: 104
}

.swMain li > a.done .stepDesc,
.swMain > ul li > a.selected .stepDesc {
  /*color: #2B3D53*/
  color: #007AFF
}

.swMain > ul li > a.disabled {
  cursor: default
}

.swMain .progress {
  margin-bottom: 30px
}

.swMain .stepContainer {
  height: auto !important
}

.swMain .y-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

fieldset {
  border: 1px solid #e6e8e8;
  border-radius: 5px;
  margin: 20px 0;
  padding: 25px;
  position: relative;
  min-width: 0;
  display: block;
}

fieldset legend {
  background-color: #000000;
  left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -12px;
  color: #fff;
  font-weight: 400;
  width: auto !important;
  border: none !important;
}

.btn-o {
  background: 0 0 !important;
}

.btn-wide {
  min-width: 120px;
}

.highlight {
  background: rgba(255, 230, 0, 0.5);
  padding: 3px 5px;
  margin: -3px -5px;
  line-height: 1.7;
  word-break: break-word;
  /*border-radius: 3px;*/
  /*display:inline-block;*/
}

.label-definition {
  color: #fff;
}

.formStep > .stepDesc {
  color: #b2c831;
}

.formStep > .container-fluid {
  /*position:relative;*/
}

.btn-container {
  height: 50px;
  /*position: absolute;
  bottom: 10;*/
}

.panel-disabled {
  border-color: #B9D3DF;
}

.panel-disabled > .panel-heading {
  background-color: #B9D3DF;
  border-color: #B9D3DF;
}

.panel-body > ul {
  border-radius: 0;
  background: none;
  margin: 0;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

.viewrule-content {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px;
}

.ruletypes > .panel {
  cursor: pointer
}

.ruletypes > .panel:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
}

.createrule-hint {
  color: #b2c831;
  padding-top: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  /*background-color: #0a0a0a;*/
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.test-result {
  border-radius: 5px;
  padding: 1px 5px;
}

.delete-alert {
  text-align: left;
  color: white;
  font-size: 150%;
}

a {
  color: white;
}

.swMain li > div.done .stepDesc,
.swMain > ul li > div.selected1child .stepDesc {
  color: #007AFF
}

.swMain li > div.done:before,
.swMain > ul li > div.selected1child:before {
  border-color: #007AFF
}

.swMain > ul li > div.selected1child .stepNumber {
  border-color: #007AFF
}
