<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.ClusterServiceRoleInstanceMapper">

    <update id="updateToNeedRestart">
        update t_ddh_cluster_service_role_instance
        set need_restart = 2
        where role_group_id = #{roleGroupId}
    </update>

</mapper>