<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.ClusterServiceCommandHostCommandMapper">

    <select id="getHostCommandTotalProgressByHostnameAndCommandHostId" resultType="java.lang.Integer">
        SELECT
            sum( command_progress)
        FROM
            t_ddh_cluster_service_command_host_command
        WHERE
            command_host_id = #{commandHostId}
            and hostname = #{hostname}
    </select>

</mapper>