<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.ClusterServiceInstanceMapper">


    <select id="getServiceConfigByClusterIdAndServiceName" resultType="java.lang.String">
        SELECT
            b.config_file_json
        FROM
            t_ddh_cluster_service_instance a
                LEFT JOIN t_ddh_cluster_service_instance_config b ON a.id = b.service_id
        WHERE
            a.cluster_id = #{clusterId}
          AND a.service_name = #{serviceName}
        order by b.config_version desc limit 1
    </select>
</mapper>