**/target
**/log.dir*
**/src/main/webapp/WEB-INF/lib
**/src/main/webapp/WEB-INF/classes
**/.settings
**/.classpath
**/.project
**/*.tar.gz
**/*.xml.orig
**/.idea
*.jar
*.ipr
*.iml
*.iws
*.versionsBackup
*.swp