.cloud-source {
  .dc-chart-header {
    text-align: left;
  }

  .dc-chart-title {
    font-size: 16px;
  }

  .cloud-count-card {
    display: flex;
    align-items: center;
    height: 100%;

    .part {
      position: relative;
      display: inline-flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & + .part::before {
        position: absolute;
        top: 20%;
        left: 0;
        display: block;
        width: 1px;
        height: 60%;
        background: $color-border;
        content: '';
      }
    }

    .count {
      font-weight: bold;
      font-size: 24px;
    }

    .name {
      margin-top: 12px;
      color: $color-text-desc;
    }
  }

  .no-expire-tip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 200px;
      height: 200px;
    }
  }
}
