package com.qlangtech.tis.realtime.transfer.${config.collection}

import java.util
import com.qlangtech.tis.realtime.transfer.DTO
import org.apache.flink.streaming.api.datastream.DataStream
import org.apache.flink.streaming.api.functions.sink.{PrintSinkFunction, SinkFunction}
import com.qlangtech.tis.realtime.{RowDataFlinkSourceHandle, SinkFuncs}
import com.qlangtech.tis.realtime.dto.DTOStream
import com.qlangtech.tis.extension.TISExtension
import org.apache.flink.table.data.RowData

@TISExtension()
class ${config.javaName}SourceHandle extends RowDataFlinkSourceHandle {
    override protected def processTableStream(streamMap: util.Map[String, DTOStream[_]], sinkFunction: SinkFuncs[RowData]): Unit = {

#foreach($i in $config.dumpTables  )
##    ${i.tabName}Stream.addSink(sinkFunction)
    val ${i.from}Stream = streamMap.get("${i.to}")
    sinkFunction.add2Sink("${i.to}" , ${i.from}Stream)
#end

    }
}
