package com.qlangtech.tis.realtime.transfer.${config.collection}

import java.util
import org.apache.flink.streaming.api.functions.sink.{PrintSinkFunction, SinkFunction}
import com.qlangtech.tis.realtime.{TableRegisterFlinkSourceHandle}
import org.apache.flink.table.api.bridge.java.StreamTableEnvironment
import com.qlangtech.tis.extension.TISExtension

@TISExtension()
class ${config.javaName}SourceHandle extends TableRegisterFlinkSourceHandle {
    override protected def executeSql(tabEnv: StreamTableEnvironment): Unit = {

// https://nightlies.apache.org/flink/flink-docs-release-1.14/docs/dev/table/sql/insert/#insert-from-select-queries
#foreach($i in $config.dumpTables  )
tabEnv.executeSql(
"""${config.getSinkFlinkTableDDL($i.tabName)}""")

#end

#foreach($i in $config.dumpTables  )
tabEnv.executeSql(
"""INSERT INTO ${i.tabName} (#foreach( $col in ${config.getCols($i.tabName)})$col.name#if($foreach.hasNext),#end#end)
   SELECT #foreach( $col in ${config.getCols($i.tabName)})$col.name#if($foreach.hasNext),#end#end FROM $config.getSourceTable($i.tabName)""")
#end
    }
}
