@font-face {
  font-family: "iconfont"; /* Project id 3290880 */
  src: url('iconfont.woff2?t=1653449456992') format('woff2'),
       url('iconfont.woff?t=1653449456992') format('woff'),
       url('iconfont.ttf?t=1653449456992') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sre-ResultStatus:before {
  content: "\e64a";
}

.sre-BizWordCloud:before {
  content: "\e649";
}

.sre-BizHeatMap:before {
  content: "\e648";
}

.sre-CarouselComp:before {
  content: "\e647";
}

.sre-SwitchCard:before {
  content: "\e646";
}

.sre-MarkdownComp:before {
  content: "\e645";
}

.sre-HoverableCard:before {
  content: "\e641";
}

.sre-DescribtionCard:before {
  content: "\e642";
}

.sre-StaticPage:before {
  content: "\e643";
}

.sre-CopyRight:before {
  content: "\e644";
}

.sre-BuiltInBusiness:before {
  content: "\e640";
}

.sre-BLOCK:before {
  content: "\e63f";
}

.sre-JsonEditor:before {
  content: "\e62c";
}

.sre-QuickLink:before {
  content: "\e62d";
}

.sre-TABLE:before {
  content: "\e62e";
}

.sre-SRESearch:before {
  content: "\e62f";
}

.sre-Descriptions:before {
  content: "\e630";
}

.sre-CustomRender:before {
  content: "\e631";
}

.sre-StaticCard:before {
  content: "\e632";
}

.sre-StatusList:before {
  content: "\e633";
}

.sre-Grafana:before {
  content: "\e634";
}

.sre-WelcomeCard:before {
  content: "\e635";
}

.sre-Card:before {
  content: "\e636";
}

.sre-StatusSummary:before {
  content: "\e637";
}

.sre-GRID_CARD:before {
  content: "\e638";
}

.sre-Alert:before {
  content: "\e639";
}

.sre-Iframe:before {
  content: "\e63a";
}

.sre-StatisticCard:before {
  content: "\e63b";
}

.sre-List:before {
  content: "\e63c";
}

.sre-Timeline:before {
  content: "\e63d";
}

.sre-RankingList:before {
  content: "\e63e";
}

.sre-FILTER_MIX:before {
  content: "\e627";
}

.sre-FILTER_SINGLE:before {
  content: "\e628";
}

.sre-FILTER_TAB:before {
  content: "\e629";
}

.sre-FILTER_BAR:before {
  content: "\e62a";
}

.sre-FILTER_FORM:before {
  content: "\e62b";
}

.sre-STEP_ACTION:before {
  content: "\e624";
}

.sre-STEP_FORM:before {
  content: "\e625";
}

.sre-ACTION:before {
  content: "\e626";
}

.sre-DisplayScreens:before {
  content: "\e620";
}

.sre-Collapse:before {
  content: "\e621";
}

.sre-PageHeaderLayout:before {
  content: "\e622";
}

.sre-Tabs:before {
  content: "\e623";
}

.sre-FluidCharts:before {
  content: "\e613";
}

.sre-BChart:before {
  content: "\e614";
}

.sre-Pie:before {
  content: "\e615";
}

.sre-BizStackedBarChart:before {
  content: "\e616";
}

.sre-BizRadarChart:before {
  content: "\e617";
}

.sre-BizTreemapChart:before {
  content: "\e618";
}

.sre-BizStackedAreaChart:before {
  content: "\e619";
}

.sre-kaiyuanzujiantubiaosheji-_gaojizhexiantu-deal:before {
  content: "\e61a";
}

.sre-BizStackedColumnChart:before {
  content: "\e61b";
}

.sre-BizAreaChart:before {
  content: "\e61c";
}

.sre-Dashboard:before {
  content: "\e61d";
}

.sre-Bullet:before {
  content: "\e61e";
}

.sre-SliderChart:before {
  content: "\e61f";
}

