.task-drawer {
  .ant-drawer-header {
    padding: 0;
  }

  .ant-drawer-body {
    height: 100%;
    padding: 0;
  }

  .ant-spin-nested-loading {
    height: 100%;
  }

  .ant-spin-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.task-drawer-header {
  z-index: 1;
  padding: 14px 20px;
  color: $color-text;
  line-height: 28px;
  @extend %shallow-shadow;

  .task-drawer-op {
    margin-left: 20px;

    i {
      margin-left: 12px;
      font-size: 14px;
      vertical-align: middle;
      cursor: pointer;
    }

    .followed {
      color: $color-info;
    }

    .notFollowed {
      color: $color-dark-4;
    }

    .attention-dropdown-btn {
      padding: 2px 6px;
      color: $color-dark-4;
      border-radius: 2px;
      cursor: pointer;

      &.ant-dropdown-open {
        background-color: $platinum;

        i {
          color: #000;
        }
      }

      i {
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
}

.attention-dropdown {
  .add-follower-btn {
    float: right;
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 0;

    & > div {
      padding: 5px 12px;
    }

    .issue-member-select {
      padding: 0;

      .results {
        padding: 0;
        border: none;

        &:hover {
          border: none;
          box-shadow: none;
        }

        & > span {
          padding: 5px 12px;
        }
      }
    }
  }

  .followers-num {
    padding-bottom: 4px;
    font-size: 12px;
    color: $color-dark-4;
  }

  .followers {
    max-height: 175;
    overflow-y: auto;

    & > div {
      padding: 6px 0;
    }
  }

  .member-select-btn {
    padding: 5px 12px;
    width: 130px;
  }
}

.issue-member-select-dropdown {
  width: 220px;

  .ant-dropdown-menu,
  .load-more-selector-container {
    width: 100% !important;
  }

  .list-item {
    overflow: hidden;
    text-overflow: ellipsis;

    .ant-checkbox-checked::after {
      height: 16px;
    }
  }

  .ant-checkbox-inner {
    display: inline-block;
  }
}

.task-drawer-body {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;

  &::after {
    position: absolute;
    right: 200px;
    display: block;
    width: 1px;
    height: 100%;
    background-color: $color-border;
    content: '';
  }
}

.task-drawer-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .task-drawer-content {
    padding: 20px;
  }

  .task-drawer-tabs {
    flex: 1;

    .ant-tabs-bar {
      margin: 0;
      padding: 0 20px;
    }

    .ant-tabs-tabpane {
      padding: 20px;
    }
  }
}

.task-drawer-meta {
  width: 200px;
  padding: 20px;
  overflow: auto;
}

.task-drawer-footer {
  position: absolute;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 59px;
  padding: 0 16px;
  line-height: 59px;
  background: $white;
  border-top: 1px solid $color-border;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);

  button {
    margin-left: 12px;
  }

  .ant-btn-group {
    display: inline-flex;
    align-items: center;
  }
}
