<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="mysql_development">
    <!-- 连接环境信息 -->
    <environment id="mysql_development">
      <!-- mysql使用什么事物管理方式 -->
      <transactionManager type="JDBC">
        <property name="" value=""/>
      </transactionManager>
      <!-- mybatis使用连接池方式来获取连接对象 -->
      <dataSource type="POOLED">
        <!-- 配置数据库连接信息 -->
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://120.77.155.220:3306/report"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
  </environments>
</configuration>