name: Publish package to the Maven Central Repository
on:
  push:
    # This pipeline will get triggered everytime there is a new tag created.
    # It is required
    tags: ["*"]

jobs:
  publish-to-maven:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

    # Setting up JDK 8, this is required to build Feathr
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: "8"
          distribution: "temurin"
          server-id: ossrh
          server-username: ORG_GRADLE_PROJECT_mavenCentralUsername
          server-password: ORG_GRADLE_PROJECT_mavenCentralPassword
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: ORG_GRADLE_PROJECT_signingInMemoryKeyPassword

    # CI release command defaults to publishSigned
    # Sonatype release command defaults to sonaTypeBundleRelease
    # Changing env names as documented here - https://vanniktech.github.io/gradle-maven-publish-plugin/central/#secrets
      - name: Gradle Build and Publish to Maven central
        run: |
          ./gradlew publish
          ./gradlew closeAndReleaseRepository
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}