{{!-- Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements. See the NOTICE file distributed with
this work for additional information regarding copyright ownership. The
ASF licenses this file to You under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance with the
License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable
law or agreed to in writing, software distributed under the License is
distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the specific
language governing permissions and limitations under the License. --}}

<div>
	<div>
		<div>
			<b>Select File : </b>
		</div>
		<label class="btn btn-default btn-file btn-sm" data-id="importFile">Select
			file <i class="fa-fw fa fa-arrow-circle-o-up"> </i> <input type="file" name="image"
			data-id="uploadPolicyFile" style="display: none;"
			accept=" .json " />
		</label>
		<label class="float-right" for="override">
			Override Policy: <input id="override" type="checkbox" data-id="source" data-name="override" class="margin-left12" style="vertical-align: middle;">
		</label>
		<div class="selectFile margin-left6">No file chosen</div>
                <div class="fileValidation text-color-red margin-left6" data-id="selectFileValidationMsg">Please Select Json file format</div>
		<div data-id="selectZoneMapping">
			<hr>
			<div class="alert alert-warning show" data-id="policyInfoAlert"><i class="fa-fw fa fa-info-circle searchInfo m-r-xs"></i>
				All services gets listed on service destination when Zone destination is blank. When zone is selected at destination, then only services associated with that zone will be listed. 
			</div>
			<div class="form-group">
				<span><b>Specify Zone Mapping : </b></span>
				<div>
					<span class="margin-left-75">Source</span>
					<span class="margin-left-213">Destination</span>
				</div>
			</div>
			<div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" data-id="zoneSource" readOnly>
                </div>
                &nbsp;&nbsp;To&nbsp;&nbsp;
                <div class="col-md-5">
                    <input type="text" data-id="zoneDestination" placeholder="No zone selected">
                </div>
			</div>
		</div>
		<div class="uploadSet" data-id="selectServicesMapping">
			<hr>
			<span><b>Specify Service Mapping: </b></span>
			<div>
				<span class="margin-left-75">Source</span> 
				<span class="margin-left-213">Destination</span>
			</div>
			<div class="serviceMapErrorMsg text-color-red margin-bottom-11" style="display: none;">Please select/enter service name.</div>
			<div class="serviceMapTextError text-color-red margin-bottom-11" style="display: none;">Source service name should not be same.</div>
		</div>
	</div>
	<div data-id="selectServicesMapping">
		<div class="js-serviceMappingItems importSelect2"></div>
		<button type="button" class="btn btn-sm" data-id="addServiceMaping"
			title="Add">
			<i class="fa-fw fa fa-plus"></i>
		</button>
	</div>
</div>