// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;

//Colors

$white: #fff;
$dark_gray: #666;
$light_gray: #e8e8e8;
$black_80: rgba(0, 0, 0, 0.8);

$color_mountain_mist_approx: #999;
$color_keppel_approx: #37bb9b;
$color_suva_gray_approx: #868686;
$color_havelock_blue_approx: #4a90e2;
$color_celeste_approx: #ccc;
$color_bright_turquoise_approx: #00ffd0;
$color_jungle_green_approx: #38bb9b;
$delete_link: #bb5838;