[Unit]
Description=Prometheus node exporter

[Service]
User=root
RemainAfterExit=no
Restart=on-failure
RestartSec=60s
StartLimitInterval=0
ExecStart=/home/admin/prometheus/node_exporter
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
