# Created by .ignore support plugin (hsz.mobi)
.idea
*/target
target
*/*.iml
*.iml
output
*/.classpath
*/.factorypath
*/.project
*/.settings
*dependency-reduced-pom.xml
.settings
.project
*pom.xml.versionsBackup
.DS_Store
*/.DS_Store
.flattened-pom.xml
*/*.flattened-pom.xml