##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<div class="sidebar">
    <h1>
        <a href="" class="logo" title="数据分发平台">数据分发平台</a>
    </h1>

    <ul class="side-nav">
        <li class="no-sub #if($page=="consumeGroupList")cur#end">
            <a href="../consume/consume_group_list.htm"><span class="i-wp"><i class="s-search"></i></span>分发查询</a>
        </li>
        <li #if($page=="brokerList" || $page=="topicList")class="cur"#end>
            <a href="../config/broker_list.htm"><span class="i-wp"><i class="s-setting"></i></span>配置管理</a>
            <ul class="side-nav-sub">
                <li #if($page=="brokerList")class="cur"#end>
                    <a href="../config/broker_list.htm">Broker列表</a>
                </li>
                <li #if($page=="topicList")class="cur"#end>
                    <a href="../config/topic_list.htm">Topic列表</a>
                </li>
            </ul>
        </li>
        <li class="no-sub">
            <a href="../cluster/cluster_manage.htm"><span class="i-wp"><i
                    class="s-group"></i></span>集群管理</a>
        </li>
    </ul>
</div>