.pass-and-next {
  display: inline-block;

  .status-icon {
    display: inline;
    margin-right: 4px;
    color: $color-success;
    background-color: $white;
    border-radius: 100%;
  }

  .border-green {
    border-color: $green;

    &:not(:disabled):hover {
      color: $green;
      border-color: $green;
    }
  }

  .border-red {
    border-color: $red;

    &:not(:disabled):hover {
      color: $red;
      border-color: $red;
    }
  }

  .border-yellow {
    border-color: $yellow;

    &:not(:disabled):hover {
      color: $yellow;
      border-color: $yellow;
    }
  }

  button {
    margin-left: 8px;

    &:disabled {
      color: $color-disabled;
      border-color: $color-border;
    }

    .iconfont {
      display: inline;
      margin-right: 4px;
    }
  }
}
