$color-primary: #5d48df !default;
$color-hover-bg: rgba($color-primary, 0.2);
$color-active-bg: rgba($color-primary, 0.06);
$color-active-border: rgba($color-primary, 0.6);
$color-text: rgba(0, 0, 0, 0.8);
$color-text-sub: rgba(0, 0, 0, 0.6);
$color-text-slight: rgba(0, 0, 0, 0.3);
$color-mask: rgba(0, 0, 0, 0.3);
$color-border: #d9d9d9;
$white: #ffffff;

.disabled {
  color: $color-text-slight !important;
  cursor: not-allowed !important;

  &:hover {
    color: $color-text-slight !important;
    text-decoration: unset !important;
  }
}

.dice-form-input,
.dice-form-select {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 4px 11px;
  color: $color-text;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  background-color: $white;
  font-feature-settings: 'tnum';
  border: 1px solid $color-border;
  border-radius: 4px;
}

.shallow-shadow {
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out;
}

// space
@mixin distance($list...) {
  @each $num in $list {
    .width#{$num} {
      width: #{$num}px !important;
    }
  }
}

@include distance(16, 40, 60, 80, 100, 120, 160, 200, 240);
