<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.tkgone.server.domain.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.tkgone.server.domain.Consumer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="import_config" jdbcType="VARCHAR" property="importConfig" />
    <result column="source_info" jdbcType="VARCHAR" property="sourceInfo" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="client" jdbcType="VARCHAR" property="client" />
    <result column="offset" jdbcType="VARCHAR" property="offset" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="user_import_config" jdbcType="VARCHAR" property="userImportConfig" />
    <result column="effective_threshold" jdbcType="INTEGER" property="effectiveThreshold" />
    <result column="notifiers" jdbcType="VARCHAR" property="notifiers" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, modifier, creator, import_config, source_info, source_type, 
    client, offset, status, name, enable, app_name, user_import_config, effective_threshold, 
    notifiers
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.tkgone.server.domain.ConsumerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from consumer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.tkgone.server.domain.ConsumerExample">
    delete from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.tesla.tkgone.server.domain.Consumer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into consumer (gmt_create, gmt_modified, modifier, 
      creator, import_config, source_info, 
      source_type, client, offset, 
      status, name, enable, 
      app_name, user_import_config, effective_threshold, 
      notifiers)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{importConfig,jdbcType=VARCHAR}, #{sourceInfo,jdbcType=VARCHAR}, 
      #{sourceType,jdbcType=VARCHAR}, #{client,jdbcType=VARCHAR}, #{offset,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR}, 
      #{appName,jdbcType=VARCHAR}, #{userImportConfig,jdbcType=VARCHAR}, #{effectiveThreshold,jdbcType=INTEGER}, 
      #{notifiers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.tesla.tkgone.server.domain.Consumer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into consumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="importConfig != null">
        import_config,
      </if>
      <if test="sourceInfo != null">
        source_info,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="client != null">
        client,
      </if>
      <if test="offset != null">
        offset,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="userImportConfig != null">
        user_import_config,
      </if>
      <if test="effectiveThreshold != null">
        effective_threshold,
      </if>
      <if test="notifiers != null">
        notifiers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="importConfig != null">
        #{importConfig,jdbcType=VARCHAR},
      </if>
      <if test="sourceInfo != null">
        #{sourceInfo,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="client != null">
        #{client,jdbcType=VARCHAR},
      </if>
      <if test="offset != null">
        #{offset,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="userImportConfig != null">
        #{userImportConfig,jdbcType=VARCHAR},
      </if>
      <if test="effectiveThreshold != null">
        #{effectiveThreshold,jdbcType=INTEGER},
      </if>
      <if test="notifiers != null">
        #{notifiers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.tkgone.server.domain.ConsumerExample" resultType="java.lang.Long">
    select count(*) from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update consumer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.importConfig != null">
        import_config = #{record.importConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceInfo != null">
        source_info = #{record.sourceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.client != null">
        client = #{record.client,jdbcType=VARCHAR},
      </if>
      <if test="record.offset != null">
        offset = #{record.offset,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.userImportConfig != null">
        user_import_config = #{record.userImportConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.effectiveThreshold != null">
        effective_threshold = #{record.effectiveThreshold,jdbcType=INTEGER},
      </if>
      <if test="record.notifiers != null">
        notifiers = #{record.notifiers,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update consumer
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      import_config = #{record.importConfig,jdbcType=VARCHAR},
      source_info = #{record.sourceInfo,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=VARCHAR},
      client = #{record.client,jdbcType=VARCHAR},
      offset = #{record.offset,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      enable = #{record.enable,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR},
      user_import_config = #{record.userImportConfig,jdbcType=VARCHAR},
      effective_threshold = #{record.effectiveThreshold,jdbcType=INTEGER},
      notifiers = #{record.notifiers,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.tkgone.server.domain.Consumer">
    update consumer
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="importConfig != null">
        import_config = #{importConfig,jdbcType=VARCHAR},
      </if>
      <if test="sourceInfo != null">
        source_info = #{sourceInfo,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="client != null">
        client = #{client,jdbcType=VARCHAR},
      </if>
      <if test="offset != null">
        offset = #{offset,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="userImportConfig != null">
        user_import_config = #{userImportConfig,jdbcType=VARCHAR},
      </if>
      <if test="effectiveThreshold != null">
        effective_threshold = #{effectiveThreshold,jdbcType=INTEGER},
      </if>
      <if test="notifiers != null">
        notifiers = #{notifiers,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.tkgone.server.domain.Consumer">
    update consumer
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      import_config = #{importConfig,jdbcType=VARCHAR},
      source_info = #{sourceInfo,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      client = #{client,jdbcType=VARCHAR},
      offset = #{offset,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      user_import_config = #{userImportConfig,jdbcType=VARCHAR},
      effective_threshold = #{effectiveThreshold,jdbcType=INTEGER},
      notifiers = #{notifiers,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.tesla.tkgone.server.domain.ConsumerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from consumer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>