.config-item {
  margin-top: 20px;

  .ant-row-flex {
    justify-content: unset;
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(5n + 1) {
    border-color: $color-primary;
  }

  &:nth-child(5n + 2) {
    border-color: $blue;
  }

  &:nth-child(5n + 3) {
    border-color: $green;
  }

  &:nth-child(5n + 4) {
    border-color: $orange;
  }

  &:nth-child(5n + 5) {
    border-color: $red;
  }

  .delete-domain-icon {
    position: absolute;
    right: -30px;
    line-height: 32px;
  }

  .custom-domain {
    display: flex;
    align-items: center;
    margin: 0 0 8px;
  }
}
