# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Trino CI with Maven

on:
  push:
    branches:
      - "master"
      - "0.**"
    paths-ignpore:
      - ".github/**"
      - ".idea/**"
      - "dev/**"
      - "dist/**"
      - "docker/**"
      - "site/**"
      - "style/**"
      - ".gitignore"
      - "LICENSE"
      - "README.md"

  pull_request:
    branches:
      - "master"
      - "0.**"
    paths-ignpore:
      - ".github/**"
      - ".idea/**"
      - "dev/**"
      - "dist/**"
      - "docker/**"
      - "site/**"
      - "style/**"
      - ".gitignore"
      - "LICENSE"
      - "README.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Install dependency with Maven
        run: mvn install -DskipTests -pl 'ams/ams-api,core,hive' -am

      - name: Build with Maven
        run: mvn test -pl 'trino'

      - name: Code coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true
          flags: trino