.DS_Store
/*backup/
#/.idea
/mall-admin-web/node_modules
/mall-admin-web/dist
/mall-admin-web/target/
/mall-admin-web/npm-debug.log*
/mall-admin-web/yarn-debug.log*
/mall-admin-web/yarn-error.log*
/*/target/
/mall-admin-web/README.md

/mall-backend/mall-admin/target/
/mall-backend/mall-common/target/
/mall-backend/mall-mbg/target/
/mall-backend/mall-portal/target/
/mall-backend/mall-search/target/
/mall-backend/README.md
/*/README.md
/mall-shopping-app/.idea

/mall-shopping-app/node_modules/*
/mall-shopping-app/node_modules

/*/src/main/resources/rebel*.xml
/*/*/src/main/resources/rebel*.xml
/*/*/*/src/main/resources/rebel*.xml
/*/*/*/src/main/resources/rebel*.xml
/compute-mr/.iml
/compute-realtime/.iml

/mall-shopping-app/*.bak
/*/*.iml
# Editor directories and files
#*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

target/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### IntelliJ IDEA ###
#.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/