.DS_Store
/*backup/
#/.idea
/*/target/
/*/*.iml
# Editor directories and files
#*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

target/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### IntelliJ IDEA ###
#.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.idea
.mvn
*.idea
/.idea
node_modules
target
logs
docs
docker
jars
