public/react/node_modules/
.idea/*
target/
log/
/bin/
.cache-main
.classpath
.project
.settings/
logs/application.log
temp/

buildimg/.DS_Store
buildimg/node_modules
buildimg/npm-debug.log*
buildimg/dist
