.ai-overview {
  .list-title {
    height: 40px;
    padding-left: 12px;
    color: $color-text;
    line-height: 52px;
    background-color: $white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .topn-list {
    max-height: none;
    padding: 12px 12px 8px;
    background-color: $white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .ai-overview-sort-list {
    border-radius: $radius;
    @extend %shallow-shadow;
  }
}
