$primary: #6a549e !default;

@media screen and (max-height: 700px) {
  .download-page {
    .content {
      position: relative;
      padding-top: 1rem !important;

      div.card-container {
        background-color: transparent;
        box-shadow: none;
      }
    }

    .bg-wrap {
      z-index: 0;
    }
  }
}

.download-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #f8f9fb;

  .bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 340px;
  }

  .bg-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1200px;
    height: 100%;
    margin-left: -600px;

    .bg-img {
      display: none;
    }

    .s1 {
      position: absolute;
      bottom: 220px;
      left: 0;
      width: 218px;
      height: 368px;
    }

    .y1 {
      position: absolute;
      right: 0;
      bottom: 280px;
      width: 152px;
      height: 229px;
    }

    .y2 {
      position: absolute;
      right: -110px;
      bottom: 300px;
      width: 44px;
      height: 107px;
    }

    .people {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 3;
      width: 398px;
      height: 386px;
      margin-left: -580px;
    }

    .water-mark {
      position: absolute;
      top: 185px;
      left: 50%;
      width: 633px;
      height: 254px;
      margin-left: -300px;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .jump-app-store {
      position: absolute;
      top: 1rem;
      right: 1rem;

      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .card-container {
      width: 25rem;
      margin: 0 auto;
      padding: 1.25rem;
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 1px 6px 0 rgba(218, 219, 220, 0.6);

      .icon-wrap {
        text-align: right;

        .icon {
          color: rgba(0, 0, 0, 0.1);
        }
      }

      .qrcode-wrap {
        width: 10rem;
        height: 10rem;
        margin: 0.72rem auto 1rem;
        padding: 0.4rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        .qrcode {
          width: 100% !important;
          height: 100% !important;
        }

        .logo {
          width: 100%;
          height: 100%;
        }
      }

      .app-name {
        margin-bottom: 0.5rem;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
      }

      .tips {
        margin-bottom: 0.25rem;
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
        text-align: center;
        word-break: break-all;

        & + .tips {
          margin-bottom: 2.5rem;
        }
      }

      .line {
        height: 1px;
        margin-bottom: 1.5rem;
        background-color: #f0f2f6;
      }

      .version-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 1.5rem;

        .version-item {
          margin-right: 0.75rem;
          margin-bottom: 1rem;
          padding: 0.25rem 0.75rem;
          color: rgba(0, 0, 0, 0.4);
          font-size: 14px;
          line-height: 1.25rem;
          list-style: none;
          border: 1px dotted rgba(0, 0, 0, 0.4);
          //border-style: dotted;
          border-radius: 0.875rem;
          cursor: pointer;

          &.active {
            color: $primary;
            border: 1px solid $primary;
          }
        }
      }

      .button-wrap {
        margin-bottom: 2.5rem;
        text-align: center;

        button {
          height: 2rem;
        }
      }
    }
  }

  @include sm-width() {
    //background-size: 100% 140px;
    //background-position: bottom left;
    .bg-img {
      display: none;
    }

    .content {
      padding-top: 4.7rem;
      padding-bottom: 4rem;

      .card-container {
        width: 100%;
        max-width: 20.94rem;

        .app-name {
          margin-bottom: 1.25rem;
        }

        .download-notice {
          display: none;
        }

        .version-list {
          margin-bottom: 1rem;
        }

        .version-notice + .version-notice {
          margin-bottom: 1.25rem;
        }

        .button-wrap {
          margin-bottom: 2.5rem;
        }
      }
    }

    .bg-wrap {
      left: 0;
      width: 100%;
      margin: 0;
      overflow: hidden;

      .water-mark {
        display: none;
      }

      .people {
        display: none;
      }

      .s1 {
        bottom: -30px;
        left: -30px;
        z-index: 2;
        width: 160px;
        height: auto;
      }

      .y1 {
        right: -80px;
        bottom: 75px;
        z-index: 2;
        width: 160px;
        height: auto;
      }

      .y2 {
        display: none;
      }

      .bg-img {
        bottom: -200px;
        left: 50%;
        display: block;
        width: 1440px;
        height: 340px;
        margin-left: -560px;
      }
    }
  }
}
