.backlog-issues {
  .backlog-issues-title {
    display: flex;
    align-items: center;
    height: 32px;
  }

  .backlog-issues-content {
    position: relative;
    flex: 1;
    height: 0;

    &.drag-over {
      background-color: $color-hover;
    }

    .list-container {
      height: 100%;
      overflow: auto;

      .backlog-issues-list {
        height: calc(100% - 40px);
        overflow: auto;
      }

      .ant-pagination-item-link {
        line-height: 30px;
      }
    }

    .more-container {
      .ant-spin-nested-loading {
        height: auto;
      }
    }
  }

  .backlog-issues-empty-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 406px;
    margin: auto;
    padding-right: 100px;
    padding-left: 100px;

    img {
      width: 200px;
      height: 200px;
    }

    .desc {
      min-height: 160px;
      line-height: 26px;
    }
  }
}
