<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.SwitchViewUserMapper">

    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.SwitchViewUserDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="buc_id" property="bucId" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, emp_id, login_name, buc_id, gmt_create, gmt_modified
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_switch_view_user
    </select>

    <select id="getByEmpId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_switch_view_user
        where emp_id = #{empId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.alibaba.tesla.authproxy.model.SwitchViewUserDO">
        insert into ta_switch_view_user
            (emp_id, login_name, buc_id, gmt_create, gmt_modified)
        values (#{empId,jdbcType=VARCHAR},
                #{loginName,jdbcType=VARCHAR},
                #{bucId,jdbcType=VARCHAR},
                UTC_TIMESTAMP(),
                UTC_TIMESTAMP())
        ON DUPLICATE KEY UPDATE gmt_modified = UTC_TIMESTAMP(),
                                emp_id       = VALUES(emp_id),
                                login_name   = VALUES(login_name),
                                buc_id       = VALUES(buc_id)
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete
        from ta_switch_view_user
        where emp_id = #{empId,jdbcType=VARCHAR}
    </delete>

</mapper>