.addon-detail-page {
  .info-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 4px;
  }

  .title {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 38px;
  }

  .param-k {
    margin-bottom: $p4;
    color: $color-text-desc;
    line-height: 22px;
  }

  .param-v {
    margin-bottom: $p12;
    padding-right: $p8;
    color: $color-text;
    line-height: $p32;
  }

  .copy-all {
    margin-right: $p4;
    color: $color-primary;
  }
}
