<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.webank.wedatasphere.streamis.project.server.dao.StreamisProjectPrivilegeMapper">

    <insert id="addProjectPrivilege" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProjectPrivilege">
        insert into linkis_stream_project_privilege (project_id,user_name,privilege)
        values
        <foreach collection="list" item="item" open='(' separator='),(' close=')' >
            #{item.projectId}, #{item.userName}, #{item.privilege}
        </foreach>
    </insert>

    <select id="findProjectPrivilegeByProjectId" resultType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProjectPrivilege">
        select id,project_id,user_name,privilege from linkis_stream_project_privilege where project_id = #{projectId}
    </select>

    <delete id="deleteProjectPrivilegeByProjectId">
        delete from linkis_stream_project_privilege where project_id = #{projectId}
    </delete>

    <delete id="deleteProjectPrivilegeById" parameterType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProjectPrivilege" >
        delete from linkis_stream_project_privilege where id in
        <foreach collection="list" item="item" open='(' separator="," close=')'>
            #{item.id}
        </foreach>
    </delete>

    <select id="getProjectPrivilege" resultType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProjectPrivilege">
        select id,project_id,user_name,privilege from linkis_stream_project_privilege where project_id = #{projectId} AND user_name = #{userName}
    </select>

    <select id="findProjectPrivilegeByProjectIds" resultType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProjectPrivilege">
        select id,project_id,user_name,privilege from linkis_stream_project_privilege where project_id in
        <foreach collection="list" item="projectId" open='(' separator="," close=')'>
            #{projectId}
        </foreach>
    </select>

</mapper>
