<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.webank.wedatasphere.streamis.project.server.dao.StreamisProjectMapper">


    <insert id="createProject" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProject">
        insert into linkis_stream_project (name,workspace_id,create_by,create_time)
        values (
        #{name},#{workspaceId},#{createBy},now()
        )
    </insert>

    <update id="updateProject" parameterType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProject">
        update linkis_stream_project set
        <if test="lastUpdateBy != null">
            last_update_by = #{lastUpdateBy},
        </if>
        last_update_time = now()
        where id = #{id}
    </update>

    <delete id="deleteProjectById">
        update linkis_stream_project set is_deleted = 1 where id = #{id}
    </delete>

    <select id="findProjectById" resultType="com.webank.wedatasphere.streamis.project.server.entity.StreamisProject">
        select id,name,workspace_id from linkis_stream_project where id = #{id}
    </select>

    <select id="findProjectIdByName" resultType="java.lang.Long">
        select id from linkis_stream_project where name = #{name}
    </select>

    <select id="findProjectIdsByNames" resultType="java.lang.Long">
        select id from linkis_stream_project where name in
        <foreach collection="list" item="name" open='(' separator=',' close=')' >
            #{name}
        </foreach>
    </select>
</mapper>
