<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="panel-group" id="accordion">
    <div class="panel panel-default custom-panel expand_collapse_panel-icon" data-id="entity">
        <div class="panel-heading" data-toggle="collapse" href="#collapse1" aria-expanded="true" style="width: 58%">
            <h4 class="panel-title">
                <a>Technical properties </a>
            </h4>
            <div class="btn-group pull-left">
                <button type="button" title="Collapse"><i class="ec-icon fa"></i></button>
            </div>
        </div>
        <div class="panel-actions">
            <div class="pretty p-switch p-fill" style="margin-right: 20px">
                <input type="checkbox" data-id="noValueToggle" title="Show empty values" />
                <div class="state p-primary">
                    <label></label>
                </div>
            </div>
            {{#ifCond editEntity "===" true}}
            <button data-id="editButton" title="Edit Entity" class="btn btn-action btn-sm pull-right">Edit</button>
            {{/ifCond}}
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="entity-detail-table">
                    <table class="table bold-key">
                        <tbody data-id="detailValue" class="hide-empty-value">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>