.topology-dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 12px;

  .topology-global-dashboard {
    margin-bottom: 12px;
  }

  .topology-node-dashboard {
    flex: 1;
    overflow: auto;
  }
}
