.connector-type-step-component {
  &_flex {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    & > div {
      text-align: center;
      cursor: pointer;
      flex-grow: 1;
      margin: 10px;
    }
    &_disableCard {
      cursor: default;
      color: var(--pf-global--disabled-color--100);
      background: var(--pf-global--palette--black-150);
    }
    .pf-c-card {
      min-height: 220px;
      &__header {
        height: 95px;
        flex-direction: column;
      }
    }
  }
  &_dbIcon {
    width: 50%;
    margin: 0 auto;

    & > svg {
      font-size: xx-large;
    }
  }
  &_cardAction {
    font-size: var(--pf-global--FontSize--sm);
    background-color: #fdf7e6;
    padding: 0 5px;
    margin-bottom: 10px;
    line-height: 1.2;
    order: 0;
    &--icon {
      padding-right: 3px;
      color: #ee7d05;
    }
  }
}
