.child-selection-step {
  &_form {
    padding: 15px 0px;
    .pf-c-form__group {
      &-control {
        .pf-l-flex > div {
          flex-grow: 1;
        }
      }
    }
    .pf-m-action {
      margin-top: 0px;
    }
  }
  &_info {
    color: var(--pf-global--palette--blue-600);
    font-weight: bold;
    font-size: 0.8em;
    & > svg {
      color: var(--pf-global--palette--blue-200);
      margin-right: 10px;
    }
  }
}
