<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ck.mapper.OrderMapper">
    <sql id="baseSql">
        SELECT id as id,sku_id as skuId, total_amount as totalAmount,create_time as createTime
    </sql>

    <resultMap id="baseResult" type="com.platform.ck.entity.Order">
        <id property="id" column="id" />
        <result property="skuId" column="skuId" />
        <result property="totalAmount" column="totalAmount" />
        <result property="createTime" column="createTime" />
    </resultMap>

    <insert id="insertOrder" parameterType="com.platform.ck.entity.Order">
        INSERT INTO order
        (id, sku_id, total_amount, create_time)
        VALUES
        (#{id}, #{skuId}, #{totalAmount}, #{createTime})
    </insert>

    <delete id="deleteOrder" parameterType="Integer">
        ALTER TABLE order DELETE WHERE id = #{id}
    </delete>

    <update id="updateOrder" parameterType="com.platform.ck.entity.Order">
        alter table order update total_amount = #{totalAmount} WHERE id = #{id}
    </update>

    <select id="selectOrder" parameterType="Integer" resultMap="baseResult">
        <include refid="baseSql"></include>
        FROM `order` WHERE id = #{id}
    </select>
    
</mapper>