<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License. You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.InlongClusterTagEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.InlongClusterTagEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cluster_tag" jdbcType="VARCHAR" property="clusterTag"/>
        <result column="ext_params" jdbcType="LONGVARCHAR" property="extParams"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="tenant" jdbcType="VARCHAR" property="tenant"/>
        <result column="in_charges" jdbcType="VARCHAR" property="inCharges"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, cluster_tag, ext_params, description, tenant, in_charges, status, is_deleted,
        creator, modifier, create_time, modify_time, version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.InlongClusterTagEntity">
        insert into inlong_cluster_tag (id, cluster_tag, ext_params,
                                        description, tenant, in_charges,
                                        status, creator, modifier)
        values (#{id,jdbcType=INTEGER}, #{clusterTag,jdbcType=VARCHAR}, #{extParams,jdbcType=LONGVARCHAR},
                #{description, jdbcType=VARCHAR}, #{tenant,jdbcType=VARCHAR}, #{inCharges,jdbcType=VARCHAR},
                #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        <bind name="_isInlongService" value="LoginUser.InlongService"/>
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_tag
        <where>
            id = #{id,jdbcType=INTEGER}
            <if test="_isInlongService == false">
                and tenant = #{tenant,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByTag" resultType="org.apache.inlong.manager.dao.entity.InlongClusterTagEntity">
        <bind name="_isInlongService" value="LoginUser.InlongService"/>
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_tag
        <where>
            cluster_tag = #{clusterTag, jdbcType=VARCHAR}
            <if test="_isInlongService == false">
                and tenant = #{tenant,jdbcType=VARCHAR}
            </if>
            and is_deleted = 0
        </where>
    </select>
    <select id="selectByCondition"
            parameterType="org.apache.inlong.manager.pojo.cluster.ClusterTagPageRequest"
            resultType="org.apache.inlong.manager.dao.entity.InlongClusterTagEntity">
        <bind name="_isInlongService" value="LoginUser.InlongService"/>
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_tag
        <where>
            <if test="_isInlongService == false">
                tenant = #{tenant,jdbcType=VARCHAR}
            </if>
            and is_deleted = 0
            <if test="keyword != null and keyword != ''">
                and cluster_tag like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        order by modify_time desc
    </select>

    <update id="updateByIdSelective" parameterType="org.apache.inlong.manager.dao.entity.InlongClusterTagEntity">
        <bind name="_isInlongService" value="LoginUser.InlongService"/>
        update inlong_cluster_tag
        <set>
            <if test="clusterTag != null">
                cluster_tag = #{clusterTag,jdbcType=VARCHAR},
            </if>
            <if test="extParams != null">
                ext_params = #{extParams,jdbcType=LONGVARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="inCharges != null">
                in_charges = #{inCharges,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                tatus = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            version     = #{version,jdbcType=INTEGER} + 1
        </set>
        <where>
            <if test="_isInlongService == false">
                tenant = #{tenant,jdbcType=VARCHAR}
            </if>
            and id = #{id,jdbcType=INTEGER}
            and version = #{version,jdbcType=INTEGER}
        </where>
    </update>

    <delete id="deleteByPrimaryKey">
        <bind name="_isInlongService" value="LoginUser.InlongService"/>
        delete
        from inlong_cluster_tag
        <where>
            id = #{id,jdbcType=INTEGER}
            <if test="_isInlongService == false">
                and tenant = #{tenant,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
</mapper>