<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.DimensionsMapper">
    <select id="queryDimensionData" parameterType="java.util.Map" resultType="hashMap">
        <choose>
            <when test="select_columns != null and select_columns != ''">
                SELECT ${select_columns} FROM `${table_name}`
            </when>
            <otherwise>
                SELECT * FROM `${table_name}`
            </otherwise>
        </choose>
        <where>
           <if test="table_name == 'dimension_location'.toString()">
                AND province != 'all' and city != 'all' 
                <if test="country != null">
                    AND `country` = #{country}
                </if>
                <if test="province != null">
                    AND `province` = #{province}
                </if>
           </if>
           
           <if test="table_name == 'dimension_browser'.toString() and browser_version != null">
                AND `browser_version` = #{browser_version}
           </if>
           
        </where>
            <choose>
                <when test="dimension_name == 'location_country'.toString()">
                    GROUP BY country 
                </when>
                <when test="dimension_name == 'location_province'.toString()">
                    GROUP BY country, province
                </when>
                <when test="dimension_name == 'location_city'.toString()">
                    GROUP BY country, province, city
                </when>
                <when test="dimension_name == 'browser_name'.toString()">
                    GROUP BY browser
                </when>
            </choose>
    </select>
</mapper>
