.app-type-select {
  display: inline-flex;
  flex-wrap: wrap;

  .app-type-group {
    border-right: 1px solid $color-border;
    margin-right: $p20;
    padding-right: $p20;

    &:last-child {
      margin-right: 0;
      border-right: none;
    }
  }

  .img-wrapper {
    position: relative;
    display: inline-block;
    min-width: 146px;
    height: 140px;
    margin: $p8 $p20 $p8 0;
    text-align: center;
    background-color: $color-dark-04;
    border: 1px solid $color-border;
    border-radius: $radius;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $white;
    }

    &.disabled-card {
      &:hover {
        background-color: $color-dark-04;
        cursor: not-allowed;
      }
    }

    &.active {
      background-color: $white;

      i {
        display: unset;
      }
    }

    i {
      position: absolute;
      top: $p8;
      right: $p8;
      display: none;
      margin-right: 0;
      color: $color-active;
      font-size: 16px;
    }
  }

  img {
    width: 90px;
    height: 90px;
    margin: 9px 0;
  }

  .desc {
    width: 120px;
    margin: 0 auto;
    line-height: 31px;
    border-top: 1px solid $color-border;
  }
}
