.instance-table {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }

  .th-status {
    .iconfont {
      font-size: 20px;
      line-height: 38px;
    }
  }

  .service-ops {
    .service-op-icon {
      position: relative;
      margin-right: 12px;
      font-size: 20px;

      &:hover {
        color: $color-primary;
        cursor: pointer;
      }

      &:after {
        content: '';
        position: absolute;
        top: 2px;
        right: -6px;
        width: 1px;
        height: 14px;
        background: $color-dark-1;
      }

      &:last-child {
        margin-right: 0;

        &::after {
          display: none;
        }
      }
    }
  }
}
