.slider {
  .ant-drawer-wrapper-body {
    overflow: hidden;
  }

  .ant-drawer-body {
    padding-top: 10px;

    .ant-tabs {
      height: 100%;

      .ant-tabs-tabpane-inactive {
        .services-terminal {
          padding: 0;
        }
      }

      .ant-tabs-content {
        position: absolute;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;

        .ant-tabs-tabpane {
          position: relative;
          height: 100%;
          padding: 0 10px;
          overflow-y: auto;

          &.ant-tabs-tabpane-inactive {
            height: 0;
          }
        }

        .log-viewer {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
