package models

import javax.inject.Inject

import auto.${upperTable}.Inner${upperTable}Sqler
import play.api.db.slick.DatabaseConfigProvider

import scala.concurrent.ExecutionContext

class ${upperTable}Sqler @Inject()(protected val dbConfigProvider: DatabaseConfigProvider)(implicit executionContext: ExecutionContext)
  extends Inner${upperTable}Sqler {

}