.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    div{
        padding: 10px 20px;
        color:#fff;
        border: 1px solid #1412a56e;
        background: #0805a5a1;
    }
}