.menu-popover {
  width: 100px;

  .ant-popover-inner-content {
    padding: 5px 0;
  }

  .popover-item {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      color: $white;
      background-color: $color-primary;
    }

    &.disabled {
      color: $color-disabled;

      &:hover {
        color: $color-disabled;
      }
    }
  }
}

.big-more-icon {
  width: 32px;
  height: 24px;
  font-size: 24px;
}

.sm-more-icon {
  font-size: 14px;
}
