<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.AppAddonDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDO">
    <!--@mbg.generated-->
    <!--@Table am_app_addon-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="addon_type" jdbcType="VARCHAR" property="addonType" />
    <result column="addon_id" jdbcType="VARCHAR" property="addonId" />
    <result column="addon_version" jdbcType="VARCHAR" property="addonVersion" />
    <result column="addon_config" jdbcType="LONGVARCHAR" property="addonConfig" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="namespace_id" jdbcType="VARCHAR" property="namespaceId" />
    <result column="stage_id" jdbcType="VARCHAR" property="stageId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, app_id, addon_type, addon_id, addon_version, addon_config, 
    `name`, namespace_id, stage_id
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_app_addon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from am_app_addon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from am_app_addon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDOExample">
    <!--@mbg.generated-->
    delete from am_app_addon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_app_addon (gmt_create, gmt_modified, app_id, 
      addon_type, addon_id, addon_version, 
      addon_config, `name`, namespace_id, 
      stage_id)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{appId,jdbcType=VARCHAR}, 
      #{addonType,jdbcType=VARCHAR}, #{addonId,jdbcType=VARCHAR}, #{addonVersion,jdbcType=VARCHAR}, 
      #{addonConfig,jdbcType=LONGVARCHAR}, #{name,jdbcType=VARCHAR}, #{namespaceId,jdbcType=VARCHAR}, 
      #{stageId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_app_addon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="addonType != null">
        addon_type,
      </if>
      <if test="addonId != null">
        addon_id,
      </if>
      <if test="addonVersion != null">
        addon_version,
      </if>
      <if test="addonConfig != null">
        addon_config,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="namespaceId != null">
        namespace_id,
      </if>
      <if test="stageId != null">
        stage_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="addonType != null">
        #{addonType,jdbcType=VARCHAR},
      </if>
      <if test="addonId != null">
        #{addonId,jdbcType=VARCHAR},
      </if>
      <if test="addonVersion != null">
        #{addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="addonConfig != null">
        #{addonConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="namespaceId != null">
        #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="stageId != null">
        #{stageId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_app_addon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_app_addon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.addonType != null">
        addon_type = #{record.addonType,jdbcType=VARCHAR},
      </if>
      <if test="record.addonId != null">
        addon_id = #{record.addonId,jdbcType=VARCHAR},
      </if>
      <if test="record.addonVersion != null">
        addon_version = #{record.addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.addonConfig != null">
        addon_config = #{record.addonConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceId != null">
        namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.stageId != null">
        stage_id = #{record.stageId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_app_addon
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      app_id = #{record.appId,jdbcType=VARCHAR},
      addon_type = #{record.addonType,jdbcType=VARCHAR},
      addon_id = #{record.addonId,jdbcType=VARCHAR},
      addon_version = #{record.addonVersion,jdbcType=VARCHAR},
      addon_config = #{record.addonConfig,jdbcType=LONGVARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      stage_id = #{record.stageId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDO">
    <!--@mbg.generated-->
    update am_app_addon
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="addonType != null">
        addon_type = #{addonType,jdbcType=VARCHAR},
      </if>
      <if test="addonId != null">
        addon_id = #{addonId,jdbcType=VARCHAR},
      </if>
      <if test="addonVersion != null">
        addon_version = #{addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="addonConfig != null">
        addon_config = #{addonConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="namespaceId != null">
        namespace_id = #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="stageId != null">
        stage_id = #{stageId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppAddonDO">
    <!--@mbg.generated-->
    update am_app_addon
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      app_id = #{appId,jdbcType=VARCHAR},
      addon_type = #{addonType,jdbcType=VARCHAR},
      addon_id = #{addonId,jdbcType=VARCHAR},
      addon_version = #{addonVersion,jdbcType=VARCHAR},
      addon_config = #{addonConfig,jdbcType=LONGVARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      namespace_id = #{namespaceId,jdbcType=VARCHAR},
      stage_id = #{stageId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>