<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.TagQueryMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageDO">
        <!--@mbg.generated-->
        <!--@Table am_app_package-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="package_version" jdbcType="VARCHAR" property="packageVersion"/>
        <result column="package_path" jdbcType="VARCHAR" property="packagePath"/>
        <result column="package_creator" jdbcType="VARCHAR" property="packageCreator"/>
        <result column="app_schema" jdbcType="LONGVARCHAR" property="appSchema"/>
        <result column="package_md5" jdbcType="VARCHAR" property="packageMd5"/>
        <result column="component_count" jdbcType="BIGINT" property="componentCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, gmt_create, gmt_modified, app_id, package_version, package_path, package_creator,
        app_schema, package_md5, component_count
    </sql>

    <select id="queryAppPackageWithMaxVersionAndOption" resultMap="BaseResultMap">
        SELECT A.*
        FROM am_app_package A
                     INNER JOIN am_app_option B
                ON A.app_id = B.app_id
                        AND B.key = #{key}
                        AND B.value = #{value}
        WHERE A.id IN
              (SELECT max(id)
               FROM am_app_package
               WHERE id IN
                     (SELECT app_package_id
                      FROM am_app_package_tag
                      WHERE tag = #{tag})
               GROUP BY app_id)
        order by gmt_create desc
        limit #{start},#{limit}
    </select>

    <select id="countAppPackageWithMaxVersionAndOption" resultType="java.lang.Integer">
        SELECT count(1)
        FROM am_app_package A
                     INNER JOIN am_app_option B
                ON A.app_id = B.app_id
                        AND B.key = #{key}
                        AND B.value = #{value}
        WHERE A.id IN
              (SELECT max(id)
               FROM am_app_package
               WHERE id IN
                     (SELECT app_package_id
                      FROM am_app_package_tag
                      WHERE tag = #{tag})
               GROUP BY app_id)
    </select>

    <select id="queryAppPackageWithMaxVersion" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from am_app_package
        where id in (
                select max(id)
                from am_app_package
                where id in (
                        select app_package_id
                        from am_app_package_tag
                        where tag = #{tag})
                group by app_id)
        order by gmt_create desc
        limit #{start},#{limit}
    </select>

    <select id="countAppPackageWithMaxVersion" resultType="java.lang.Integer">
        select count(1)
        from am_app_package
        where id in (
                select max(id)
                from am_app_package
                where id in (
                        select app_package_id
                        from am_app_package_tag
                        where tag = #{tag})
                group by app_id)
    </select>
</mapper>