<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.UserProfileDOMapper">
    <select id="queryByUserId" resultType="com.alibaba.tesla.appmanager.server.repository.domain.UserProfileDO">
        select
        id,
        gmt_create as gmtCreate,
        gmt_modified as gmtModified,
        user_id as userId,
        namespace_id as namespaceId,
        stage_id as stageId,
        profile
        from am_user_profile
        where user_id = #{userId}
        and namespace_id = #{namespaceId}
        and stage_id = #{stageId}
    </select>

    <insert id="insert">
	insert into am_user_profile(
	    gmt_create,
	    gmt_modified,
	    user_id,
	    profile,
	    namespace_id,
	    stage_id ) values(
	    now(),
	    now(),
	    #{userId},
	    #{profile},
	    #{namespaceId},
	    #{stageId}
	    )
	</insert>

    <update id="update">
        update am_user_profile
        set gmt_modified = now()
        , profile = #{profile}
        where user_id = #{userId}
        and namespace_id = #{namespaceId}
        and stage_id = #{stageId}
    </update>
</mapper>