/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

.table-scroll {
  position: relative;
  /*max-width:800px;*/
  margin: auto;
  overflow: hidden;
  text-align: center;
  /*border:1px solid #f5f5f5;*/
}

.table-wrap {
  /*width:100%;*/
  overflow: auto;
}

.table-scroll table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  border: 1px solid #000;
  white-space: nowrap;
  vertical-align: top;
}

.main-table > tbody > tr:nth-of-type(even) {
  background-color: #1f1f1f;
}

.main-table > tbody > tr:nth-of-type(odd) {
  background-color: #080808;
}

.clone {
  top: 0;
  left: 0;
}

.clone td,
.clone th {
  border-color: transparent
}

.clone tbody th {
  visibility: visible;
  color: #fff;
}

.clone .fixed-side {
  position: absolute;
  visibility: visible;
  width: 150px;
}

.clone tbody tr:nth-of-type(even) .fixed-side {
  background: #1f1f1f;
}

.clone tbody tr:nth-of-type(odd) .fixed-side {
  background: #080808;
}

.cover {
  position: static;
  width: 150px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.clone thead,
.clone tfoot {
  background: transparent;
}

a.adisabled {
  cursor: not-allowed;
  opacity: .65;
}

a.adisabled:hover { text-decoration: none; }
a.adisabled:focus { text-decoration: none; }
a.adisabled:active { text-decoration: none; }
