<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.realtime.view.dao.TaskMapper">
    <resultMap id="BaseResultMap" type="com.platform.realtime.view.module.Task">
        <id column="task_id" property="taskid"/>
        <result column="task_name" property="taskName"/>
        <result column="create_time" property="createTime"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="task_type" property="taskType"/>
        <result column="task_status" property="taskStatus"/>
        <result column="task_param" property="taskParam"/>
    </resultMap>

    <resultMap id="Top3ProductResultMap" type="com.platform.realtime.view.module.AreaTop3Product">
        <result column="task_id" property="taskid"/>
        <result column="area" property="area"/>
        <result column="area_level" property="areaLevel"/>
        <result column="product_id" property="productid"/>
        <result column="city_names" property="cityInfos"/>
        <result column="click_count" property="clickCount"/>
        <result column="product_name" property="productName"/>
        <result column="product_status" property="productStatus"/>
    </resultMap>

    <resultMap id="SessionAggrResultMap" type="com.platform.realtime.view.module.SessionAggrStat">
        <result column="task_id" property="taskid"/>
        <result column="session_count" property="session_count"/>
        <result column="1s_3s" property="visit_length_1s_3s_ratio"/>
        <result column="4s_6s" property="visit_length_4s_6s_ratio"/>
        <result column="7s_9s" property="visit_length_7s_9s_ratio"/>
        <result column="10s_30s" property="visit_length_10s_30s_ratio"/>
        <result column="30s_60s" property="visit_length_30s_60s_ratio"/>
        <result column="1m_3m" property="visit_length_1m_3m_ratio"/>
        <result column="3m_10m" property="visit_length_3m_10m_ratio"/>
        <result column="10m_30m" property="visit_length_10m_30m_ratio"/>
        <result column="30m" property="visit_length_30m_ratio"/>
        <result column="1_3" property="step_length_1_3_ratio"/>
        <result column="4_6" property="step_length_4_6_ratio"/>
        <result column="7_9" property="step_length_7_9_ratio"/>
        <result column="10_30" property="step_length_10_30_ratio"/>
        <result column="30_60" property="step_length_30_60_ratio"/>
        <result column="60" property="step_length_60_ratio"/>
    </resultMap>


    <resultMap id="Top10CategoryResultMap" type="com.platform.realtime.view.module.Top10Category">
        <result column="task_id" property="taskid"/>
        <result column="category_id" property="categoryid"/>
        <result column="click_count" property="clickCount"/>
        <result column="order_count" property="orderCount"/>
        <result column="pay_count" property="payCount"/>
    </resultMap>

    <resultMap id="Top10SessionResultMap" type="com.platform.realtime.view.module.Top10Session">
        <result column="task_id" property="taskid"/>
        <result column="category_id" property="categoryid"/>
        <result column="session_id" property="sessionid"/>
        <result column="click_count" property="clickCount"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id, task_name, create_time, start_time, finish_time,
        task_type, task_status, task_param
    </sql>

    <select id="selectAllTask" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task
    </select>


    <select id="selectByName" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from task
        where task_name = #{taskName, jdbcType=VARCHAR} limit 1
    </select>

    <select id="selectConvertRateById" resultType="java.lang.String"
            parameterType="java.lang.Long">
        select convert_rate
        from page_split_convert_rate
        where task_id = #{taskid, jdbcType=INTEGER} limit 1
    </select>


    <select id="selectAreaProductTop3" resultMap="Top3ProductResultMap"
            parameterType="java.lang.Long">
        select *
        from area_top3_product
        where task_id = #{taskid, jdbcType=INTEGER}
    </select>

    <select id="selectSessionAggrStat" resultMap="SessionAggrResultMap"
            parameterType="java.lang.Long">
        select *
        from session_aggr_stat
        where task_id = #{taskid, jdbcType=INTEGER}
    </select>

    <select id="selectTop10Category" resultMap="Top10CategoryResultMap"
            parameterType="java.lang.Long">
        select *
        from top10_category
        where task_id = #{taskid, jdbcType=INTEGER}
    </select>

    <select id="selectTop10Session" resultMap="Top10SessionResultMap"
            parameterType="java.lang.Long">
        select *
        from top10_session
        where task_id = #{taskid, jdbcType=INTEGER}
    </select>

    <select id="getMockDataState" resultType="java.lang.String">
        select if_mock_data from mock_data
    </select>

    <update id="setMockDataState" parameterType="java.lang.String">
        update mock_data
        <set>
            <if test="ifMockData != null">
                if_mock_data = #{ifMockData,jdbcType=VARCHAR},
            </if>
        </set>
    </update>

</mapper>