.version-list {
  .asset-logo {
    svg,
    img {
      width: 100px;
      height: 100px;
    }
  }

  .content-wrap {
    min-height: 500px;

    .left {
      width: 300px;
    }

    .right {
      overflow: auto;
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      border-left: 1px solid $border-color;
      position: absolute;
      top: 0;
      left: 300px;
    }

    .instance-label,
    .instance-name {
      line-height: 22px;
    }
  }
}
