<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>
        <mapper resource="mybatis/DagBatchMapper.xml"/>
        <mapper resource="mybatis/DagDOMapper.xml"/>
        <mapper resource="mybatis/DagInstDOMapper.xml"/>
        <mapper resource="mybatis/DagInstEdgeDOMapper.xml"/>
        <mapper resource="mybatis/DagInstNodeDOMapper.xml"/>
        <mapper resource="mybatis/DagInstNodeStdDOMapper.xml"/>
        <mapper resource="mybatis/DagNodeDOMapper.xml"/>
    </mappers>
</configuration>
