@import "../../../index.less";
.card-tab-panel {
  padding: 10px;

  .tab-pane {
    padding: 10px
  }
}

.abm_frontend_designer .page_small_tabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  padding: 0 10px;
}

.abm-frontend-designer-page-editor {
  .feature-bar{
    line-height: 36px;
    padding: 0px 8px;
    .feature-button {
      margin-left: 8px;
      margin-top: 6px;
      padding-top: 3px;
      width: 72px;
      .wrapper {
        width:48px;
        .text {
        position: relative;
          left: 6px;
          top: -3px;
        }
        .save-icon path{
          fill:#ffffff !important;
        }
        .path {
          fill: @text-color;
        }
      }
    }
    .feature-button:hover .path {
      fill: @link-color;
    }
  }
  .ant-tabs .ant-tabs-left-content {
     padding: 3px 8px;
  }

}
.template-parent-pane {
  overflow-y: scroll;
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .template-pane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    .template-item {
      margin-right: 20px;
      margin-top:12px;
      cursor: pointer;
      .template-logo {
        text-align: center;
        border-radius: 8px;
        width: 362px;
        height:214px;
        line-height: 214px;
        vertical-align: middle;
        border: 1px solid lightgray;
      }
      .template-label{
        text-align: center;
        margin-top:16px;
      }
    }
    .template-item-active {
      margin-right: 20px;
      margin-top:12px;
      cursor: pointer;
      .template-logo {
        text-align: center;
        border-radius: 8px;
        width: 362px;
        height:214px;
        line-height: 214px;
        vertical-align: middle;
        border: 2px solid var(--PrimaryColor);
      }
      .template-label{
        text-align: center;
        background-color: var(--PrimaryColor);
        border-radius: 6px;
        color: white;
        margin-top:16px;
      }
    }
  }
}

