#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

.dockerignore
Dockerfile

# Excluding the .git directory would be a meaningful saving but the build
# makes use of the git-commit-id plugin and that wants the git repo to be
# present. 
# .git

# The top-level Dockerfile does its own Maven build so we don't want
# **/target.  See distribution/Dockerfile for a Dockerfile that
# builds an image using binaries copied from distribution/target.

**/target
