.project
.buildpath
.classpath
.factorypath
.checkstyle
.settings/
.idea/
TAGS
*.log
*.lck
*.iml
target/
*.DS_Store
*.patch
*~
git.properties
contrib/native/client/build/
contrib/native/client/build/*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.*.md.html
*.swp
# TODO - DRILL-4336
exec/jdbc-all/dependency-reduced-pom.xml
.*.html
venv/
tools/venv/
