.scroll-top-btn {
  position: fixed;
  right: 32px;
  bottom: 50px;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  text-align: center;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 $color-text-sub;
  cursor: pointer;
  opacity: 70%;
  animation: fadeIn ease 0.3s;

  &:hover {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    bottom: -40px;
  }

  100% {
    bottom: 50px;
  }
}
