.cluster-type-row {
  display: flex;

  .cluster-type-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 16px;
    border: 1px solid $color-border;
    border-radius: $radius;
    cursor: pointer;

    &:hover {
      .type-name {
        color: $primary;
      }
    }

    .type-icon {
      width: 72px;
      height: 72px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .type-name {
      padding: 8px 0;
      color: $color-text;
      font-size: 14px;
    }

    .type-description {
      flex: 1;
      color: $color-text-desc;
      font-size: 14px;
      text-align: justify;
    }
  }
}
