@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*雪碧图*/
/*clearfix*/
/* line 2, ../../../demo/compass/sass/_usual.scss */
.clearfix:before, .main:before, .main-hd:before, .panel-mod-wp .panel:before, .panel-cnt:before, .toolbar-wp:before, .toolbar-list:before, .table-wp:before, .pg-wp:before, .dlg-cnt:before, .clearfix:after, .main:after, .main-hd:after, .panel-mod-wp .panel:after, .panel-cnt:after, .toolbar-wp:after, .toolbar-list:after, .table-wp:after, .pg-wp:after, .dlg-cnt:after {
    display: table;
    content: "";
}

/* line 6, ../../../demo/compass/sass/_usual.scss */
.clearfix, .main, .main-hd, .panel-mod-wp .panel, .panel-cnt, .toolbar-wp, .toolbar-list, .table-wp, .pg-wp, .dlg-cnt {
    *zoom: 1;
}

/* line 12, ../../../demo/compass/sass/_usual.scss */
.clearfix:after, .main:after, .main-hd:after, .panel-mod-wp .panel:after, .panel-cnt:after, .toolbar-wp:after, .toolbar-list:after, .table-wp:after, .pg-wp:after, .dlg-cnt:after {
    clear: both;
}

/*ellipsis*/
/* line 17, ../../../demo/compass/sass/_usual.scss */
.ellipsis, .checkbox.bl label, .ui-select > .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 雪碧图 */
/* line 62, ../../../demo/compass/sass/_sprites.scss */
.s-search, .cur .s-search, .s-setting, .cur .s-setting, .s-group, .cur .s-group, .i-first, .i-prev, .i-next, .i-last, .switch, .switch.checked, .sel-panel .arrow {
    background-repeat: no-repeat;
    background-image: url('../img/base.svg');
}

/**/
/*other variables*/
/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}

/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/**/
/* line 8, ../../../demo/compass/sass/style.scss */
html {
    background: #ebebeb;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* line 14, ../../../demo/compass/sass/style.scss */
body {
    min-width: 1200px;
}

/* line 17, ../../../demo/compass/sass/style.scss */
html,
input {
    font: 12px/1.5 tahoma, arial, Microsoft Yahei, sans-serif;
}

/* line 21, ../../../demo/compass/sass/style.scss */
a,
button,
input,
textarea {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/*sidebar*/
/* line 30, ../../../demo/compass/sass/style.scss */
.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 224px;
    height: 100%;
    background: #393a3a;
}

/* line 39, ../../../demo/compass/sass/style.scss */
.sidebar .logo {
    background: #12c98f url("../img/logo.svg") no-repeat center;
    display: block;
    text-indent: -9999px;
    height: 60px;
}

/* line 46, ../../../demo/compass/sass/style.scss */
.side-nav {
    margin-top: 18px;
    line-height: 50px;
}

/* line 49, ../../../demo/compass/sass/style.scss */
.side-nav > li {
    font-size: 16px;
}

/* line 52, ../../../demo/compass/sass/style.scss */
.side-nav a {
    display: block;
    color: #d4d4d4;
    border-left: 3px solid transparent;
    padding-left: 27px;
}

/* line 57, ../../../demo/compass/sass/style.scss */
.side-nav a:hover {
    background: #434545;
}

/* line 64, ../../../demo/compass/sass/style.scss */
.side-nav > .cur.no-sub a,
.side-nav > .cur .cur a {
    background: #2f3030;
    border-color: #06b37c;
}

/* line 70, ../../../demo/compass/sass/style.scss */
.side-nav .cur > a {
    color: #06b37c;
}

/* line 73, ../../../demo/compass/sass/style.scss */
.side-nav .i-wp {
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 6px;
}

/* line 82, ../../../demo/compass/sass/style.scss */
.side-nav-sub > li {
    font-size: 14px;
}

/* line 85, ../../../demo/compass/sass/style.scss */
.side-nav-sub a {
    text-indent: 30px;
}

/*sidebar icon*/
/* line 93, ../../../demo/compass/sass/style.scss */
.s-search {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: 0 -87px;
    height: 16px;
    width: 17px;
    line-height: 16px;
}

/* line 97, ../../../demo/compass/sass/style.scss */
.s-search:before {
    content: '.';
    opacity: 0;
}

/* line 101, ../../../demo/compass/sass/style.scss */
.cur .s-search {
    background-position: -16px -71px;
    height: 16px;
    width: 17px;
}

/* line 93, ../../../demo/compass/sass/style.scss */
.s-setting {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: 0 -103px;
    height: 16px;
    width: 18px;
    line-height: 16px;
}

/* line 97, ../../../demo/compass/sass/style.scss */
.s-setting:before {
    content: '.';
    opacity: 0;
}

/* line 101, ../../../demo/compass/sass/style.scss */
.cur .s-setting {
    background-position: -9px -55px;
    height: 16px;
    width: 18px;
}

/* line 93, ../../../demo/compass/sass/style.scss */
.s-group {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: -17px -87px;
    height: 16px;
    width: 16px;
    line-height: 16px;
}

/* line 97, ../../../demo/compass/sass/style.scss */
.s-group:before {
    content: '.';
    opacity: 0;
}

/* line 101, ../../../demo/compass/sass/style.scss */
.cur .s-group {
    background-position: 0 -71px;
    height: 16px;
    width: 16px;
}

/*main*/
/* line 107, ../../../demo/compass/sass/style.scss */
.main {
    position: relative;
    margin-left: 224px;
    padding: 0 30px;
}

/* line 113, ../../../demo/compass/sass/style.scss */
.main-hd {
    font-size: 16px;
    line-height: 2;
    padding: 14px 0;
}

/* line 119, ../../../demo/compass/sass/style.scss */
.crumb-wp {
    position: relative;
}

/* line 121, ../../../demo/compass/sass/style.scss */
.crumb-wp .back {
    color: #666;
}

/* line 123, ../../../demo/compass/sass/style.scss */
.crumb-wp .back:hover {
    color: #06b37c;
}

/* line 127, ../../../demo/compass/sass/style.scss */
.crumb-wp .arrow {
    color: #bbb;
    font-size: 20px;
    margin: 0 5px;
    line-height: 1;
}

/* line 135, ../../../demo/compass/sass/style.scss */
.panel-mod-wp {
    margin: 0 -15px;
}

/* line 137, ../../../demo/compass/sass/style.scss */
.panel-mod-wp > .panel-wp {
    float: left;
}

/* line 141, ../../../demo/compass/sass/style.scss */
.panel-mod-wp .panel {
    margin: 0 15px 30px;
    background: #fff;
}

/* line 147, ../../../demo/compass/sass/style.scss */
.panel-hd {
    line-height: 32px;
    padding: 8px 15px;
    background: #d9d9d9;
}

/* line 151, ../../../demo/compass/sass/style.scss */
.panel-hd > .tit {
    display: inline-block;
    min-width: 90px;
    font-size: 14px;
}

/* line 157, ../../../demo/compass/sass/style.scss */
.panel-cnt {
    padding: 5px 15px 0;
}

/* line 160, ../../../demo/compass/sass/style.scss */
.panel-cnt.scroll {
    max-height: 480px;
    overflow: auto;
}

/*basic block*/
/* line 166, ../../../demo/compass/sass/style.scss */
.basic-wp {
    background: #fff;
    padding: 20px 20px 10px;
    margin-bottom: 30px;
}

/* line 171, ../../../demo/compass/sass/style.scss */
.fl {
    float: left;
}

/* line 174, ../../../demo/compass/sass/style.scss */
.fr {
    float: right;
}

/* line 177, ../../../demo/compass/sass/style.scss */
.toolbar-wp {
    width: 100%;
    margin-bottom: 20px;
}

/* line 182, ../../../demo/compass/sass/style.scss */
.toolbar-list {
    margin: 0 -50px 0 0;
}

/* line 185, ../../../demo/compass/sass/style.scss */
.toolbar-list.min {
    line-height: 28px;
}

/* line 188, ../../../demo/compass/sass/style.scss */
.toolbar-list li {
    float: left;
    margin: 0 50px 20px 0;
}

/* line 193, ../../../demo/compass/sass/style.scss */
.addon-list {
    line-height: 32px;
    margin: 0 -15px 0 0;
}

/* line 196, ../../../demo/compass/sass/style.scss */
.addon-list > li {
    float: left;
    margin-right: 15px;
}

/*form*/
/* line 202, ../../../demo/compass/sass/style.scss */
a {
    text-decoration: none;
}

/* line 207, ../../../demo/compass/sass/style.scss */
a.link {
    color: #06b37c;
}

/* line 210, ../../../demo/compass/sass/style.scss */
a.disabled {
    color: #ccc;
}

/* line 213, ../../../demo/compass/sass/style.scss */
input[type=text],
select {
    outline: none;
    color: #555;
    font-size: 12px;
}

/* line 218, ../../../demo/compass/sass/style.scss */
input[type=text]:focus,
select:focus {
    border-color: #06b37c;
}

/* line 222, ../../../demo/compass/sass/style.scss */
.radio-wp {
    margin-right: 20px;
}

/* line 224, ../../../demo/compass/sass/style.scss */
.radio-wp input[type=radio] {
    margin-right: 8px;
}

/* line 228, ../../../demo/compass/sass/style.scss */
.btn,
input[type=text],
select {
    font-size: 12px;
    border: 1px solid #c8c8c8;
    /* Capability border-radius is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability border-radius is not prefixed with -webkit because 0.1583% of users are affected which is less than the threshold of 100. */
    border-radius: 2px;
}

/* line 235, ../../../demo/compass/sass/style.scss */
input[type=text],
.btn {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

/* line 241, ../../../demo/compass/sass/style.scss */
input[type=text].min,
.btn.min {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}

/* line 247, ../../../demo/compass/sass/style.scss */
input[type=text].xs,
.btn.xs {
    width: 28px;
}

/* line 250, ../../../demo/compass/sass/style.scss */
input[type=text].s,
.btn.s {
    width: 88px;
}

/* line 253, ../../../demo/compass/sass/style.scss */
input[type=text].m,
.btn.m {
    width: 163px;
}

/* line 256, ../../../demo/compass/sass/style.scss */
input[type=text].l,
.btn.l {
    width: 238px;
}

/* line 259, ../../../demo/compass/sass/style.scss */
input[type=text].xl,
.btn.xl {
    width: 488px;
}

/* line 263, ../../../demo/compass/sass/style.scss */
select {
    box-shadow: none;
    color: #666;
    height: 32px;
    background: #fff;
}

/* line 268, ../../../demo/compass/sass/style.scss */
select.min {
    height: 28px;
}

/* line 271, ../../../demo/compass/sass/style.scss */
select.xs {
    width: 40px;
}

/* line 274, ../../../demo/compass/sass/style.scss */
select.s {
    width: 100px;
}

/* line 277, ../../../demo/compass/sass/style.scss */
select.m {
    width: 175px;
}

/* line 280, ../../../demo/compass/sass/style.scss */
select.l {
    width: 250px;
}

/* line 284, ../../../demo/compass/sass/style.scss */
.btn {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    font-size: 14px;
}

/* line 289, ../../../demo/compass/sass/style.scss */
.btn-white {
    background: #fff;
    color: #555;
}

/* line 292, ../../../demo/compass/sass/style.scss */
.btn-white:hover {
    background: #f9f9f9;
}

/* line 296, ../../../demo/compass/sass/style.scss */
.btn-primary {
    background: #12c98f;
    border: 1px solid #0fbd86;
    color: #fff;
}

/* line 300, ../../../demo/compass/sass/style.scss */
.btn-primary:hover {
    background: #0ebc85;
}

/* line 304, ../../../demo/compass/sass/style.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: none;
}

/*table*/
/* line 309, ../../../demo/compass/sass/style.scss */
.table-wp {
    position: relative;
    margin-bottom: 20px;
    /*固定*/
}

/* line 315, ../../../demo/compass/sass/style.scss */
.fixed-col-wp,
.fixed-row-wp {
    position: relative;
    margin-bottom: 15px;
}

/* line 319, ../../../demo/compass/sass/style.scss */
.fixed-col-wp > .tit,
.fixed-row-wp > .tit {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

/* line 328, ../../../demo/compass/sass/style.scss */
.fixed-col-wp > .tit,
.fixed-col-wp > .cont,
.fixed-row-wp > .tit,
.fixed-row-wp > .cont {
    margin-bottom: 0;
    width: auto;
}

/* line 332, ../../../demo/compass/sass/style.scss */
.fixed-col-wp > .tit table,
.fixed-col-wp > .cont table,
.fixed-row-wp > .tit table,
.fixed-row-wp > .cont table {
    margin-bottom: 0;
}

/* line 336, ../../../demo/compass/sass/style.scss */
.fixed-col-wp > .cont,
.fixed-row-wp > .cont {
    position: relative;
    overflow: auto;
}

/* line 346, ../../../demo/compass/sass/style.scss */
.fixed-row-wp > .tit {
    width: 100%;
}

/* line 349, ../../../demo/compass/sass/style.scss */
.fixed-row-wp > .cont {
    max-height: 400px;
}

/* line 352, ../../../demo/compass/sass/style.scss */
.fixed-row-wp th,
.fixed-row-wp td {
    word-wrap: break-word;
    word-break: break-all;
}

/* line 358, ../../../demo/compass/sass/style.scss */
table {
    width: 100%;
    margin-bottom: 15px;
}

/* line 362, ../../../demo/compass/sass/style.scss */
table.white th {
    background: #fff;
    border-bottom: 1px solid #c8c8c8;
}

/* line 366, ../../../demo/compass/sass/style.scss */
table.white td {
    border: none;
}

/* line 371, ../../../demo/compass/sass/style.scss */
table.border th,
table.border td {
    border: 1px solid #e9e9e9;
}

/* line 378, ../../../demo/compass/sass/style.scss */
table.border tr:hover {
    background: none;
}

/* line 382, ../../../demo/compass/sass/style.scss */
table th,
table td {
    height: 45px;
    padding: 0 8px;
    text-align: center;
}

/* line 388, ../../../demo/compass/sass/style.scss */
table th {
    font-size: 14px;
    background: #f5f5f5;
}

/* line 392, ../../../demo/compass/sass/style.scss */
table td {
    border-bottom: 1px solid #e9e9e9;
    color: #888;
}

/* line 396, ../../../demo/compass/sass/style.scss */
table tr:hover {
    background: #f2fffa;
}

/* line 399, ../../../demo/compass/sass/style.scss */
table .hl {
    color: #06b37c;
}

/* line 403, ../../../demo/compass/sass/style.scss */
table .link {
    margin: 0 4px;
}

/*progress*/
/* line 408, ../../../demo/compass/sass/style.scss */
.progress-wp {
    width: 100%;
}

/* line 410, ../../../demo/compass/sass/style.scss */
.progress-wp .purple {
    background: #b98ad7;
}

/* line 413, ../../../demo/compass/sass/style.scss */
.progress-wp .blue {
    background: #8bc7f6;
}

/* line 417, ../../../demo/compass/sass/style.scss */
.progress {
    height: 10px;
    margin: 5px 0;
}

/*pagging pg*/
/* line 422, ../../../demo/compass/sass/style.scss */
.pg-wp {
    color: #999;
}

/* line 425, ../../../demo/compass/sass/style.scss */
.pg-wp .ellipsis, .pg-wp .checkbox.bl label, .checkbox.bl .pg-wp label, .pg-wp .ui-select > .btn {
    float: left;
}

/* line 429, ../../../demo/compass/sass/style.scss */
.pg-info {
    float: left;
}

/* line 432, ../../../demo/compass/sass/style.scss */
.pg {
    float: right;
    line-height: 28px;
    height: 28px;
}

/* line 436, ../../../demo/compass/sass/style.scss */
.pg > a {
    float: left;
    margin: 0 2px;
    text-align: center;
    color: #777;
    min-width: 26px;
    line-height: 26px;
    cursor: pointer;
}

/* line 444, ../../../demo/compass/sass/style.scss */
.pg > a:hover {
    border-color: #aaa;
}

/* line 447, ../../../demo/compass/sass/style.scss */
.pg > a.disabled {
    background: #eee;
    border-color: #eee;
}

/* line 452, ../../../demo/compass/sass/style.scss */
.pg .dot,
.pg input {
    float: left;
    margin: 0 5px;
}

/* line 457, ../../../demo/compass/sass/style.scss */
.pg input,
.pg > a {
    border: 1px solid #e3e3e3;
}

/* line 461, ../../../demo/compass/sass/style.scss */
.pg .cur {
    color: #06b37c;
    border-color: #06b37c;
}

/* line 470, ../../../demo/compass/sass/style.scss */
.i-first {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: 0 -55px;
    height: 8px;
    width: 9px;
}

/* line 470, ../../../demo/compass/sass/style.scss */
.i-prev {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: -15px -15px;
    height: 8px;
    width: 6px;
}

/* line 470, ../../../demo/compass/sass/style.scss */
.i-next {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: -9px -15px;
    height: 8px;
    width: 6px;
}

/* line 470, ../../../demo/compass/sass/style.scss */
.i-last {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-position: 0 -15px;
    height: 8px;
    width: 9px;
}

/*checkbox*/
/* line 476, ../../../demo/compass/sass/style.scss */
.ellipsis, .checkbox.bl label, .ui-select > .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* line 481, ../../../demo/compass/sass/style.scss */
.checkbox {
    position: relative;
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

/* line 486, ../../../demo/compass/sass/style.scss */
.checkbox.bl {
    display: block;
}

/* line 492, ../../../demo/compass/sass/style.scss */
.checkbox > .icon {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 11px;
    margin-top: -6.5px;
    line-height: 11px;
    height: 11px;
    width: 11px;
    text-align: center;
    color: #fff;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    /* Capability border-radius is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability border-radius is not prefixed with -webkit because 0.1583% of users are affected which is less than the threshold of 100. */
    border-radius: 2px;
}

/* line 508, ../../../demo/compass/sass/style.scss */
.checkbox.checked > .icon {
    background: #12c98f;
    border-color: #12c98f;
}

/* line 513, ../../../demo/compass/sass/style.scss */
.checkbox label {
    margin-left: 18px;
    display: block;
}

/* line 517, ../../../demo/compass/sass/style.scss */
.checkbox input[type=checkbox] {
    display: none;
}

/* line 521, ../../../demo/compass/sass/style.scss */
.switch {
    display: inline-block;
    line-height: 16px;
    background-color: #fff;
    background-position: 0 -23px;
    height: 16px;
    width: 34px;
}

/* line 525, ../../../demo/compass/sass/style.scss */
.switch:before {
    content: '.';
    opacity: 0;
}

/* line 530, ../../../demo/compass/sass/style.scss */
.switch.checked {
    background-position: 0 -39px;
    height: 16px;
    width: 34px;
}

/* line 533, ../../../demo/compass/sass/style.scss */
.switch input {
    display: none;
}

/*sel-panel-wp*/
/* line 538, ../../../demo/compass/sass/style.scss */
.sel-panel-wp {
    position: relative;
}

/* line 541, ../../../demo/compass/sass/style.scss */
.sel-panel {
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-top: 20px;
    right: 0;
    width: 198px;
    background: #fff;
    border: 1px solid #eee;
    display: none;
    /* Capability css-boxshadow is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability css-boxshadow is not prefixed with -webkit because 1.6785% of users are affected which is less than the threshold of 100. */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

/* line 552, ../../../demo/compass/sass/style.scss */
.sel-panel.on {
    display: block;
}

/* line 555, ../../../demo/compass/sass/style.scss */
.sel-panel .arrow {
    position: absolute;
    top: -15px;
    right: 18px;
    background-position: 0 0;
    height: 15px;
    width: 20px;
}

/* line 562, ../../../demo/compass/sass/style.scss */
.sel-panel-scroll {
    padding: 8px 15px;
    max-height: 250px;
    overflow: auto;
}

/*dialog*/
/*弹窗*/
/* line 569, ../../../demo/compass/sass/style.scss */
.dlg-show {
    overflow: hidden;
}

/* line 572, ../../../demo/compass/sass/style.scss */
.dlg-mask {
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* line 583, ../../../demo/compass/sass/style.scss */
.dlg-mask:after {
    content: "";
    height: 100%;
    vertical-align: middle;
    width: 0;
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 592, ../../../demo/compass/sass/style.scss */
.dlg {
    position: relative;
    z-index: 1;
    width: 550px;
    margin: 20px;
    vertical-align: middle;
    background: #fff;
    display: none;
    /* Capability css-boxshadow is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability css-boxshadow is not prefixed with -webkit because 1.6785% of users are affected which is less than the threshold of 100. */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 601, ../../../demo/compass/sass/style.scss */
.dlg.show {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 604, ../../../demo/compass/sass/style.scss */
.dlg.s {
    width: 400px;
}

/* line 607, ../../../demo/compass/sass/style.scss */
.dlg.l {
    width: 700px;
}

/* line 611, ../../../demo/compass/sass/style.scss */
.dlg-close {
    position: absolute;
    right: 0;
    width: 42px;
    font-size: 20px;
    line-height: 41px;
    color: #bbb;
}

/* line 618, ../../../demo/compass/sass/style.scss */
.dlg-close:hover {
    color: #06b37c;
}

/* line 622, ../../../demo/compass/sass/style.scss */
.dlg-hd {
    text-align: left;
    line-height: 32px;
    padding: 4.5px 20px;
    border-bottom: 1px solid #06b37c;
}

/* line 627, ../../../demo/compass/sass/style.scss */
.dlg-hd .tit {
    font-size: 16px;
    color: #06b37c;
}

/* line 632, ../../../demo/compass/sass/style.scss */
.dlg-cnt {
    text-align: left;
    margin: 25px;
}

/* line 636, ../../../demo/compass/sass/style.scss */
.dlg-cnt .status-block {
    width: auto;
    margin: 0 15px;
}

/* line 641, ../../../demo/compass/sass/style.scss */
.dlg-btns {
    text-align: center;
    background: #f5f5f5;
    padding: 25px;
}

/* line 645, ../../../demo/compass/sass/style.scss */
.dlg-btns .btn {
    margin: 0 10px;
}

/* line 650, ../../../demo/compass/sass/style.scss */
.status-wp {
    width: 70%;
    margin: 40px auto;
}

/* line 653, ../../../demo/compass/sass/style.scss */
.status-wp > .icon {
    line-height: 1;
    font-size: 42px;
    float: left;
}

/* line 658, ../../../demo/compass/sass/style.scss */
.status-wp > .cont {
    color: #666;
    margin-left: 50px;
}

/* line 661, ../../../demo/compass/sass/style.scss */
.status-wp > .cont h4 {
    color: #333333;
    font-size: 14px;
    padding-bottom: 5px;
}

/* line 666, ../../../demo/compass/sass/style.scss */
.status-wp > .cont p {
    color: #666;
}

/* line 671, ../../../demo/compass/sass/style.scss */
.promt-wp {
    position: relative;
}

/* line 674, ../../../demo/compass/sass/style.scss */
.promt-txt {
    line-height: 32px;
}

/*form*/
/* line 678, ../../../demo/compass/sass/style.scss */
.form-wp {
    margin-bottom: 10px;
    line-height: 32px;
}

/* line 680, ../../../demo/compass/sass/style.scss */
.form-wp.sep-2 {
    float: left;
    width: 50%;
}

/* line 684, ../../../demo/compass/sass/style.scss */
.form-wp > .row {
    float: left;
    width: 100%;
}

/* line 687, ../../../demo/compass/sass/style.scss */
.form-wp > .row.sep-2 {
    width: 50%;
}

/* line 692, ../../../demo/compass/sass/style.scss */
.form-wp .cnt {
    margin-left: 100px;
    padding: 10px 2px;
}

/* line 696, ../../../demo/compass/sass/style.scss */
.form-wp .tit {
    float: left;
    width: 100px;
    line-height: 22px;
    padding: 15px 0;
}

/* line 704, ../../../demo/compass/sass/style.scss */
.search-bar {
    position: relative;
    display: inline-block;
}

/* line 707, ../../../demo/compass/sass/style.scss */
.search-bar .icon-btn {
    position: absolute;
    right: 0;
    top: 1px;
    background: none;
    border: none;
    width: 47px;
    line-height: 30px;
    font-size: 16px;
    color: #bbb;
    text-align: center;
}

/* line 719, ../../../demo/compass/sass/style.scss */
.search-bar input {
    /* Capability border-radius is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability border-radius is not prefixed with -webkit because 0.1583% of users are affected which is less than the threshold of 100. */
    border-radius: 14px;
    padding: 0 47px 0 15px;
    box-sizing: border-box;
}

/* line 725, ../../../demo/compass/sass/style.scss */
input[type="text"].expand {
    display: block;
    width: 100%;
}

/*ui-select*/
/* line 730, ../../../demo/compass/sass/style.scss */
.ui-select {
    position: relative;
    z-index: 1;
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: bottom;
    height: 32px;
}

/* line 736, ../../../demo/compass/sass/style.scss */
.ui-select em {
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #555 #12c98f;
    right: 13px;
    top: 14px;
}

/* line 745, ../../../demo/compass/sass/style.scss */
.ui-select.open > .btn {
    background: #11c088;
}

/* line 749, ../../../demo/compass/sass/style.scss */
.ui-select > .btn {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 32px 0 8px;
    text-align: left;
    cursor: default;
}

/* line 757, ../../../demo/compass/sass/style.scss */
.ui-select > .btn .txt {
    display: block;
    padding-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 763, ../../../demo/compass/sass/style.scss */
.ui-select.m {
    min-width: 150px;
}

/* line 767, ../../../demo/compass/sass/style.scss */
.ui-select-menu {
    position: absolute;
    min-width: 100%;
    /* Capability border-radius is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability border-radius is not prefixed with -webkit because 0.1583% of users are affected which is less than the threshold of 100. */
    border-radius: 3px;
    background: #12c98f;
    margin-top: 1px;
    color: #fff;
    max-width: 300px;
    overflow: auto;
    padding: 5px 0;
    /* Capability css-boxshadow is not prefixed with -ms because 0% of users are affected which is less than the threshold of 100. */
    /* Capability css-boxshadow is not prefixed with -webkit because 1.6785% of users are affected which is less than the threshold of 100. */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 778, ../../../demo/compass/sass/style.scss */
.ui-select-menu li {
    padding: 0 10px;
}

/* line 780, ../../../demo/compass/sass/style.scss */
.ui-select-menu li:hover {
    background: #11bb85;
}

/*inner*/
/* line 786, ../../../demo/compass/sass/style.scss */
.inner {
    margin-bottom: 20px;
}

/* line 791, ../../../demo/compass/sass/style.scss */
.hl {
    color: #5aace2;
}

/*media*/
@media screen and (max-width: 1279px) {
    /* line 796, ../../../demo/compass/sass/style.scss */
    .sidebar {
        width: 140px;
    }

    /* line 798, ../../../demo/compass/sass/style.scss */
    .sidebar .logo {
        background-size: 90%;
    }

    /* line 802, ../../../demo/compass/sass/style.scss */
    .main {
        margin-left: 140px;
    }

    /* line 805, ../../../demo/compass/sass/style.scss */
    .side-nav {
        line-height: 40px;
    }

    /* line 807, ../../../demo/compass/sass/style.scss */
    .side-nav a {
        padding-left: 15px;
    }
}

/* line 812, ../../../demo/compass/sass/style.scss */
.col-4 {
    width: 40%;
}

/* line 815, ../../../demo/compass/sass/style.scss */
.col-6 {
    width: 60%;
}

@media screen and (max-width: 1439px) {
    /* line 819, ../../../demo/compass/sass/style.scss */
    .col-4 {
        width: 100%;
    }

    /* line 822, ../../../demo/compass/sass/style.scss */
    .col-6 {
        width: 100%;
    }
}

@font-face {
    font-family: 'icon';
    src: url("fonts/icon.svg#icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* line 15, ../../../demo/compass/sass/_iconfont.scss */
[class^="icon_"],
[class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
}

/* line 29, ../../../demo/compass/sass/_iconfont.scss */
.icon_warn:before {
    content: "\e900";
}

/* line 32, ../../../demo/compass/sass/_iconfont.scss */
.icon_succ:before {
    content: "\e912";
}

/* line 35, ../../../demo/compass/sass/_iconfont.scss */
.icon_err:before {
    content: "\e913";
}

/* line 38, ../../../demo/compass/sass/_iconfont.scss */
.icon_info:before {
    content: "\e919";
}

/* line 41, ../../../demo/compass/sass/_iconfont.scss */
.icon_down_open:before {
    content: "\e905";
}

/* line 44, ../../../demo/compass/sass/_iconfont.scss */
.icon_check:before {
    content: "\e906";
}

/* line 47, ../../../demo/compass/sass/_iconfont.scss */
.icon_close:before {
    content: "\e904";
}

/* line 50, ../../../demo/compass/sass/_iconfont.scss */
.icon_search:before {
    content: "\e903";
}

/* line 53, ../../../demo/compass/sass/_iconfont.scss */
.icon_plus:before {
    content: "\e901";
}

/* line 58, ../../../demo/compass/sass/_iconfont.scss */
.icon_succ {
    color: #4fba65;
}

/* line 61, ../../../demo/compass/sass/_iconfont.scss */
.icon_err {
    color: #e06464;
}

/* line 64, ../../../demo/compass/sass/_iconfont.scss */
.icon_warn {
    color: #fbaf37;
}

/* line 67, ../../../demo/compass/sass/_iconfont.scss */
.icon_info {
    color: #b5c2d1;
}

/*# sourceMappingURL=style.css.map */
