<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="offsetAsPageNum" value="true"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mybatis/DetectorConfigDOMapper.xml"/>
        <mapper resource="mybatis/InstanceDOMapper.xml"/>
        <mapper resource="mybatis/SceneConfigDOMapper.xml"/>
        <mapper resource="mybatis/TaskDOMapper.xml"/>
    </mappers>
</configuration>
