package com.qlangtech.tis.realtime.transfer.${config.collection}

import java.util
import org.apache.flink.streaming.api.functions.sink.{PrintSinkFunction, SinkFunction}
import com.qlangtech.tis.realtime.{TableRegisterFlinkSourceHandle , TISTableEnvironment}
import org.apache.flink.table.api.bridge.java.StreamTableEnvironment
import com.qlangtech.tis.extension.TISExtension

@TISExtension()
class ${config.javaName}SourceHandle extends TableRegisterFlinkSourceHandle {
    override protected def executeSql(tabEnv: TISTableEnvironment): Unit = {

#foreach($i in $config.dumpTables  )
    #set($cols=${config.getCols($i)})
      tabEnv.insert(
         """INSERT INTO ${i.to} (#foreach( $col in ${cols})$col.name#if($foreach.hasNext),#end#end)
            SELECT #foreach( $col in ${cols})$col.name#if($foreach.hasNext),#end#end FROM $config.getSourceTable($i)""")
#end
    }


   override protected def getSinkTypeName(): String ={
       "${config.sinkTypeName}"
   }

}
