##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<!-- main START -->
<div class="main">
    <div class="main-hd">
        分发查询
    </div>

    <!-- basic-wp START -->
    <div class="basic-wp">

        <!-- toolbar-wp START -->
        <div class="toolbar-wp">
            <ul class="toolbar-list fl">
                <li>
                    Topic名称：
                    <input class="m" name="" value="" type="text" id="topicNameInput">
                </li>
                <li>
                    消费组：
                    <input class="m" name="" value="" type="text" id="consumeGroupInput">
                </li>
                <li>
                    <a href="javascript:" class="btn btn-primary s" id="queryBtn">查询</a>
                </li>
            </ul>

        </div>
        <!-- toolbar-wp END -->

        <!-- table-wp START -->
        <div class="table-wp">
            <table id="list">
                <colgroup span="3">
                </colgroup>

                <thead>
                <tr>
                    <th>消费组</th>
                    <th>消费Topic</th>
                    <th>消费分区</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <!-- table-wp END -->
    </div>
    <!-- basic-wp END -->
</div>
<!-- main END -->

<!-- common js start -->
<script type="text/javascript" src="../../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/lib/DataTables/datatables.min.js"></script>

<script type="text/javascript" src="../../assets/scripts/common/helper.js"></script>
<script type="text/javascript" src="../../assets/scripts/common/module.js"></script>
<!-- common js end -->

<script type="text/javascript" src="../../assets/scripts/subscribe.js"></script>
