@import '../util.scss';

.dice-form-modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s;

  .mask {
    position: fixed;
    right: 0;
    left: 0;
    display: none;
    height: 100%;
    padding: 20px;
    background-color: $color-mask;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: $white;

    .title {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      font-weight: 500;
      font-size: 18px;
      border-bottom: 1px solid $color-border;

      .close {
        width: 18px;
        height: 18px;
        color: $color-text-sub;
        line-height: 16px;
        text-align: center;
        cursor: pointer;

        &:hover {
          color: $color-text;
        }
      }
    }

    .content {
      flex: 1;
      min-height: 200px;
      padding: 16px;
      overflow: auto;
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      padding: 16px;

      .footer-btn {
        margin-left: 12px;

        &.primary {
          color: $white;
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }

  &.open {
    width: 100%;

    .mask {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
