<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.ComponentHistoryDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO">
    <!--@mbg.generated-->
    <!--@Table am_component_history-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="component_type" jdbcType="VARCHAR" property="componentType" />
    <result column="component_adapter_type" jdbcType="VARCHAR" property="componentAdapterType" />
    <result column="revision" jdbcType="INTEGER" property="revision" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO">
    <!--@mbg.generated-->
    <!--@Table am_component_history-->
    <result column="component_adapter_value" jdbcType="LONGVARCHAR" property="componentAdapterValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, component_type, component_adapter_type, revision, modifier, gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    component_adapter_value
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDOExample" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_component_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_component_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_component_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from am_component_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDOExample">
    <!--@mbg.generated-->
    delete from am_component_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_component_history (component_type, component_adapter_type, 
      revision, modifier, gmt_create, 
      gmt_modified, component_adapter_value
      )
    values (#{componentType,jdbcType=VARCHAR}, #{componentAdapterType,jdbcType=VARCHAR}, 
      #{revision,jdbcType=INTEGER}, #{modifier,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{componentAdapterValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_component_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="componentType != null">
        component_type,
      </if>
      <if test="componentAdapterType != null">
        component_adapter_type,
      </if>
      <if test="revision != null">
        revision,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="componentAdapterValue != null">
        component_adapter_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="componentType != null">
        #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="componentAdapterType != null">
        #{componentAdapterType,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="componentAdapterValue != null">
        #{componentAdapterValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_component_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_component_history
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.componentType != null">
        component_type = #{record.componentType,jdbcType=VARCHAR},
      </if>
      <if test="record.componentAdapterType != null">
        component_adapter_type = #{record.componentAdapterType,jdbcType=VARCHAR},
      </if>
      <if test="record.revision != null">
        revision = #{record.revision,jdbcType=INTEGER},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.componentAdapterValue != null">
        component_adapter_value = #{record.componentAdapterValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--@mbg.generated-->
    update am_component_history
    set id = #{record.id,jdbcType=BIGINT},
      component_type = #{record.componentType,jdbcType=VARCHAR},
      component_adapter_type = #{record.componentAdapterType,jdbcType=VARCHAR},
      revision = #{record.revision,jdbcType=INTEGER},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      component_adapter_value = #{record.componentAdapterValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_component_history
    set id = #{record.id,jdbcType=BIGINT},
      component_type = #{record.componentType,jdbcType=VARCHAR},
      component_adapter_type = #{record.componentAdapterType,jdbcType=VARCHAR},
      revision = #{record.revision,jdbcType=INTEGER},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO">
    <!--@mbg.generated-->
    update am_component_history
    <set>
      <if test="componentType != null">
        component_type = #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="componentAdapterType != null">
        component_adapter_type = #{componentAdapterType,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        revision = #{revision,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="componentAdapterValue != null">
        component_adapter_value = #{componentAdapterValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO">
    <!--@mbg.generated-->
    update am_component_history
    set component_type = #{componentType,jdbcType=VARCHAR},
      component_adapter_type = #{componentAdapterType,jdbcType=VARCHAR},
      revision = #{revision,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      component_adapter_value = #{componentAdapterValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.ComponentHistoryDO">
    <!--@mbg.generated-->
    update am_component_history
    set component_type = #{componentType,jdbcType=VARCHAR},
      component_adapter_type = #{componentAdapterType,jdbcType=VARCHAR},
      revision = #{revision,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>