<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.CustomAddonInstanceDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="addon_instance_id" jdbcType="VARCHAR" property="addonInstanceId" />
    <result column="namespace_id" jdbcType="VARCHAR" property="namespaceId" />
    <result column="addon_id" jdbcType="VARCHAR" property="addonId" />
    <result column="addon_name" jdbcType="VARCHAR" property="addonName" />
    <result column="addon_version" jdbcType="VARCHAR" property="addonVersion" />
    <result column="addon_attrs" jdbcType="CHAR" property="addonAttrs" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    <result column="addon_ext" jdbcType="LONGVARCHAR" property="addonExt" />
    <result column="data_output" jdbcType="LONGVARCHAR" property="dataOutput" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, addon_instance_id, namespace_id, addon_id, addon_name, 
    addon_version, addon_attrs
  </sql>
  <sql id="Blob_Column_List">
    addon_ext, data_output
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDOExample" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_custom_addon_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from am_custom_addon_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_custom_addon_instance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from am_custom_addon_instance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDOExample">
    delete from am_custom_addon_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into am_custom_addon_instance (gmt_create, gmt_modified, addon_instance_id, 
      namespace_id, addon_id, addon_name, 
      addon_version, addon_attrs, addon_ext, 
      data_output)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{addonInstanceId,jdbcType=VARCHAR}, 
      #{namespaceId,jdbcType=VARCHAR}, #{addonId,jdbcType=VARCHAR}, #{addonName,jdbcType=VARCHAR}, 
      #{addonVersion,jdbcType=VARCHAR}, #{addonAttrs,jdbcType=CHAR}, #{addonExt,jdbcType=LONGVARCHAR}, 
      #{dataOutput,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into am_custom_addon_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="addonInstanceId != null">
        addon_instance_id,
      </if>
      <if test="namespaceId != null">
        namespace_id,
      </if>
      <if test="addonId != null">
        addon_id,
      </if>
      <if test="addonName != null">
        addon_name,
      </if>
      <if test="addonVersion != null">
        addon_version,
      </if>
      <if test="addonAttrs != null">
        addon_attrs,
      </if>
      <if test="addonExt != null">
        addon_ext,
      </if>
      <if test="dataOutput != null">
        data_output,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="addonInstanceId != null">
        #{addonInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="namespaceId != null">
        #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="addonId != null">
        #{addonId,jdbcType=VARCHAR},
      </if>
      <if test="addonName != null">
        #{addonName,jdbcType=VARCHAR},
      </if>
      <if test="addonVersion != null">
        #{addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="addonAttrs != null">
        #{addonAttrs,jdbcType=CHAR},
      </if>
      <if test="addonExt != null">
        #{addonExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="dataOutput != null">
        #{dataOutput,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDOExample" resultType="java.lang.Long">
    select count(*) from am_custom_addon_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update am_custom_addon_instance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addonInstanceId != null">
        addon_instance_id = #{record.addonInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceId != null">
        namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.addonId != null">
        addon_id = #{record.addonId,jdbcType=VARCHAR},
      </if>
      <if test="record.addonName != null">
        addon_name = #{record.addonName,jdbcType=VARCHAR},
      </if>
      <if test="record.addonVersion != null">
        addon_version = #{record.addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.addonAttrs != null">
        addon_attrs = #{record.addonAttrs,jdbcType=CHAR},
      </if>
      <if test="record.addonExt != null">
        addon_ext = #{record.addonExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.dataOutput != null">
        data_output = #{record.dataOutput,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update am_custom_addon_instance
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      addon_instance_id = #{record.addonInstanceId,jdbcType=VARCHAR},
      namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      addon_id = #{record.addonId,jdbcType=VARCHAR},
      addon_name = #{record.addonName,jdbcType=VARCHAR},
      addon_version = #{record.addonVersion,jdbcType=VARCHAR},
      addon_attrs = #{record.addonAttrs,jdbcType=CHAR},
      addon_ext = #{record.addonExt,jdbcType=LONGVARCHAR},
      data_output = #{record.dataOutput,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update am_custom_addon_instance
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      addon_instance_id = #{record.addonInstanceId,jdbcType=VARCHAR},
      namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      addon_id = #{record.addonId,jdbcType=VARCHAR},
      addon_name = #{record.addonName,jdbcType=VARCHAR},
      addon_version = #{record.addonVersion,jdbcType=VARCHAR},
      addon_attrs = #{record.addonAttrs,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    update am_custom_addon_instance
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="addonInstanceId != null">
        addon_instance_id = #{addonInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="namespaceId != null">
        namespace_id = #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="addonId != null">
        addon_id = #{addonId,jdbcType=VARCHAR},
      </if>
      <if test="addonName != null">
        addon_name = #{addonName,jdbcType=VARCHAR},
      </if>
      <if test="addonVersion != null">
        addon_version = #{addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="addonAttrs != null">
        addon_attrs = #{addonAttrs,jdbcType=CHAR},
      </if>
      <if test="addonExt != null">
        addon_ext = #{addonExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="dataOutput != null">
        data_output = #{dataOutput,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    update am_custom_addon_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      addon_instance_id = #{addonInstanceId,jdbcType=VARCHAR},
      namespace_id = #{namespaceId,jdbcType=VARCHAR},
      addon_id = #{addonId,jdbcType=VARCHAR},
      addon_name = #{addonName,jdbcType=VARCHAR},
      addon_version = #{addonVersion,jdbcType=VARCHAR},
      addon_attrs = #{addonAttrs,jdbcType=CHAR},
      addon_ext = #{addonExt,jdbcType=LONGVARCHAR},
      data_output = #{dataOutput,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO">
    update am_custom_addon_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      addon_instance_id = #{addonInstanceId,jdbcType=VARCHAR},
      namespace_id = #{namespaceId,jdbcType=VARCHAR},
      addon_id = #{addonId,jdbcType=VARCHAR},
      addon_name = #{addonName,jdbcType=VARCHAR},
      addon_version = #{addonVersion,jdbcType=VARCHAR},
      addon_attrs = #{addonAttrs,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDOExample" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_custom_addon_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from am_custom_addon_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.CustomAddonInstanceDO" useGeneratedKeys="true">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into am_custom_addon_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="addonInstanceId != null">
        addon_instance_id,
      </if>
      <if test="namespaceId != null">
        namespace_id,
      </if>
      <if test="addonId != null">
        addon_id,
      </if>
      <if test="addonName != null">
        addon_name,
      </if>
      <if test="addonVersion != null">
        addon_version,
      </if>
      <if test="addonAttrs != null">
        addon_attrs,
      </if>
      <if test="addonExt != null">
        addon_ext,
      </if>
      <if test="dataOutput != null">
        data_output,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="addonInstanceId != null">
        #{addonInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="namespaceId != null">
        #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="addonId != null">
        #{addonId,jdbcType=VARCHAR},
      </if>
      <if test="addonName != null">
        #{addonName,jdbcType=VARCHAR},
      </if>
      <if test="addonVersion != null">
        #{addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="addonAttrs != null">
        #{addonAttrs,jdbcType=OTHER},
      </if>
      <if test="addonExt != null">
        #{addonExt,jdbcType=VARCHAR},
      </if>
      <if test="dataOutput != null">
        #{dataOutput,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="addonInstanceId != null">
        addon_instance_id = #{addonInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="namespaceId != null">
        namespace_id = #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="addonId != null">
        addon_id = #{addonId,jdbcType=VARCHAR},
      </if>
      <if test="addonName != null">
        addon_name = #{addonName,jdbcType=VARCHAR},
      </if>
      <if test="addonVersion != null">
        addon_version = #{addonVersion,jdbcType=VARCHAR},
      </if>
      <if test="addonAttrs != null">
        addon_attrs = #{addonAttrs,jdbcType=OTHER},
      </if>
      <if test="addonExt != null">
        addon_ext = #{addonExt,jdbcType=VARCHAR},
      </if>
      <if test="dataOutput != null">
        data_output = #{dataOutput,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>