<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.NamespaceMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.NamespaceDO">
    <!--@mbg.generated-->
    <!--@Table am_namespace-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="namespace_id" jdbcType="VARCHAR" property="namespaceId" />
    <result column="namespace_name" jdbcType="VARCHAR" property="namespaceName" />
    <result column="namespace_creator" jdbcType="VARCHAR" property="namespaceCreator" />
    <result column="namespace_modifier" jdbcType="VARCHAR" property="namespaceModifier" />
    <result column="namespace_ext" jdbcType="LONGVARCHAR" property="namespaceExt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, namespace_id, namespace_name, namespace_creator, namespace_modifier, 
    namespace_ext
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.NamespaceDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_namespace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.NamespaceDOExample">
    <!--@mbg.generated-->
    delete from am_namespace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.NamespaceDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_namespace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="namespaceId != null and namespaceId != ''">
        namespace_id,
      </if>
      <if test="namespaceName != null and namespaceName != ''">
        namespace_name,
      </if>
      <if test="namespaceCreator != null and namespaceCreator != ''">
        namespace_creator,
      </if>
      <if test="namespaceModifier != null and namespaceModifier != ''">
        namespace_modifier,
      </if>
      <if test="namespaceExt != null and namespaceExt != ''">
        namespace_ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="namespaceId != null and namespaceId != ''">
        #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="namespaceName != null and namespaceName != ''">
        #{namespaceName,jdbcType=VARCHAR},
      </if>
      <if test="namespaceCreator != null and namespaceCreator != ''">
        #{namespaceCreator,jdbcType=VARCHAR},
      </if>
      <if test="namespaceModifier != null and namespaceModifier != ''">
        #{namespaceModifier,jdbcType=VARCHAR},
      </if>
      <if test="namespaceExt != null and namespaceExt != ''">
        #{namespaceExt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.NamespaceDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_namespace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_namespace
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.namespaceId != null">
        namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceName != null">
        namespace_name = #{record.namespaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceCreator != null">
        namespace_creator = #{record.namespaceCreator,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceModifier != null">
        namespace_modifier = #{record.namespaceModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.namespaceExt != null">
        namespace_ext = #{record.namespaceExt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_namespace
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      namespace_name = #{record.namespaceName,jdbcType=VARCHAR},
      namespace_creator = #{record.namespaceCreator,jdbcType=VARCHAR},
      namespace_modifier = #{record.namespaceModifier,jdbcType=VARCHAR},
      namespace_ext = #{record.namespaceExt,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectByExampleWithRowBounds" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.NamespaceDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_namespace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
</mapper>