<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.RtAppInstanceDOMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.RtAppInstanceDO">
        <!--@mbg.generated-->
        <!--@Table am_rt_app_instance-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="app_instance_id" jdbcType="VARCHAR" property="appInstanceId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="cluster_id" jdbcType="VARCHAR" property="clusterId"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="lock_version" jdbcType="INTEGER" property="lockVersion"/>
        <result column="visit" jdbcType="BOOLEAN" property="visit"/>
        <result column="upgrade" jdbcType="BOOLEAN" property="upgrade"/>
        <result column="latest_version" jdbcType="VARCHAR" property="latestVersion"/>
        <result column="namespace_id" jdbcType="VARCHAR" property="namespaceId"/>
        <result column="stage_id" jdbcType="VARCHAR" property="stageId"/>
        <result column="app_instance_name" jdbcType="VARCHAR" property="appInstanceName"/>
        <result column="owner_reference" jdbcType="LONGVARCHAR" property="ownerReference"/>
        <result column="parent_owner_reference" jdbcType="LONGVARCHAR" property="parentOwnerReference"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Single_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, gmt_create, gmt_modified, app_instance_id, app_id, cluster_id, version, `status`,
        lock_version, visit, upgrade, latest_version, namespace_id, stage_id, app_instance_name,
        owner_reference, parent_owner_reference
    </sql>
    <sql id="Join_Column_List">
        A.id,
        A.gmt_create,
        A.gmt_modified,
        A.app_instance_id,
        A.app_id,
        A.cluster_id,
        A.version,
        A.`status`,
        A.lock_version,
        A.visit,
        A.upgrade,
        A.latest_version,
        A.namespace_id,
        A.stage_id,
        A.app_instance_name,
        A.owner_reference,
        A.parent_owner_reference
    </sql>
    <select id="selectByExample"
            parameterType="com.alibaba.tesla.appmanager.server.repository.domain.RtAppInstanceDOExample"
            resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from am_rt_app_instance
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        order by id desc
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from am_rt_app_instance
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from am_rt_app_instance
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample"
            parameterType="com.alibaba.tesla.appmanager.server.repository.domain.RtAppInstanceDOExample">
        <!--@mbg.generated-->
        delete
        from am_rt_app_instance
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.alibaba.tesla.appmanager.server.repository.domain.RtAppInstanceDO"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into am_rt_app_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="appInstanceId != null">
                app_instance_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="clusterId != null">
                cluster_id,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="lockVersion != null">
                lock_version,
            </if>
            <if test="visit != null">
                visit,
            </if>
            <if test="upgrade != null">
                upgrade,
            </if>
            <if test="latestVersion != null">
                latest_version,
            </if>
            <if test="namespaceId != null">
                namespace_id,
            </if>
            <if test="stageId != null">
                stage_id,
            </if>
            <if test="appInstanceName != null">
                app_instance_name,
            </if>
            <if test="ownerReference != null">
                owner_reference,
            </if>
            <if test="parentOwnerReference != null">
                parent_owner_reference,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="appInstanceId != null">
                #{appInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="clusterId != null">
                #{clusterId,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="lockVersion != null">
                #{lockVersion,jdbcType=INTEGER},
            </if>
            <if test="visit != null">
                #{visit,jdbcType=BOOLEAN},
            </if>
            <if test="upgrade != null">
                #{upgrade,jdbcType=BOOLEAN},
            </if>
            <if test="latestVersion != null">
                #{latestVersion,jdbcType=VARCHAR},
            </if>
            <if test="namespaceId != null">
                #{namespaceId,jdbcType=VARCHAR},
            </if>
            <if test="stageId != null">
                #{stageId,jdbcType=VARCHAR},
            </if>
            <if test="appInstanceName != null">
                #{appInstanceName,jdbcType=VARCHAR},
            </if>
            <if test="ownerReference != null">
                #{ownerReference,jdbcType=LONGVARCHAR},
            </if>
            <if test="parentOwnerReference != null">
                #{parentOwnerReference,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample"
            parameterType="com.alibaba.tesla.appmanager.server.repository.domain.RtAppInstanceDOExample"
            resultType="java.lang.Long">
        <!--@mbg.generated-->
        select count(*)
        from am_rt_app_instance
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update am_rt_app_instance
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.gmtCreate != null">
                gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.gmtModified != null">
                gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="record.appInstanceId != null">
                app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="record.appId != null">
                app_id = #{record.appId,jdbcType=VARCHAR},
            </if>
            <if test="record.clusterId != null">
                cluster_id = #{record.clusterId,jdbcType=VARCHAR},
            </if>
            <if test="record.version != null">
                version = #{record.version,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.visit != null">
                visit = #{record.visit,jdbcType=BOOLEAN},
            </if>
            <if test="record.upgrade != null">
                upgrade = #{record.upgrade,jdbcType=BOOLEAN},
            </if>
            <if test="record.latestVersion != null">
                latest_version = #{record.latestVersion,jdbcType=VARCHAR},
            </if>
            <if test="record.namespaceId != null">
                namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
            </if>
            <if test="record.stageId != null">
                stage_id = #{record.stageId,jdbcType=VARCHAR},
            </if>
            <if test="record.appInstanceName != null">
                app_instance_name = #{record.appInstanceName,jdbcType=VARCHAR},
            </if>
            <if test="record.ownerReference != null">
                owner_reference = #{record.ownerReference,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.parentOwnerReference != null">
                parent_owner_reference = #{record.parentOwnerReference,jdbcType=LONGVARCHAR},
            </if>
            lock_version = lock_version + 1,
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <select id="selectByExampleAndOption" resultMap="BaseResultMap">
        select
        <if test="example.distinct">
            distinct
        </if>
        <include refid="Join_Column_List"/>
        from am_rt_app_instance A
                     inner join am_app_option B
                on A.app_id = B.app_id and B.key = #{key} and B.value = #{value}
        <if test="_parameter != null">
            <include refid="Single_Example_Where_Clause"/>
        </if>
        order by id desc
    </select>
</mapper>