@import '~@/common/style/variables.scss';

 li.v-ellipsis {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   height: 24px;
   line-height: 24px;
 
   &::before{
     margin-right: 5px;
   }
 }
 
 .v-hivedb-list {
   position: relative;
   height: inherit;
   overflow-y: hidden;
   color: $text-origin-color;
   font-size: $font-size-small;
   cursor: pointer;
   padding-left: 12px;
   &:hover {
     overflow-y: auto;
   }
   span {
     display: inline-block;
     vertical-align: top;
     line-height: 24px;
   }
   .node-name {
     width: 80%;
     overflow: hidden;
     text-overflow: ellipsis;
   }
   .active-node {
     color: $primary-color;  
   }
   .v-hivetable-type {
     color: $yellow-color;
   }
   .v-hivetable-text {
     margin-left: 2px;
   }
   .icon-transform {
     transform: rotate(45deg);
   }
 }
 