[Unit]
Description=Tesla Server - nacos

[Service]
User=admin
RemainAfterExit=no
Restart=always
RestartSec=1s
StartLimitInterval=0
ExecStart=/opt/taobao/java/bin/java -jar /home/admin/tesla/middleware/nacos/bin/tesla-nacos.jar --spring.config.location=/home/admin/tesla/server/nacos/resources/ --spring.profiles.active=private
KillMode=control-group

[Install]
WantedBy=multi-user.target
