# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf"
# 1. "/etc/mysql/mariadb.cnf" to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" (this file) to set user-specific options.
#

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

# Import all .cnf files from configuration directory
[mariadbd]
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character_set_server = utf8
# transaction-isolation = REPEATABLE-READ
# transaction-isolation = READ-COMMITTED
