<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.sreworks.health.domain.IncidentInstanceMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.sreworks.health.domain.IncidentInstance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="def_id" jdbcType="INTEGER" property="defId" />
    <result column="app_instance_id" jdbcType="VARCHAR" property="appInstanceId" />
    <result column="app_component_instance_id" jdbcType="VARCHAR" property="appComponentInstanceId" />
    <result column="gmt_occur" jdbcType="TIMESTAMP" property="gmtOccur" />
    <result column="gmt_last_occur" jdbcType="TIMESTAMP" property="gmtLastOccur" />
    <result column="occur_times" jdbcType="INTEGER" property="occurTimes" />
    <result column="gmt_recovery" jdbcType="TIMESTAMP" property="gmtRecovery" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
    <result column="span_id" jdbcType="VARCHAR" property="spanId" />
    <result column="gmt_self_healing_start" jdbcType="TIMESTAMP" property="gmtSelfHealingStart" />
    <result column="gmt_self_healing_end" jdbcType="TIMESTAMP" property="gmtSelfHealingEnd" />
    <result column="self_healing_status" jdbcType="VARCHAR" property="selfHealingStatus" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.sreworks.health.domain.IncidentInstance">
    <result column="cause" jdbcType="LONGVARCHAR" property="cause" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, def_id, app_instance_id, app_component_instance_id, 
    gmt_occur, gmt_last_occur, occur_times, gmt_recovery, source, trace_id, span_id, 
    gmt_self_healing_start, gmt_self_healing_end, self_healing_status, options, description
  </sql>
  <sql id="Blob_Column_List">
    cause
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.sreworks.health.domain.IncidentInstanceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from incident_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.alibaba.sreworks.health.domain.IncidentInstanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from incident_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from incident_instance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from incident_instance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.sreworks.health.domain.IncidentInstanceExample">
    delete from incident_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.sreworks.health.domain.IncidentInstance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into incident_instance (gmt_create, gmt_modified, def_id, 
      app_instance_id, app_component_instance_id, 
      gmt_occur, gmt_last_occur, occur_times, 
      gmt_recovery, source, trace_id, 
      span_id, gmt_self_healing_start, gmt_self_healing_end, 
      self_healing_status, options, description, 
      cause)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{defId,jdbcType=INTEGER}, 
      #{appInstanceId,jdbcType=VARCHAR}, #{appComponentInstanceId,jdbcType=VARCHAR}, 
      #{gmtOccur,jdbcType=TIMESTAMP}, #{gmtLastOccur,jdbcType=TIMESTAMP}, #{occurTimes,jdbcType=INTEGER}, 
      #{gmtRecovery,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR}, #{traceId,jdbcType=VARCHAR}, 
      #{spanId,jdbcType=VARCHAR}, #{gmtSelfHealingStart,jdbcType=TIMESTAMP}, #{gmtSelfHealingEnd,jdbcType=TIMESTAMP}, 
      #{selfHealingStatus,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{cause,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.sreworks.health.domain.IncidentInstance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into incident_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="defId != null">
        def_id,
      </if>
      <if test="appInstanceId != null">
        app_instance_id,
      </if>
      <if test="appComponentInstanceId != null">
        app_component_instance_id,
      </if>
      <if test="gmtOccur != null">
        gmt_occur,
      </if>
      <if test="gmtLastOccur != null">
        gmt_last_occur,
      </if>
      <if test="occurTimes != null">
        occur_times,
      </if>
      <if test="gmtRecovery != null">
        gmt_recovery,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="traceId != null">
        trace_id,
      </if>
      <if test="spanId != null">
        span_id,
      </if>
      <if test="gmtSelfHealingStart != null">
        gmt_self_healing_start,
      </if>
      <if test="gmtSelfHealingEnd != null">
        gmt_self_healing_end,
      </if>
      <if test="selfHealingStatus != null">
        self_healing_status,
      </if>
      <if test="options != null">
        options,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="cause != null">
        cause,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="defId != null">
        #{defId,jdbcType=INTEGER},
      </if>
      <if test="appInstanceId != null">
        #{appInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="appComponentInstanceId != null">
        #{appComponentInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="gmtOccur != null">
        #{gmtOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtLastOccur != null">
        #{gmtLastOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="occurTimes != null">
        #{occurTimes,jdbcType=INTEGER},
      </if>
      <if test="gmtRecovery != null">
        #{gmtRecovery,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="traceId != null">
        #{traceId,jdbcType=VARCHAR},
      </if>
      <if test="spanId != null">
        #{spanId,jdbcType=VARCHAR},
      </if>
      <if test="gmtSelfHealingStart != null">
        #{gmtSelfHealingStart,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtSelfHealingEnd != null">
        #{gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="selfHealingStatus != null">
        #{selfHealingStatus,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cause != null">
        #{cause,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.sreworks.health.domain.IncidentInstanceExample" resultType="java.lang.Long">
    select count(*) from incident_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update incident_instance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.defId != null">
        def_id = #{record.defId,jdbcType=INTEGER},
      </if>
      <if test="record.appInstanceId != null">
        app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.appComponentInstanceId != null">
        app_component_instance_id = #{record.appComponentInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtOccur != null">
        gmt_occur = #{record.gmtOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtLastOccur != null">
        gmt_last_occur = #{record.gmtLastOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="record.occurTimes != null">
        occur_times = #{record.occurTimes,jdbcType=INTEGER},
      </if>
      <if test="record.gmtRecovery != null">
        gmt_recovery = #{record.gmtRecovery,jdbcType=TIMESTAMP},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.traceId != null">
        trace_id = #{record.traceId,jdbcType=VARCHAR},
      </if>
      <if test="record.spanId != null">
        span_id = #{record.spanId,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtSelfHealingStart != null">
        gmt_self_healing_start = #{record.gmtSelfHealingStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtSelfHealingEnd != null">
        gmt_self_healing_end = #{record.gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.selfHealingStatus != null">
        self_healing_status = #{record.selfHealingStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null">
        options = #{record.options,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.cause != null">
        cause = #{record.cause,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update incident_instance
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      def_id = #{record.defId,jdbcType=INTEGER},
      app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{record.appComponentInstanceId,jdbcType=VARCHAR},
      gmt_occur = #{record.gmtOccur,jdbcType=TIMESTAMP},
      gmt_last_occur = #{record.gmtLastOccur,jdbcType=TIMESTAMP},
      occur_times = #{record.occurTimes,jdbcType=INTEGER},
      gmt_recovery = #{record.gmtRecovery,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=VARCHAR},
      trace_id = #{record.traceId,jdbcType=VARCHAR},
      span_id = #{record.spanId,jdbcType=VARCHAR},
      gmt_self_healing_start = #{record.gmtSelfHealingStart,jdbcType=TIMESTAMP},
      gmt_self_healing_end = #{record.gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      self_healing_status = #{record.selfHealingStatus,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      cause = #{record.cause,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update incident_instance
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      def_id = #{record.defId,jdbcType=INTEGER},
      app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{record.appComponentInstanceId,jdbcType=VARCHAR},
      gmt_occur = #{record.gmtOccur,jdbcType=TIMESTAMP},
      gmt_last_occur = #{record.gmtLastOccur,jdbcType=TIMESTAMP},
      occur_times = #{record.occurTimes,jdbcType=INTEGER},
      gmt_recovery = #{record.gmtRecovery,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=VARCHAR},
      trace_id = #{record.traceId,jdbcType=VARCHAR},
      span_id = #{record.spanId,jdbcType=VARCHAR},
      gmt_self_healing_start = #{record.gmtSelfHealingStart,jdbcType=TIMESTAMP},
      gmt_self_healing_end = #{record.gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      self_healing_status = #{record.selfHealingStatus,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.sreworks.health.domain.IncidentInstance">
    update incident_instance
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="defId != null">
        def_id = #{defId,jdbcType=INTEGER},
      </if>
      <if test="appInstanceId != null">
        app_instance_id = #{appInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="appComponentInstanceId != null">
        app_component_instance_id = #{appComponentInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="gmtOccur != null">
        gmt_occur = #{gmtOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtLastOccur != null">
        gmt_last_occur = #{gmtLastOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="occurTimes != null">
        occur_times = #{occurTimes,jdbcType=INTEGER},
      </if>
      <if test="gmtRecovery != null">
        gmt_recovery = #{gmtRecovery,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="traceId != null">
        trace_id = #{traceId,jdbcType=VARCHAR},
      </if>
      <if test="spanId != null">
        span_id = #{spanId,jdbcType=VARCHAR},
      </if>
      <if test="gmtSelfHealingStart != null">
        gmt_self_healing_start = #{gmtSelfHealingStart,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtSelfHealingEnd != null">
        gmt_self_healing_end = #{gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="selfHealingStatus != null">
        self_healing_status = #{selfHealingStatus,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        options = #{options,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="cause != null">
        cause = #{cause,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.sreworks.health.domain.IncidentInstance">
    update incident_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      def_id = #{defId,jdbcType=INTEGER},
      app_instance_id = #{appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{appComponentInstanceId,jdbcType=VARCHAR},
      gmt_occur = #{gmtOccur,jdbcType=TIMESTAMP},
      gmt_last_occur = #{gmtLastOccur,jdbcType=TIMESTAMP},
      occur_times = #{occurTimes,jdbcType=INTEGER},
      gmt_recovery = #{gmtRecovery,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR},
      trace_id = #{traceId,jdbcType=VARCHAR},
      span_id = #{spanId,jdbcType=VARCHAR},
      gmt_self_healing_start = #{gmtSelfHealingStart,jdbcType=TIMESTAMP},
      gmt_self_healing_end = #{gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      self_healing_status = #{selfHealingStatus,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      cause = #{cause,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.sreworks.health.domain.IncidentInstance">
    update incident_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      def_id = #{defId,jdbcType=INTEGER},
      app_instance_id = #{appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{appComponentInstanceId,jdbcType=VARCHAR},
      gmt_occur = #{gmtOccur,jdbcType=TIMESTAMP},
      gmt_last_occur = #{gmtLastOccur,jdbcType=TIMESTAMP},
      occur_times = #{occurTimes,jdbcType=INTEGER},
      gmt_recovery = #{gmtRecovery,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR},
      trace_id = #{traceId,jdbcType=VARCHAR},
      span_id = #{spanId,jdbcType=VARCHAR},
      gmt_self_healing_start = #{gmtSelfHealingStart,jdbcType=TIMESTAMP},
      gmt_self_healing_end = #{gmtSelfHealingEnd,jdbcType=TIMESTAMP},
      self_healing_status = #{selfHealingStatus,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.sreworks.health.domain.IncidentInstanceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from incident_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.sreworks.health.domain.IncidentInstanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from incident_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countGroupByTime" parameterType="java.util.Map" resultType="com.alibaba.fastjson.JSONObject">
    select
      DATE_FORMAT(gmt_last_occur, #{dateFormat,jdbcType=VARCHAR}) aggTime, count(1) as cnt
    from
      incident_instance
    where
    <if test="_parameter.appInstanceId != null">
      app_instance_id = #{appInstanceId,jdbcType=VARCHAR} and
    </if>
      gmt_last_occur >= #{startTimestamp,jdbcType=TIMESTAMP} and gmt_last_occur &lt;= #{endTimestamp,jdbcType=TIMESTAMP}
    group by
      aggTime
  </select>
</mapper>