# Editor configuration, see https://editorconfig.org
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = double

[*.yml]
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
