pip-tools~=6.5
pytest~=7.0
python-dotenv~=1.0
tox~=3.24
tox-docker~=4.1
pytest-html~=3.1
pytest-cov~=3.0
faker~=13.3
tbump~=6.7
black==22.6.0
typing_extensions>=4.3.0,<5
urllib3~=1.26
pygments~=2.11
readme-renderer~=32.0
certifi>=2022.12.07
wheel>=0.38.1
