./soda/core
./soda/postgres
./soda/bigquery
./soda/snowflake
./soda/redshift
./soda/athena
./soda/db2
./soda/spark[hive]
./soda/spark[odbc]
./soda/spark[databricks]
./soda/spark_df
./soda/scientific
./soda/sqlserver
./soda/mysql
./soda/dask
./soda/oracle
./soda/trino
./soda/dremio
./soda/duckdb
./soda/denodo
./soda/vertica
./soda/teradata
