<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-02-04 20:34:57 +0000</string>
	<key>Creator</key>
	<string>Ted Dunning</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{179.5, 286}, {311.5, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.424977</string>
					<key>g</key>
					<string>0.21538</string>
					<key>r</key>
					<string>0.0409678</string>
				</dict>
				<key>Font</key>
				<string>BlairMdITCTT-Medium</string>
				<key>Size</key>
				<real>61</real>
			</dict>
			<key>ID</key>
			<integer>12</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwVEUklMTIaEAmlJAQWShISEDE5TRGljdGlv
				bmFyeQCUhAFpBJKElpYOTlNPcmlnaW5hbEZvbnSGkoSE
				hAZOU0ZvbnQelJkwhAVbNDhjXQYAAAAoAAAA//5CAGwA
				YQBpAHIATQBkAEkAVABDAFQAVAAtAE0AZQBkAGkAdQBt
				AIQBZjeEAWMAnQGdAJ0AhpKElpYQTlNQYXJhZ3JhcGhT
				dHlsZYaShISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NA
				UwIAhISEB05TQXJyYXkAlJkMkoSEhAlOU1RleHRUYWIA
				lIQCQ2YAHIaShKKiADiGkoSiogBUhpKEoqIAcIaShKKi
				AIGMAIaShKKiAIGoAIaShKKiAIHEAIaShKKiAIHgAIaS
				hKKiAIH8AIaShKKiAIEYAYaShKKiAIE0AYaShKKiAIFQ
				AYaGgQAIhARbMWZdg83MTD2GkoSWlgZOU0ZvbnSGkoSb
				mTCbBgAAACgAAAD//kIAbABhAGkAcgBNAGQASQBUAEMA
				VABUAC0ATQBlAGQAaQB1AG0AnD2dAJ0BnQCdAIaShJaW
				B05TQ29sb3KGkoSEhAdOU0NvbG9yAJSdAoQEZmZmZgCD
				lZSUPoP6+Pg+AYaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 BlairMdITCTT-Medium;}
{\colortbl;\red255\green255\blue255;\red10\green55\blue108;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs122 \cf2 DRILL}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{155.5, 252}, {311.5, 46}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.376062</string>
					<key>g</key>
					<string>0.367328</string>
					<key>r</key>
					<string>0.367509</string>
				</dict>
				<key>Font</key>
				<string>BlairMdITCTT-Medium</string>
				<key>Size</key>
				<real>38</real>
			</dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwZBUEFDSEWGhAJpSQEGkoSEhAxOU0RpY3Rp
				b25hcnkAlIQBaQSShJaWDk5TT3JpZ2luYWxGb250hpKE
				hIQGTlNGb250HpSZJIQFWzM2Y10GAAAAHAAAAP/+SABl
				AGwAdgBlAHQAaQBjAGEATgBlAHUAZQCEAWYghAFjAJ0B
				nQCdAIaShJaWEE5TUGFyYWdyYXBoU3R5bGWGkoSEhBdO
				U011dGFibGVQYXJhZ3JhcGhTdHlsZQCEhBBOU1BhcmFn
				cmFwaFN0eWxlAJSEBENDQFMCAIWBAAiEBFsxZl2DzcxM
				PYaShJaWBk5TRm9udIaShJuZMIQFWzQ4Y10GAAAAKAAA
				AP/+QgBsAGEAaQByAE0AZABJAFQAQwBUAFQALQBNAGUA
				ZABpAHUAbQCcJp0AnQGdAJ0AhpKElpYHTlNDb2xvcoaS
				hISEB05TQ29sb3IAlJ0ChARmZmZmg+Ti4j6D5OLiPoPo
				5uY+AYaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 BlairMdITCTT-Medium;}
{\colortbl;\red255\green255\blue255;\red94\green94\blue96;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs76 \cf2 APACHE}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{96.25, 245.25}, {91.5, 144}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.37704918032786883, -0.39236111111111116}</string>
					<string>{-0.37704918032786883, -0.39236111111111116}</string>
					<string>{-0.060109289617486183, -0.50000000000000022}</string>
					<string>{-0.060109289617486183, -0.50000000000000022}</string>
					<string>{-0.060109289617486183, -0.50000000000000022}</string>
					<string>{-0.35245901639344268, -0.28645833333333348}</string>
					<string>{-0.35245901639344268, -0.28645833333333348}</string>
					<string>{-0.35245901639344268, -0.28645833333333348}</string>
					<string>{-0.25409836065573765, -0.22048611111111116}</string>
					<string>{-0.25409836065573765, -0.22048611111111116}</string>
					<string>{-0.25409836065573765, -0.22048611111111116}</string>
					<string>{0.051912568306010876, -0.33506944444444464}</string>
					<string>{0.051912568306010876, -0.33506944444444464}</string>
					<string>{0.051912568306010876, -0.33506944444444464}</string>
					<string>{-0.22950819672131151, -0.1024305555555558}</string>
					<string>{-0.22950819672131151, -0.1024305555555558}</string>
					<string>{-0.22950819672131151, -0.1024305555555558}</string>
					<string>{-0.17759562841530041, -0.053819444444444642}</string>
					<string>{-0.17759562841530041, -0.053819444444444642}</string>
					<string>{-0.17759562841530041, -0.053819444444444642}</string>
					<string>{0.16666666666666674, -0.1649305555555558}</string>
					<string>{0.16666666666666674, -0.1649305555555558}</string>
					<string>{0.16666666666666674, -0.1649305555555558}</string>
					<string>{-0.11748633879781423, 0.071180555555555358}</string>
					<string>{-0.11748633879781423, 0.071180555555555358}</string>
					<string>{-0.11748633879781423, 0.071180555555555358}</string>
					<string>{-0.060109289617486183, 0.12673611111111072}</string>
					<string>{-0.060109289617486183, 0.12673611111111072}</string>
					<string>{-0.060109289617486183, 0.12673611111111072}</string>
					<string>{0.27868852459016402, 0.0034722222222218768}</string>
					<string>{0.27868852459016402, 0.0034722222222218768}</string>
					<string>{0.27868852459016402, 0.0034722222222218768}</string>
					<string>{-0.030054644808743092, 0.25520833333333304}</string>
					<string>{-0.030054644808743092, 0.25520833333333304}</string>
					<string>{-0.030054644808743092, 0.25520833333333304}</string>
					<string>{0.098360655737705027, 0.29513888888888884}</string>
					<string>{0.098360655737705027, 0.29513888888888884}</string>
					<string>{0.098360655737705027, 0.29513888888888884}</string>
					<string>{0.36612021857923494, 0.18055555555555536}</string>
					<string>{0.36612021857923494, 0.18055555555555536}</string>
					<string>{0.36612021857923494, 0.18055555555555536}</string>
					<string>{0.20765027322404372, 0.3975694444444442}</string>
					<string>{0.20765027322404372, 0.3975694444444442}</string>
					<string>{0.20765027322404372, 0.3975694444444442}</string>
					<string>{0.35792349726775963, 0.38715277777777768}</string>
					<string>{0.35792349726775963, 0.38715277777777768}</string>
					<string>{0.35792349726775963, 0.38715277777777768}</string>
					<string>{0.5, 0.31597222222222188}</string>
					<string>{0.5, 0.31597222222222188}</string>
					<string>{0.5, 0.31597222222222188}</string>
					<string>{0.36885245901639352, 0.47395833333333304}</string>
					<string>{0.36885245901639352, 0.47395833333333304}</string>
					<string>{0.36885245901639352, 0.47395833333333304}</string>
					<string>{0.005464480874316946, 0.5}</string>
					<string>{0.005464480874316946, 0.5}</string>
					<string>{0.005464480874316946, 0.5}</string>
					<string>{-0.5, -0.28472222222222232}</string>
					<string>{-0.5, -0.28472222222222232}</string>
					<string>{-0.5, -0.28472222222222232}</string>
					<string>{-0.37704918032786883, -0.39236111111111116}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{118.5, 231.25000000000009}, {78.500000000000114, 156.24999999999983}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.089171974522294528, -0.50000000000000044}</string>
					<string>{-0.089171974522294528, -0.50000000000000044}</string>
					<string>{0.23756344363219561, -0.14178110846319347}</string>
					<string>{0.34076433121018912, 0.0071999999999998732}</string>
					<string>{0.44396516971700573, 0.15618113207548512}</string>
					<string>{0.49999999999999956, 0.49999999999999978}</string>
					<string>{0.49999999999999956, 0.49999999999999978}</string>
					<string>{0.49999999999999956, 0.49999999999999978}</string>
					<string>{0.017697331290818408, 0.2167698113207599}</string>
					<string>{-0.12420382165605748, 0.045600000000000973}</string>
					<string>{-0.26610497460291826, -0.1255698113207715}</string>
					<string>{-0.50000000000000022, -0.40880000000000072}</string>
					<string>{-0.50000000000000022, -0.40880000000000072}</string>
					<string>{-0.50000000000000022, -0.40880000000000183}</string>
					<string>{-0.089171974522294528, -0.50000000000000044}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.160395</string>
						<key>g</key>
						<string>0.160395</string>
						<key>r</key>
						<string>0.160395</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>154</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.47637647390365601</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{122.00000000000021, 250.00000000000011}, {63.999999999999801, 113.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.43750000000000044, -0.44725274725274877}</string>
					<string>{-0.43750000000000044, -0.44725274725274877}</string>
					<string>{-0.50000000000000022, -0.30879120879120991}</string>
					<string>{-0.50000000000000022, -0.30879120879120991}</string>
					<string>{-0.50000000000000022, -0.30879120879120991}</string>
					<string>{-0.23046875000000089, -0.31318681318681429}</string>
					<string>{-0.23046875000000089, -0.31318681318681429}</string>
					<string>{-0.23046875000000089, -0.31318681318681429}</string>
					<string>{-0.32812500000000044, -0.089010989010988695}</string>
					<string>{-0.32812500000000044, -0.089010989010988695}</string>
					<string>{-0.32812500000000044, -0.089010989010988695}</string>
					<string>{-0.074218749999999556, -0.071428571428573395}</string>
					<string>{-0.074218749999999556, -0.071428571428573395}</string>
					<string>{-0.074218749999999556, -0.071428571428573395}</string>
					<string>{-0.167968750000004, 0.12857142857142589}</string>
					<string>{-0.167968750000004, 0.12857142857142589}</string>
					<string>{-0.167968750000004, 0.12857142857142589}</string>
					<string>{0.042968750000000444, 0.13516483516483602}</string>
					<string>{0.042968750000000444, 0.13516483516483602}</string>
					<string>{0.042968750000000444, 0.13516483516483602}</string>
					<string>{0.011718750000001776, 0.32197802197802083}</string>
					<string>{0.011718750000001776, 0.32197802197802083}</string>
					<string>{0.011718750000001776, 0.32197802197802083}</string>
					<string>{0.28906249999999689, 0.31318681318681207}</string>
					<string>{0.28906249999999689, 0.31318681318681207}</string>
					<string>{0.28906249999999689, 0.31318681318681207}</string>
					<string>{0.24218749999999911, 0.5}</string>
					<string>{0.24218749999999911, 0.5}</string>
					<string>{0.24218749999999911, 0.5}</string>
					<string>{0.49999999999999956, 0.49560439560439473}</string>
					<string>{0.49999999999999956, 0.49560439560439473}</string>
					<string>{0.49999999999999956, 0.49560439560439473}</string>
					<string>{0.30468749999999645, 0.212087912087914}</string>
					<string>{0.30468749999999645, 0.212087912087914}</string>
					<string>{0.30468749999999645, 0.212087912087914}</string>
					<string>{-0.17187500000000222, -0.5}</string>
					<string>{-0.17187500000000222, -0.5}</string>
					<string>{-0.17187500000000222, -0.49999999999999956}</string>
					<string>{-0.43750000000000044, -0.44725274725274877}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.448441</string>
						<key>g</key>
						<string>0.448441</string>
						<key>r</key>
						<string>0.448441</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>149</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.811563</string>
						<key>g</key>
						<string>0.811563</string>
						<key>r</key>
						<string>0.811563</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{142.50000000000014, 235.25000000000028}, {56.749999999999886, 144.24999999999977}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.37665198237885322, -0.5}</string>
					<string>{-0.37665198237885322, -0.5}</string>
					<string>{-0.15198237885462218, -0.5}</string>
					<string>{-0.15198237885462218, -0.5}</string>
					<string>{-0.15198237885462218, -0.5}</string>
					<string>{-0.30176211453744139, -0.3214904679376076}</string>
					<string>{-0.30176211453744139, -0.3214904679376076}</string>
					<string>{-0.30176211453744139, -0.3214904679376076}</string>
					<string>{0.028634361233480288, -0.32842287694974281}</string>
					<string>{0.028634361233480288, -0.32842287694974281}</string>
					<string>{0.028634361233480288, -0.32842287694974281}</string>
					<string>{-0.14317180616740055, -0.15337954939341447}</string>
					<string>{-0.14317180616740055, -0.15337954939341447}</string>
					<string>{-0.14317180616740055, -0.15337954939341447}</string>
					<string>{0.20044052863436379, -0.15684575389948407}</string>
					<string>{0.20044052863436379, -0.15684575389948407}</string>
					<string>{0.20044052863436379, -0.15684575389948407}</string>
					<string>{0.077092511013216125, 0.012998266897748856}</string>
					<string>{0.077092511013216125, 0.012998266897748856}</string>
					<string>{0.077092511013216125, 0.012998266897748856}</string>
					<string>{0.35462555066079782, 0.0077989601386518892}</string>
					<string>{0.35462555066079782, 0.0077989601386518892}</string>
					<string>{0.35462555066079782, 0.0077989601386518892}</string>
					<string>{0.20925110132158542, 0.2001733102253036}</string>
					<string>{0.20925110132158542, 0.2001733102253036}</string>
					<string>{0.20925110132158542, 0.2001733102253036}</string>
					<string>{0.45594713656387675, 0.19844020797227113}</string>
					<string>{0.45594713656387675, 0.19844020797227113}</string>
					<string>{0.45594713656387675, 0.19844020797227113}</string>
					<string>{0.34140969162995782, 0.41854419410745169}</string>
					<string>{0.34140969162995782, 0.41854419410745169}</string>
					<string>{0.34140969162995782, 0.41854419410745169}</string>
					<string>{0.50000000000000222, 0.42201039861352019}</string>
					<string>{0.5, 0.42201039861351841}</string>
					<string>{0.50000000000000222, 0.42201039861352019}</string>
					<string>{0.39427312775330048, 0.5}</string>
					<string>{0.39427312775330448, 0.5}</string>
					<string>{0.39427312775330048, 0.5}</string>
					<string>{-0.5, -0.39948006932408986}</string>
					<string>{-0.5, -0.39948006932408986}</string>
					<string>{-0.5, -0.39948006932408986}</string>
					<string>{-0.37665198237885322, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.344627</string>
						<key>g</key>
						<string>0.344627</string>
						<key>r</key>
						<string>0.344627</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>141</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.625279</string>
						<key>g</key>
						<string>0.625279</string>
						<key>r</key>
						<string>0.625279</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{90, 207}, {403, 204}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 4</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 2</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 3</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>NO</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-02-04 21:35:59 +0000</string>
	<key>Modifier</key>
	<string>Ted Dunning</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrinter</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAlOU1ByaW50ZXIAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBKxJCcm90aGVyIE1GQy04ODkwRFeGhg==</string>
		</array>
		<key>NSPrinterName</key>
		<array>
			<string>string</string>
			<string>Brother MFC-8890DW</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{102, 4}, {1178, 774}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{26.5, 168.5}, {521.5, 309.5}}</string>
		<key>Zoom</key>
		<real>2</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>2</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
