:root {
  --logo-width: 150px;
  --container-2xl: var(--pf-global--breakpoint--2xl);
}
.brandLogo {
  width: var(--logo-width);
}
.container {
  width: var(--container-2xl);
  margin: 0 auto;
}
.pf-c-page {
  &__header {
    display: flex;
    position: relative;
  }
}
.kafka-connect {
  &__cluster {
    @media screen and (max-width: 480px) {
      margin-left: -10px;
    }
    .pf-c-form {
      &__group {
        min-width: 250px;
        @media screen and (max-width: 480px) {
          min-width: 200px;
        }
      }
    }
  }
}
.pf-c-form__group-label {
  padding-bottom: 0;
}
