<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License. You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.InlongClusterNodeEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="ext_params" jdbcType="LONGVARCHAR" property="extParams"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, type, ip, port, ext_params, status, is_deleted,
        creator, modifier, create_time, modify_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        insert into inlong_cluster_node (id, parent_id, type,
                                         ip, port, ext_params,
                                         status, is_deleted, creator,
                                         modifier, create_time, modify_time)
        values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
                #{ip,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, #{extParams,jdbcType=LONGVARCHAR},
                #{status,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR},
                #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        insert into inlong_cluster_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="port != null">
                port,
            </if>
            <if test="extParams != null">
                ext_params,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                #{port,jdbcType=INTEGER},
            </if>
            <if test="extParams != null">
                #{extParams,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_node
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUniqueKey" parameterType="org.apache.inlong.manager.common.pojo.cluster.InlongClusterRequest"
            resultType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_node
        where
        is_deleted = 0
        and parent_id = #{parentId,jdbcType=INTEGER}
        and type = #{type, jdbcType=VARCHAR}
        and ip = #{ip, jdbcType=VARCHAR}
        and port = #{port, jdbcType=INTEGER}
    </select>
    <select id="selectByCondition"
            parameterType="org.apache.inlong.manager.common.pojo.cluster.InlongClusterPageRequest"
            resultType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_node
        <where>
            is_deleted = 0
            <if test="type != null and type != ''">
                and type = #{type, jdbcType=VARCHAR}
            </if>
            <if test="keyword != null and keyword != ''">
                and (
                ip like CONCAT('%',#{keyword},'%')
                or port like CONCAT('%',#{keyword},'%')
                )
            </if>
        </where>
        order by modify_time desc
    </select>
    <select id="selectByParentId" resultType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        select
        <include refid="Base_Column_List"/>
        from inlong_cluster_node
        where is_deleted = 0
        and parent_id = #{parentId, jdbcType=INTEGER}
    </select>
    <update id="updateByIdSelective"
            parameterType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        update inlong_cluster_node
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                port = #{port,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="extParams != null">
                ext_params = #{extParams,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateById" parameterType="org.apache.inlong.manager.dao.entity.InlongClusterNodeEntity">
        update inlong_cluster_node
        set parent_id   = #{parentId,jdbcType=INTEGER},
            type        = #{type,jdbcType=VARCHAR},
            ip          = #{ip,jdbcType=VARCHAR},
            port        = #{port,jdbcType=INTEGER},
            ext_params  = #{extParams,jdbcType=LONGVARCHAR},
            status      = #{status,jdbcType=INTEGER},
            is_deleted  = #{isDeleted,jdbcType=INTEGER},
            creator     = #{creator,jdbcType=VARCHAR},
            modifier    = #{modifier,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from inlong_cluster_node
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>