<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="offsetAsPageNum" value="true"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mybatis/NamespaceMapper.xml"/>
        <mapper resource="mybatis/EnvMapper.xml"/>
        <mapper resource="mybatis/TemplateMapper.xml"/>
        <mapper resource="mybatis/AppMetaDOMapper.xml"/>
        <mapper resource="mybatis/AppOptionDOMapper.xml"/>
        <mapper resource="mybatis/AppPackageDOMapper.xml"/>
        <mapper resource="mybatis/AppPackageTagDOMapper.xml"/>
        <mapper resource="mybatis/AppPackageComponentRelDOMapper.xml"/>
        <mapper resource="mybatis/ComponentDOMapper.xml"/>
        <mapper resource="mybatis/ComponentHistoryDOMapper.xml"/>
        <mapper resource="mybatis/ComponentPackageDOMapper.xml"/>
        <mapper resource="mybatis/ComponentPackageTaskDOMapper.xml"/>
        <mapper resource="mybatis/CustomAddonInstanceDOMapper.xml"/>
        <mapper resource="mybatis/CustomAddonInstanceTaskDOMapper.xml"/>
        <mapper resource="mybatis/CustomAddonMetaDOMapper.xml"/>
        <mapper resource="mybatis/DeployAppDOMapper.xml"/>
        <mapper resource="mybatis/DeployAppAttrDOMapper.xml"/>
        <mapper resource="mybatis/DeployComponentDOMapper.xml"/>
        <mapper resource="mybatis/DeployComponentAttrDOMapper.xml"/>
        <mapper resource="mybatis/AddonMetaMapper.xml"/>
        <mapper resource="mybatis/AddonInstanceDOMapper.xml"/>
        <mapper resource="mybatis/AddonInstanceTaskMapper.xml"/>
        <mapper resource="mybatis/AppPackageTaskDOMapper.xml"/>
        <mapper resource="mybatis/AppAddonDOMapper.xml"/>
        <mapper resource="mybatis/ClusterDOMapper.xml"/>
        <mapper resource="mybatis/TagQueryMapper.xml"/>
        <mapper resource="mybatis/DefinitionSchemaMapper.xml"/>
        <mapper resource="mybatis/UnitDOMapper.xml"/>
        <mapper resource="mybatis/TraitMapper.xml"/>
        <mapper resource="mybatis/UserProfileDOMapper.xml"/>
        <!-- dynamic script -->
        <mapper resource="mybatis/DynamicScriptDOMapper.xml"/>
        <mapper resource="mybatis/DynamicScriptHistoryDOMapper.xml"/>
        <!-- realtime -->
        <mapper resource="mybatis/RtAppInstanceDOMapper.xml"/>
        <mapper resource="mybatis/RtComponentInstanceDOMapper.xml"/>
        <mapper resource="mybatis/RtTraitInstanceDOMapper.xml"/>
        <mapper resource="mybatis/RtAppInstanceHistoryDOMapper.xml"/>
        <mapper resource="mybatis/RtComponentInstanceHistoryDOMapper.xml"/>
        <mapper resource="mybatis/RtTraitInstanceHistoryDOMapper.xml"/>
        <!-- product -->
        <mapper resource="mybatis/ProductDOMapper.xml"/>
        <mapper resource="mybatis/ProductReleaseAppRelDOMapper.xml"/>
        <mapper resource="mybatis/ProductReleaseRelDOMapper.xml"/>
        <mapper resource="mybatis/ProductReleaseSchedulerDOMapper.xml"/>
        <mapper resource="mybatis/ProductReleaseTaskAppPackageTaskRelDOMapper.xml"/>
        <mapper resource="mybatis/ProductReleaseTaskDOMapper.xml"/>
        <mapper resource="mybatis/ProductReleaseTaskTagDOMapper.xml"/>
        <mapper resource="mybatis/ReleaseDOMapper.xml"/>
        <!-- meta -->
        <mapper resource="mybatis/K8sMicroServiceMetaDOMapper.xml"/>
        <mapper resource="mybatis/HelmMetaDOMapper.xml"/>
        <!-- deploy config -->
        <mapper resource="mybatis/DeployConfigDOMapper.xml"/>
        <mapper resource="mybatis/DeployConfigHistoryDOMapper.xml"/>
        <!-- workflow -->
        <mapper resource="mybatis/TaskHostRegistryDOMapper.xml"/>
        <mapper resource="mybatis/WorkflowDefinitionDOMapper.xml"/>
        <mapper resource="mybatis/PolicyDefinitionDOMapper.xml"/>
        <mapper resource="mybatis/WorkflowInstanceDOMapper.xml"/>
        <mapper resource="mybatis/WorkflowTaskDOMapper.xml"/>
        <mapper resource="mybatis/WorkflowSnapshotDOMapper.xml"/>
        <!-- dag -->
        <mapper resource="mybatis/DagBatchMapper.xml"/>
        <mapper resource="mybatis/DagDOMapper.xml"/>
        <mapper resource="mybatis/DagInstDOMapper.xml"/>
        <mapper resource="mybatis/DagInstEdgeDOMapper.xml"/>
        <mapper resource="mybatis/DagInstNodeDOMapper.xml"/>
        <mapper resource="mybatis/DagInstNodeStdDOMapper.xml"/>
        <mapper resource="mybatis/DagNodeDOMapper.xml"/>

        <!-- plugin -->
        <mapper resource="mybatis/PluginDefinitionDOMapper.xml"/>
        <mapper resource="mybatis/PluginFrontendDOMapper.xml"/>
        <mapper resource="mybatis/PluginResourceDOMapper.xml"/>
        <mapper resource="mybatis/PluginResourceWorkflowRelDOMapper.xml"/>
        <mapper resource="mybatis/PluginTagDOMapper.xml"/>

    </mappers>
</configuration>
