<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tdata.aisp.server.repository.mapper.SceneConfigDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    <id column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="owners" jdbcType="VARCHAR" property="owners" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="scene_name" jdbcType="VARCHAR" property="sceneName" />
    <result column="detector_binder" jdbcType="VARCHAR" property="detectorBinder" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
    <result column="scene_model_param" jdbcType="LONGVARCHAR" property="sceneModelParam" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scene_code, gmt_create, gmt_modified, owners, product_name, scene_name, detector_binder
  </sql>
  <sql id="Blob_Column_List">
    comment, scene_model_param
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_scene_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aisp_scene_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_scene_config
    where scene_code = #{sceneCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aisp_scene_config
    where scene_code = #{sceneCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDOExample">
    delete from aisp_scene_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    insert into aisp_scene_config (scene_code, gmt_create, gmt_modified, 
      owners, product_name, scene_name, 
      detector_binder, comment, scene_model_param
      )
    values (#{sceneCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{owners,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{sceneName,jdbcType=VARCHAR}, 
      #{detectorBinder,jdbcType=VARCHAR}, #{comment,jdbcType=LONGVARCHAR}, #{sceneModelParam,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    insert into aisp_scene_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="owners != null">
        owners,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="sceneName != null">
        scene_name,
      </if>
      <if test="detectorBinder != null">
        detector_binder,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="sceneModelParam != null">
        scene_model_param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="owners != null">
        #{owners,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sceneName != null">
        #{sceneName,jdbcType=VARCHAR},
      </if>
      <if test="detectorBinder != null">
        #{detectorBinder,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="sceneModelParam != null">
        #{sceneModelParam,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDOExample" resultType="java.lang.Long">
    select count(*) from aisp_scene_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update aisp_scene_config
    <set>
      <if test="record.sceneCode != null">
        scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.owners != null">
        owners = #{record.owners,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.sceneName != null">
        scene_name = #{record.sceneName,jdbcType=VARCHAR},
      </if>
      <if test="record.detectorBinder != null">
        detector_binder = #{record.detectorBinder,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.sceneModelParam != null">
        scene_model_param = #{record.sceneModelParam,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update aisp_scene_config
    set scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      owners = #{record.owners,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      scene_name = #{record.sceneName,jdbcType=VARCHAR},
      detector_binder = #{record.detectorBinder,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=LONGVARCHAR},
      scene_model_param = #{record.sceneModelParam,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update aisp_scene_config
    set scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      owners = #{record.owners,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      scene_name = #{record.sceneName,jdbcType=VARCHAR},
      detector_binder = #{record.detectorBinder,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    update aisp_scene_config
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="owners != null">
        owners = #{owners,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sceneName != null">
        scene_name = #{sceneName,jdbcType=VARCHAR},
      </if>
      <if test="detectorBinder != null">
        detector_binder = #{detectorBinder,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="sceneModelParam != null">
        scene_model_param = #{sceneModelParam,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where scene_code = #{sceneCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    update aisp_scene_config
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      owners = #{owners,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      scene_name = #{sceneName,jdbcType=VARCHAR},
      detector_binder = #{detectorBinder,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=LONGVARCHAR},
      scene_model_param = #{sceneModelParam,jdbcType=LONGVARCHAR}
    where scene_code = #{sceneCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    update aisp_scene_config
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      owners = #{owners,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      scene_name = #{sceneName,jdbcType=VARCHAR},
      detector_binder = #{detectorBinder,jdbcType=VARCHAR}
    where scene_code = #{sceneCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_scene_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aisp_scene_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="batchInsert" parameterType="map">
    insert into aisp_scene_config
    (scene_code, gmt_create, gmt_modified, owners, product_name, scene_name, detector_binder, 
      comment, scene_model_param)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.sceneCode,jdbcType=VARCHAR}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
        #{item.owners,jdbcType=VARCHAR}, #{item.productName,jdbcType=VARCHAR}, #{item.sceneName,jdbcType=VARCHAR}, 
        #{item.detectorBinder,jdbcType=VARCHAR}, #{item.comment,jdbcType=LONGVARCHAR}, 
        #{item.sceneModelParam,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into aisp_scene_config (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'scene_code'.toString() == column.value">
          #{item.sceneCode,jdbcType=VARCHAR}
        </if>
        <if test="'gmt_create'.toString() == column.value">
          #{item.gmtCreate,jdbcType=TIMESTAMP}
        </if>
        <if test="'gmt_modified'.toString() == column.value">
          #{item.gmtModified,jdbcType=TIMESTAMP}
        </if>
        <if test="'owners'.toString() == column.value">
          #{item.owners,jdbcType=VARCHAR}
        </if>
        <if test="'product_name'.toString() == column.value">
          #{item.productName,jdbcType=VARCHAR}
        </if>
        <if test="'scene_name'.toString() == column.value">
          #{item.sceneName,jdbcType=VARCHAR}
        </if>
        <if test="'detector_binder'.toString() == column.value">
          #{item.detectorBinder,jdbcType=VARCHAR}
        </if>
        <if test="'comment'.toString() == column.value">
          #{item.comment,jdbcType=LONGVARCHAR}
        </if>
        <if test="'scene_model_param'.toString() == column.value">
          #{item.sceneModelParam,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  <insert id="upsertSelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    insert into aisp_scene_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="owners != null">
        owners,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="sceneName != null">
        scene_name,
      </if>
      <if test="detectorBinder != null">
        detector_binder,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="sceneModelParam != null">
        scene_model_param,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="owners != null">
        #{owners,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sceneName != null">
        #{sceneName,jdbcType=VARCHAR},
      </if>
      <if test="detectorBinder != null">
        #{detectorBinder,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="sceneModelParam != null">
        #{sceneModelParam,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="owners != null">
        owners = #{owners,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sceneName != null">
        scene_name = #{sceneName,jdbcType=VARCHAR},
      </if>
      <if test="detectorBinder != null">
        detector_binder = #{detectorBinder,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
      <if test="sceneModelParam != null">
        scene_model_param = #{sceneModelParam,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="upsert" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    insert into aisp_scene_config
    (scene_code, gmt_create, gmt_modified, owners, product_name, scene_name, detector_binder
      )
    values
    (#{sceneCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{owners,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{sceneName,jdbcType=VARCHAR}, 
      #{detectorBinder,jdbcType=VARCHAR})
    on duplicate key update 
    scene_code = #{sceneCode,jdbcType=VARCHAR}, 
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, 
    owners = #{owners,jdbcType=VARCHAR}, 
    product_name = #{productName,jdbcType=VARCHAR}, 
    scene_name = #{sceneName,jdbcType=VARCHAR}, 
    detector_binder = #{detectorBinder,jdbcType=VARCHAR}
  </insert>
  <insert id="upsertWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.SceneConfigDO">
    insert into aisp_scene_config
    (scene_code, gmt_create, gmt_modified, owners, product_name, scene_name, detector_binder, 
      comment, scene_model_param)
    values
    (#{sceneCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{owners,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{sceneName,jdbcType=VARCHAR}, 
      #{detectorBinder,jdbcType=VARCHAR}, #{comment,jdbcType=LONGVARCHAR}, #{sceneModelParam,jdbcType=LONGVARCHAR}
      )
    on duplicate key update 
    scene_code = #{sceneCode,jdbcType=VARCHAR}, 
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, 
    owners = #{owners,jdbcType=VARCHAR}, 
    product_name = #{productName,jdbcType=VARCHAR}, 
    scene_name = #{sceneName,jdbcType=VARCHAR}, 
    detector_binder = #{detectorBinder,jdbcType=VARCHAR}, 
    comment = #{comment,jdbcType=LONGVARCHAR}, 
    scene_model_param = #{sceneModelParam,jdbcType=LONGVARCHAR}
  </insert>
</mapper>