<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tdata.aisp.server.repository.mapper.TaskDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    <id column="task_uuid" jdbcType="VARCHAR" property="taskUuid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="cost_time" jdbcType="BIGINT" property="costTime" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="detector_code" jdbcType="VARCHAR" property="detectorCode" />
    <result column="instance_code" jdbcType="VARCHAR" property="instanceCode" />
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    <result column="task_result" jdbcType="LONGVARCHAR" property="taskResult" />
    <result column="task_req" jdbcType="LONGVARCHAR" property="taskReq" />
  </resultMap>
  <resultMap id="TrendMap" type="com.alibaba.tdata.aisp.server.repository.domain.TaskTrendDO">
  <result column="count" jdbcType="BIGINT" property="count"/>
  <result column="time" jdbcType="TIMESTAMP" property="time"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_uuid, gmt_create, gmt_modified, cost_time, scene_code, detector_code, instance_code, 
    task_type, task_status
  </sql>
  <sql id="Blob_Column_List">
    task_result, task_req
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_analyse_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aisp_analyse_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aisp_analyse_task
    where task_uuid = #{taskUuid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeyWithBlobs" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_analyse_task
    where task_uuid = #{taskUuid,jdbcType=VARCHAR}
  </select>
  <select id="selectTrend" parameterType="java.lang.String" resultMap="TrendMap">
    select
      DATE_FORMAT(gmt_create, '%Y-%m-%d %H:%i:00') AS time,
        COUNT(*) AS count
    from aisp_analyse_task
    WHERE scene_code = #{sceneCode,jdbcType=VARCHAR}
      AND detector_code = #{detectorCode,jdbcType=VARCHAR}
      AND gmt_create &gt; #{start,jdbcType=VARCHAR}
      AND gmt_create &lt; #{end,jdbcType=VARCHAR}
    GROUP BY time
    ORDER BY time;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aisp_analyse_task
    where task_uuid = #{taskUuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDOExample">
    delete from aisp_analyse_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    insert into aisp_analyse_task (task_uuid, gmt_create, gmt_modified, 
      cost_time, scene_code, detector_code, 
      instance_code, task_type, task_status, 
      task_result, task_req)
    values (#{taskUuid,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{costTime,jdbcType=BIGINT}, #{sceneCode,jdbcType=VARCHAR}, #{detectorCode,jdbcType=VARCHAR}, 
      #{instanceCode,jdbcType=VARCHAR}, #{taskType,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, 
      #{taskResult,jdbcType=LONGVARCHAR}, #{taskReq,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    insert into aisp_analyse_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskUuid != null">
        task_uuid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="costTime != null">
        cost_time,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="detectorCode != null">
        detector_code,
      </if>
      <if test="instanceCode != null">
        instance_code,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="taskStatus != null">
        task_status,
      </if>
      <if test="taskResult != null">
        task_result,
      </if>
      <if test="taskReq != null">
        task_req,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskUuid != null">
        #{taskUuid,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="costTime != null">
        #{costTime,jdbcType=BIGINT},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="instanceCode != null">
        #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null">
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="taskResult != null">
        #{taskResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskReq != null">
        #{taskReq,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDOExample" resultType="java.lang.Long">
    select count(*) from aisp_analyse_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update aisp_analyse_task
    <set>
      <if test="record.taskUuid != null">
        task_uuid = #{record.taskUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.costTime != null">
        cost_time = #{record.costTime,jdbcType=BIGINT},
      </if>
      <if test="record.sceneCode != null">
        scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="record.detectorCode != null">
        detector_code = #{record.detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.instanceCode != null">
        instance_code = #{record.instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.taskType != null">
        task_type = #{record.taskType,jdbcType=VARCHAR},
      </if>
      <if test="record.taskStatus != null">
        task_status = #{record.taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.taskResult != null">
        task_result = #{record.taskResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.taskReq != null">
        task_req = #{record.taskReq,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update aisp_analyse_task
    set task_uuid = #{record.taskUuid,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      cost_time = #{record.costTime,jdbcType=BIGINT},
      scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      detector_code = #{record.detectorCode,jdbcType=VARCHAR},
      instance_code = #{record.instanceCode,jdbcType=VARCHAR},
      task_type = #{record.taskType,jdbcType=VARCHAR},
      task_status = #{record.taskStatus,jdbcType=VARCHAR},
      task_result = #{record.taskResult,jdbcType=LONGVARCHAR},
      task_req = #{record.taskReq,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update aisp_analyse_task
    set task_uuid = #{record.taskUuid,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      cost_time = #{record.costTime,jdbcType=BIGINT},
      scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      detector_code = #{record.detectorCode,jdbcType=VARCHAR},
      instance_code = #{record.instanceCode,jdbcType=VARCHAR},
      task_type = #{record.taskType,jdbcType=VARCHAR},
      task_status = #{record.taskStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    update aisp_analyse_task
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="costTime != null">
        cost_time = #{costTime,jdbcType=BIGINT},
      </if>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        detector_code = #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="instanceCode != null">
        instance_code = #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null">
        task_status = #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="taskResult != null">
        task_result = #{taskResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskReq != null">
        task_req = #{taskReq,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where task_uuid = #{taskUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    update aisp_analyse_task
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      cost_time = #{costTime,jdbcType=BIGINT},
      scene_code = #{sceneCode,jdbcType=VARCHAR},
      detector_code = #{detectorCode,jdbcType=VARCHAR},
      instance_code = #{instanceCode,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=VARCHAR},
      task_status = #{taskStatus,jdbcType=VARCHAR},
      task_result = #{taskResult,jdbcType=LONGVARCHAR},
      task_req = #{taskReq,jdbcType=LONGVARCHAR}
    where task_uuid = #{taskUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    update aisp_analyse_task
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      cost_time = #{costTime,jdbcType=BIGINT},
      scene_code = #{sceneCode,jdbcType=VARCHAR},
      detector_code = #{detectorCode,jdbcType=VARCHAR},
      instance_code = #{instanceCode,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=VARCHAR},
      task_status = #{taskStatus,jdbcType=VARCHAR}
    where task_uuid = #{taskUuid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_analyse_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aisp_analyse_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="batchInsert" parameterType="map">
    insert into aisp_analyse_task
    (task_uuid, gmt_create, gmt_modified, cost_time, scene_code, detector_code, instance_code, 
      task_type, task_status, task_result, task_req)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskUuid,jdbcType=VARCHAR}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
        #{item.costTime,jdbcType=BIGINT}, #{item.sceneCode,jdbcType=VARCHAR}, #{item.detectorCode,jdbcType=VARCHAR}, 
        #{item.instanceCode,jdbcType=VARCHAR}, #{item.taskType,jdbcType=VARCHAR}, #{item.taskStatus,jdbcType=VARCHAR}, 
        #{item.taskResult,jdbcType=LONGVARCHAR}, #{item.taskReq,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into aisp_analyse_task (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'task_uuid'.toString() == column.value">
          #{item.taskUuid,jdbcType=VARCHAR}
        </if>
        <if test="'gmt_create'.toString() == column.value">
          #{item.gmtCreate,jdbcType=TIMESTAMP}
        </if>
        <if test="'gmt_modified'.toString() == column.value">
          #{item.gmtModified,jdbcType=TIMESTAMP}
        </if>
        <if test="'cost_time'.toString() == column.value">
          #{item.costTime,jdbcType=BIGINT}
        </if>
        <if test="'scene_code'.toString() == column.value">
          #{item.sceneCode,jdbcType=VARCHAR}
        </if>
        <if test="'detector_code'.toString() == column.value">
          #{item.detectorCode,jdbcType=VARCHAR}
        </if>
        <if test="'instance_code'.toString() == column.value">
          #{item.instanceCode,jdbcType=VARCHAR}
        </if>
        <if test="'task_type'.toString() == column.value">
          #{item.taskType,jdbcType=VARCHAR}
        </if>
        <if test="'task_status'.toString() == column.value">
          #{item.taskStatus,jdbcType=VARCHAR}
        </if>
        <if test="'task_result'.toString() == column.value">
          #{item.taskResult,jdbcType=LONGVARCHAR}
        </if>
        <if test="'task_req'.toString() == column.value">
          #{item.taskReq,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  <insert id="upsertSelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    insert into aisp_analyse_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskUuid != null">
        task_uuid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="costTime != null">
        cost_time,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="detectorCode != null">
        detector_code,
      </if>
      <if test="instanceCode != null">
        instance_code,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="taskStatus != null">
        task_status,
      </if>
      <if test="taskResult != null">
        task_result,
      </if>
      <if test="taskReq != null">
        task_req,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskUuid != null">
        #{taskUuid,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="costTime != null">
        #{costTime,jdbcType=BIGINT},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="instanceCode != null">
        #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null">
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="taskResult != null">
        #{taskResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskReq != null">
        #{taskReq,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="taskUuid != null">
        task_uuid = #{taskUuid,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="costTime != null">
        cost_time = #{costTime,jdbcType=BIGINT},
      </if>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        detector_code = #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="instanceCode != null">
        instance_code = #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null">
        task_status = #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="taskResult != null">
        task_result = #{taskResult,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskReq != null">
        task_req = #{taskReq,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="upsert" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    insert into aisp_analyse_task
    (task_uuid, gmt_create, gmt_modified, cost_time, scene_code, detector_code, instance_code, 
      task_type, task_status)
    values
    (#{taskUuid,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{costTime,jdbcType=BIGINT}, #{sceneCode,jdbcType=VARCHAR}, #{detectorCode,jdbcType=VARCHAR}, 
      #{instanceCode,jdbcType=VARCHAR}, #{taskType,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}
      )
    on duplicate key update 
    task_uuid = #{taskUuid,jdbcType=VARCHAR}, 
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, 
    cost_time = #{costTime,jdbcType=BIGINT}, 
    scene_code = #{sceneCode,jdbcType=VARCHAR}, 
    detector_code = #{detectorCode,jdbcType=VARCHAR}, 
    instance_code = #{instanceCode,jdbcType=VARCHAR}, 
    task_type = #{taskType,jdbcType=VARCHAR}, 
    task_status = #{taskStatus,jdbcType=VARCHAR}
  </insert>
  <insert id="upsertWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.TaskDO">
    insert into aisp_analyse_task
    (task_uuid, gmt_create, gmt_modified, cost_time, scene_code, detector_code, instance_code, 
      task_type, task_status, task_result, task_req)
    values
    (#{taskUuid,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{costTime,jdbcType=BIGINT}, #{sceneCode,jdbcType=VARCHAR}, #{detectorCode,jdbcType=VARCHAR}, 
      #{instanceCode,jdbcType=VARCHAR}, #{taskType,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, 
      #{taskResult,jdbcType=LONGVARCHAR}, #{taskReq,jdbcType=LONGVARCHAR})
    on duplicate key update 
    task_uuid = #{taskUuid,jdbcType=VARCHAR}, 
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, 
    cost_time = #{costTime,jdbcType=BIGINT}, 
    scene_code = #{sceneCode,jdbcType=VARCHAR}, 
    detector_code = #{detectorCode,jdbcType=VARCHAR}, 
    instance_code = #{instanceCode,jdbcType=VARCHAR}, 
    task_type = #{taskType,jdbcType=VARCHAR}, 
    task_status = #{taskStatus,jdbcType=VARCHAR}, 
    task_result = #{taskResult,jdbcType=LONGVARCHAR}, 
    task_req = #{taskReq,jdbcType=LONGVARCHAR}
  </insert>
</mapper>