// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//tag.scss
.tag-tree {
    padding: 0; // overflow: auto;

    &.saveSearchList {
        height: 150px;
        overflow-y: auto;
    }

    .child>li,
    >li {
        list-style: none;
        cursor: pointer;

        &.parent-node {
            position: relative;

            &.active {
                &>div {
                    background-color: $color_jungle_green_approx;
                    border: none;

                    .tools {
                        display: block;
                    }

                    &:hover {
                        background-color: $color_jungle_green_approx;
                    }
                }

                ul.child {
                    &:after {
                        height: 4px;
                        top: -5px;
                    }
                }
            }

            &>div {
                position: relative;
                margin-top: 5px;
                /* margin-bottom: 5px; */
                border-radius: 4px;

                &:hover {
                    background-color: $color_star_dust_approx;
                }

                >.fa.toggleArrow {
                    position: absolute;
                    left: 0;
                    padding: 8px;
                    cursor: pointer;
                }

                // >ul>li {
                //     line-height: 30px;
                //     margin-left: -20px;
                //     text-indent: 20px;
                //     &:hover {
                //         background-color: $color_keppel_approx;
                //     }
                //     &.selected {
                //         background-color: $color_keppel_approx;
                //     }
                // }
                .tools {
                    display: none;
                    position: absolute;
                    right: 0;
                    color: $white;
                    padding: 5px 10px;
                }

                >a,
                >div>a {
                    display: block;
                    color: $white !important;
                    white-space: nowrap;
                    padding: 5px 10px;
                    max-width: 91%;
                    @include ellipsis();
                    font-size: 14px;

                    &:hover {
                        color: $white !important;
                        text-decoration: none !important;
                    }
                }

                >i+a {
                    padding: 5px 25px;
                }
            }

            >ul.child {
                margin-left: 11px;
                padding-left: 10px;
                border-left: 1px dotted gray;
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    height: 13px;
                    width: 11px;
                    top: -14px;
                    left: -1px;
                    border-left: 1px dotted gray;
                }

                li {
                    &.parent-node {
                        &:after {
                            position: absolute;
                            content: "";
                            height: 2px;
                            width: 14px;
                            top: 16px;
                            left: -9px;
                            border-top: 1px dotted gray;
                        }

                        &.active:after {
                            width: 9px;
                        }
                    }
                }
            }
        }
    }
}

.input-group.attributes .form-control {
    height: 40px;
    box-shadow: none;
    border-right: none;
}

.input-group.attributes .input-group-addon {
    background-color: $color_white_lilac_approx;
    border: 1px $color_mystic_approx solid;
    border-radius: 0px;
    border-left: none;
}

.input-group.attributes .input-group-addon i.fa {
    cursor: pointer;
}

.input-group.attributes .form-control:focus+.input-group-addon {
    border-color: $color_bali_hai_approx;
}

.entityLink {
    font-size: 16px;
}

.mainAttrTable {
    max-height: 180px;
    overflow: auto;

    table.attriTable {
        width: 100%;

        td {
            // &[data-type="int"],
            // &[data-type="long"],
            // &[data-type="float"],
            // &[data-type="byte"],
            // &[data-type="double"],
            // &[data-type="short"] {
            //     text-align: right;
            // }
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 5px 7px;
            width: 50%;

            &.renderable.html-cell {
                min-width: 150px;
            }
        }
    }
}

.addtag-propagte-box {
    border: 1px solid #ddd;
    border-radius: 7px;
}