{{!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}

{{#if setOldUi}}
    <div class="row security-panel">
        <div class="security-sidebar" data-id="security-sidebar">
            <div class="listDataZone">
                <div class="clearfix row-margin-bottom">
                    <h4 class="wrap-header bold pull-left">Security Zones</h4>
                    {{#if isZoneAdministration}}
                        <a href="#!/zones/create" class="btn-add-security btn btn-btn-mini btn-secondary pull-right" title="Create zone"><i class="fa-fw fa fa-plus"></i></a>
                    {{/if}}
                </div>
                <div class="clearfix">
                    <input type="text" class="security-search form-control" data-id="zoneSearch" placeholder="Search">
                </div>
                <div class="zone-wrap">
                    <ul class="zone-listing" data-id="zoneUlList">
                        {{#ifCond zoneList.length '==' "0"}}
                            <li>
                                <h4 class="wrap-header bold">No Zone Found !
                            </h4></li>
                        {{/ifCond}}
                    </ul>
                </div>
            </div><!-- listData -->
        </div>
        {{#if zoneList.length}}
            <div class="security-details">
                <div class="row">
                    <div class="col-md-8 m-b-md">
                        <button class="btn btn-sm btn-slide-toggle m-r-sm btn-secondary pull-left" data-id="sideBarBtn"><i class="fa-fw fa fa-reorder"></i><span></span></button><h2 data-id="zoneName">{{{zoneModelName}}}</h2>
                    </div>
                    {{#if isZoneAdministration}}
                        <div class="col-md-4 text-right">
                            <div class="btn-group-zone">
                                <a type="button" href="#!/zones/edit/{{this.zoneModel.attributes.id}}" class="btn btn-sm btn-secondary" data-id="editZone"><i class="fa-fw fa fa-edit"></i>Edit</a>
                                <button class="btn btn-danger btn-sm" data-id="deleteZone"><i class="fa-fw fa fa-trash"></i>Delete</button>
                            </div>
                        </div>
                    {{/if}}
                </div>
                <div data-id="zoneAdministrationView"></div>
                <div class="card panel">
                    <div class="card-header" data-id="zoneServiceTbl">Services<i class="fa-fw fa fa-chevron-up pull-right"></i></div>
                    <div class="card-body" data-id="zoneTableLayout"></div>
                </div>
            </div>
        {{else}}
            {{#if isZoneAdministration}}
                <div class="security-details-default">
                    <div class="default-zone">
                        <img alt="Avatar" class="zoneImg" src="images/defult_zone.png">
                        <a href="#!/zones/create" class="btn-add-security2 btn-lg" title="Click here to Create new Zone"><i class="fa-fw fa fa-plus"></i>Click here to Create new Zone</a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
{{else}}
    <div class="">
        {{#if zoneList.length}}
            <div class="wrap non-collapsible m-height">
                <div class="">
                    <div class="">
                        {{#if isZoneAdministration}}
                            <span class="pull-right">
                                    <a type="button" href="#!/zones/edit/{{this.zoneModel.attributes.id}}" class="btn btn-secondary btn-sm" data-id="editZone"><i class="fa-fw fa fa-edit"></i>Edit</a>
                                    <button class="btn btn-danger btn-sm" data-id="deleteZone"><i class="fa-fw fa fa-trash"></i>Delete</button>
                            </span>
                        {{/if}}
                        <h2 data-id="zoneName">{{{zoneModelName}}}</h2>
                    </div>
                </div>
                <div data-id="zoneAdministrationView"></div>
                <div class="card panel">
                    <div class="card-header" data-id="zoneServiceTbl">Services<i class="fa-fw fa fa-chevron-up pull-right"></i></div>
                    <div class="card-body" data-id="zoneTableLayout"></div>
                </div>
            </div>
        {{else}}
            {{#if isZoneAdministration}}
                <div class="security-details-default">
                    <div class="default-zone">
                        <img alt="Avatar" class="zoneImg" src="images/defult_zone.png">
                        <a href="#!/zones/create" class="btn-add-security2 btn-lg" title="Click here to Create new Zone"><i class="fa-fw fa fa-plus"></i>Click here to Create new Zone</a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
{{/if}}