@import (reference) '~antd/es/style/themes/index';
.notSelectWrap {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    // padding: 10px;
    border-right: 1px solid #f0f0f0;
  }
  .selectedWrap {
    flex: 1;
    margin: 0 20px;

    :global{
      .ant-checkbox + span{
        flex:1
      }
      .ant-checkbox-wrapper{
        display: flex;
        width: 100%;
      }
      .ant-checkbox-disabled + span{
        color: rgba(0, 0, 0, 0.85)!important;
      }
    }
  }
  .serviceListWrap {
    padding: 10px 20px;
  }
  .disabledText {
    color: #262626;
    // color:rgba(0, 0, 0, 0.25) !important;
  }
  .checkItem{
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
  }
  .serviceItem {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  .serviceItemIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    // padding: 5px;
    color: greenyellow;
    font-size: 26px;
    box-sizing: border-box;
  }
  .serviceItemTitle {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85)!important;
  }
  .serviceItemDesc {
    color: #5f6981;
    font-size: 14px;
  }
  .serviceImgWrap{
    flex: 1;
    width: 400px;
  }

  .serviceStatusWrap{
    flex: 1;
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.85)!important;
    // flex: 1;
    // align-items: center;

    // position: absolute;
    // right: 10px;
  }

  .disabledBtn {
    color: #ccc;
  }
  .activeBtn {
    color: @primary-color;
    cursor: pointer;
  }