<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.BrowserDimensionMapper">
  <resultMap type="com.platform.website.module.BrowserDimension" id="browserMapper">
    <id column="id" property="id"/>
    <result column="browser_name" property="browser"/>
    <result column="browser_version" property="browser_version"/>
  </resultMap>

  <select id="getBrowserDimensionById" parameterType="com.platform.website.module.BrowserDimension"
    resultMap="browserMapper">
    SELECT id,browser_name,browser_version FROM dimension_browser
    <where>
      <if test="id != 0">
        id = #{id}
      </if>
    </where>
  </select>

  <select id="getBrowserDimensionByNameAndVersion" resultMap="browserMapper">
    SELECT id,browser_name,browser_version FROM dimension_browser
    <where>
      <if test="browser != null and browser != ''">
        browser_name = #{browser}
      </if>
      <if test="browser != null and browser != ''">
        and browser_version = #{browserVersion}
      </if>
    </where>
  </select>

</mapper>