<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.EventDimensionMapper">
    <resultMap type="com.platform.website.module.EventDimension" id="eventMapper">
        <id column="id" property="id"/>
        <result column="category" property="category" />
        <result column="action" property="action" />
    </resultMap>
    
    <select id="getEventDimensionById" parameterType="int" resultMap="eventMapper">
          SELECT id,category,action FROM dimension_event
          <where>
             <if test="id != 0">
                 id = #{id}
             </if>

          </where>
     </select>

  <select id="getEventDimensionByCategoryAndAction"   resultMap="eventMapper">
    SELECT id,category,action FROM dimension_event
    <where>
      <if test="category != null and category != ''">
        AND category = #{category}
      </if>
      <if test="action != null and action != ''">
        AND action = #{action}
      </if>

    </where>
  </select>
</mapper>