<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.KpiDimensionMapper">
    <resultMap type="com.platform.website.module.KpiDimension" id="kpiMapper">
        <id column="id" property="id"/>
        <result column="kpi_name" property="kpiName" />
    </resultMap>
    
    <select id="getKpiDimensionByKpiName" parameterType="java.lang.String" resultMap="kpiMapper">
          SELECT id,kpi_name FROM dimension_kpi
          <where>
             <if test="kpiName != null and kpiName != ''">
                AND kpi_name = #{kpiName}
             </if>
          </where>
     </select>
</mapper>