<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.PlatformDimensionMapper">
  <resultMap type="com.platform.website.module.PlatformDimension" id="platformMapper">
    <id column="id" property="id"/>
    <result column="platform_name" property="platform"/>
  </resultMap>

  <select id="getPlatformDimensionById" parameterType="int" resultMap="platformMapper">
    SELECT id,platform_name FROM dimension_platform
    <where>
      <if test="id != 0">
        id = #{id}
      </if>

    </where>
  </select>

  <select id="getPlatformDimensionByPlatformName" parameterType="java.lang.String"
    resultMap="platformMapper">
    SELECT id,platform_name FROM dimension_platform
    <where>
      <if test="platformName != null and platformName != ''">
        platform_name = #{platformName}
      </if>
    </where>
  </select>
</mapper>