<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.website.dao.UserBehaviorMapper">

  <select id="getUserStats" parameterType="com.platform.website.module.QueryModel" resultType="hashMap">
    SELECT SUM(sessions_length) AS sessions_length,
    SUM(sessions) AS sessions,
    SUM(active_users) AS active_users,
    SUM(new_install_users) AS new_users,
    SUM(total_install_users) AS total_users,
    SUM(active_members) AS active_members,
    SUM(new_members) AS new_members,
    SUM(total_members) AS total_members
    <include refid="groupColums"/>
    FROM stats_user
    <include refid="innerJoin"/>
    <where>
      <include refid="whereColumnsNonSum"/>
      <if test="queryColumn != null">
        <if test="queryColumn.dimensionPlatformId != 0">
          AND platform_dimension_id = #{queryColumn.dimensionPlatformId}
        </if>
      </if>
    </where>
    <include refid="groupBy"/>
    ORDER BY date.calendar ASC
  </select>

  <select id="getHourlyUserStats" parameterType="com.platform.website.module.QueryModel" resultType="hashMap">
    SELECT `hour_00`, `hour_01`, `hour_02`, `hour_03`, `hour_04`, `hour_05`
    , `hour_06`, `hour_07`, `hour_08`, `hour_09`, `hour_10`, `hour_11`
    , `hour_12`, `hour_13`, `hour_14`, `hour_15`, `hour_16`, `hour_17`
    , `hour_18`, `hour_19`, `hour_20`, `hour_21`, `hour_22`, `hour_23`
    <include refid="groupColums"/>
    FROM stats_hourly
    <include refid="innerJoin"/>
    <where>
      <include refid="whereColumnsNonSum"/>
      <if test="queryColumn != null">
        <if test="queryColumn.dimensionPlatformId != 0">
          AND platform_dimension_id = #{queryColumn.dimensionPlatformId}
        </if>
      </if>
      <if test="kpiDimensionId != 0">
        AND kpi_dimension_id = #{kpiDimensionId}
      </if>
    </where>
    <include refid="groupBy"/>
    ORDER BY date.calendar ASC
  </select>

  <sql id="groupColums">
    <if test="groups != null">
      <foreach item="item" index="index" collection="groups">
        <if test="item == 'platform'">
          ,platform.platform_name AS group_platform
        </if>
        <if test="item == 'day'">
          ,date.calendar AS group_day
        </if>
        <if test="item == 'year'">
          ,date.year AS group_year
        </if>
        <if test="item == 'season'">
          ,concat(date.year,':', date.season) AS group_season
        </if>
        <if test="item == 'month'">
          ,concat(date.year,':', date.month) AS group_month
        </if>
        <if test="item == 'week'">
          ,concat(date.year,':', date.week) AS group_week
        </if>
      </foreach>
    </if>
  </sql>

  <sql id="innerJoin">
    INNER JOIN dimension_date AS date ON date_dimension_id = date.id
    <if test="groups != null">
      <foreach item="item" index="index" collection="groups">
        <if test="item == 'platform'">
          INNER JOIN dimension_platform AS platform ON platform_dimension_id = platform.id
        </if>
      </foreach>
    </if>
  </sql>

  <sql id="whereColumnsNonSum">
    <if test="queryColumn != null">

      <if test="queryColumn.type != null">
        date.type = #{queryColumn.type}
      </if>
      <if test="queryColumn.startDate != null">
        <if test="queryColumn.type == 'day'">
          AND date.calendar <![CDATA[ >=  ]]> #{queryColumn.startDate}
        </if>
        <if test="queryColumn.type == 'week'">
          AND concat(YEAR(#{queryColumn.startDate}),LPAD(WEEK(#{queryColumn.startDate}) + 1, 2, 0))
          <![CDATA[ <=  ]]> concat(date.year,LPAD(date.week, 2, 0))
        </if>
        <if test="queryColumn.type == 'month'">
          AND concat(YEAR(#{queryColumn.startDate}),LPAD(MONTH(#{queryColumn.startDate}), 2, 0))
          <![CDATA[ <=  ]]> concat(date.year,LPAD(date.month, 2, 0))
        </if>
      </if>
      <if test="queryColumn.endDate != null">
        <if test="queryColumn.type == 'day'">
          AND date.calendar <![CDATA[ <=  ]]> #{queryColumn.endDate}
        </if>
        <if test="queryColumn.type == 'week'">
          AND concat(YEAR(#{queryColumn.endDate}),LPAD(WEEK(#{queryColumn.endDate}) + 1, 2, 0))
          <![CDATA[ >=  ]]> concat(date.year,LPAD(date.week, 2, 0))
        </if>
        <if test="queryColumn.type == 'month'">
          AND concat(YEAR(#{queryColumn.endDate}),LPAD(MONTH(#{queryColumn.endDate}), 2, 0))
          <![CDATA[ >=  ]]> concat(date.year,LPAD(date.month, 2, 0))
        </if>
      </if>

    </if>
  </sql>


  <sql id="groupBy">
    <if test="groups != null and groups.size() > 0">
      GROUP BY
      <trim prefixOverrides=",">
        <foreach item="item" index="index" collection="groups">
          <if test="item == 'platform'">
            ,platform_dimension_id
          </if>
          <if test="item == 'year'">
            ,date.year
          </if>
          <if test="item == 'season'">
            ,date.year,date.season
          </if>
          <if test="item == 'month'">
            ,date.year,date.month
          </if>
          <if test="item == 'week'">
            ,date.year,date.week
          </if>
          <if test="item == 'day'">
            ,date.year,date.month,date.day
          </if>
        </foreach>
      </trim>
    </if>
  </sql>
</mapper>
