
/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

/**
 * Public library coverage code
 */
body {
  .ant-pro-top-nav-header-logo img {
    height: 100%;
  }
  
  table {
    .ant-table-tbody {
      & > tr > td {
        word-break: break-all;
        > a:not(:last-child) {
          margin-right: 10px;
        }
      }
      & td .ant-btn-link {
        padding: 0;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .ant-form-item,
  .ant-legacy-form-item {
    button.ant-btn + button.ant-btn {
      margin-left: 10px;
    }
  }

  .ant-spin-nested-loading > div > .ant-spin {
    max-height: initial;
  }

  .ant-row-flex > .ant-col > .ant-card {
    height: 100%;
  }

  .ant-descriptions-item {
    .ant-descriptions-item-content {
      vertical-align: top;
    }
  }

  .ant-divider-horizontal.ant-divider-with-text-left {
    &::before {
      display: none;
    }
    .ant-divider-inner-text {
      padding-left: 0;
    }
  }

  .ant-input,
  textarea.ant-input,
  .ant-select {
    max-width: 500px;
  }

  .ant-input-textarea-show-count::after {
    float: none;
    display: block;
    max-width: 500px;
    text-align: right;
  }

  .ant-modal-footer,
  .ant-modal-confirm-btns {
    display: flex;
    flex-direction: row-reverse;
    & > button {
      margin-left: 8px;
    }
  }

  .ant-card-head-title .ant-descriptions-row > th,
  .ant-card-head-title .ant-descriptions-row > td {
    padding-bottom: 0;
  }

  .ant-pro-grid-content.wide {
    max-width: 1600px;
  }
}