<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.realtime.view.dao.AdProvinceTop3Mapper">
  <resultMap id="BaseResultMap" type="com.platform.realtime.view.module.AdProvinceTop3">
    <result column="date" property="date"/>
    <result column="province" property="province"/>
    <result column="ad_id" property="adid"/>
    <result column="click_count" property="clickCount"/>
  </resultMap> 
  
  <sql id="Base_Column_List">
    date, province, ad_id, click_count
  </sql>

  <select id="selectByDate" resultMap="BaseResultMap"
    parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from ad_province_top3
    where date = #{date,jdbcType=VARCHAR}
    ORDER BY date, province
  </select>


</mapper>