<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="position-relative">
    <div class="tableOverlay"></div>
    <div class="inline-content-fr">
        <div class="clearfix inline">
            <a href="javascript:void(0)" title="Assign Classification" class="inputAssignTag multiSelectTag assignTag btn btn-action btn-sm" style="display:none" data-id="addAssignTag"><i class="fa fa-plus"></i>&nbsp;Classification</a>
        </div>
        <div class="inline" data-id="checkDeletedEntity">
            <label class="checkbox-inline btn">
                <input type="checkbox" class="input" name="queryType" value="text" name="check" value="1" />Show historical entities</label>
        </div>
    </div>
    <div id="r_schemaTableLayoutView">
    </div>
</div>