{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="panel panel-default hierarchical-piechart">
  <div class="panel-heading">
    <div class="panel-title">
      Queue Capacity Chart
    </div>
  </div>
  <div class="panel-body">
    <div id="sunburst_chart" class="sunburst-chart">
      <div id="top_container" class="top-container">
        <div id="queue_info" class="queue-info" style="visibility:hidden;">
          <span>Path: </span> <span id="queuePath" class="queue-path"></span>
        </div>
        {{view Ember.Select
          class="form-control input-sm select-capacity-type"
          content=queueCapacityTypeValues
          optionLabelPath="content.name"
          optionValuePath="content.value"
          value=queueCapacityTypeSelected
        }}
      </div>
      <div id="explanation" class="queue-explanation" style="visibility:hidden;">
        <span id="type_text"></span> <br/> <span id="capacityPercentage" class="percentage"></span>
      </div>
    </div>
  </div>
</div>
