.circle-progress {
  .ant-progress-text {
    color: $color-text-sub;
    font-size: 36px;
    font-family: DINAlternate-Bold, serif;
    line-height: 40px;
    letter-spacing: 0;
  }

  &.small-font {
    .ant-progress-text {
      font-size: 28px !important;
      line-height: 30px !important;
    }
  }
}
