// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.


/* old-style.scss */

//@extend-elements
//original selectors
//.inputs button.addAttr, .inputs button.saveAttr
%extend_1 {
    height: 40px; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    border: 1px solid $white;
    color: $white; //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 -1px 0 $black_25;
    font-weight: bold;
}

.row-margin-bottom {
    margin-bottom: 15px;
}

.list-group-item {
    &:first-child {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
    }

    &:last-child {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
    }
}

.h160 {
    height: 160px !important;
}

.subContent {
    width: 500px;
    margin: 30px;
}

.headerDroupDown {
    border-left: 1px solid $white;
    font-size: 11px;
    padding-left: 15px;
    margin-left: 15px;
}




/* .switch {
    float: left;
    margin-top: 4px;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 20px;
    height: 26px;
    width: 120px;
    background: $color_alto_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 3px $color_fuscous_gray_approx, 0 1px $white;
} */


/* .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    &:active {
        font-weight: bold;
    }
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
    &:checked + {
        &.switch-label {
            font-weight: bold;
            color: $black_65;
            //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: 0 1px $white_25;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: 0.15s ease-out;
        }
        &.switch-label-on ~ .switch-selection {
            left: 60px;
        }
    }
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 22px;
    background: $color_fern_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    background-image: linear-gradient(to bottom, $color_opal_approx, $color_jungle_green_approx);
    background-image: linear-gradient(to bottom, $color_opal_approx, $color_jungle_green_approx);
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px $white_50, 0 0 2px $black_20;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: left 0.15s ease-out;
} */

.scrollTagList {
    height: 330px;
    overflow-y: auto;
    margin-bottom: 0;

    i.fa {
        margin-right: 5px;
    }
}

.menuItem {
    padding: 10px;
    color: $color_havelock_blue_approx;
    cursor: pointer;
}

.tagging {
    display: inline-block;
}

.crossClearText {
    line-height: 20px !important;
}

text {
    font-weight: 300;
    font-family: $font_2, $font_3, $font_4, $font_5;
    font-size: 14px;
}

.switch-blue .switch-selection {
    background: $color_pelorous_approx;
    background-image: linear-gradient(to bottom, $color_picton_blue_approx, $color_pelorous_approx);
}

.switch-yellow .switch-selection {
    background: $color_laser_approx;
    background-image: linear-gradient(to bottom, $color_zombie_approx, $color_laser_approx);
}