@import "./theme";

body {
//   width: 1920px;
//   height: 1080px;
  position: relative;
  overflow: hidden;
}

.react-select {
  & &__control {
    @extend .form-control-sm;
    min-height: 0;
    height: auto;
    border-color: $gray-400;

    &--is-focused {
      border-color: $input-focus-border-color;
      box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    }

    &:hover {
      border-color: $input-focus-border-color;
    }
  }

  & &__value-container {
    align-items: center;
    padding: 0;
    line-height: 1;

    & [class*="Input"] {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }

  & &__indicator {
    padding: 0.5px;

    &-separator {
      margin-left: 6px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  & &__clear-indicator {
    &:hover {
      color: $primary;
    }
  }

  & &__dropdown-indicator {
    color: $gray-700;
    margin-right: -1px;
    margin-left: 6px;

    &:hover {
      color: $primary;
    }
  }

  & &__option {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.ReactVirtualized__List {
  &:focus {
    outline: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
