.error-detail {
  padding: 0.9375rem;
  word-break: break-all;
  background-color: $white;
  border-radius: $radius;
  @extend %shallow-shadow;

  .ant-row {
    .left {
      padding-right: 0.625rem;
      border-right: 1px solid $lightnavy;
    }
  }

  .content-block {
    margin-bottom: 20px;
    padding: 0.625rem;
  }

  .info {
    padding: 5px 0;
    overflow: hidden;
    color: $darkgray;
    font-size: 1rem;
  }

  .error-msg {
    padding: 5px 0;
    overflow: hidden;
    color: $darkgray;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .content-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .sub-title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .head-container {
    border-bottom: 1px solid $lightnavy;

    .name {
      margin-right: 0.625rem;
      font-weight: 500;
      font-size: 1.5rem;
    }

    .page-info {
      float: right;
    }
  }

  .requestid-item {
    font-size: 20px;

    .requestid-text {
      max-width: 400px;
      overflow: hidden;
      color: $darkgray;
      font-size: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .check-request-action {
      margin-left: 10px;
      color: $color-primary;
      cursor: pointer;

      i {
        font-size: 18px;
      }
    }
  }

  .event-container {
    .event {
      display: inline-block;
      font-size: 20px;

      .event-id {
        color: $darkgray;
        font-size: 16px;
      }
    }

    .arrow {
      display: inline-block;
      float: right;

      .first-page,
      .next-page {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .prev-page,
      .last-page {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .prev-page {
        margin-right: 5px;
      }

      .edge {
        i {
          color: $lightgray;
        }
      }
    }
  }

  .msg-container {
    .msg-txt {
      padding: 20px 10px;
      border: 1px solid $color-border;
      border-radius: 0.3125rem;
    }
  }

  .stacklist-container {
    .stacks-title {
      margin-bottom: 0;
    }

    .toggle-stacks {
      float: right;
    }

    .stack-list {
      margin: 5px 0;
      border: 1px solid $color-border;
      border-radius: 0.3125rem;

      .stack-item {
        padding: 0.625rem;
        color: $navy;
        font-weight: 500;
        border-bottom: 1px solid $color-border;

        span {
          color: $darkgray;
          font-weight: 100;
        }
      }

      .omit-item {
        padding: 0.1875rem;
        font-weight: 100;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: $whitesmoke;

          i {
            color: $color-primary;
          }
        }
      }

      &:last-child {
        border-bottom: unset;
      }
    }
  }

  .request-container {
    //border-top: 1px solid $lightnavy;
    .request-info {
      padding: 5px 10px;
    }

    .request-item {
      padding: 5px 10px;

      pre {
        padding: 2px 10px;
        background-color: $whitesmoke;
      }
    }
  }

  .object-key {
    margin-bottom: 1px;
    padding: 2px 10px;
    color: $navy;
  }

  .object-value {
    margin-bottom: 5px;
    padding: 2px 10px;
    background-color: $whitesmoke;
  }

  .tag-container {
    padding: 1.25rem;

    li {
      margin-bottom: 1.25rem;
    }
  }
}

.error-insight-error-msg-tip {
  max-width: 500px;
  max-height: 200px;
  overflow: auto;
}
