*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.flattened-pom.xml
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.python-version
.scala_dependencies
.settings
/lib/
build/apache-maven*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
dependency-reduced-pom.xml
derby.log
dev/create-release/*final
dev/create-release/*txt
dev/pr-deps/
dist/
assets/_site
assets/api
lib_managed/
lint-r-report.log
log/
logs/
out/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
python/deps
python/test_coverage/coverage_data
python/test_coverage/htmlcov
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
rss-*.tgz
rss-*-bin*
emr-*.tgz
emr-*-bin*
celeborn-*.tgz
apache-celeborn-*.tgz
celeborn-*-bin*
apache-celeborn-*-bin*
src_managed/
target/
unit-tests.log
work/
assets/.jekyll-metadata
*.crc
metastore_db/
spark-warehouse/

logs
pids
tmp/
