[ ca ]
default_ca             = CA_CLIENT
[ CA_CLIENT ]
root_dir = /
dir		       = $root_dir/var/lib/ambari-server/keys/db
certs                  = $dir/certs
new_certs_dir          = $dir/newcerts

database               = $dir/index.txt
serial                 = $dir/serial
default_days           = 1095    

default_crl_days       = 7  
default_md             = sha256

policy                 = policy_anything 

[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional 
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = optional   
emailAddress           = optional       

[ jdk7_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:true
