.release-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.release-detail-header {
  .title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .ant-menu {
    padding: 0 12px;
  }

  .edit {
    float: right;
    margin-top: 10px;
    font-size: 20px;

    &:hover {
      @include hover();
    }
  }
}

.release-detail-page {
  flex: 1;
  padding: 10px 32px 20px;
  overflow: auto;
  background-color: $white;
  border-radius: 4px;

  .image-list {
    margin-bottom: 0;

    .image-item {
      padding: 5px 0;
      line-height: 20px;
    }

    li {
      overflow-x: auto;

      &:hover {
        background-color: $color-hover;
      }
    }
  }

  .depth-3 {
    margin-left: 1em;
  }

  .depth-4 {
    margin-left: 2em;
  }
}
