.basic-select-input {
  .pf-c-select {
    &__toggle {
      color: var(--pf-global--Color--light-100);
      background-color: transparent;
      padding-left: 0px;
      &:before {
        border-color: transparent;
      }
    }
  }
}
