#!/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
source /etc/profile
isrunning=`jps | grep QuorumPeerMain`
if ! [ -z "$isrunning" ]
then
  exit 0
fi
cd {{zk_install_dir}}/bin
./zkServer.sh start