tickTime=2000
{% if uber_pkg %}
{% set tis_data_dir = relative_root_dir + data_dir_name %}
{% endif %}
dataDir={{tis_data_dir}}/zookeeper
clientPort=2181
initLimit=5
syncLimit=2

{% if uber_pkg %}
 server.{{zk_node_id}}=127.0.0.1:2888:3888
{% else %}
 {% for item in groups['zookeeper'] %}
 server.{{ hostvars[item]['zk_node_id'] }}={{ item }}:2888:3888
 {% endfor %}
{% endif %}
