.edit-service-label {
  display: inline-block;
  color: $color-dark-4;
}

.edit-service-label-icon {
  margin-left: 8px;
  color: $color-dark-4;
  cursor: pointer;
}

.edit-service-container {
  .ant-form-item-label label {
    color: $color-dark-8;
  }
}
