<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.tkgone.server.domain.ChatopsHistoryMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.tkgone.server.domain.ChatopsHistory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="sender_nick" jdbcType="VARCHAR" property="senderNick" />
    <result column="sender_id" jdbcType="VARCHAR" property="senderId" />
    <result column="sender_empid" jdbcType="VARCHAR" property="senderEmpid" />
    <result column="is_conversation" jdbcType="INTEGER" property="isConversation" />
    <result column="conversation_title" jdbcType="VARCHAR" property="conversationTitle" />
    <result column="is_content_help" jdbcType="INTEGER" property="isContentHelp" />
    <result column="send_content" jdbcType="VARCHAR" property="sendContent" />
    <result column="back_content" jdbcType="VARCHAR" property="backContent" />
    <result column="rate" jdbcType="INTEGER" property="rate" />
    <result column="suggest" jdbcType="VARCHAR" property="suggest" />
    <result column="pattern_id" jdbcType="BIGINT" property="patternId" />
    <result column="service_id" jdbcType="BIGINT" property="serviceId" />
    <result column="feedback_id" jdbcType="VARCHAR" property="feedbackId" />
    <result column="feedback_empid" jdbcType="VARCHAR" property="feedbackEmpid" />
    <result column="conversation_id" jdbcType="VARCHAR" property="conversationId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, category, sender_nick, sender_id, sender_empid, is_conversation, 
    conversation_title, is_content_help, send_content, back_content, rate, suggest, pattern_id, 
    service_id, feedback_id, feedback_empid, conversation_id
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from chatops_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chatops_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chatops_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistoryExample">
    delete from chatops_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chatops_history (gmt_create, gmt_modified, category, 
      sender_nick, sender_id, sender_empid, 
      is_conversation, conversation_title, is_content_help, 
      send_content, back_content, rate, 
      suggest, pattern_id, service_id, 
      feedback_id, feedback_empid, conversation_id
      )
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{category,jdbcType=VARCHAR}, 
      #{senderNick,jdbcType=VARCHAR}, #{senderId,jdbcType=VARCHAR}, #{senderEmpid,jdbcType=VARCHAR}, 
      #{isConversation,jdbcType=INTEGER}, #{conversationTitle,jdbcType=VARCHAR}, #{isContentHelp,jdbcType=INTEGER}, 
      #{sendContent,jdbcType=VARCHAR}, #{backContent,jdbcType=VARCHAR}, #{rate,jdbcType=INTEGER}, 
      #{suggest,jdbcType=VARCHAR}, #{patternId,jdbcType=BIGINT}, #{serviceId,jdbcType=BIGINT}, 
      #{feedbackId,jdbcType=VARCHAR}, #{feedbackEmpid,jdbcType=VARCHAR}, #{conversationId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into chatops_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="senderNick != null">
        sender_nick,
      </if>
      <if test="senderId != null">
        sender_id,
      </if>
      <if test="senderEmpid != null">
        sender_empid,
      </if>
      <if test="isConversation != null">
        is_conversation,
      </if>
      <if test="conversationTitle != null">
        conversation_title,
      </if>
      <if test="isContentHelp != null">
        is_content_help,
      </if>
      <if test="sendContent != null">
        send_content,
      </if>
      <if test="backContent != null">
        back_content,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="suggest != null">
        suggest,
      </if>
      <if test="patternId != null">
        pattern_id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="feedbackId != null">
        feedback_id,
      </if>
      <if test="feedbackEmpid != null">
        feedback_empid,
      </if>
      <if test="conversationId != null">
        conversation_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="senderNick != null">
        #{senderNick,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderEmpid != null">
        #{senderEmpid,jdbcType=VARCHAR},
      </if>
      <if test="isConversation != null">
        #{isConversation,jdbcType=INTEGER},
      </if>
      <if test="conversationTitle != null">
        #{conversationTitle,jdbcType=VARCHAR},
      </if>
      <if test="isContentHelp != null">
        #{isContentHelp,jdbcType=INTEGER},
      </if>
      <if test="sendContent != null">
        #{sendContent,jdbcType=VARCHAR},
      </if>
      <if test="backContent != null">
        #{backContent,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="suggest != null">
        #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="patternId != null">
        #{patternId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="feedbackId != null">
        #{feedbackId,jdbcType=VARCHAR},
      </if>
      <if test="feedbackEmpid != null">
        #{feedbackEmpid,jdbcType=VARCHAR},
      </if>
      <if test="conversationId != null">
        #{conversationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistoryExample" resultType="java.lang.Long">
    select count(*) from chatops_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chatops_history
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.senderNick != null">
        sender_nick = #{record.senderNick,jdbcType=VARCHAR},
      </if>
      <if test="record.senderId != null">
        sender_id = #{record.senderId,jdbcType=VARCHAR},
      </if>
      <if test="record.senderEmpid != null">
        sender_empid = #{record.senderEmpid,jdbcType=VARCHAR},
      </if>
      <if test="record.isConversation != null">
        is_conversation = #{record.isConversation,jdbcType=INTEGER},
      </if>
      <if test="record.conversationTitle != null">
        conversation_title = #{record.conversationTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.isContentHelp != null">
        is_content_help = #{record.isContentHelp,jdbcType=INTEGER},
      </if>
      <if test="record.sendContent != null">
        send_content = #{record.sendContent,jdbcType=VARCHAR},
      </if>
      <if test="record.backContent != null">
        back_content = #{record.backContent,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=INTEGER},
      </if>
      <if test="record.suggest != null">
        suggest = #{record.suggest,jdbcType=VARCHAR},
      </if>
      <if test="record.patternId != null">
        pattern_id = #{record.patternId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceId != null">
        service_id = #{record.serviceId,jdbcType=BIGINT},
      </if>
      <if test="record.feedbackId != null">
        feedback_id = #{record.feedbackId,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackEmpid != null">
        feedback_empid = #{record.feedbackEmpid,jdbcType=VARCHAR},
      </if>
      <if test="record.conversationId != null">
        conversation_id = #{record.conversationId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chatops_history
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      category = #{record.category,jdbcType=VARCHAR},
      sender_nick = #{record.senderNick,jdbcType=VARCHAR},
      sender_id = #{record.senderId,jdbcType=VARCHAR},
      sender_empid = #{record.senderEmpid,jdbcType=VARCHAR},
      is_conversation = #{record.isConversation,jdbcType=INTEGER},
      conversation_title = #{record.conversationTitle,jdbcType=VARCHAR},
      is_content_help = #{record.isContentHelp,jdbcType=INTEGER},
      send_content = #{record.sendContent,jdbcType=VARCHAR},
      back_content = #{record.backContent,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=INTEGER},
      suggest = #{record.suggest,jdbcType=VARCHAR},
      pattern_id = #{record.patternId,jdbcType=BIGINT},
      service_id = #{record.serviceId,jdbcType=BIGINT},
      feedback_id = #{record.feedbackId,jdbcType=VARCHAR},
      feedback_empid = #{record.feedbackEmpid,jdbcType=VARCHAR},
      conversation_id = #{record.conversationId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistory">
    update chatops_history
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="senderNick != null">
        sender_nick = #{senderNick,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderEmpid != null">
        sender_empid = #{senderEmpid,jdbcType=VARCHAR},
      </if>
      <if test="isConversation != null">
        is_conversation = #{isConversation,jdbcType=INTEGER},
      </if>
      <if test="conversationTitle != null">
        conversation_title = #{conversationTitle,jdbcType=VARCHAR},
      </if>
      <if test="isContentHelp != null">
        is_content_help = #{isContentHelp,jdbcType=INTEGER},
      </if>
      <if test="sendContent != null">
        send_content = #{sendContent,jdbcType=VARCHAR},
      </if>
      <if test="backContent != null">
        back_content = #{backContent,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=INTEGER},
      </if>
      <if test="suggest != null">
        suggest = #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="patternId != null">
        pattern_id = #{patternId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="feedbackId != null">
        feedback_id = #{feedbackId,jdbcType=VARCHAR},
      </if>
      <if test="feedbackEmpid != null">
        feedback_empid = #{feedbackEmpid,jdbcType=VARCHAR},
      </if>
      <if test="conversationId != null">
        conversation_id = #{conversationId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistory">
    update chatops_history
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      category = #{category,jdbcType=VARCHAR},
      sender_nick = #{senderNick,jdbcType=VARCHAR},
      sender_id = #{senderId,jdbcType=VARCHAR},
      sender_empid = #{senderEmpid,jdbcType=VARCHAR},
      is_conversation = #{isConversation,jdbcType=INTEGER},
      conversation_title = #{conversationTitle,jdbcType=VARCHAR},
      is_content_help = #{isContentHelp,jdbcType=INTEGER},
      send_content = #{sendContent,jdbcType=VARCHAR},
      back_content = #{backContent,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=INTEGER},
      suggest = #{suggest,jdbcType=VARCHAR},
      pattern_id = #{patternId,jdbcType=BIGINT},
      service_id = #{serviceId,jdbcType=BIGINT},
      feedback_id = #{feedbackId,jdbcType=VARCHAR},
      feedback_empid = #{feedbackEmpid,jdbcType=VARCHAR},
      conversation_id = #{conversationId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.tesla.tkgone.server.domain.ChatopsHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from chatops_history
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>