<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.tkgone.server.domain.dao.SynonymMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.tesla.tkgone.server.domain.config.Synonym">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="word" jdbcType="VARCHAR" property="word"/>
        <result column="synonyms" jdbcType="VARCHAR" property="synonyms"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>

    <sql id="Base_Column_List">
        gmt_create, gmt_modified, word, synonyms, memo
    </sql>

    <sql id="Full_Column_List">
        id,
        <include refid="Base_Column_List"/>
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Full_Column_List"/>
        from dict_synonym
    </select>

    <select id="selectByWord" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Full_Column_List"/>
        from dict_synonym
        where word = #{word,jdbcType=VARCHAR}
    </select>

    <delete id="delete" parameterType="int">
        delete
        from dict_synonym
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.alibaba.tesla.tkgone.server.domain.config.Synonym">
        insert into dict_synonym (<include refid="Base_Column_List"/>)
        values (
        #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP},
        #{word,jdbcType=VARCHAR},
        #{synonyms,jdbcType=VARCHAR},
        #{memo,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="update" parameterType="com.alibaba.tesla.tkgone.server.domain.config.Synonym">
        update dict_synonym
        set gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            word         = #{word,jdbcType=VARCHAR},
            synonyms     = #{synonyms,jdbcType=VARCHAR},
            memo         = #{memo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </insert>
</mapper>