<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <mappers>
        <mapper resource="mybatis/ConfigMapper.xml"/>
        <mapper resource="mybatis/ConsumerMapper.xml"/>
        <mapper resource="mybatis/ConsumerHistoryMapper.xml"/>
        <mapper resource="mybatis/ConsumerNodeMapper.xml"/>
        <mapper resource="mybatis/ChatopsHistoryMapper.xml"/>
        <mapper resource="mybatis/DictWordMapper.xml"/>
        <mapper resource="mybatis/DictStopWordMapper.xml"/>
        <mapper resource="mybatis/DictSynonymMapper.xml"/>
    </mappers>


</configuration>
