.common-notify-item {
  display: flex;

  .item-left {
    flex: 1;

    .notify-info {
      justify-content: start;
    }

    .group-address {
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  .item-right {
    width: 250px;
  }
}

.opportunity-header {
  text-align: left;

  .type-selecter {
    width: 200px;
  }
}

.alarm-rule-collection {
  box-sizing: border-box;
  width: 150px;

  .collection-item {
    padding: 5px 8px;
  }
}

.function-list {
  .field-name {
    display: inline-block;
    width: 100px;
  }

  .aggregator {
    display: inline-block;
    width: 60px;
  }

  .operator {
    width: 100px;
  }

  .value {
    width: 100px;
  }
}

// todo temporarilyï¼ŒWhen the overflow style of the global td is removed, remove the style
.opportunity-table {
  td {
    overflow: visible;
  }
}
