.label-selector-container {
  line-height: 28px;

  .label-group {
    margin-top: 4px;
    margin-bottom: 8px;

    .label-group-name {
      color: $color-text-sub;
      font-size: 14px;
    }
  }
}
