.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  z-index: 19;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 0 20px;
  line-height: 48px;
  background-color: rgb(255 255 255 / 40%);
  backdrop-filter: blur(8px);
  inset-block-start: 0;
  inset-inline-end: 0;
  padding-block: 0;
  border-block-end: 1px solid rgb(0 0 0 / 6%);
  .title {
    display: inline-flex;
    align-items: baseline;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    > span {
      margin-right: 20px;
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .action {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 12px;
    color: rgb(0 0 0 / 85%);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: rgb(0 0 0 / 85%);
      background: rgb(0 0 0 / 2.5%);
    }
  }
  :global {
    .dropdown-trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 8px;
      border-radius: 2px;
      transition: all 0.3s;
      &:hover {
        background: rgb(0 0 0 / 2.5%);
        cursor: pointer;
      }
    }
  }
}

.vacancy {
  height: 50px;
  background: #fff;
}
