.auto-test-snippet-drawer {
  .ant-drawer-body {
    padding: 12px 0;
  }

  .snippet-detail {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .left {
      width: 280px;
      height: 100%;
      margin-right: 12px;
      overflow: auto;
      border-right: 1px solid $border-color;

      .snippet-item {
        width: 100%;
        height: 45px;
        padding: 0 12px;
        line-height: 45px;
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        &.is-active,
        &:hover {
          color: $primary;
          background-color: $color-active-bg;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .right {
      flex: 1;
      width: 0;
      margin-right: 12px;
      overflow: auto;
    }

    .log-viewer {
      height: calc(100vh - 140px);
    }
  }
}

.test-case-node-msg {
  margin-bottom: 3px;

  &-name {
    display: inline-block;
    padding: 0 4px;
    color: $gainsboro;
    font-weight: 500;
    background-color: $navy;
    border-radius: 3px;

    &.error {
      margin-right: 4px;
      color: $orange;
    }
  }
}
