<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="tab-content admin-details">
    <div id="tab-audit" role="adminaudit">
        <div id="r_auditTableLayoutView">
            <div class="fontLoader-relative">
                <i class="fa fa-refresh fa-spin-custom"></i>
            </div>
            <div class="position-relative">
                <div class="tableOverlay"></div>
                <!-- Not for table Loader its only for initial loading -->
                <div class="fontLoader">
                    <i class="fa fa-refresh fa-spin-custom"></i>
                </div>
                <div class="attributeResultContainer form-group ">
                    <button class="btn-action btn-sm  attribute-filter-text" data-id='adminAttrFilter'> <i class="fa fa-angle-right"></i> Filters</button>
                    <div class="attribute-filter-container hide">
                        <div class="panel panel-default expand_collapse_panel-icon" data-id="adminRegion">
                            <div class="panel-heading" data-toggle="collapse" href="#collapseAdmin" aria-expanded="true">
                                <h4 class="panel-title">
                                    <a>Admin</a>
                                </h4>
                                <div class="btn-group pull-right">
                                    <button type="button" title="Collapse"><i class="ec-icon fa"></i></button>
                                </div>
                            </div>
                            <div id="collapseAdmin" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id='r_attributeQueryBuilderAdmin' class='attribute-querybuilder'>
                                        <div class='fontLoader-relative show'><i class='fa fa-refresh fa-spin-custom'></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='attribute-result-footer'>
                            <div type="ok" class="btn btn-atlas ok search" data-id='attrApply'>Apply</div>
                            <div type="ok" class="btn btn-atlas ok" data-id='attrClose'>Close</div>
                        </div>
                    </div>
                </div>
                <div class="auditTable" style="display: none">
                    <div class='attr-filter-overlay hide'></div>
                    <div id="r_adminAuditTableLayoutView"></div>
                </div>
            </div>
        </div>
        <div class="no-data" data-id="showDefault">
            <div class="position-relative thick-border">
                <div style="padding-top: 20px; " class="table-responsive tableBorder">
                    <table class="table table-hover backgrid table-quickMenu">
                        <tbody>
                            <tr class="empty">
                                <td colspan="16"><span>No Records found!</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>