.transform-block {
  padding: 5px 0px 0px 5px;
  border: 1px solid var(--pf-global--BorderColor--100);
  border-radius: 5px;
}

.transform-block .pf-c-expandable-section__content {
  margin-top: 0px;
}

.position_toggle > button {
  padding: 0px;
  color: var(--pf-global--Color--100) !important;
}

.icon_button {
  /* color: var(--pf-global--Color--100); */
  cursor: pointer;
}
