<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<header class="clearfix atlas-header">
    <table>
        <tr>
            <td>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0);" data-id="menuHamburger"><i class="fa fa-bars"></i></a>
                    </li>
                    <li class="details-backbutton"><a href="javascript:void(0);" data-id="backButton"><i class="fa fa-chevron-left"></i><span> Back To Results</span></a></li>
                </ul>
            </td>
            <td class="global-search-container">
                <div class="has-feedback align-left-right-icon search-box">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control global-search" name="global search" placeholder="Search entities" data-id="globalSearch" />
                    <span class="fa fa-times form-control-feedback clearable" data-id="clearGlobalSearch"></span>
                </div>
            </td>
            <td>
                <table class="header-menu">
                    <tr>
                        <td><a class="show-stat" href="javascript:void(0);" title="Statistics"><i class="fa fa-bar-chart"></i></a></td>
                        <td>
                            <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="user-dropdown"><i class="fa fa-user user-circle "></i><span class="userName"></span></a>
                            <ul class="dropdown-menu pull-right multi-level">
                                <li><a href="javascript:void(0)" data-id='administrator'>Administration</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="javascript:void(0)">Bulk Import</span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="javascript:void(0)">Business Metadata</span></a>
                                            <ul class="dropdown-menu submenu">
                                                <li><a href="{{businessMetadataImportTempUrl}}">Download Import template</a></li>
                                                <li data-id='businessMetadataImport'><a href="javascript:void(0)">Import Business Metadata</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="javascript:void(0)">Glossary</span></a>
                                            <ul class="dropdown-menu submenu">
                                                <li><a href="{{glossaryImportTempUrl}}">Download Import template</a></li>
                                                <li data-id='glossaryImport'><a href="javascript:void(0)">Import Glossary Term</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="javascript:void(0)">Help</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a target="_blank" href="http://atlas.apache.org/">Documentation</a></li>
                                        <li><a target="_blank" href="{{apiDocUrl}}">API Documentation</a></li>
                                        <li class="aboutAtlas"><a href="javascript:void(0)">About</a></li>
                                        {{#if isDebugMetricsEnabled}}
                                        <li class="show-debug"><a href="javascript:void(0)" data-id="showDebug">Debug</a></li>
                                        {{/if}}
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a data-id="uiSwitch" href="javascript:void(0)">Switch to New</a></li>
                                <li>
                                    <a href="javascript:void(0)" data-id="signOut"><i class="fa fa-sign-out"></i>Logout</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</header>