<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.5.9.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="APP_NAME" value="tesla-authproxy-service" />
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs" />
    <property name="FILE_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%C:%L] [%thread] [%X{EAGLEEYE_TRACE_ID}:%X{EAGLEEYE_RPC_ID}] - %m%n" />
    <property name="APPLICATION_LOG_PATH" value="${LOG_PATH}/application.log" />
    <property name="SERVER_LOG_PATH" value="${LOG_PATH}/server.log" />

    <appender name="SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SERVER_LOG_PATH}</file>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SERVER_LOG_PATH}.%d{yyyyMMddHH}</fileNamePattern>
            <maxHistory>360</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APPLICATION_LOG_PATH}</file>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APPLICATION_LOG_PATH}.%d{yyyyMMddHH}</fileNamePattern>
            <maxHistory>360</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="io.netty" level="ERROR"/>
    <logger name="com.alibaba.alimonitor" level="ERROR"/>

    <logger name="com.alibaba.tesla.authproxy" level="INFO" additivity="false">
        <appender-ref ref="SERVER" />
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <root level="INFO">
        <appender-ref ref="APPLICATION" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>