<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="panel panel-default expand_collapse_panel-icon right-icons">
    <div class="panel-heading dash-button-icon clearfix" data-toggle="collapse" aria-expanded="true" href="#c_term">
        <i class="ec-icon fa"></i>
        <h4 class="panel-title">Glossaries</h4>
        <div class="btn-group pull-right">
            <button type="button" class="typeRefresh" data-id="refreshTree" data-type="term" title="Refresh"><i class="fa fa-refresh"></i></button>
            <button type="button" class="typeRefresh" data-id="showGlossaryType" title="Show Category">
                <i class="fa fa-toggle-on switch-button"></i>
            </button>
            <button type="button" class="typeRefresh dropdown">
                <div class=" btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </div>
                <ul class="dropdown-menu tree-droupdown" aria-labelledby="dropdownMenuButton">
                    <li data-id="createGlossary" data-type="term"> <i class="fa fa-plus"></i><span>Create Glossary</span>
                    </li>
                    <li data-id="downloadTemplate" data-type="term"><i class="fa fa-download"></i> <span><a href="{{importTmplUrl}}"><span>Download Import template</span></a></span>
                    </li>
                    <li data-id="importGlossary" data-type="term"> <i class="fa fa-upload"></i><a href="javascript:void(0)"><span>Import Glossary Term</span></a>
                    </li>
                </ul>
            </button>
        </div>
    </div>
    <div id="c_term" class="panel-collapse collapse jstree-with-action in">
        <div data-id="termSearchTree"></div>
        <div class="glossary-tree-loader text-center">
            <i class="fa fa-refresh fa-spin-custom"></i>
        </div>
    </div>
</div>