<div class="skeleton-nav">
  <div class="sidebar-group">
    <div class="nav-item" style="margin-top: 12px">
      <iconpark-icon name="appstore" color="white" size="20px" />
    </div>
    <div class="nav-item" style="margin-top: 27px">
      <iconpark-icon name="erdalogo" size="19px" />
    </div>
  </div>
  <div class="sidebar-group" style="margin-bottom: 10px; color: #c3bbd8">
    <div class="nav-item">
      <iconpark-icon name="help" size="20px" style="margin-top: 2px" />
    </div>
    <div class="nav-item">
      <iconpark-icon name="chinese" size="20px" style="margin-top: 2px" />
    </div>
    <div class="nav-item" style="margin-bottom: 18px">
      <iconpark-icon name="bell" size="22px" />
    </div>
    <div class="nav-item" style="background: #666666; border-radius: 100%"></div>
  </div>
</div>
<div style="width: 200px; border-right: 1px solid #e6e6e6">
  <div class="skeleton-sidebar-info">
    <span class="skeleton-logo skeleton-bg"></span>
    <div class="skeleton-line skeleton-bg" style="width: 80px; margin: 0 auto"></div>
  </div>
  <ul style="padding: 16px">
    <li class="skeleton-line skeleton-icon-line skeleton-bg"></li>
    <li class="skeleton-line skeleton-icon-line skeleton-bg"></li>
    <li class="skeleton-line skeleton-icon-line skeleton-bg"></li>
  </ul>
</div>
<div class="skeleton-body">
  <div class="skeleton-header">
    <div class="skeleton-line skeleton-bg" style="width: 100px"></div>
    <div class="skeleton-line skeleton-bg" style="width: 200px"></div>
  </div>
  <div class="main-holder">
    <div id="enter-loading"></div>
  </div>
</div>
