.page-chart-order {
  display: block;
  width: 300px;
  height: 150px;
  padding: 0 20px;
  background-color: $lightnavy;
  border-radius: 6px;

  .order-style,
  .show-all {
    height: 40px;
    line-height: 40px;
  }

  .show-all {
    display: block;
    width: 260px;
    margin-top: 10px;
    text-align: center;
    background-color: $gray;
    border-radius: 6px;
  }
}
