.repo-branch-select {
  display: inline-flex;
  align-items: center;
  min-width: 120px;
  max-width: 260px;
  height: 32px;
  padding: 0 12px;
  line-height: 32px;
  text-align: left;
  background-color: $white;
  border: 1px solid $color-dark-2;
  border-radius: $radius;
  outline: none;
  cursor: pointer;

  &.disabled {
    background-color: $color-disabled-bg;
    cursor: not-allowed;
  }

  &:not(.disabled):hover,
  &:not(.disabled):focus {
    border: 1px solid $color-primary;
  }

  .branch-name {
    flex: 1;
    margin-left: 4px;
  }
}

.branch-select-popover {
  min-width: 385px;

  .ant-popover-title {
    padding: 12px 16px;
  }

  .title {
    padding: 8px 5px;
    color: $color-text-desc;
  }

  .list-wrap {
    height: 350px;
    margin-top: 3px;
    overflow-y: auto;
  }

  ul {
    margin-bottom: 0;
  }

  .branch-item {
    position: relative;
    height: 34px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 34px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: $color-hover;
    }

    i {
      position: absolute;
      top: 9px;
      left: 5px;
      color: $color-primary;
      font-size: 16px;
    }
  }
}
