.org-notice-manage {
  .notice-filter {
    width: 268px;
    margin-bottom: $p12;
  }

  .operation-td {
    span {
      position: relative;
      margin-right: 16px;
      color: $color-active;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: -8px;
        width: 1px;
        height: 14px;
        background: rgba(0, 0, 0, 0.1);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
