<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.ClusterHostMapper">

<!--    getClusterHostByHostname-->
    <select id="getClusterHostByHostname" resultType="com.datasophon.dao.entity.ClusterHostEntity">
        select *
        from t_ddh_cluster_host
        where hostname = #{hostname}
    </select>

    <!--    updateBatchNodeLabel-->
    <update id="updateBatchNodeLabel">
        update t_ddh_cluster_host set node_label = #{nodeLabel}
        where id in concat('(', #{hostIds},')')
    </update>
</mapper>