<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.ClusterInfoMapper">

<!--    getClusterByClusterCode-->
    <select id="getClusterByClusterCode" resultType="com.datasophon.dao.entity.ClusterInfoEntity">
        select *
        from t_ddh_cluster_info
        where cluster_code = #{clusterCode}
    </select>
</mapper>