<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.ClusterRoleUserMapper">


    <select id="getAllClusterManagerByClusterId" resultType="com.datasophon.dao.entity.UserInfoEntity">
        SELECT
            a.*
        FROM
            t_ddh_user_info a
                LEFT JOIN t_ddh_cluster_role_user b ON a.id = b.user_id
        WHERE
            b.cluster_id = #{clusterId}
    </select>
</mapper>