.access-detail-page {
  .table-operations {
    span.table-operations-btn {
      &.default-sla {
        color: $color-text;
        text-decoration: none !important;
        cursor: unset !important;
      }
    }
  }
}

.sla-limit-operation {
  align-items: center;
  width: 15%;
  height: 32px;

  > div {
    height: 100%;
  }

  svg {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
