<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div id="rightbar" (window:resize)="onResize($event)" style="background-color:#262626;">
  <div id="side-bar-stats" class="row" style="border-bottom:5px solid #060606;margin-left:0;margin-right:0">
    <div class="col-xs-15 col-md-15 col-lg-6 " id="sidebar-option">
      <div>
        <div class="sidebar-stat-center">
          <i class="fa fa-table" style="color:#b2c831;" aria-hidden="true"></i>
          <span><a routerLink="/dataassets">&nbsp;DataAssets</a></span>
        </div>
        <div class="sidebar-stat-center">
          <i class="fa fa-line-chart" style="color:#b2c831;" aria-hidden="true"></i>
          <span><a routerLink="/metrics">&nbsp;DQ Metrics</a></span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6">
      <div id="data-asset-pie"></div>
    </div>
  </div>
  <!-- <div id="side-bar-metrics" class="row"> -->
  <div id="side-bar-metrics" class="row y-scrollable">
    <div *ngFor="let outerItems of finalData;let parent=index">
      <div class="well" *ngIf="outerItems.metrics.length != 0">
        <div class="col-sm-4 col-lg-4 col-md-4 " style="width: fit-content">
          <h4>
            <!-- <a routerLink="/metrics/{{outerItems.name}}"> {{outerItems.name}}</a> -->
            <a> {{outerItems.name}}</a>
          </h4>
        </div>
        <!--<div class="col-sm-3 col-lg-3 col-md-3 " style="display: flex;justify-content: center;height:46px;">-->
           <!--<div [ngClass]="outerItems.dq >=90 ? 'led-green':'led-yellow'" style="align-self: center;"></div> -->
        <!--</div>-->
        <!-- <div class="col-sm-5 col-lg-5 col-md-5 " style="display: flex;justify-content: center;height:46px;"><a style="align-self: center;" class="btn btn-primary" href="https://github.com/eBay/DQSolution/issues" target="_blank">Report&nbsp;issue</a></div> -->
      </div>
      <br/>
      <div class="well side-bar-scroll">
        <div class="panel-group" *ngFor="let items of outerItems.metrics;let i=index;">
          <div class="panel panel-default">
            <div class="panel-heading" style="background:transparent;">
              <h4 class="panel-title side-metrics">
                <a style="cursor: pointer;" (click)="draw(items,parent, i);items.tag=!items.tag;">
                  <i class="faChevron" [ngClass]="items.tag ? 'fa fa-caret-down':'fa fa-caret-right'"
                     style="width:10px"></i>
                  <i class="fa fa-line-chart faArrows"></i>
                  <span class="side-date">{{items.timestamp | date:'short' }}</span>
                  &nbsp;&nbsp;
                  <span class="side-name" title="{{items.name}}">{{items.name |truncate :13}}
                  </span>
                </a>
              </h4>
            </div>
            <div id="side{{parent}}{{i}}" class="panel-collapse collapse">
              <div class="panel-body" style="cursor:pointer;padding:0px 15px;border-top-width: 0;">
                <div id="chart{{parent}}-{{i}}" class="side-chart" echarts [options]="getOption(parent,i)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
