{% if need_install_tispark %}
spark.tispark.pd.addresses {{ groups['tidb'][0] }}:2379
spark.sql.extensions org.apache.spark.sql.TiExtensions
{% endif %}

{% if need_install_spark_shuffle %}
spark.jars {{java_home}}/lib/{{ spark_thriftserver_jar_file_name }}
spark.shuffle.service.enabled    true
spark.shuffle.service.port       7337
spark.dynamicAllocation.enabled  true
spark.dynamicAllocation.initialExecutors   1
spark.dynamicAllocation.minExecutors   1
spark.dynamicAllocation.maxExecutors   {{ spark_shuffle_max_executor }}
spark.executor.memory   {{ spark_shuffle_executor_memory }}
spark.sql.adaptive.enabled   true
spark.sql.adaptive.shuffle.targetPostShuffleInputSize  128000000

spark.driver.host {{ groups['hadoop-yarn-resource-manager'][0] }}
spark.driver.port 7077

spark.extraListeners org.apache.spark.scheduler.StatsReportListener

{% endif %}