{
  "parser": 'typescript',
  "indent": 2,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": 'all',
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": 'lf'
}
