.custom-label-comp {
  line-height: 28px;

  .custom-label-input {
    width: 100px;
    height: 24px;
    margin: 0 4px;
  }

  .custom-label-add {
    height: 24px;
    margin: 0 4px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 22px;
  }
}
