.connector-drawer__header-text {
    margin-bottom: 0 !important;
  }
  .connector-drawer__header-title {
    margin-top: 0 !important;
  }
  .connector-drawer__tab-content {
    padding-top: var(--pf-global--spacer--lg);
    padding-bottom: var(--pf-global--spacer--lg);
  }
  