<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.AppExtMapper">

    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.AppExtDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ext_app_name" property="extAppName" jdbcType="VARCHAR"/>
        <result column="ext_app_key" property="extAppKey" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, ext_app_name, ext_app_key, memo, gmt_create, gmt_modified
    </sql>

    <select id="getByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ta_app_ext where ext_app_name = #{name,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.alibaba.tesla.authproxy.model.AppExtDO">
        insert into ta_app_ext (id,
                                ext_app_name,
                                ext_app_key,
                                memo,
                                gmt_create,
                                gmt_modified)
        values (#{id,jdbcType=BIGINT},
                #{extAppName,jdbcType=VARCHAR},
                #{extAppKey,jdbcType=VARCHAR},
                #{memo,jdbcType=VARCHAR},
                #{gmtCreate,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler},
                #{gmtModified,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.authproxy.model.AppExtDO">
        update ta_app_ext
        set ext_app_name = #{extAppName,jdbcType=VARCHAR},
            ext_app_key  = #{extAppKey,jdbcType=VARCHAR},
            memo         = #{memo,jdbcType=VARCHAR},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>