<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.AppDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="app_accesskey" property="appAccesskey" jdbcType="VARCHAR"/>
        <result column="admin_role_name" property="adminRoleName" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="index_url" property="indexUrl" jdbcType="VARCHAR"/>
        <result column="login_url" property="loginUrl" jdbcType="VARCHAR"/>
        <result column="login_enable" property="loginEnable" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, app_accesskey, admin_role_name, memo, index_url, login_url, login_enable, gmt_create, gmt_modified
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from ta_app where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getByAppId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ta_app where app_id = #{appId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from ta_app
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.alibaba.tesla.authproxy.model.AppDO">
        insert into ta_app (id,
                            app_id,
                            app_accesskey,
                            admin_role_name,
                            memo,
                            index_url,
                            login_url,
                            login_enable,
                            gmt_create,
                            gmt_modified)
        values (#{id,jdbcType=BIGINT},
                #{appId,jdbcType=VARCHAR},
                #{appAccesskey,jdbcType=VARCHAR},
                #{adminRoleName,jdbcType=VARCHAR},
                #{memo,jdbcType=VARCHAR},
                #{indexUrl,jdbcType=VARCHAR},
                #{loginUrl,jdbcType=VARCHAR},
                #{loginEnable,jdbcType=INTEGER},
                #{gmtCreate,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler},
                #{gmtModified,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.authproxy.model.AppDO">
        update ta_app
        set app_id          = #{appId,jdbcType=VARCHAR},
            app_accesskey   = #{appAccesskey,jdbcType=VARCHAR},
            admin_role_name = #{adminRoleName,jdbcType=VARCHAR},
            memo            = #{memo,jdbcType=VARCHAR},
            index_url       = #{indexUrl,jdbcType=VARCHAR},
            login_url       = #{loginUrl,jdbcType=VARCHAR},
            login_enable    = #{loginEnable,jdbcType=INTEGER},
            gmt_modified    = #{gmtModified,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>