<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.MenuDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="is_leaf" property="isLeaf" jdbcType="INTEGER"/>
        <result column="parent_code" property="parentCode" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="idx" property="idx" jdbcType="INTEGER"/>
        <result column="menu_title" property="menuTitle" jdbcType="VARCHAR"/>
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="header_title_set" property="headerTitleSet" jdbcType="VARCHAR"/>
        <result column="is_enable" property="isEnable" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, menu_code, menu_name, is_leaf, parent_code, icon, idx, menu_title,
		menu_url, header_title_set, is_enable
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ta_menu
        where app_id = #{appId,jdbcType=VARCHAR} and menu_code in (select menu_id from ta_user_menu_rel where user_id =
        #{userId,jdbcType=BIGINT})
    </select>

    <!-- 根据角色查询角色有权限的菜单数据集合 -->
    <select id="selectByRole" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ta_menu where app_id = #{appId,jdbcType=VARCHAR} and menu_code in
        (select distinct menu_code from ta_role_menu_rel where role_name in
        <foreach item="item" index="index" collection="roleNames" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and app_id = #{appId,jdbcType=VARCHAR}) order by idx
    </select>

    <select id="selectByApp" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ta_menu where app_id = #{appId,jdbcType=VARCHAR} order by idx
    </select>

    <select id="getMenuByCode" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ta_menu where menu_code = #{menuCode,jdbcType=VARCHAR}
    </select>

    <!-- 根据appId删除用户菜单关系 -->
    <delete id="deleteUserMenusByAppId" parameterType="java.lang.String">
        delete
        from ta_user_menu_rel
        where menu_id in (select menu_code from ta_menu where app_id = #{appId,jdbcType=VARCHAR})
    </delete>

    <!-- 根据appId删除菜单 -->
    <delete id="deleteByAppId" parameterType="java.lang.String">
        delete
        from ta_menu
        where app_id = #{appId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.alibaba.tesla.authproxy.model.MenuDO">
        insert into ta_menu (id,
                             app_id,
                             menu_code,
                             menu_name,
                             is_leaf,
                             parent_code,
                             icon,
                             idx,
                             menu_title,
                             menu_url,
                             header_title_set,
                             is_enable)
        values (#{id,jdbcType=BIGINT},
                #{appId,jdbcType=VARCHAR},
                #{menuCode,jdbcType=VARCHAR},
                #{menuName,jdbcType=VARCHAR},
                #{isLeaf,jdbcType=INTEGER},
                #{parentCode,jdbcType=VARCHAR},
                #{icon,jdbcType=VARCHAR},
                #{idx,jdbcType=BIGINT},
                #{menuTitle,jdbcType=VARCHAR},
                #{menuUrl,jdbcType=VARCHAR},
                #{headerTitleSet,jdbcType=VARCHAR},
                #{isEnable,jdbcType=INTEGER})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into ta_menu (
        app_id,
        menu_code,
        menu_name,
        is_leaf,
        parent_code,
        icon,
        idx,
        menu_title,
        menu_url,
        header_title_set,
        is_enable
        ) values
        <foreach collection="list" item="menu" index="index" separator=",">
            (
            #{menu.appId,jdbcType=VARCHAR},
            #{menu.menuCode,jdbcType=VARCHAR},
            #{menu.menuName,jdbcType=VARCHAR},
            #{menu.isLeaf,jdbcType=INTEGER},
            #{menu.parentCode,jdbcType=VARCHAR},
            #{menu.icon,jdbcType=VARCHAR},
            #{menu.idx,jdbcType=BIGINT},
            #{menu.menuTitle,jdbcType=VARCHAR},
            #{menu.menuUrl,jdbcType=VARCHAR},
            #{menu.headerTitleSet,jdbcType=VARCHAR},
            #{menu.isEnable,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.authproxy.model.MenuDO">
        update ta_menu
        set app_id           = #{appId,jdbcType=VARCHAR},
            menu_code        = #{menuCode,jdbcType=VARCHAR},
            menu_name        = #{menuName,jdbcType=VARCHAR},
            is_leaf          = #{isLeaf,jdbcType=INTEGER},
            parent_code      = #{parentCode,jdbcType=VARCHAR},
            icon             = #{icon,jdbcType=VARCHAR},
            idx              = #{idx,jdbcType=BIGINT},
            menu_title       = #{menuTitle,jdbcType=VARCHAR},
            menu_url         = #{menuUrl,jdbcType=VARCHAR},
            header_title_set = #{headerTitleSet,jdbcType=VARCHAR},
            is_enable        = #{isEnable,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>