<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.RoleMenuRelMapper">

    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.RoleMenuRelDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, role_name, menu_code, memo, create_time, update_time
    </sql>

    <delete id="deleteByApp" parameterType="java.lang.String">
        delete
        from ta_role_menu_rel
        where app_id = #{appId,jdbcType=VARCHAR}
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into ta_role_menu_rel (app_id, role_name, menu_code, memo, create_time, update_time)
        values
        <foreach collection="list" item="menu" index="index" separator=",">
            (
            #{menu.appId,jdbcType=VARCHAR},
            #{menu.roleName,jdbcType=VARCHAR},
            #{menu.menuCode,jdbcType=VARCHAR},
            #{menu.memo,jdbcType=VARCHAR},
            #{menu.gmtCreate,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler},
            #{menu.gmtModified,jdbcType=TIMESTAMP,typeHandler=com.alibaba.tesla.common.mybatis.TeslaDateTypeHandler}
            )
        </foreach>
    </insert>

</mapper>