<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.authproxy.model.mapper.ServiceMetaMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.tesla.authproxy.model.ServiceMetaDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="service_code" jdbcType="VARCHAR" property="serviceCode"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="owners" jdbcType="VARCHAR" property="owners"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_open" jdbcType="TINYINT" property="isOpen"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category, service_code, service_name, owners, memo, gmt_create, gmt_modified, is_open
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_service_meta sm where sm.is_open = 1 order by id ASC
    </select>

    <select id="selectWithGrantByAppId" resultMap="BaseResultMap">
        SELECT sm.id,
               sm.category,
               sm.service_code,
               sm.service_name,
               sm.owners,
               sm.memo,
               sm.gmt_create,
               sm.gmt_modified,
               sm.is_open
        FROM ta_service_meta sm
        WHERE sm.is_open = 1
          and sm.service_code in (
            select DISTINCT(smeta.service_code)
            from ta_service_meta smeta
                     left join ta_permission_meta pmeta on smeta.service_code = pmeta.service_code
                     left join ta_permission_res res on pmeta.permission_code = res.res_path
            where pmeta.is_enable = 1
              and res.app_id = <![CDATA[#{appId,jdbcType=VARCHAR}]]>
        )
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_service_meta where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ta_service_meta where service_code = <![CDATA[  #{arg0} ]]>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from ta_service_meta
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.alibaba.tesla.authproxy.model.ServiceMetaDO">
        insert into ta_service_meta
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="serviceCode != null">
                service_code,
            </if>
            <if test="serviceName != null">
                service_name,
            </if>
            <if test="owners != null">
                owners,
            </if>
            <if test="memo != null">
                memo,
            </if>
            gmt_create,
            gmt_modified,
            is_open
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="serviceCode != null">
                #{serviceCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="owners != null">
                #{owners,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            NOW(),
            NOW(),
            <if test="isOpen != null">
                #{isOpen,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.authproxy.model.ServiceMetaDO">
        update ta_service_meta
        <set>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="serviceCode != null">
                service_code = #{serviceCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                service_name = #{serviceName,jdbcType=VARCHAR},
            </if>
            <if test="owners != null">
                owners = #{owners,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            gmt_modified = NOW(),
            <if test="isOpen != null">
                is_open = #{isOpen,jdbcType=TINYINT}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>