{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="panel panel-default capsched-versions-panel">
  <div class="panel-heading">
    <div class="panel-title">
      Versions
    </div>
  </div>
  <div class="panel-body">
    <div class="versions-table-wrap">
      <table class="table table-condensed">
        <tbody>
          {{#each tag in sortedTags}}
            <tr>
              <td>
                <span class="label label-info">v{{tag.id}}</span>
                {{#if tag.isCurrent}}
                  <span class="label label-success">Current</span>
                {{/if}}
              </td>
              <td>{{timeAgo tag.changed}}</td>
              <td>
                <div class="btn-group btn-group-xs btn-block">
                  <button type="button" class="btn btn-default btn-xs btn-block" {{action 'loadTagged' tag.tag}}>Load</button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
