.report-page {
  .section-title {
    border-bottom: 1px solid $color-border;
  }

  .sub-section-title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
  }
}
