.markdown-editor {
  .markdown-editor-content {
    display: block;
    .rc-md-editor {
      border-radius: $radius;

      .navigation-nav.left {
        min-width: 120px;
      }

      .editor-container {
        padding: $p8;
        > .section > .section-container {
          padding: $p4;
          padding-top: 0;
        }
        .sec-md {
          .input {
            padding: $p8;
            border: 1px solid $color-border;
            border-radius: $radius-lg;
            background-color: $whitesmoke;

            &:focus {
              border-color: $color-active-border;
              box-shadow: rgb(106 84 158 / 30%) 0 0 0 3px;
              background-color: $white;
            }
          }
        }

        .sec-html {
          border-bottom: 1px solid $color-border;
        }
      }

      .tool-bar {
        display: none;
      }
    }

    &.show-btn {
      .rc-md-editor {
        padding-bottom: 42px;
      }
    }

    .md-content {
      padding: 0;
    }
  }

  .disable-edit {
    .rc-md-navigation .right {
      visibility: hidden;
    }
  }

  .read-only {
    .button-wrap span {
      .button:first-child {
        display: none;
      }
    }
  }
}
