// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@mixin clearfix() {

    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }

    &:after {
        clear: both;
    }
}

@mixin ellipsis() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition-property($properties...) {
    -webkit-transition-property: $properties;
    -moz-transition-property: $properties;
    -o-transition-property: $properties;
    transition-property: $properties;
}

@mixin btn-action-effect($color) {
    @if $color=='default' {
        border: 1px $color_keppel_approx solid;
        color: $color_keppel_approx;
    }

    @else if $color=='blue' {
        border: 1px $color_havelock_blue_approx solid;
        color: $color_havelock_blue_approx;
    }
}

@mixin btn-action-hover-effect($color1) {
    @if $color1=='default' {
        background-color: $color_keppel_approx;
        color: $white;
    }

    @else if $color1=='blue' {
        color: $white;
        background-color: $tag_color;
    }
}