.apis-view {
  flex-direction: row;
  height: 100%;

  .cline-id {
    width: 200px;
  }

  &-left {
    width: 300px;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    background: $white;
  }

  &-right {
    flex: 1;
    height: 100%;
    margin-left: 20px;
    padding: 15px;
    overflow-y: auto;
    background: $white;
  }
}
