.tags-container {
  position: relative;
  overflow: auto;

  .tags-box {
    white-space: nowrap;
  }

  .twt-tag-ellipsis {
    display: block;
    background-color: $color-dark-1;
    border-radius: $radius;
    color: $text-sub;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    &:hover {
      background-color: $color-purple-deep;
      color: $white;
    }

    &.small {
      width: 20px;
      height: 20px;
      line-height: 24px;

      &:hover {
        background-color: $color-purple-deep;
        color: $white;
      }
    }
  }

  .twt-tag-item {
    position: relative;
    display: inline-block;
    height: 28px;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    color: $white;
    font-size: 14px;
    line-height: 28px;
    border-radius: $radius;
    outline: none;
    cursor: pointer;

    &.small {
      height: 20px;
      margin-top: 4px;
      margin-right: 8px;
      font-size: 12px;
      margin-bottom: 4px;
      line-height: 20px;
      border: none;
    }

    .tag-close {
      position: absolute;
      top: 4px;
      left: 4px;
      color: black;
    }
  }

  .tag-group-container {
    display: flex;
    .tag-group-name {
      margin-right: 8px;
    }
  }
}

.tags-row-tooltip {
  min-width: 300px;
  max-width: 800px;
}
