<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.datavines.server.repository.mapper.SlaMapper">

    <sql id="slaJob">
        SELECT sla_id,
            count(job_id) AS jobs
        FROM
            dv_sla_job
        WHERE
            workspace_id = ${workspaceId}
        GROUP BY
            sla_id
    </sql>

    <select id="listSlas" resultType="io.datavines.server.api.dto.vo.SlaPageVO" >
        SELECT
            sla.id,
            sla.name,
            sla.description,
            sj.jobs,
            du.username AS updater,
            sla.update_time
        FROM
          (SELECT * FROM dv_sla WHERE workspace_id = ${workspaceId}) sla
        LEFT JOIN
            ( <include refid="slaJob"/> )sj
            ON sla.id = sj.sla_id
        LEFT JOIN
            dv_user du
        ON sla.update_by = du.id
        <if test="searchVal != null">
            WHERE LOWER(sla.name) LIKE CONCAT(CONCAT('%', LOWER(#{searchVal})), '%')
        </if>
    </select>

    <select id="getSlaByJobId" resultType="io.datavines.server.api.dto.vo.SlaVO" >
        SELECT
            sla.id,
            sla.name,
            sla.workspace_id,
            sla.description
        FROM
          dv_sla sla
        JOIN
          (SELECT sla_id FROM dv_sla_job WHERE job_id = ${jobId}) sj
        ON sla.id = sj.sla_id

    </select>

    <select id="getSlaConfigByJobId" resultType="io.datavines.server.api.dto.vo.SlaConfigVO">
        select c.type, d.config, c.receiver
        from
            (select b.type, b.sender_id, b.config as receiver from (select sla_id from dv_sla_job where job_id = #{jobId}) a
                join dv_sla_notification b
                on a.sla_id = b.sla_id) c
            join dv_sla_sender d
            on c.sender_id = d.id
    </select>
</mapper>