<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.streamis.projectmanager.dao.ProjectManagerMapper">


    <insert id="insertProjectFilesInfo"
            parameterType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        INSERT INTO linkis_stream_project_files
        (`file_name`,`version`,`store_path`,`store_type`,`project_name`,`create_by`,`comment`)
        VALUES (#{fileName},#{version},#{storePath},#{storeType},#{projectName},#{createBy},#{comment})
    </insert>

    <update id="updateFileById" parameterType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        update linkis_stream_project_files set store_path = #{storePath}
        <if test="version != null and version !=''">
            ,version = #{version}
        </if>
        <if test="comment != null and comment !=''">
            ,comment = #{comment}
        </if>
        where id = #{id}
    </update>

    <delete id="deleteFiles">
        delete from linkis_stream_project_files where create_by = #{username} and id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteVersions">
        DELETE FROM linkis_stream_project_files WHERE project_name =
        #{projectName} AND file_name = #{fileName} AND create_by = #{username}
    </delete>

    <select id="listFiles" resultType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        SELECT f.id,f.file_name,v.version,`store_path`,`store_type`,f.project_name,`create_time`,`create_by`,f.comment FROM
        linkis_stream_project_files f
        JOIN (SELECT MAX(VERSION) VERSION,file_name,project_name FROM linkis_stream_project_files GROUP BY file_name,project_name) v
        ON f.version= v.version AND f.file_name = v.file_name AND f.project_name = v.project_name
        AND f.project_name = #{projectName}
        <if test="username != null and username != ''">
            AND f.create_by = #{username}
        </if>
        <if test="filename != null and filename != ''">
            AND f.file_name like concat('%', #{filename}, '%')
        </if>
    </select>

    <select id="listFileVersions" resultType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        select `id`,`file_name`,`version`,`store_path`,`store_type`,`project_name`,`create_time`,`create_by`,`comment` from
        linkis_stream_project_files
        where project_name = #{projectName} and file_name = #{fileName} ORDER BY version desc
    </select>

    <select id="selectFile" resultType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        select `id`, `file_name`,`version`,`store_path`,`store_type`,`project_name`,`create_time`,`create_by` from
        linkis_stream_project_files where project_name = #{projectName} and version = #{version} and file_name =
        #{fileName}
    </select>

    <select id="getById" resultType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        select `id`,`file_name`,`version`,`store_path`,`store_type`,`project_name`,`create_time`,`create_by` from
        linkis_stream_project_files where id = #{id}
    </select>

    <select id="countFiles" resultType="int">
        SELECT COUNT(*) FROM linkis_stream_project_files WHERE project_name = #{projectName} AND file_name = #{fileName}
    </select>

    <select id="getJobFile" resultType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        SELECT `id`,`file_name`,`version`,`store_path`,`store_type`,`create_time`,`create_by` FROM
        linkis_stream_job_version_files WHERE
        id = #{id}
    </select>

    <select id="getProjectFile"
            resultType="com.webank.wedatasphere.streamis.projectmanager.entity.ProjectFiles">
        select `id`,`file_name`,`version`,`store_path`,`store_type`,`project_name`,`create_time`,`create_by` from
        linkis_stream_project_files where id = #{id}
    </select>

    <select id="selectProjectNamesByIds" resultType="Long">
        select distinct project_name from linkis_stream_project_files where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getProjectNameById" resultType="String">
        SELECT j.project_name FROM linkis_stream_job_version_files jvf LEFT JOIN linkis_stream_job j ON jvf.job_id =j.id
        WHERE jvf.id = #{id}
    </select>
</mapper>