.project-label-list {
  .label-item {
    position: relative;
    display: inline-block;
    min-width: 40px;
    height: 28px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-right: 6px;
    padding-left: 14px;
    color: $white;
    font-size: 12px;
    line-height: 28px;
    border-radius: $radius;
    outline: none;
    cursor: pointer;

    &.small {
      max-width: 200px;
      height: 20px;
      margin-top: 4px;
      margin-right: 8px;
      margin-bottom: 0;
      line-height: 20px;
      border: none;
    }

    i {
      margin-left: 4px;
      cursor: pointer;
    }

    &.create {
      padding-left: 6px;
      color: $color-primary;
      border: 1px dashed $color-primary;

      &::before {
        content: none;
      }
    }
  }
}

.color-list {
  .color-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    color: $white;
    border-radius: 100%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 0;
      opacity: 0;
    }

    &.active {
      i {
        opacity: 1;
      }
    }
  }
}
