<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.realtime.view.dao.AdUserClickTrendMapper">
  <resultMap id="BaseResultMap" type="com.platform.realtime.view.module.AdClickTrend">
    <result column="date" property="date"/>
    <result column="ad_id" property="adid"/>
    <result column="minute" property="minute"/>
    <result column="click_count" property="clickCount"/>
  </resultMap> 
  
  <sql id="Base_Column_List">
    date, ad_id, minute, click_count
  </sql>

  <select id="selectByDate" resultMap="BaseResultMap"
    parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from ad_click_trend
    where date = #{date,jdbcType=VARCHAR}
    ORDER BY minute,ad_id
  </select>


</mapper>