.erda-panel {
  margin-bottom: 0.5rem;

  .erda-panel-item {
    margin-bottom: 0.75rem;
  }

  .erda-panel-label {
    color: $color-dark-4;
  }

  .erda-panel-value {
    margin-bottom: 0.25rem;
  }
}
