Homepage: http://drill.apache.org/
Package: Apache Drill
Version: 1.17.0-SNAPSHOT
Section: misc
Priority: optional
Architecture: all
Maintainer: Naresh Bhat <naresh.bhat@linaro.org>
Description: Apache Drill is an Apache open-source SQL query engine for Big Data exploration.
Distribution: development
