.home{
  background: rgb(5, 47, 138);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 300px;
  height: 300px;
  * {
    margin: 0;
    padding: 0
  }

  ul li {
    list-style: none;
  }

  ul {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotate3d(2,10,0,30deg) ;
  }

  ul li {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    background: rgba(77, 128, 238, 0.801);;
    border: 1px solid  rgba(52, 120, 247, 0.808);
  }

  ul li:nth-child(1) {
    transform: translateZ(250px);
    background: transparent;
  }

  ul li:nth-child(2) {
    transform: translateZ(-250px);
    background: transparent;
  }

  ul li:nth-child(3) {
    transform: translateY(-250px) rotateX(90deg);
    // background: blue;
    height: 500px;
  }

  ul li:nth-child(4) {
    transform: translateY(50px) rotateX(90deg);
    // background: rgb(255, 0, 191);
    height: 500px;
  }

  ul li:nth-child(5) {
    transform: translateX(250px) rotateY(90deg);
    // background: yellow;
  }

  ul li:nth-child(6) {
    transform: translateX(-250px) rotateY(90deg);
    // background: #000;
  }
}