<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.workflow.repository.mapper.WorkflowInstanceDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDO">
    <!--@mbg.generated-->
    <!--@Table am_workflow_instance-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="gmt_start" jdbcType="TIMESTAMP" property="gmtStart" />
    <result column="gmt_end" jdbcType="TIMESTAMP" property="gmtEnd" />
    <result column="workflow_status" jdbcType="VARCHAR" property="workflowStatus" />
    <result column="workflow_sha256" jdbcType="VARCHAR" property="workflowSha256" />
    <result column="workflow_creator" jdbcType="VARCHAR" property="workflowCreator" />
    <result column="lock_version" jdbcType="INTEGER" property="lockVersion" />
    <result column="client_host" jdbcType="VARCHAR" property="clientHost" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDO">
    <!--@mbg.generated-->
    <!--@Table am_workflow_instance-->
    <result column="workflow_error_message" jdbcType="LONGVARCHAR" property="workflowErrorMessage" />
    <result column="workflow_configuration" jdbcType="LONGVARCHAR" property="workflowConfiguration" />
    <result column="workflow_options" jdbcType="LONGVARCHAR" property="workflowOptions" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
        AND lock_version = #{record.lockVersion,jdbcType=INTEGER}
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, app_id, gmt_start, gmt_end, workflow_status, workflow_sha256, 
    workflow_creator, lock_version, client_host
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    workflow_error_message, workflow_configuration, workflow_options
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDOExample" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_workflow_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_workflow_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDOExample">
    <!--@mbg.generated-->
    delete from am_workflow_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_workflow_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="gmtStart != null">
        gmt_start,
      </if>
      <if test="gmtEnd != null">
        gmt_end,
      </if>
      <if test="workflowStatus != null">
        workflow_status,
      </if>
      <if test="workflowSha256 != null">
        workflow_sha256,
      </if>
      <if test="workflowCreator != null">
        workflow_creator,
      </if>
      <if test="lockVersion != null">
        lock_version,
      </if>
      <if test="clientHost != null">
        client_host,
      </if>
      <if test="workflowErrorMessage != null">
        workflow_error_message,
      </if>
      <if test="workflowConfiguration != null">
        workflow_configuration,
      </if>
      <if test="workflowOptions != null">
        workflow_options,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="gmtStart != null">
        #{gmtStart,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null">
        #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="workflowStatus != null">
        #{workflowStatus,jdbcType=VARCHAR},
      </if>
      <if test="workflowSha256 != null">
        #{workflowSha256,jdbcType=VARCHAR},
      </if>
      <if test="workflowCreator != null">
        #{workflowCreator,jdbcType=VARCHAR},
      </if>
      <if test="lockVersion != null">
        #{lockVersion,jdbcType=INTEGER},
      </if>
      <if test="clientHost != null">
        #{clientHost,jdbcType=VARCHAR},
      </if>
      <if test="workflowErrorMessage != null">
        #{workflowErrorMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="workflowConfiguration != null">
        #{workflowConfiguration,jdbcType=LONGVARCHAR},
      </if>
      <if test="workflowOptions != null">
        #{workflowOptions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_workflow_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update am_workflow_instance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtStart != null">
        gmt_start = #{record.gmtStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtEnd != null">
        gmt_end = #{record.gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workflowStatus != null">
        workflow_status = #{record.workflowStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowSha256 != null">
        workflow_sha256 = #{record.workflowSha256,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowCreator != null">
        workflow_creator = #{record.workflowCreator,jdbcType=VARCHAR},
      </if>
      <if test="record.clientHost != null">
        client_host = #{record.clientHost,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowErrorMessage != null">
        workflow_error_message = #{record.workflowErrorMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.workflowConfiguration != null">
        workflow_configuration = #{record.workflowConfiguration,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.workflowOptions != null">
        workflow_options = #{record.workflowOptions,jdbcType=LONGVARCHAR},
      </if>
      lock_version = lock_version + 1,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.workflow.repository.domain.WorkflowInstanceDO">
    update am_workflow_instance
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="gmtStart != null">
        gmt_start = #{gmtStart,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null">
        gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="workflowStatus != null">
        workflow_status = #{workflowStatus,jdbcType=VARCHAR},
      </if>
      <if test="workflowSha256 != null">
        workflow_sha256 = #{workflowSha256,jdbcType=VARCHAR},
      </if>
      <if test="workflowCreator != null">
        workflow_creator = #{workflowCreator,jdbcType=VARCHAR},
      </if>
      <if test="clientHost != null">
        client_host = #{clientHost,jdbcType=VARCHAR},
      </if>
      <if test="workflowErrorMessage != null">
        workflow_error_message = #{workflowErrorMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="workflowConfiguration != null">
        workflow_configuration = #{workflowConfiguration,jdbcType=LONGVARCHAR},
      </if>
      <if test="workflowOptions != null">
        workflow_options = #{workflowOptions,jdbcType=LONGVARCHAR},
      </if>
      lock_version = lock_version + 1,
    </set>
    where id = #{id,jdbcType=BIGINT} AND lock_version = #{lockVersion,jdbcType=INTEGER}
  </update>
</mapper>