.dv-title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    // border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.dv-title_noback {
    padding-left: 12px;
    font-weight: 600;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 3px;
        height: 20px;
        background-color: var(--main-color);
    }
}