.dv-editor {
    height: 100%;
    overflow-y: auto;
   
    // padding: 10px;
    // padding-top: 20px;
    padding-right: 20px;
    background-color: #fff;
}
.dv-title-edit{
    width: 100%;
    display: flex;
    align-items: center;
    >div:nth-child(1){
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        border: 1px solid #ffd56a;
        color: #ffd56a!important;
        margin-right: 10px;
    }
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.dv-content{
    display: flex;
    display: flex;
    height: calc(100% - 30px);
    overflow: auto;
}
.dv-editor-left {
    width: 260px;
    font-size: 12px;
    height: 100%;
    overflow: auto;
}
.dv-editor-right {
    flex: 1;
    border: 1px solid #ddd;
    overflow-y: scroll;
    border-radius: 10px;
    >div:nth-child(2){
        // flex: 1;
        height: calc(100% - 450px) !important;
        // height: 50% !important;
        // min-height: calc(100vh - 630px) !important;
    }
}
.dv-editor__header {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}
.dv-table-small{
    .ant-table.ant-table-small{
        font-size: 12px;
    }
    .ant-table-small tfoot > tr > td,.ant-table-tbody > tr > td{
        padding: 4px !important;
    }
}