{
    "job": {
        "setting": {
            "speed": {
                 "channel": ${cfg.channel}
            },
            "errorLimit": {
                "record": ${cfg.errorLimitCount},
                "percentage": ${cfg.errorLimitPercentage}
            }
        },
        "content": [
            {
                "reader": <!--reader-->,
                "writer": <!--writer-->
            }
        ] 
    }
}
