@mixin deploy-container {
  display: grid;
  width: 100%;
  min-width: 760px;
  grid-template-columns:
    minmax(192px, 25%) minmax(192px, 25%) minmax(192px, 25%)
    minmax(192px, 25%);

  @include md-width() {
    .app-deploy-stage .env-icon {
      display: none;
    }
  }
}

.app-deploy {
  width: 100%;
  @include deploy-container();

  .app-deploy-stage {
    min-width: 168px;
    padding: 0 6px;

    &:last-child {
      .after-arrow {
        display: none;
      }
    }

    &:first-child {
      .before-arrow {
        display: none;
      }
    }
  }
}

.app-deploy-wrap {
  .open-tip-btn {
    position: fixed;
    right: 70px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
