.runtime-box {
  position: relative;
  flex-direction: column;
  height: 112px;
  margin-bottom: $p12;
  padding: $p12;
  color: $color-text-sub;
  text-decoration: none !important;
  background-color: $white;
  border-radius: 4px;
  cursor: pointer;
  @extend %shallow-shadow;

  &.large {
    height: 152px;
  }

  > div {
    width: 100%;
  }

  &.new-deploy {
    color: $color-text-icon;
    background: rgba(255, 255, 255, 0.3);
    border: 2px dotted rgba(0, 0, 0, 0.1);
    box-shadow: none;
    transition: all 0.1s ease-in-out;

    &:hover {
      border-color: $color-active;
    }

    &.disabled {
      background-color: #f9f9f9;
    }
  }

  .runtime-box-header {
    .branch {
      display: flex;
      flex: 1;
      align-items: center;
      width: 0;
      color: $color-text;
      font-size: 16px;

      & > span {
        padding-right: 10px;
      }
    }

    i {
      font-size: 20px;
    }
  }

  .runtime-box-body {
    color: $color-text-desc;
    line-height: 24px;

    .deploy-time {
      margin-left: $p4;
    }
  }

  &:hover {
    @extend %hover-shadow;
    color: $color-text-sub;
  }

  .init {
    color: $gray;
    background: $color-dark-1;
  }

  .progressing {
    color: $color-info;
    background: $color-info-bg;
  }

  .unhealthy {
    color: $color-danger;
    background: $color-danger-bg;
  }

  .healthy {
    color: $color-success;
    background: $color-success-bg;
  }

  .release-link {
    i {
      font-size: 20px;
    }
  }

  .transform-box {
    transform: translateY(-4px);
    .transform-icon {
      transform: translateY(5px);
    }
  }
}
