<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- read the configuration in the dev environment to generate code -->
    <properties resource="application-dev.properties"/>

    <context id="dsql" targetRuntime="MyBatis3DynamicSql" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>

        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin">
            <property name="useEqualsHashCodeFromRoot" value="true"/>
        </plugin>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin">
            <property name="useToStringFromRoot" value="true"/>
        </plugin>
        <plugin type="com.hw.lineage.server.infrastructure.persistence.mybatis.plugin.RenameDoPlugin"/>

        <commentGenerator
                type="com.hw.lineage.server.infrastructure.persistence.mybatis.generator.CustomCommentGenerator">
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="author" value="HamaWhite"/>
            <property name="version" value="${spring.application.version}"/>
            <property name="dateFormat" value="yyyy/MM/dd HH:mm:ss"/>
        </commentGenerator>

        <jdbcConnection
                driverClass="${spring.datasource.driver-class-name}"
                connectionURL="${spring.datasource.url}"
                userId="${spring.datasource.username}"
                password="${spring.datasource.password}"/>

        <javaModelGenerator targetPackage="com.hw.lineage.server.infrastructure.persistence.dos"
                            targetProject="lineage-server/lineage-server-infrastructure/src/main/java"/>

        <javaClientGenerator targetPackage="com.hw.lineage.server.infrastructure.persistence.mapper"
                             targetProject="lineage-server/lineage-server-infrastructure/src/main/java"/>

        <table tableName="bas_task" domainObjectName="Task" delimitAllColumns="true">
            <generatedKey column="task_id" sqlStatement="Mysql" identity="true"/>
            <columnOverride
                    column="task_status"
                    javaType="com.hw.lineage.common.enums.TaskStatus"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.impl.TaskStatusTypeHandler"/>
            <columnOverride
                    column="table_graph"
                    javaType="com.hw.lineage.server.domain.graph.table.TableGraph"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.impl.TableGraphTypeHandler"/>
            <columnOverride
                    column="column_graph"
                    javaType="com.hw.lineage.server.domain.graph.column.ColumnGraph"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.impl.ColumnGraphTypeHandler"/>
        </table>

        <table tableName="bas_plugin" domainObjectName="Plugin" delimitAllColumns="true">
            <generatedKey column="plugin_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="bas_catalog" domainObjectName="Catalog" delimitAllColumns="true">
            <generatedKey column="catalog_id" sqlStatement="Mysql" identity="true"/>
            <columnOverride
                    column="catalog_type"
                    javaType="com.hw.lineage.common.enums.CatalogType"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.impl.CatalogTypeHandler"/>
            <columnOverride
                    column="catalog_properties"
                    javaType="com.alibaba.fastjson2.JSONObject"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.JsonTypeHandler"/>
        </table>

        <table tableName="bas_function" domainObjectName="Function" delimitAllColumns="true">
            <generatedKey column="function_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="rel_task_sql" domainObjectName="TaskSql" delimitAllColumns="true">
            <generatedKey column="sql_id" sqlStatement="Mysql" identity="true"/>
            <columnOverride
                    column="sql_type"
                    javaType="com.hw.lineage.common.enums.SqlType"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.impl.SqlTypeHandler"/>
            <columnOverride
                    column="sql_status"
                    javaType="com.hw.lineage.common.enums.SqlStatus"
                    typeHandler="com.hw.lineage.server.infrastructure.persistence.mybatis.handler.impl.SqlStatusTypeHandler"/>
        </table>

        <table tableName="rel_task_lineage" domainObjectName="TaskLineage" delimitAllColumns="true"/>

        <table tableName="bas_user" domainObjectName="User" delimitAllColumns="true">
            <generatedKey column="user_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="bas_role" domainObjectName="Role" delimitAllColumns="true">
            <generatedKey column="role_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="rel_role_user" domainObjectName="RoleUser" delimitAllColumns="true"/>

        <table tableName="bas_permission" domainObjectName="Permission" delimitAllColumns="true">
            <generatedKey column="permission_id" sqlStatement="Mysql" identity="true"/>
        </table>

        <table tableName="rel_role_permission" domainObjectName="RolePermission" delimitAllColumns="true"/>
    </context>

</generatorConfiguration>