##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<!-- main START -->
<div class="main">
    <div class="main-hd">
        <div class="crumb-wp fl">
            <a class="back" href="../config/broker_list.htm">Broker列表</a>
            <span class="arrow">&rsaquo;</span>
            <span class="cur">Broker详情 - <span id="brokerNav">gift_ugc_test</span></span>
        </div>
        <ul class="addon-list fr">
            <li><a href="javascript:;" class="btn btn-primary s js_online_one">上线</a></li>
            <li><a href="javascript:;" class="btn btn-primary s js_reload_one">重载</a></li>
            <li><a href="javascript:;" class="btn btn-primary s js_offline_one">下线</a></li>
            <!-- <li><a href="javascript:;" class="btn btn-primary s js_delete_one">删除Broker</a></li> -->
        </ul>
    </div>

    <!-- panel-mod START -->
    <div class="panel-mod-wp">
        <!-- 40% -->
        <div class="panel-wp col-4">
            <!-- 基本信息 -->
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Broker运行状况</span>

                </div>
                <div class="panel-cnt" id="commonInfo">

                </div>
            </div>

            <!-- 缺省配置 -->
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Broker当前缺省配置</span>
                    <a href="javascript:;" class="link fr js_mod_one">编辑</a>
                </div>
                <div class="panel-cnt" id="curInfo">
                    <!-- 内容 START -->

                    <!-- 内容 END -->
                </div>
            </div>

            <!-- 缺省配置 -->
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Broker最后下发缺省配置</span>
                </div>
                <div class="panel-cnt" id="lastPushInfo">
                    <!-- 内容 START -->
                    <!-- 内容 END -->
                </div>
            </div>

            <!-- 缺省配置 -->
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Broker最近上报缺省配置</span>
                </div>
                <div class="panel-cnt" id="reportedInfo">
                    <!-- 内容 START -->

                    <!-- 内容 END -->
                </div>
            </div>
        </div>
        <!-- 60% -->
        <div class="panel-wp col-6">
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Broker当前topic集合配置</span>
                        <span class="search-bar">
                            <input type="text" class="expand" placeholder="请输入关键字搜索标签"
                                   id="curSearch">
                            <a href="javascript:" class="icon-btn" title="搜索"><i
                                    class="icon_search"></i></a>
                        </span>
                </div>
                <div class="panel-cnt scroll">
                    <div class="table-wp">
                        <table class="white" id="curTopicTable">
                            <thead>
                            <tr>
                                <th>topicName</th>
                                <th>numPartitions</th>
                                <th>acceptPublish</th>
                                <th>acceptSubscribe</th>
                                <th>unflushThreshold</th>
                                <th>unflushInterval</th>
                                <th>deletePolicy</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">最后下发topic集合配置</span>
                        <span class="search-bar">
                            <input type="text" class="expand" placeholder="请输入关键字搜索标签"
                                   id="lastPushSearch">
                            <a href="javascript:" class="icon-btn" title="搜索"><i
                                    class="icon_search"></i></a>
                        </span>
                </div>
                <div class="panel-cnt scroll">
                    <div class="table-wp">
                        <table class="white" id="lastPushTopicTable">
                            <thead>
                            <tr>
                                <th>topicName</th>
                                <th>numPartitions</th>
                                <th>acceptPublish</th>
                                <th>acceptSubscribe</th>
                                <th>unflushThreshold</th>
                                <th>unflushInterval</th>
                                <th>deletePolicy</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">最近上报topic集合配置</span>
                        <span class="search-bar">
                            <input type="text" class="expand" placeholder="请输入关键字搜索标签"
                                   id="reportedSearch">
                            <a href="javascript:" class="icon-btn" title="搜索"><i
                                    class="icon_search"></i></a>
                        </span>
                </div>
                <div class="panel-cnt scroll">
                    <div class="table-wp">
                        <table class="white" id="reportedTopicTable">
                            <thead>
                            <tr>
                                <th>topicName</th>
                                <th>numPartitions</th>
                                <th>acceptPublish</th>
                                <th>acceptSubscribe</th>
                                <th>unflushThreshold</th>
                                <th>unflushInterval</th>
                                <th>deletePolicy</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- panel-mod END -->
</div>
<!-- main END -->

<!-- common js start -->
<script type="text/javascript" src="../../../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../../assets/lib/DataTables/datatables.min.js"></script>

<script type="text/javascript" src="../../../assets/scripts/common/helper.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/module.js"></script>
<!-- common js end -->

<script type="text/javascript" src="../../../assets/scripts/brokerDetail.js"></script>
