.dv-header__work-space {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    margin-top: 9px;
    background-color: #fff;
    margin-left: 8px;
    vertical-align: middle;
    position: relative;
    padding-right: 20px;
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: none;
        height: 30px;
    }
    .ant-select-selection-item {
        line-height: 30px !important;
    }
}