<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>iconfont Demo</title>
  <link rel="shortcut icon" href="//img.alicdn.com/imgextra/i2/O1CN01ZyAlrn1MwaMhqz36G_!!6000000001499-73-tps-64-64.ico" type="image/x-icon"/>
  <link rel="icon" type="image/svg+xml" href="//img.alicdn.com/imgextra/i4/O1CN01EYTRnJ297D6vehehJ_!!6000000008020-55-tps-64-64.svg"/>
  <link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="iconfont.css">
  <script src="iconfont.js"></script>
  <!-- jQuery -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/7bfddb60-08e8-11e9-9b04-53e73bb6408b.js"></script>
  <!-- 代码高亮 -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/a3f714d0-08e6-11e9-8a15-ebf944d7534c.js"></script>
  <style>
    .main .logo {
      margin-top: 0;
      height: auto;
    }

    .main .logo a {
      display: flex;
      align-items: center;
    }

    .main .logo .sub-title {
      margin-left: 0.5em;
      font-size: 22px;
      color: #fff;
      background: linear-gradient(-45deg, #3967FF, #B500FE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</head>
<body>
  <div class="main">
    <h1 class="logo"><a href="https://www.iconfont.cn/" title="iconfont 首页" target="_blank">
      <img width="200" src="https://img.alicdn.com/imgextra/i3/O1CN01Mn65HV1FfSEzR6DKv_!!6000000000514-55-tps-228-59.svg">
      
    </a></h1>
    <div class="nav-tabs">
      <ul id="tabs" class="dib-box">
        <li class="dib active"><span>Unicode</span></li>
        <li class="dib"><span>Font class</span></li>
        <li class="dib"><span>Symbol</span></li>
      </ul>
      
      <a href="https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=3290880" target="_blank" class="nav-more">查看项目</a>
      
    </div>
    <div class="tab-container">
      <div class="content unicode" style="display: block;">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
              <span class="icon iconfont">&#xe64a;</span>
                <div class="name">ResultStatus</div>
                <div class="code-name">&amp;#xe64a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe649;</span>
                <div class="name">BizWordCloud</div>
                <div class="code-name">&amp;#xe649;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe648;</span>
                <div class="name">BizHeatMap</div>
                <div class="code-name">&amp;#xe648;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe647;</span>
                <div class="name">CarouselComp</div>
                <div class="code-name">&amp;#xe647;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe646;</span>
                <div class="name">SwitchCard</div>
                <div class="code-name">&amp;#xe646;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe645;</span>
                <div class="name">MarkdownComp</div>
                <div class="code-name">&amp;#xe645;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe641;</span>
                <div class="name">HoverableCard</div>
                <div class="code-name">&amp;#xe641;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe642;</span>
                <div class="name">DescribtionCard</div>
                <div class="code-name">&amp;#xe642;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe643;</span>
                <div class="name">StaticPage</div>
                <div class="code-name">&amp;#xe643;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe644;</span>
                <div class="name">CopyRight</div>
                <div class="code-name">&amp;#xe644;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe640;</span>
                <div class="name">BuiltInBusiness</div>
                <div class="code-name">&amp;#xe640;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63f;</span>
                <div class="name">BLOCK</div>
                <div class="code-name">&amp;#xe63f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62c;</span>
                <div class="name">JsonEditor</div>
                <div class="code-name">&amp;#xe62c;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62d;</span>
                <div class="name">QuickLink</div>
                <div class="code-name">&amp;#xe62d;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62e;</span>
                <div class="name">TABLE</div>
                <div class="code-name">&amp;#xe62e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62f;</span>
                <div class="name">SRESearch</div>
                <div class="code-name">&amp;#xe62f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe630;</span>
                <div class="name">Descriptions</div>
                <div class="code-name">&amp;#xe630;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe631;</span>
                <div class="name">CustomRender</div>
                <div class="code-name">&amp;#xe631;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe632;</span>
                <div class="name">StaticCard</div>
                <div class="code-name">&amp;#xe632;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe633;</span>
                <div class="name">StatusList</div>
                <div class="code-name">&amp;#xe633;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe634;</span>
                <div class="name">Grafana</div>
                <div class="code-name">&amp;#xe634;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe635;</span>
                <div class="name">WelcomeCard</div>
                <div class="code-name">&amp;#xe635;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe636;</span>
                <div class="name">Card</div>
                <div class="code-name">&amp;#xe636;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe637;</span>
                <div class="name">StatusSummary</div>
                <div class="code-name">&amp;#xe637;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe638;</span>
                <div class="name">GRID_CARD</div>
                <div class="code-name">&amp;#xe638;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe639;</span>
                <div class="name">Alert</div>
                <div class="code-name">&amp;#xe639;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63a;</span>
                <div class="name">Iframe</div>
                <div class="code-name">&amp;#xe63a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63b;</span>
                <div class="name">StatisticCard</div>
                <div class="code-name">&amp;#xe63b;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63c;</span>
                <div class="name">List</div>
                <div class="code-name">&amp;#xe63c;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63d;</span>
                <div class="name">Timeline</div>
                <div class="code-name">&amp;#xe63d;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63e;</span>
                <div class="name">RankingList</div>
                <div class="code-name">&amp;#xe63e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe627;</span>
                <div class="name">FILTER_MIX</div>
                <div class="code-name">&amp;#xe627;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe628;</span>
                <div class="name">FILTER_SINGLE</div>
                <div class="code-name">&amp;#xe628;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe629;</span>
                <div class="name">FILTER_TAB</div>
                <div class="code-name">&amp;#xe629;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62a;</span>
                <div class="name">FILTER_BAR</div>
                <div class="code-name">&amp;#xe62a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62b;</span>
                <div class="name">FILTER_FORM</div>
                <div class="code-name">&amp;#xe62b;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe624;</span>
                <div class="name">STEP_ACTION</div>
                <div class="code-name">&amp;#xe624;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe625;</span>
                <div class="name">STEP_FORM</div>
                <div class="code-name">&amp;#xe625;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe626;</span>
                <div class="name">ACTION</div>
                <div class="code-name">&amp;#xe626;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe620;</span>
                <div class="name">DisplayScreens</div>
                <div class="code-name">&amp;#xe620;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe621;</span>
                <div class="name">Collapse</div>
                <div class="code-name">&amp;#xe621;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe622;</span>
                <div class="name">PageHeaderLayout</div>
                <div class="code-name">&amp;#xe622;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe623;</span>
                <div class="name">Tabs</div>
                <div class="code-name">&amp;#xe623;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe613;</span>
                <div class="name">FluidCharts</div>
                <div class="code-name">&amp;#xe613;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe614;</span>
                <div class="name">BChart</div>
                <div class="code-name">&amp;#xe614;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe615;</span>
                <div class="name">Pie</div>
                <div class="code-name">&amp;#xe615;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe616;</span>
                <div class="name">BizStackedBarChart</div>
                <div class="code-name">&amp;#xe616;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe617;</span>
                <div class="name">BizRadarChart</div>
                <div class="code-name">&amp;#xe617;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe618;</span>
                <div class="name">BizTreemapChart</div>
                <div class="code-name">&amp;#xe618;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe619;</span>
                <div class="name">BizStackedAreaChart</div>
                <div class="code-name">&amp;#xe619;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61a;</span>
                <div class="name">开源组件图标设计-_高级折线图-deal</div>
                <div class="code-name">&amp;#xe61a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61b;</span>
                <div class="name">BizStackedColumnChart</div>
                <div class="code-name">&amp;#xe61b;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61c;</span>
                <div class="name">BizAreaChart</div>
                <div class="code-name">&amp;#xe61c;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61d;</span>
                <div class="name">Dashboard</div>
                <div class="code-name">&amp;#xe61d;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61e;</span>
                <div class="name">Bullet</div>
                <div class="code-name">&amp;#xe61e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61f;</span>
                <div class="name">SliderChart</div>
                <div class="code-name">&amp;#xe61f;</div>
              </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="unicode-">Unicode 引用</h2>
          <hr>

          <p>Unicode 是字体在网页端最原始的应用方式，特点是：</p>
          <ul>
            <li>支持按字体的方式去动态调整图标大小，颜色等等。</li>
            <li>默认情况下不支持多色，直接添加多色图标会自动去色。</li>
          </ul>
          <blockquote>
            <p>注意：新版 iconfont 支持两种方式引用多色图标：SVG symbol 引用方式和彩色字体图标模式。（使用彩色字体图标需要在「编辑项目」中开启「彩色」选项后并重新生成。）</p>
          </blockquote>
          <p>Unicode 使用步骤如下：</p>
          <h3 id="-font-face">第一步：拷贝项目下面生成的 <code>@font-face</code></h3>
<pre><code class="language-css"
>@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1653449456992') format('woff2'),
       url('iconfont.woff?t=1653449456992') format('woff'),
       url('iconfont.ttf?t=1653449456992') format('truetype');
}
</code></pre>
          <h3 id="-iconfont-">第二步：定义使用 iconfont 的样式</h3>
<pre><code class="language-css"
>.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取字体编码，应用于页面</h3>
<pre>
<code class="language-html"
>&lt;span class="iconfont"&gt;&amp;#x33;&lt;/span&gt;
</code></pre>
          <blockquote>
            <p>"iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
          </blockquote>
          </div>
      </div>
      <div class="content font-class">
        <ul class="icon_lists dib-box">
          
          <li class="dib">
            <span class="icon iconfont sre-ResultStatus"></span>
            <div class="name">
              ResultStatus
            </div>
            <div class="code-name">.sre-ResultStatus
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizWordCloud"></span>
            <div class="name">
              BizWordCloud
            </div>
            <div class="code-name">.sre-BizWordCloud
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizHeatMap"></span>
            <div class="name">
              BizHeatMap
            </div>
            <div class="code-name">.sre-BizHeatMap
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-CarouselComp"></span>
            <div class="name">
              CarouselComp
            </div>
            <div class="code-name">.sre-CarouselComp
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-SwitchCard"></span>
            <div class="name">
              SwitchCard
            </div>
            <div class="code-name">.sre-SwitchCard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-MarkdownComp"></span>
            <div class="name">
              MarkdownComp
            </div>
            <div class="code-name">.sre-MarkdownComp
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-HoverableCard"></span>
            <div class="name">
              HoverableCard
            </div>
            <div class="code-name">.sre-HoverableCard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-DescribtionCard"></span>
            <div class="name">
              DescribtionCard
            </div>
            <div class="code-name">.sre-DescribtionCard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-StaticPage"></span>
            <div class="name">
              StaticPage
            </div>
            <div class="code-name">.sre-StaticPage
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-CopyRight"></span>
            <div class="name">
              CopyRight
            </div>
            <div class="code-name">.sre-CopyRight
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BuiltInBusiness"></span>
            <div class="name">
              BuiltInBusiness
            </div>
            <div class="code-name">.sre-BuiltInBusiness
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BLOCK"></span>
            <div class="name">
              BLOCK
            </div>
            <div class="code-name">.sre-BLOCK
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-JsonEditor"></span>
            <div class="name">
              JsonEditor
            </div>
            <div class="code-name">.sre-JsonEditor
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-QuickLink"></span>
            <div class="name">
              QuickLink
            </div>
            <div class="code-name">.sre-QuickLink
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-TABLE"></span>
            <div class="name">
              TABLE
            </div>
            <div class="code-name">.sre-TABLE
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-SRESearch"></span>
            <div class="name">
              SRESearch
            </div>
            <div class="code-name">.sre-SRESearch
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Descriptions"></span>
            <div class="name">
              Descriptions
            </div>
            <div class="code-name">.sre-Descriptions
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-CustomRender"></span>
            <div class="name">
              CustomRender
            </div>
            <div class="code-name">.sre-CustomRender
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-StaticCard"></span>
            <div class="name">
              StaticCard
            </div>
            <div class="code-name">.sre-StaticCard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-StatusList"></span>
            <div class="name">
              StatusList
            </div>
            <div class="code-name">.sre-StatusList
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Grafana"></span>
            <div class="name">
              Grafana
            </div>
            <div class="code-name">.sre-Grafana
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-WelcomeCard"></span>
            <div class="name">
              WelcomeCard
            </div>
            <div class="code-name">.sre-WelcomeCard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Card"></span>
            <div class="name">
              Card
            </div>
            <div class="code-name">.sre-Card
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-StatusSummary"></span>
            <div class="name">
              StatusSummary
            </div>
            <div class="code-name">.sre-StatusSummary
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-GRID_CARD"></span>
            <div class="name">
              GRID_CARD
            </div>
            <div class="code-name">.sre-GRID_CARD
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Alert"></span>
            <div class="name">
              Alert
            </div>
            <div class="code-name">.sre-Alert
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Iframe"></span>
            <div class="name">
              Iframe
            </div>
            <div class="code-name">.sre-Iframe
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-StatisticCard"></span>
            <div class="name">
              StatisticCard
            </div>
            <div class="code-name">.sre-StatisticCard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-List"></span>
            <div class="name">
              List
            </div>
            <div class="code-name">.sre-List
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Timeline"></span>
            <div class="name">
              Timeline
            </div>
            <div class="code-name">.sre-Timeline
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-RankingList"></span>
            <div class="name">
              RankingList
            </div>
            <div class="code-name">.sre-RankingList
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-FILTER_MIX"></span>
            <div class="name">
              FILTER_MIX
            </div>
            <div class="code-name">.sre-FILTER_MIX
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-FILTER_SINGLE"></span>
            <div class="name">
              FILTER_SINGLE
            </div>
            <div class="code-name">.sre-FILTER_SINGLE
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-FILTER_TAB"></span>
            <div class="name">
              FILTER_TAB
            </div>
            <div class="code-name">.sre-FILTER_TAB
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-FILTER_BAR"></span>
            <div class="name">
              FILTER_BAR
            </div>
            <div class="code-name">.sre-FILTER_BAR
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-FILTER_FORM"></span>
            <div class="name">
              FILTER_FORM
            </div>
            <div class="code-name">.sre-FILTER_FORM
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-STEP_ACTION"></span>
            <div class="name">
              STEP_ACTION
            </div>
            <div class="code-name">.sre-STEP_ACTION
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-STEP_FORM"></span>
            <div class="name">
              STEP_FORM
            </div>
            <div class="code-name">.sre-STEP_FORM
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-ACTION"></span>
            <div class="name">
              ACTION
            </div>
            <div class="code-name">.sre-ACTION
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-DisplayScreens"></span>
            <div class="name">
              DisplayScreens
            </div>
            <div class="code-name">.sre-DisplayScreens
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Collapse"></span>
            <div class="name">
              Collapse
            </div>
            <div class="code-name">.sre-Collapse
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-PageHeaderLayout"></span>
            <div class="name">
              PageHeaderLayout
            </div>
            <div class="code-name">.sre-PageHeaderLayout
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Tabs"></span>
            <div class="name">
              Tabs
            </div>
            <div class="code-name">.sre-Tabs
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-FluidCharts"></span>
            <div class="name">
              FluidCharts
            </div>
            <div class="code-name">.sre-FluidCharts
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BChart"></span>
            <div class="name">
              BChart
            </div>
            <div class="code-name">.sre-BChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Pie"></span>
            <div class="name">
              Pie
            </div>
            <div class="code-name">.sre-Pie
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizStackedBarChart"></span>
            <div class="name">
              BizStackedBarChart
            </div>
            <div class="code-name">.sre-BizStackedBarChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizRadarChart"></span>
            <div class="name">
              BizRadarChart
            </div>
            <div class="code-name">.sre-BizRadarChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizTreemapChart"></span>
            <div class="name">
              BizTreemapChart
            </div>
            <div class="code-name">.sre-BizTreemapChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizStackedAreaChart"></span>
            <div class="name">
              BizStackedAreaChart
            </div>
            <div class="code-name">.sre-BizStackedAreaChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-kaiyuanzujiantubiaosheji-_gaojizhexiantu-deal"></span>
            <div class="name">
              开源组件图标设计-_高级折线图-deal
            </div>
            <div class="code-name">.sre-kaiyuanzujiantubiaosheji-_gaojizhexiantu-deal
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizStackedColumnChart"></span>
            <div class="name">
              BizStackedColumnChart
            </div>
            <div class="code-name">.sre-BizStackedColumnChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-BizAreaChart"></span>
            <div class="name">
              BizAreaChart
            </div>
            <div class="code-name">.sre-BizAreaChart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Dashboard"></span>
            <div class="name">
              Dashboard
            </div>
            <div class="code-name">.sre-Dashboard
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-Bullet"></span>
            <div class="name">
              Bullet
            </div>
            <div class="code-name">.sre-Bullet
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont sre-SliderChart"></span>
            <div class="name">
              SliderChart
            </div>
            <div class="code-name">.sre-SliderChart
            </div>
          </li>
          
        </ul>
        <div class="article markdown">
        <h2 id="font-class-">font-class 引用</h2>
        <hr>

        <p>font-class 是 Unicode 使用方式的一种变种，主要是解决 Unicode 书写不直观，语意不明确的问题。</p>
        <p>与 Unicode 使用方式相比，具有如下特点：</p>
        <ul>
          <li>相比于 Unicode 语意明确，书写更直观。可以很容易分辨这个 icon 是什么。</li>
          <li>因为使用 class 来定义图标，所以当要替换图标时，只需要修改 class 里面的 Unicode 引用。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的 fontclass 代码：</h3>
<pre><code class="language-html">&lt;link rel="stylesheet" href="./iconfont.css"&gt;
</code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;span class="iconfont sre-xxx"&gt;&lt;/span&gt;
</code></pre>
        <blockquote>
          <p>"
            iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
        </blockquote>
      </div>
      </div>
      <div class="content symbol">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-ResultStatus"></use>
                </svg>
                <div class="name">ResultStatus</div>
                <div class="code-name">#sre-ResultStatus</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizWordCloud"></use>
                </svg>
                <div class="name">BizWordCloud</div>
                <div class="code-name">#sre-BizWordCloud</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizHeatMap"></use>
                </svg>
                <div class="name">BizHeatMap</div>
                <div class="code-name">#sre-BizHeatMap</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-CarouselComp"></use>
                </svg>
                <div class="name">CarouselComp</div>
                <div class="code-name">#sre-CarouselComp</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-SwitchCard"></use>
                </svg>
                <div class="name">SwitchCard</div>
                <div class="code-name">#sre-SwitchCard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-MarkdownComp"></use>
                </svg>
                <div class="name">MarkdownComp</div>
                <div class="code-name">#sre-MarkdownComp</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-HoverableCard"></use>
                </svg>
                <div class="name">HoverableCard</div>
                <div class="code-name">#sre-HoverableCard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-DescribtionCard"></use>
                </svg>
                <div class="name">DescribtionCard</div>
                <div class="code-name">#sre-DescribtionCard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-StaticPage"></use>
                </svg>
                <div class="name">StaticPage</div>
                <div class="code-name">#sre-StaticPage</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-CopyRight"></use>
                </svg>
                <div class="name">CopyRight</div>
                <div class="code-name">#sre-CopyRight</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BuiltInBusiness"></use>
                </svg>
                <div class="name">BuiltInBusiness</div>
                <div class="code-name">#sre-BuiltInBusiness</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BLOCK"></use>
                </svg>
                <div class="name">BLOCK</div>
                <div class="code-name">#sre-BLOCK</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-JsonEditor"></use>
                </svg>
                <div class="name">JsonEditor</div>
                <div class="code-name">#sre-JsonEditor</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-QuickLink"></use>
                </svg>
                <div class="name">QuickLink</div>
                <div class="code-name">#sre-QuickLink</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-TABLE"></use>
                </svg>
                <div class="name">TABLE</div>
                <div class="code-name">#sre-TABLE</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-SRESearch"></use>
                </svg>
                <div class="name">SRESearch</div>
                <div class="code-name">#sre-SRESearch</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Descriptions"></use>
                </svg>
                <div class="name">Descriptions</div>
                <div class="code-name">#sre-Descriptions</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-CustomRender"></use>
                </svg>
                <div class="name">CustomRender</div>
                <div class="code-name">#sre-CustomRender</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-StaticCard"></use>
                </svg>
                <div class="name">StaticCard</div>
                <div class="code-name">#sre-StaticCard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-StatusList"></use>
                </svg>
                <div class="name">StatusList</div>
                <div class="code-name">#sre-StatusList</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Grafana"></use>
                </svg>
                <div class="name">Grafana</div>
                <div class="code-name">#sre-Grafana</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-WelcomeCard"></use>
                </svg>
                <div class="name">WelcomeCard</div>
                <div class="code-name">#sre-WelcomeCard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Card"></use>
                </svg>
                <div class="name">Card</div>
                <div class="code-name">#sre-Card</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-StatusSummary"></use>
                </svg>
                <div class="name">StatusSummary</div>
                <div class="code-name">#sre-StatusSummary</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-GRID_CARD"></use>
                </svg>
                <div class="name">GRID_CARD</div>
                <div class="code-name">#sre-GRID_CARD</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Alert"></use>
                </svg>
                <div class="name">Alert</div>
                <div class="code-name">#sre-Alert</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Iframe"></use>
                </svg>
                <div class="name">Iframe</div>
                <div class="code-name">#sre-Iframe</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-StatisticCard"></use>
                </svg>
                <div class="name">StatisticCard</div>
                <div class="code-name">#sre-StatisticCard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-List"></use>
                </svg>
                <div class="name">List</div>
                <div class="code-name">#sre-List</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Timeline"></use>
                </svg>
                <div class="name">Timeline</div>
                <div class="code-name">#sre-Timeline</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-RankingList"></use>
                </svg>
                <div class="name">RankingList</div>
                <div class="code-name">#sre-RankingList</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-FILTER_MIX"></use>
                </svg>
                <div class="name">FILTER_MIX</div>
                <div class="code-name">#sre-FILTER_MIX</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-FILTER_SINGLE"></use>
                </svg>
                <div class="name">FILTER_SINGLE</div>
                <div class="code-name">#sre-FILTER_SINGLE</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-FILTER_TAB"></use>
                </svg>
                <div class="name">FILTER_TAB</div>
                <div class="code-name">#sre-FILTER_TAB</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-FILTER_BAR"></use>
                </svg>
                <div class="name">FILTER_BAR</div>
                <div class="code-name">#sre-FILTER_BAR</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-FILTER_FORM"></use>
                </svg>
                <div class="name">FILTER_FORM</div>
                <div class="code-name">#sre-FILTER_FORM</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-STEP_ACTION"></use>
                </svg>
                <div class="name">STEP_ACTION</div>
                <div class="code-name">#sre-STEP_ACTION</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-STEP_FORM"></use>
                </svg>
                <div class="name">STEP_FORM</div>
                <div class="code-name">#sre-STEP_FORM</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-ACTION"></use>
                </svg>
                <div class="name">ACTION</div>
                <div class="code-name">#sre-ACTION</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-DisplayScreens"></use>
                </svg>
                <div class="name">DisplayScreens</div>
                <div class="code-name">#sre-DisplayScreens</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Collapse"></use>
                </svg>
                <div class="name">Collapse</div>
                <div class="code-name">#sre-Collapse</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-PageHeaderLayout"></use>
                </svg>
                <div class="name">PageHeaderLayout</div>
                <div class="code-name">#sre-PageHeaderLayout</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Tabs"></use>
                </svg>
                <div class="name">Tabs</div>
                <div class="code-name">#sre-Tabs</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-FluidCharts"></use>
                </svg>
                <div class="name">FluidCharts</div>
                <div class="code-name">#sre-FluidCharts</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BChart"></use>
                </svg>
                <div class="name">BChart</div>
                <div class="code-name">#sre-BChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Pie"></use>
                </svg>
                <div class="name">Pie</div>
                <div class="code-name">#sre-Pie</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizStackedBarChart"></use>
                </svg>
                <div class="name">BizStackedBarChart</div>
                <div class="code-name">#sre-BizStackedBarChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizRadarChart"></use>
                </svg>
                <div class="name">BizRadarChart</div>
                <div class="code-name">#sre-BizRadarChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizTreemapChart"></use>
                </svg>
                <div class="name">BizTreemapChart</div>
                <div class="code-name">#sre-BizTreemapChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizStackedAreaChart"></use>
                </svg>
                <div class="name">BizStackedAreaChart</div>
                <div class="code-name">#sre-BizStackedAreaChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-kaiyuanzujiantubiaosheji-_gaojizhexiantu-deal"></use>
                </svg>
                <div class="name">开源组件图标设计-_高级折线图-deal</div>
                <div class="code-name">#sre-kaiyuanzujiantubiaosheji-_gaojizhexiantu-deal</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizStackedColumnChart"></use>
                </svg>
                <div class="name">BizStackedColumnChart</div>
                <div class="code-name">#sre-BizStackedColumnChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-BizAreaChart"></use>
                </svg>
                <div class="name">BizAreaChart</div>
                <div class="code-name">#sre-BizAreaChart</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Dashboard"></use>
                </svg>
                <div class="name">Dashboard</div>
                <div class="code-name">#sre-Dashboard</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-Bullet"></use>
                </svg>
                <div class="name">Bullet</div>
                <div class="code-name">#sre-Bullet</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#sre-SliderChart"></use>
                </svg>
                <div class="name">SliderChart</div>
                <div class="code-name">#sre-SliderChart</div>
            </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="symbol-">Symbol 引用</h2>
          <hr>

          <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
            这种用法其实是做了一个 SVG 的集合，与另外两种相比具有如下特点：</p>
          <ul>
            <li>支持多色图标了，不再受单色限制。</li>
            <li>通过一些技巧，支持像字体那样，通过 <code>font-size</code>, <code>color</code> 来调整样式。</li>
            <li>兼容性较差，支持 IE9+，及现代浏览器。</li>
            <li>浏览器渲染 SVG 的性能一般，还不如 png。</li>
          </ul>
          <p>使用步骤如下：</p>
          <h3 id="-symbol-">第一步：引入项目下面生成的 symbol 代码：</h3>
<pre><code class="language-html">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;
</code></pre>
          <h3 id="-css-">第二步：加入通用 CSS 代码（引入一次就行）：</h3>
<pre><code class="language-html">&lt;style&gt;
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
&lt;/style&gt;
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;svg class="icon" aria-hidden="true"&gt;
  &lt;use xlink:href="#icon-xxx"&gt;&lt;/use&gt;
&lt;/svg&gt;
</code></pre>
          </div>
      </div>

    </div>
  </div>
  <script>
  $(document).ready(function () {
      $('.tab-container .content:first').show()

      $('#tabs li').click(function (e) {
        var tabContent = $('.tab-container .content')
        var index = $(this).index()

        if ($(this).hasClass('active')) {
          return
        } else {
          $('#tabs li').removeClass('active')
          $(this).addClass('active')

          tabContent.hide().eq(index).fadeIn()
        }
      })
    })
  </script>
</body>
</html>
