.project-report-container {
  display: flex;
  height: 100%;
}

.project-report-list {
  width: 280px;
  min-height: 100%;
  background: $white;

  .search-table-section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 299px;
    display: block;
    height: 100%;
    border-right: thin solid $color-border;
    content: '';
  }

  .search-table-content {
    flex: 1;
    overflow: auto;
  }

  .report-list-item {
    height: 48px;
    line-height: 48px;

    &.active {
      background: $color-active-bg;
      border-right: 0.125rem solid $color-primary;
    }
  }
}

.project-report-detail {
  flex: 1;
  width: 0;

  .content-table {
    max-width: 2000px;
  }

  table {
    border-collapse: initial;
  }
}
