.details-panel-template {
  .title-box {
    border-radius: $radius-lg;
  }

  .ant-anchor-wrapper {
    background-color: transparent;

    .ant-anchor {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 0 0 16px;
      background-color: $white;

      .ant-anchor-ink {
        display: none;
      }
    }
  }

  .anchor-link-title-icon {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
