<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. See accompanying LICENSE file.
-->

<!-- Put site-specific property overrides in this file. -->

<configuration>
  <!--NameNode存储元数据的目录 -->
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file:/opt/data/hadoop/name</value>
  </property>

  <!--DataNode存储数据块的目录-->
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file:/opt/data/hadoop/data</value>
  </property>

  <!--指定HDFS的副本数量-->
  <property>
    <name>dfs.replication</name>
    <value>2</value>
  </property>

  <!--开启HDFS的WEB管理界面功能-->
  <property>
    <name>dfs.webhdfs.enabled</name>
    <value>true</value>
  </property>

  <!--指定HDFS的nameservice，需要和core-site.xml中的保持一致 -->
  <property>
    <name>dfs.nameservices</name>
    <value>{{ groups['hadoop-hdfs-namenode'][0] }}</value>
  </property>

  <property>
    <name>fs.permissions.umask-mode</name>
    <value>000</value>
  </property>
</configuration>
