<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
   
    <localRepository>{{mvn_local_repo}}</localRepository>
    <!--
    <mirrors>
        <mirror>
            <id>mirror</id>
            <mirrorOf>!rdc-releases,!rdc-snapshots,!jenkins-release</mirrorOf>
            <name>mirror</name>
           <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
    </mirrors>
    -->
    <profiles>

    <profile>
                <id>qlangtech</id>
                <repositories>
                   <repository>
                        <id>rdc-releases</id>
                        <url>https://mvn-repo.oss-cn-hangzhou.aliyuncs.com/release/</url>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </repository>
                    <repository>
                        <id>rdc-snapshots</id>
                        <url>https://mvn-repo.oss-cn-hangzhou.aliyuncs.com/snapshot/</url>
                        <releases>
                            <enabled>false</enabled>
                        </releases>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                    </repository>
                </repositories>

     <pluginRepositories>
                <pluginRepository>
                        <id>rdc-releases</id>
                        <url>https://mvn-repo.oss-cn-hangzhou.aliyuncs.com/release/</url>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </pluginRepository>
                    <pluginRepository>
                        <id>rdc-snapshots</id>
                        <url>https://mvn-repo.oss-cn-hangzhou.aliyuncs.com/snapshot/</url>
                        <releases>
                            <enabled>false</enabled>
                        </releases>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                    </pluginRepository>
    </pluginRepositories>
    </profile>
            <profile>
                <id>nexus</id>
                <repositories>
                    <repository>
                        <id>central</id>
                        <url>https://maven.aliyun.com/repository/public</url>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </repository>
                    <repository>
                        <id>snapshots</id>
                        <url>https://maven.aliyun.com/repository/public</url>
                        <releases>
                            <enabled>false</enabled>
                        </releases>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                    </repository>
                </repositories>
                <pluginRepositories>
                    <pluginRepository>
                        <id>central</id>
                        <url>https://maven.aliyun.com/repository/public</url>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </pluginRepository>
                    <pluginRepository>
                        <id>snapshots</id>
                        <url>https://maven.aliyun.com/repository/public</url>
                        <releases>
                            <enabled>false</enabled>
                        </releases>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                    </pluginRepository>
                </pluginRepositories>
            </profile>

        <profile>
                <id>jenkins</id>
                <repositories>
                    <repository>
                        <id>jenkins-release</id>
                        <url>https://repo.jenkins-ci.org/releases/</url>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                        <snapshots>
                            <enabled>false</enabled>
                        </snapshots>
                    </repository>
                </repositories>

              <pluginRepositories>
                    <pluginRepository>
                        <id>enkins-plugin-release</id>
                        <url>https://repo.jenkins-ci.org/releases/</url>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                    </pluginRepository>
                </pluginRepositories>

         </profile>



        </profiles>

        <activeProfiles>

            <activeProfile>qlangtech</activeProfile>
            <activeProfile>nexus</activeProfile>
            <activeProfile>jenkins</activeProfile>

        </activeProfiles>


</settings>
