<?xml version='1.0' encoding='UTF-8'?>
<com.qlangtech.tis.plugin.PluginStore plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
{% if uber_pkg %}
  <plugins>
    <com.qlangtech.tis.dump.LocalTableDumpFactory plugin="tis-local-dump-build@{{tis_pkg_version}}">
      <name>local</name>
    </com.qlangtech.tis.dump.LocalTableDumpFactory>
  </plugins>
{% else %}
  <plugins>
    <com.qlangtech.tis.fullbuild.indexbuild.impl.YarnTableDumpFactory plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
      <name>yarn_tab_dump</name>
      <yarnCfg>yarn1</yarnCfg>
      <fsName>hdfs1</fsName>
      <destination>hive1</destination>
      <maxHeapMemory>4048</maxHeapMemory>
      <maxCPUCores>1</maxCPUCores>
      <runjdwpPort>0</runjdwpPort>
    </com.qlangtech.tis.fullbuild.indexbuild.impl.YarnTableDumpFactory>
  </plugins>
{% endif %}
</com.qlangtech.tis.plugin.PluginStore>