<?xml version='1.0' encoding='UTF-8'?>
<com.qlangtech.tis.plugin.PluginStore plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
  <plugins>
    <com.qlangtech.tis.offline.flattable.HiveFlatTableBuilder plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
      <name>hive1</name>
      <hiveAddress>{{hadoop_yarn_resource_manager_host}}:10000</hiveAddress>
      <dbName>tis</dbName>
      <fsName>hdfs1</fsName>
    </com.qlangtech.tis.offline.flattable.HiveFlatTableBuilder>
  </plugins>
</com.qlangtech.tis.plugin.PluginStore>