<?xml version='1.0' encoding='UTF-8'?>
<com.qlangtech.tis.plugin.PluginStore plugin="tis-k8s-plugin@{{tis_pkg_version}}">
  <plugins>
    <com.qlangtech.tis.plugin.incr.DefaultIncrK8sConfig plugin="tis-k8s-plugin@{{tis_pkg_version}}">
      <k8sName>dftkube</k8sName>
      <namespace>tis</namespace>
      <imagePath>registry.cn-hangzhou.aliyuncs.com/tis/tis-incr:latest</imagePath>
    </com.qlangtech.tis.plugin.incr.DefaultIncrK8sConfig>
  </plugins>
</com.qlangtech.tis.plugin.PluginStore>