<?xml version='1.0' encoding='UTF-8'?>
<com.qlangtech.tis.plugin.PluginStore>
    <plugins>
{% if not uber_pkg %}
        <com.qlangtech.tis.config.yarn.YarnConfig plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
            <name>yarn1</name>
            <rmAddress>{{ hadoop_yarn_resource_manager_host }}:8032</rmAddress>
            <schedulerAddress>{{ hadoop_yarn_resource_manager_host }}:8030</schedulerAddress>
        </com.qlangtech.tis.config.yarn.YarnConfig>
{% endif %}
    </plugins>
</com.qlangtech.tis.plugin.PluginStore>
