@import './common/util.scss';

.dice-form-editor {
  .content {
    padding: 0 20px;
  }

  .tip {
    padding: 10px;

    .tip-title {
      color: $color-text;
    }

    .tip-desc {
      color: $color-text-sub;
      font-size: 14px;
    }
  }

  .ant-form-item {
    margin-bottom: 8px;
  }
}
