.urlLinkWrap{
    // display: block;
    // width: 200px;
    // // flex-wrap: wrap;
    white-space: pre-wrap;
    white-space:nowrap;/*规定段落中的文本不进行换行*/
    overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
    text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
}
.alertText{
    color: var(--cloudeon-red-color);
}
.alertIcon{
    margin-left: 10px;
    font-size: 14px;
    color: var(--cloudeon-red-color);
}
.roleTab{
    .roleBtn{
        padding: 0 !important;
    }
    :global{
        .ant-tooltip{
            max-width: 1000px!important;
        }
    }
}