.connector-task-error {
  padding-bottom: 5px;
}
.taskInfo {
  .pf-c-label {
    background: none;
  }
}
.taskStates {
  .pf-c-label {
    background: none;
  }
}
.pf-c-table__action {
  .pf-c-dropdown pf-m-align-right {
    display: none !important;
  }
}
