---

- name: "find old {{tis_flink_extend_artifact_name}} artifact jar in '{{ flink_dist_dir }}/lib/'"
  find:
    paths: "{{ flink_dist_dir }}/lib/"
    patterns: "{{tis_flink_extend_artifact_name}}*"
  register: files_to_delete

- name: "delete old files:'{{ files_to_delete.files | map(attribute='path') | join(',') }}'"
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ files_to_delete.files }}"

- name: "copy {{flink_extends_dist_jar_path}} to {{ flink_dist_dir }}/lib/"
  copy:
    src: "{{flink_extends_dist_jar_path}}"
    dest: "{{ flink_dist_dir }}/lib/"

- name: "make dir '{{tis_flink_dist_dir}}'"
  file:
    path: '{{tis_flink_dist_dir}}'
    state: directory

- name: "archive flink package source: {{flink_dist_dir}},target dir:{{tis_flink_dist_dir}}"
  archive:
    path: "{{ flink_dist_dir }}/"
    dest: "{{tis_flink_dist_dir}}/{{tis_incr_tar_name}}"
    remove: no

- name: "make a soft link from {{tis_flink_dist_dir}}/{{tis_incr_tar_name}} to {{ tis_release_dir }}/{{tis_release_dir_name}}/{{tis_incr_tar_name}}"
  file:
    src: "{{tis_flink_dist_dir}}/{{tis_incr_tar_name}}"
    dest: "{{ tis_release_dir }}/{{tis_release_dir_name}}/{{tis_incr_tar_name}}"
    state: link
    force: yes

#move to role: deploy-tar
#- name: "make a pom.xml from deploy"
#  template:
#    src: 'pom.xml.j2'
#    dest: '{{tis_flink_dist_dir}}/pom.xml'
#  tags:
#    - deploy
#
#- name: "copy {{script_prefix}}deploy-assemble.sh shell script to '{{tis_flink_dist_dir}}'"
#  template:
#    src: template/{{item}}.j2
#    dest: '{{tis_flink_dist_dir}}/{{item}}'
#    mode: u+rwx
#  with_items:
#    - "{{script_prefix}}deploy-assemble.sh"
#  tags:
#    - deploy
#
#
#- name: "deploy assemble of '{{tis_flink_dist_dir}}/{{tis_incr_tar_name}}' package  to remote repository"
#  shell: "./{{script_prefix}}deploy-assemble.sh > deploy.log"
#  args:
#    chdir: "{{tis_flink_dist_dir}}"
#  tags:
#    - deploy
