<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	 <!-- 扫描包路径 -->
    <context:component-scan base-package="com.platform.website.controller"></context:component-scan>
    
    <!-- 视图映射设定 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/pages/"></property>
    <property name="suffix" value=".jsp"></property>
    </bean>
    <!-- 处理静态资源 -->
   <mvc:default-servlet-handler/>

		<mvc:resources mapping="/analyse/**" location="/analyse/"/>

	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />
<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean"> 
	<property name="favorPathExtension" value="false" />
	<property name="favorParameter" value="false" /> 
	<property name="ignoreAcceptHeader" value="false" /> 
	<property name="mediaTypes" > 
		<value>
			atom=application/atom+xml
		 	html=text/html
			json=application/json
			*=*/*
		</value> 
	</property>
</bean>

</beans>