.group-tag-purple {
  background: rgba(26, 54, 221, 0.2);
}

.group-tag-pink {
  background: rgba(240, 7, 44, 0.2);
}

.group-tag-green {
  background: rgba(0, 174, 96, 0.2);
}

.group-tag-blue {
  background: rgba(0, 157, 212, 0.2);
}

.group-tag-red {
  background: rgba(196, 0, 53, 0.2);
}

.group-tag-orange {
  background: rgba(244, 114, 1, 0.2);
}

.group-tag-purple-2 {
  background: rgba(143, 0, 242, 0.2);
}

.group-tag-green-2 {
  background: rgba(111, 194, 0, 0.2);
}
