.ticket-list {
  margin-bottom: 0;

  .ticket-item {
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    height: 86px;
    padding: 16px 12px;
    column-gap: 10px;
    border-bottom: 1px solid $color-border;
    grid-template-columns: auto auto;

    .title,
    .sub-title,
    .desc {
      display: inline-block;
      height: 22px;
      line-height: 22px;
    }

    .title {
      font-size: 16px;
    }

    .sub-title {
      color: $color-dark-4;
      line-height: 22px;
    }

    .desc {
      color: $color-dark-6;

      span {
        display: inline-block;
        vertical-align: bottom;
      }
    }

    .ticket-type {
      color: $color-dark-4;
    }
  }
}

.ticket-list-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
