##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<!-- main START -->
<div class="main">
    <div class="main-hd">
        <div class="crumb-wp fl">
            <span class="cur">集群管理</span>
        </div>
    </div>

    <!-- basic-wp START -->
    <div class="basic-wp">


        <!-- table-wp START -->
        <div class="table-wp">
            <table class="border">
                <thead>
                <tr>
                    <th>集群名</th>
                    <th>集群状态</th>
                    <th>节点名</th>
                    <th>IP地址</th>
                    <th>节点类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="clustersInfo">
                <tr>
                    <td rowspan="3">TubeMQ集群</td>
                    <td rowspan="3">运行中</td>
                    <td>dagshdas</td>
                    <td>1:6066</td>
                    <td>主</td>
                    <td rowspan="3"><a href="" class="link">切换</a></td>
                </tr>
                <tr>
                    <td>sdashd_hsagd</td>
                    <td>1:6066</td>
                    <td>备</td>

                </tr>
                <tr>
                    <td>test</td>
                    <td>1:6066</td>
                    <td>备</td>
                </tr>

                </tbody>
            </table>


        </div>
        <!-- table-wp END -->
    </div>
    <!-- basic-wp END -->
</div>
<!-- main END -->

<!-- common js start -->
<script type="text/javascript" src="../../../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../../assets/lib/DataTables/datatables.min.js"></script>

<script type="text/javascript" src="../../../assets/scripts/common/helper.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/module.js"></script>
<!-- common js end -->

<script type="text/javascript" src="../../../assets/scripts/clusters.js"></script>
