.cp-data-rank {
  .items-wrapper {
    min-height: 232px;
  }

  .bg-icon-wrapper {
    width: 52px;
    height: 52px;
  }

  .ant-progress,
  .ant-progress-outer {
    line-height: 4px;
    height: 4px;
  }
}
