.dice-cp {
  &.info-card {
    &.dragging {
      background: repeating-linear-gradient(
        45deg,
        $color-dark-06,
        $color-dark-06 2px,
        $color-white-8 0,
        $color-white-8 8px
      );
      cursor: move;

      .info-card-content {
        background: transparent;
        opacity: 0;
      }
    }

    .info-card-head {
      align-items: flex-start;
    }

    .head-icon {
      width: 20px;
      height: 20px;
    }

    .op-icon {
      margin-right: 0;
      margin-left: 4px;
      padding: 1px 2px;
      background-color: $color-light-bg;
      border-radius: $radius;
      opacity: 0;
    }

    &:hover {
      .op-icon {
        opacity: 1;

        &.hide-icon {
          opacity: 0;
        }
      }
    }
  }
}
