##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<!-- main START -->
<div class="main">
    <div class="main-hd">
        <div class="crumb-wp fl">
            <a class="back" href="../consume/consume_group_list.htm">分发查询</a>
            <span class="arrow">&rsaquo;</span>
            <span class="cur">消费组详情 - <span id="consumeGroupNav">gift_ugc_test</span></span>
        </div>
    </div>

    <!-- panel-mod START -->
    <div class="panel-mod-wp">
        <!-- 60% -->
        <div class="panel-wp" style="width:100%">
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">消费组列表</span>
                        <span class="search-bar">
                            <input type="text" class="expand" placeholder="请输入关键字搜索标签"
                                   id="listSearch">
                            <a href="javascript:" class="icon-btn" title="搜索"><i
                                    class="icon_search"></i></a>
                        </span>
                </div>
                <div class="panel-cnt scroll">
                    <div class="table-wp">
                        <table class="white" id="list">
                            <thead>
                            <tr>
                                <th>消费者ID</th>
                                <th>消费Topic</th>
                                <th>broker地址</th>
                                <th>分区ID</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- panel-mod END -->
</div>
<!-- main END -->

<!-- common js start -->
<script type="text/javascript" src="../../../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../../assets/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/helper.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/module.js"></script>
<!-- common js end -->
<script type="text/javascript" src="../../../assets/scripts/subscribeDetail.js"></script>
