#root {
  height: 100%;
}

.page {
  margin: 16px;
}

.card {
  border-radius: 8px;
  box-shadow: 5px 8px 15px 5px rgb(208 216 243 / 60%);
}

.lineage-graph {
  margin-top: 1.5rem;
}

.lineage-node-active {
  overflow: hidden;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  background-color: rgb(57 35 150 / var(--tw-bg-opacity));
  border-color: rgb(57 35 150 / var(--tw-border-opacity));
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  opacity: 1;

  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.lineage-node-box {
  padding: 4px 12px 7px;
}

.lineage-node-title {
  font-weight: 700;
  font-size: 15px;
}

.lineage-node-subtitle {
  max-width: 135px;
  overflow: hidden;
  font-size: 10px;
  font-style: italic;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lineage-navigate {
  padding: 4px 12px 7px;
}

.feature-container {
  column-count: 3;
}

.feature-container p {
  break-inside: avoid-column;
}

.dataSource-container {
  column-count: 1;
}

.display-flex {
  display: flex;
}
