.file-editor-container {
  position: relative;

  .file-editor-actions {
    position: absolute;
    top: -10px;
    right: 20px;
    z-index: 10;
    padding: 8px;
    opacity: 0.3;

    > * {
      margin-left: 8px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}
