.erda-global-nav {
  height: 100%;
  width: 48px;
  background: $purple;
  z-index: 10;
}

.erda-global-nav-slot-container {
  width: 48px;
  height: 48px;
  padding: 12px 0px;
  color: $white;
}

.erda-global-nav-logo-container {
  width: 100%;
  height: 48px;
  margin: 8px 0 0 0;
}

.erda-global-nav-right-container {
  height: auto;
  width: 32px;
  flex: 1;
  margin-right: 0;
  margin-bottom: 16px;
  color: $white;
}

.erda-global-nav-operation-container {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.64);
  margin-right: 0;
  margin-bottom: 16px;
  line-height: 32px;

  .erda-global-nav-operation-item {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    margin-right: 0px;
    color: #c3bbd8;
    border-radius: 16px;
  }
}

.erda-global-nav-avatar-item {
  width: 32px;
  height: 32px;
  border-radius: 16px;

  .ant-avatar {
    background: $gray;
  }
}

.erda-global-nav-user-menu {
  .ant-popover-inner-content {
    padding: 0;
  }

  .container {
    width: 278px;
  }

  .user-info {
    border-bottom: 1px solid rgba(9, 24, 33, 0.08);
    width: 100%;

    .avatar {
      padding: 12px;
    }

    .desc-container {
      padding: 15px 12px 15px 0px;
    }
  }
}
