<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.server.repository.mapper.AppPackageTaskDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDO">
    <!--@mbg.generated-->
    <!--@Table am_app_package_task-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_package_id" jdbcType="BIGINT" property="appPackageId" />
    <result column="package_creator" jdbcType="VARCHAR" property="packageCreator" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="package_version" jdbcType="VARCHAR" property="packageVersion" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="env_id" jdbcType="VARCHAR" property="envId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDO">
    <!--@mbg.generated-->
    <!--@Table am_app_package_task-->
    <result column="package_options" jdbcType="LONGVARCHAR" property="packageOptions" />
    <result column="swapp" jdbcType="LONGVARCHAR" property="swapp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, app_id, app_package_id, package_creator, task_status, 
    package_version, version, env_id
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    package_options, swapp
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDOExample" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_app_package_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_app_package_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDOExample">
    <!--@mbg.generated-->
    delete from am_app_package_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_app_package_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appPackageId != null">
        app_package_id,
      </if>
      <if test="packageCreator != null">
        package_creator,
      </if>
      <if test="taskStatus != null">
        task_status,
      </if>
      <if test="packageVersion != null">
        package_version,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="envId != null">
        env_id,
      </if>
      <if test="packageOptions != null">
        package_options,
      </if>
      <if test="swapp != null">
        swapp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appPackageId != null">
        #{appPackageId,jdbcType=BIGINT},
      </if>
      <if test="packageCreator != null">
        #{packageCreator,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null">
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="packageVersion != null">
        #{packageVersion,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="envId != null">
        #{envId,jdbcType=VARCHAR},
      </if>
      <if test="packageOptions != null">
        #{packageOptions,jdbcType=LONGVARCHAR},
      </if>
      <if test="swapp != null">
        #{swapp,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.server.repository.domain.AppPackageTaskDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_app_package_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
        AND version = #{record.version,jdbcType=INTEGER}
      </foreach>
    </where>
  </sql>
  <update id="updateByExampleSelective" parameterType="map">
    update am_app_package_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appPackageId != null">
        app_package_id = #{record.appPackageId,jdbcType=BIGINT},
      </if>
      <if test="record.packageCreator != null">
        package_creator = #{record.packageCreator,jdbcType=VARCHAR},
      </if>
      <if test="record.taskStatus != null">
        task_status = #{record.taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.packageVersion != null">
        package_version = #{record.packageVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.envId != null">
        env_id = #{record.envId,jdbcType=VARCHAR},
      </if>
      <if test="record.packageOptions != null">
        package_options = #{record.packageOptions,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.swapp != null">
        swapp = #{record.swapp,jdbcType=LONGVARCHAR},
      </if>
      version = version + 1,
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>