.basic-error-page {
  height: 100%;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100px;
      font-size: 30px;
      line-height: 30px;
    }

    .contact-info {
      margin: 20px 0;
      font-size: 18px;
      line-height: 18px;
    }

    i {
      margin-right: 50px;
      font-size: 120px;
    }
  }
}
