<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<table class="custom-table">
    {{#each items}}
    <tr class="custom-tr">
        <td class="custom-col-1">
            <input placeholder="key" type="text" data-type="key" data-index={{@index}} class="form-control" value={{key}}></input>
            <p class="errorMsg"></p>
        </td>
        <td class="custom-col-0"> : </td>
        <td class="custom-col-1">
            <textarea placeholder="value" data-type="value" data-index={{@index}} class="form-control" class="form-control">{{value}}</textarea>
            <p class="errorMsg"></p>
        </td>
        <td class="custom-col-2">
            <button class="btn btn-default btn-sm" title="" data-index={{@index}} data-id="deleteItem">
                <i class="fa fa-minus"> </i>
            </button>
            <button class="btn btn-default btn-sm" title="" data-index={{@index}} data-id="addItem">
                <i class="fa fa-plus"> </i>
            </button>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="4">
            <p class="errorMsg" data-id="charSupportMsg"></p>
        </td>
    </tr>
    {{#if allValueRemovedUpdate}}
    All properties has been removed. To add a property, click <a href="javascript:void(0)" data-id="addItem">here</a>{{else}}
    {{#ifCond items.length "===" 0}}
    No properties have been created yet. To add a property, click <a href="javascript:void(0)" data-id="addItem">here</a>
    {{/ifCond}}{{/if}}
</table>