<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
 <!-- https://checkstyle.org/config_whitespace.html#FileTabCharacter -->
 <!--<module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>  -->


  <!--<module name="NewlineAtEndOfFile"/> --><!-- https://checkstyle.org/config_misc.html#NewlineAtEndOfFile -->

<!-- https://checkstyle.org/config_annotation.html#AnnotationLocation -->
<!--   <module name="TreeWalker">
    <module name="AnnotationLocation"> 
      <property name="id" value="AnnotationLocationMostCases"/>
      <property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF"/>
    </module>
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationVariables"/>
      <property name="tokens" value="VARIABLE_DEF"/>
      <property name="allowSamelineMultipleAnnotations" value="true"/>
    </module>
    -->
    <!-- https://checkstyle.org/config_misc.html#AvoidEscapedUnicodeCharacters -->
    <!--<module name="AvoidEscapedUnicodeCharacters"> 
      <property name="allowEscapesForControlCharacters" value="true"/>
      <property name="allowByTailComment" value="true"/>
      <property name="allowNonPrintableEscapes" value="true"/>
    </module>
    -->
    <!--<module name="ArrayTypeStyle"/>--> <!-- https://checkstyle.org/config_misc.html#ArrayTypeStyle -->
    <!--<module name="AvoidNestedBlocks"/>--> <!-- https://checkstyle.org/config_blocks.html#AvoidNestedBlocks -->
    <!--<module name="AvoidNoArgumentSuperConstructorCall"/>--> <!-- https://checkstyle.org/config_coding.html#AvoidNoArgumentSuperConstructorCall -->
    <!--<module name="AvoidStarImport"/>--> <!-- https://checkstyle.org/config_imports.html#AvoidStarImport -->

    <!--<module name="CommentsIndentation"/>--> <!-- https://checkstyle.org/config_misc.html#CommentsIndentation -->
    <!--<module name="ConstantName"/>--> <!-- https://checkstyle.org/config_naming.html#ConstantName -->
	<!-- https://checkstyle.org/config_blocks.html#EmptyBlock -->
    <!--<module name="EmptyBlock"> 
      <property name="option" value="TEXT"/>
      <property name="tokens" value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>
    </module>-->
    <!-- https://checkstyle.org/config_blocks.html#EmptyCatchBlock -->
    <!--<module name="EmptyCatchBlock"> 
      <property name="exceptionVariableName" value="expected|ignore"/>
    </module>-->
    <!-- https://checkstyle.org/config_whitespace.html#EmptyLineSeparator -->
    <!--<module name="EmptyLineSeparator"> 
    </module>-->
    <!--<module name="EmptyStatement"/> --> <!-- https://checkstyle.org/config_coding.html#EmptyStatement -->
    <!--<module name="EqualsHashCode"/> --> <!-- https://checkstyle.org/config_coding.html#EqualsHashCode -->

    <!--<module name="FallThrough"/> --> <!-- https://checkstyle.org/config_coding.html#FallThrough -->

   <!-- https://checkstyle.org/config_whitespace.html#GenericWhitespace -->
   <!-- <module name="GenericWhitespace"> 
      <message key="ws.followed" value="GenericWhitespace ''{0}'' is followed by whitespace."/>
      <message key="ws.preceded" value="GenericWhitespace ''{0}'' is preceded with whitespace."/>
      <message key="ws.illegalFollow" value="GenericWhitespace ''{0}'' should followed by whitespace."/>
      <message key="ws.notPreceded" value="GenericWhitespace ''{0}'' is not preceded with whitespace."/>
    </module>-->

    <!--<module name="HideUtilityClassConstructor"/>--> <!-- https://checkstyle.org/config_design.html#HideUtilityClassConstructor -->

    <!--<module name="Indentation"/>--> <!-- https://checkstyle.org/config_misc.html#Indentation -->
    <!--<module name="InnerAssignment"/> --><!-- https://checkstyle.org/config_coding.html#InnerAssignment -->
    <!--<module name="InvalidJavadocPosition"/>--> <!-- https://checkstyle.org/config_javadoc.html#InvalidJavadocPosition -->

    <!--<module name="JavadocTagContinuationIndentation"/>--> <!-- https://checkstyle.org/config_javadoc.html#JavadocTagContinuationIndentation -->

    <!--<module name="LeftCurly"/>--> <!-- https://checkstyle.org/config_blocks.html#LeftCurly -->

    <!--<module name="MethodParamPad"/>--> <!-- https://checkstyle.org/config_whitespace.html#MethodParamPad -->
    <!--<module name="MissingDeprecated"/> --><!-- https://checkstyle.org/config_annotation.html#MissingDeprecated -->
    <!--<module name="MissingOverride"/> --><!-- https://checkstyle.org/config_annotation.html#MissingOverride -->
    <!--<module name="MissingSwitchDefault"/>--> <!-- https://checkstyle.org/config_coding.html#MissingSwitchDefault -->
    <!--<module name="ModifierOrder"/>--> <!-- https://checkstyle.org/config_modifier.html#ModifierOrder -->
    <!--<module name="MultipleVariableDeclarations"/>--> <!-- https://checkstyle.org/config_coding.html#MultipleVariableDeclarations -->

    <!--<module name="NeedBraces"/> --><!-- https://checkstyle.org/config_blocks.html#NeedBraces -->
    <!--<module name="NoFinalizer"/> --><!-- https://checkstyle.org/config_coding.html#NoFinalizer -->
    <!--<module name="NoLineWrap"/> --><!-- https://checkstyle.org/config_whitespace.html#NoLineWrap -->
    <!--<module name="NonEmptyAtclauseDescription"/>--> <!-- https://checkstyle.org/config_javadoc.html#NonEmptyAtclauseDescription -->
    <!--<module name="NoWhitespaceAfter"/> --><!-- https://checkstyle.org/config_whitespace.html#NoWhitespaceAfter -->
    <!-- https://checkstyle.org/config_whitespace.html#NoWhitespaceBefore -->
    <!--<module name="NoWhitespaceBefore"> 
      <property name="tokens" value="COMMA, SEMI, POST_INC, POST_DEC, DOT, ELLIPSIS, METHOD_REF"/>
      <property name="allowLineBreaks" value="true"/>
    </module> -->

    <!--<module name="OneStatementPerLine">--> <!-- https://checkstyle.org/config_coding.html#OneStatementPerLine -->
    <!--<module name="OneTopLevelClass">--><!-- https://checkstyle.org/config_design.html#OneTopLevelClass -->
    <!--<module name="OuterTypeFilename">--> <!-- https://checkstyle.org/config_misc.html#OuterTypeFilename -->
    <!--<module name="OverloadMethodsDeclarationOrder">--><!-- https://checkstyle.org/config_coding.html#OverloadMethodsDeclarationOrder -->

    <!--<module name="ParenPad"/>--> <!-- https://checkstyle.org/config_whitespace.html#ParenPad -->

    <!--<module name="RedundantImport"/> --><!-- https://checkstyle.org/config_imports.html#RedundantImport -->
   <!-- <module name="RedundantModifier"/>--> <!-- https://checkstyle.org/config_modifier.html#RedundantModifier -->
   <!-- https://checkstyle.org/config_blocks.html#RightCurly -->
    <!--<module name="RightCurly">
        <property name="id" value="RightCurlySame"/>
        <property name="tokens" value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_DO"/>
    </module>--> 
   <!-- <module name="RightCurly">
      <property name="id" value="RightCurlyAlone"/>
      <property name="option" value="alone"/>
      <property name="tokens" value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT, INSTANCE_INIT, ANNOTATION_DEF, ENUM_DEF"/>
    </module>--> 

    <!--<module name="SimplifyBooleanExpression"/>--> <!-- https://checkstyle.org/config_coding.html#SimplifyBooleanExpression -->
    <!--<module name="SimplifyBooleanReturn"/>--> <!-- https://checkstyle.org/config_coding.html#SimplifyBooleanReturn -->
    <!--<module name="StringLiteralEquality"/> --><!-- https://checkstyle.org/config_coding.html#StringLiteralEquality -->

    <!--<module name="UnusedImports"/>--> <!-- https://checkstyle.org/config_imports.html#UnusedImports -->
    <!--<module name="UpperEll"/>--> <!-- https://checkstyle.org/config_misc.html#UpperEll -->

     <!--<module name="WhitespaceAfter"/>--> <!-- https://checkstyle.org/config_whitespace.html#WhitespaceAfter -->
     <!-- https://checkstyle.org/config_whitespace.html#WhitespaceAround -->
    <!--<module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="allowEmptyTypes" value="true"/>
      <property name="allowEmptyLoops" value="true"/>
      <property name="allowEmptyLambdas" value="true"/>
    </module>
  </module>-->
</module>
