.cluster-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 124px;
  border-bottom: 1px solid $color-border;

  .cluster-item-container {
    display: flex;
    width: 100%;
  }

  .cluster-logo {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;

    img {
      width: 46px;
      height: 46px;
    }

    svg {
      width: 46px;
      height: 46px;
      margin-top: 6px;
    }
  }

  .cluster-text {
    flex: 1;
    width: 0;

    .name {
      height: 28px;
      margin-bottom: 4px;
      font-size: 20px;
      line-height: 28px;
    }

    .description {
      height: 22px;
      margin-bottom: 15px;

      span {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        color: $color-text-sub;
        line-height: 22px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .cluster-info-footer {
      justify-content: unset;
      color: $color-text-desc;

      > span {
        display: inline-flex;
        align-items: center;
        min-width: 100px;
        height: 22px;
        margin-right: 24px;
        line-height: 22px;

        i {
          font-size: 20px;
        }
      }
    }
  }

  .cluster-ops {
    color: $color-dark-4;
  }
}

.cluster-op-text {
  text-align: center;
}

.operate-list {
  .ant-popover span {
    display: block;
    white-space: nowrap;
  }
}

.cloud-log-step-wrap {
  display: flex;
  width: 70%;
  height: 40px;
  margin: 0 auto 10px;

  .step-task-item {
    text-align: center;

    .iconfont {
      display: block;
      font-size: 1.25rem;
    }
  }

  .one-step {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;

    .step-title {
      display: flex;
      align-items: center;
      margin-top: 8px;

      .iconfont {
        margin-left: 4px;
        font-size: 1em;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      right: 70%;
      width: 60%;
      height: 1px;
      background-color: $gainsboro;
      content: '';
    }

    &:first-child {
      &:before {
        content: none;
      }
    }

    &.running {
      color: $color-primary;
    }

    &.waiting {
      color: $color-text-desc;
    }

    &.failed {
      color: $color-danger;
    }

    &.success {
      color: $color-text-desc;
    }
  }
}
