.dv-login {
    // background-color: var(--primary-bg-color);
    background-image: linear-gradient(var(--primary-bg-color), var(--primary-sub-color));
    height: 100vh;
    // padding-top: 130px;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        width: 70vmax;
        height: 70vmax;
        position: absolute;
        background: rgba(255,255,255,.3);
        left: -20vmin;
        top: -20vmin;
        border-radius: 59% 41% 57% 43% / 30% 52% 48% 70% ;
        animation:spin 20s linear infinite;
        z-index: 1;
        will-change: border-radius,transform;
        transform-origin: 55% 55%;
        pointer-events: none;
    
    }
    &::after{
        content: "";
        background: rgba(255,255,255,.3);
        width: 90vmin;
        height: 90vmin;
        left: auto;
        position: absolute;
        right: -20vmin;
        top: auto;
        bottom: 0;
        animation: spin 26s linear infinite reverse;
        transform-origin: 20% 20%;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
        
    }
}
.dv-login-btn{
    margin: 0px;
    text-align: right;
    filter: brightness(180%);
    color: var(--primary-color);
    // font-family: fantasy;
    font-weight: 600;
    >span{
        cursor: pointer;
        >span{
            margin-left: 6px;
        }
        margin-right: 2px;
        
    }
}
.dv-login-containner {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.dv-register-btn{
    color: var(--primary-color);
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    // font-family: fantasy;
    cursor: pointer;
    >span{
        margin-left: 6px;
    }
}

.dv-login-wrap {
    background-color: var(--primary-color);;
    display: inline-block;
    padding: 50px 60px 70px ;
    text-align: left;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    // border-radius: 68% 32% 72% 28% / 27% 43% 57% 73%;
    border-radius: 59% 41% 57% 43% / 30% 52% 48% 70% ;
    transform: translate(-50%, -50%);
    z-index: 1;
    &:hover{
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    }
}

.dv-login-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    filter: brightness(180%);
    // font-family: fantasy;
}

.dv-login__switch-language {
    position: absolute;
    right: 30px;
    top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}