<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.meta.helm.repository.mapper.HelmMetaDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDO">
    <!--@mbg.generated-->
    <!--@Table am_helm_meta-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="helm_package_id" jdbcType="VARCHAR" property="helmPackageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="component_type" jdbcType="VARCHAR" property="componentType" />
    <result column="package_type" jdbcType="VARCHAR" property="packageType" />
    <result column="helm_ext" jdbcType="LONGVARCHAR" property="helmExt" />
    <result column="options" jdbcType="LONGVARCHAR" property="options" />
    <result column="namespace_id" jdbcType="VARCHAR" property="namespaceId" />
    <result column="stage_id" jdbcType="VARCHAR" property="stageId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, app_id, helm_package_id, `name`, description, component_type, 
    package_type, helm_ext, `options`, namespace_id, stage_id
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_helm_meta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from am_helm_meta
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from am_helm_meta
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDOExample">
    <!--@mbg.generated-->
    delete from am_helm_meta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_helm_meta (gmt_create, gmt_modified, app_id, 
      helm_package_id, `name`, description, 
      component_type, package_type, helm_ext, 
      `options`, namespace_id, stage_id
      )
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{appId,jdbcType=VARCHAR}, 
      #{helmPackageId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{componentType,jdbcType=VARCHAR}, #{packageType,jdbcType=VARCHAR}, #{helmExt,jdbcType=LONGVARCHAR}, 
      #{options,jdbcType=LONGVARCHAR}, #{namespaceId,jdbcType=VARCHAR}, #{stageId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_helm_meta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="helmPackageId != null">
        helm_package_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="componentType != null">
        component_type,
      </if>
      <if test="packageType != null">
        package_type,
      </if>
      <if test="helmExt != null">
        helm_ext,
      </if>
      <if test="options != null">
        `options`,
      </if>
      <if test="namespaceId != null">
        namespace_id,
      </if>
      <if test="stageId != null">
        stage_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="helmPackageId != null">
        #{helmPackageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="componentType != null">
        #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="packageType != null">
        #{packageType,jdbcType=VARCHAR},
      </if>
      <if test="helmExt != null">
        #{helmExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="options != null">
        #{options,jdbcType=LONGVARCHAR},
      </if>
      <if test="namespaceId != null">
        #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="stageId != null">
        #{stageId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_helm_meta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_helm_meta
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.helmPackageId != null">
        helm_package_id = #{record.helmPackageId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.componentType != null">
        component_type = #{record.componentType,jdbcType=VARCHAR},
      </if>
      <if test="record.packageType != null">
        package_type = #{record.packageType,jdbcType=VARCHAR},
      </if>
      <if test="record.helmExt != null">
        helm_ext = #{record.helmExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.options != null">
        `options` = #{record.options,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.namespaceId != null">
        namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.stageId != null">
        stage_id = #{record.stageId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_helm_meta
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      app_id = #{record.appId,jdbcType=VARCHAR},
      helm_package_id = #{record.helmPackageId,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR},
      component_type = #{record.componentType,jdbcType=VARCHAR},
      package_type = #{record.packageType,jdbcType=VARCHAR},
      helm_ext = #{record.helmExt,jdbcType=LONGVARCHAR},
      `options` = #{record.options,jdbcType=LONGVARCHAR},
      namespace_id = #{record.namespaceId,jdbcType=VARCHAR},
      stage_id = #{record.stageId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDO">
    <!--@mbg.generated-->
    update am_helm_meta
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="helmPackageId != null">
        helm_package_id = #{helmPackageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="componentType != null">
        component_type = #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="packageType != null">
        package_type = #{packageType,jdbcType=VARCHAR},
      </if>
      <if test="helmExt != null">
        helm_ext = #{helmExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="options != null">
        `options` = #{options,jdbcType=LONGVARCHAR},
      </if>
      <if test="namespaceId != null">
        namespace_id = #{namespaceId,jdbcType=VARCHAR},
      </if>
      <if test="stageId != null">
        stage_id = #{stageId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.appmanager.meta.helm.repository.domain.HelmMetaDO">
    <!--@mbg.generated-->
    update am_helm_meta
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      app_id = #{appId,jdbcType=VARCHAR},
      helm_package_id = #{helmPackageId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      component_type = #{componentType,jdbcType=VARCHAR},
      package_type = #{packageType,jdbcType=VARCHAR},
      helm_ext = #{helmExt,jdbcType=LONGVARCHAR},
      `options` = #{options,jdbcType=LONGVARCHAR},
      namespace_id = #{namespaceId,jdbcType=VARCHAR},
      stage_id = #{stageId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>