/**
 *   Licensed to the Apache Software Foundation (ASF) under one
 *   or more contributor license agreements.  See the NOTICE file
 *   distributed with this work for additional information
 *   regarding copyright ownership.  The ASF licenses this file
 *   to you under the Apache License, Version 2.0 (the
 *   "License"); you may not use this file except in compliance
 *   with the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

.excelDefaults {
	background-color: white;
	color: black;
	text-decoration: none;
	direction: ltr;
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	word-spacing: 0;
	white-space: normal;
	unicode-bidi: normal;
	vertical-align: 0;
	background-image: none;
	text-shadow: none;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	white-space: pre;
	vertical-align: bottom;
	font-style: normal;
	font-family: sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	text-align: right;
}

.excelDefaults  td {
	padding: 1px 5px;
	border: 1px solid black;
}

.style1 {
    background-color: silver;
	font-weight: bold;
	border: 1px solid black;
	text-align: center;
	padding: 1px 5px;
}

.style2 {
	border: 1px solid black;
	text-align: right;
	padding: 1px 5px;
	font-size:18px;
}

.excelDefaults .colHeader {
	background-color: silver;
	font-weight: bold;
	border: 1px solid black;
	text-align: center;
	padding: 1px 5px;
}

.excelDefaults .rowHeader {
	background-color: silver;
	font-weight: bold;
	border: 1px solid black;
	text-align: right;
	padding: 1px 5px;
}
 -->
