<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    #*
    #foreach($mq in $config.mqConfigMetas)
        <bean
                class="com.twodfire.async.message.client.consumer.ConsumerListenerForRm"
                init-method="start">
            <property name="consumerGroup" value="${mq.consumeId}"/>
            <property name="namesrvAddr" value="${mq.namesrvAddr}"/>
            <property name="topic" value="${mq.topic}"/>
            <property name="consumerHandle" ref="totalpayListener"/>
        </bean>
    #end
 *#
    <bean class="com.qlangtech.tis.realtime.transfer.MQListenerFactory" >
        <property name="consumer" ref="consumerListener"/>
        <property name="collection" value="${config.collection}"/>
    </bean>

    <bean name="consumerListener"
          class="com.qlangtech.tis.realtime.transfer.${config.collection}.${config.javaName}Listener">
        #foreach($d in $config.facadeContextList  )
<property name="${d.facadeInstanceName}" ref="${d.facadeInstanceName}"/>
        #end
    </bean>

</beans>
