package com.qlangtech.tis.realtime.transfer.${config.collection}

import java.util
import org.apache.flink.streaming.api.functions.sink.{PrintSinkFunction, SinkFunction}
import com.qlangtech.tis.realtime.{HoodieFlinkSourceHandle}
import scala.collection.JavaConverters._
import org.apache.hudi.streamer.FlinkStreamerConfig
import org.apache.hudi.common.model.WriteOperationType
import com.qlangtech.tis.extension.TISExtension

import org.slf4j.LoggerFactory

@TISExtension()
class ${config.javaName}SourceHandle extends HoodieFlinkSourceHandle {
  lazy val logger = LoggerFactory.getLogger( classOf[${config.javaName}SourceHandle])

override protected def createTabStreamerCfg(): java.util.Map[String , FlinkStreamerConfig] = {

  logger.info("current_exec_timestamp:${config.currentTimestamp}")

  var cfgs: Map[String , FlinkStreamerConfig] = Map()
  var cfg: FlinkStreamerConfig = null

#foreach($i in $config.dumpTables  )
  cfg = createHudiCfg("${config.hudiOperationType}")
  ${config.getFlinkStreamerConfig($i.from)}
  cfgs += ("${i.from}" -> cfg )

#end

  cfgs.asJava
}

}
