<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tdata.aisp.server.repository.mapper.InstanceDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    <id column="instance_code" jdbcType="VARCHAR" property="instanceCode" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="detector_code" jdbcType="VARCHAR" property="detectorCode" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    <result column="model_param" jdbcType="LONGVARCHAR" property="modelParam" />
    <result column="recent_feedback" jdbcType="LONGVARCHAR" property="recentFeedback" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    instance_code, gmt_create, gmt_modified, scene_code, detector_code, entity_id
  </sql>
  <sql id="Blob_Column_List">
    model_param, recent_feedback
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_analyse_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aisp_analyse_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_analyse_instance
    where instance_code = #{instanceCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aisp_analyse_instance
    where instance_code = #{instanceCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDOExample">
    delete from aisp_analyse_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    insert into aisp_analyse_instance (instance_code, gmt_create, gmt_modified, 
      scene_code, detector_code, entity_id, 
      model_param, recent_feedback)
    values (#{instanceCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{sceneCode,jdbcType=VARCHAR}, #{detectorCode,jdbcType=VARCHAR}, #{entityId,jdbcType=VARCHAR}, 
      #{modelParam,jdbcType=LONGVARCHAR}, #{recentFeedback,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    insert into aisp_analyse_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instanceCode != null">
        instance_code,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="detectorCode != null">
        detector_code,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="modelParam != null">
        model_param,
      </if>
      <if test="recentFeedback != null">
        recent_feedback,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="instanceCode != null">
        #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="modelParam != null">
        #{modelParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="recentFeedback != null">
        #{recentFeedback,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDOExample" resultType="java.lang.Long">
    select count(*) from aisp_analyse_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update aisp_analyse_instance
    <set>
      <if test="record.instanceCode != null">
        instance_code = #{record.instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sceneCode != null">
        scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="record.detectorCode != null">
        detector_code = #{record.detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.entityId != null">
        entity_id = #{record.entityId,jdbcType=VARCHAR},
      </if>
      <if test="record.modelParam != null">
        model_param = #{record.modelParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.recentFeedback != null">
        recent_feedback = #{record.recentFeedback,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update aisp_analyse_instance
    set instance_code = #{record.instanceCode,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      detector_code = #{record.detectorCode,jdbcType=VARCHAR},
      entity_id = #{record.entityId,jdbcType=VARCHAR},
      model_param = #{record.modelParam,jdbcType=LONGVARCHAR},
      recent_feedback = #{record.recentFeedback,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update aisp_analyse_instance
    set instance_code = #{record.instanceCode,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      scene_code = #{record.sceneCode,jdbcType=VARCHAR},
      detector_code = #{record.detectorCode,jdbcType=VARCHAR},
      entity_id = #{record.entityId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    update aisp_analyse_instance
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        detector_code = #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="modelParam != null">
        model_param = #{modelParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="recentFeedback != null">
        recent_feedback = #{recentFeedback,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where instance_code = #{instanceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    update aisp_analyse_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      scene_code = #{sceneCode,jdbcType=VARCHAR},
      detector_code = #{detectorCode,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      model_param = #{modelParam,jdbcType=LONGVARCHAR},
      recent_feedback = #{recentFeedback,jdbcType=LONGVARCHAR}
    where instance_code = #{instanceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    update aisp_analyse_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      scene_code = #{sceneCode,jdbcType=VARCHAR},
      detector_code = #{detectorCode,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=VARCHAR}
    where instance_code = #{instanceCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aisp_analyse_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aisp_analyse_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="batchInsert" parameterType="map">
    insert into aisp_analyse_instance
    (instance_code, gmt_create, gmt_modified, scene_code, detector_code, entity_id, model_param, 
      recent_feedback)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.instanceCode,jdbcType=VARCHAR}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
        #{item.sceneCode,jdbcType=VARCHAR}, #{item.detectorCode,jdbcType=VARCHAR}, #{item.entityId,jdbcType=VARCHAR}, 
        #{item.modelParam,jdbcType=LONGVARCHAR}, #{item.recentFeedback,jdbcType=LONGVARCHAR}
        )
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into aisp_analyse_instance (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'instance_code'.toString() == column.value">
          #{item.instanceCode,jdbcType=VARCHAR}
        </if>
        <if test="'gmt_create'.toString() == column.value">
          #{item.gmtCreate,jdbcType=TIMESTAMP}
        </if>
        <if test="'gmt_modified'.toString() == column.value">
          #{item.gmtModified,jdbcType=TIMESTAMP}
        </if>
        <if test="'scene_code'.toString() == column.value">
          #{item.sceneCode,jdbcType=VARCHAR}
        </if>
        <if test="'detector_code'.toString() == column.value">
          #{item.detectorCode,jdbcType=VARCHAR}
        </if>
        <if test="'entity_id'.toString() == column.value">
          #{item.entityId,jdbcType=VARCHAR}
        </if>
        <if test="'model_param'.toString() == column.value">
          #{item.modelParam,jdbcType=LONGVARCHAR}
        </if>
        <if test="'recent_feedback'.toString() == column.value">
          #{item.recentFeedback,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
  <insert id="upsertSelective" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    insert into aisp_analyse_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instanceCode != null">
        instance_code,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="detectorCode != null">
        detector_code,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="modelParam != null">
        model_param,
      </if>
      <if test="recentFeedback != null">
        recent_feedback,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instanceCode != null">
        #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="modelParam != null">
        #{modelParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="recentFeedback != null">
        #{recentFeedback,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="instanceCode != null">
        instance_code = #{instanceCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="detectorCode != null">
        detector_code = #{detectorCode,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="modelParam != null">
        model_param = #{modelParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="recentFeedback != null">
        recent_feedback = #{recentFeedback,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="upsert" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    insert into aisp_analyse_instance
    (instance_code, gmt_create, gmt_modified, scene_code, detector_code, entity_id)
    values
    (#{instanceCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{sceneCode,jdbcType=VARCHAR}, #{detectorCode,jdbcType=VARCHAR}, #{entityId,jdbcType=VARCHAR}
      )
    on duplicate key update 
    instance_code = #{instanceCode,jdbcType=VARCHAR}, 
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, 
    scene_code = #{sceneCode,jdbcType=VARCHAR}, 
    detector_code = #{detectorCode,jdbcType=VARCHAR}, 
    entity_id = #{entityId,jdbcType=VARCHAR}
  </insert>
  <insert id="upsertWithBLOBs" parameterType="com.alibaba.tdata.aisp.server.repository.domain.InstanceDO">
    insert into aisp_analyse_instance
    (instance_code, gmt_create, gmt_modified, scene_code, detector_code, entity_id, model_param, 
      recent_feedback)
    values
    (#{instanceCode,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{sceneCode,jdbcType=VARCHAR}, #{detectorCode,jdbcType=VARCHAR}, #{entityId,jdbcType=VARCHAR}, 
      #{modelParam,jdbcType=LONGVARCHAR}, #{recentFeedback,jdbcType=LONGVARCHAR})
    on duplicate key update 
    instance_code = #{instanceCode,jdbcType=VARCHAR}, 
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}, 
    scene_code = #{sceneCode,jdbcType=VARCHAR}, 
    detector_code = #{detectorCode,jdbcType=VARCHAR}, 
    entity_id = #{entityId,jdbcType=VARCHAR}, 
    model_param = #{modelParam,jdbcType=LONGVARCHAR}, 
    recent_feedback = #{recentFeedback,jdbcType=LONGVARCHAR}
  </insert>
</mapper>