##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<!-- main START -->
<div class="main">
    <div class="main-hd">
        <div class="crumb-wp fl">
            <span class="cur">Broker列表</span>
        </div>
    </div>

    <!-- basic-wp START -->
    <div class="basic-wp">

        <!-- toolbar-wp START -->
        <div class="toolbar-wp">
            <ul class="toolbar-list">
                <li>
                    BrokerIP：
                    <input type="text" class="min m" id="brokerIpInput">
                </li>
                <!-- <li>
                    状态：
                    <select class="min m" name="" id="">
                        <option value="">全部</option>
                        <option value="">全部</option>
                    </select>
                </li> -->
                <li>
                    <a href="javascript:;" class="btn btn-primary min s" id="queryBtn">查询</a>
                </li>
            </ul>
            <ul class="addon-list fl">
                <li>
                    批量操作：
                    <!-- .open 打开-->
                    <div class="ui-select open m" id="dropBox">
                        <a href="javascript:" class="btn btn-primary">
                            <span class="txt">选择操作</span>
                            <em></em>
                        </a>
                        <ul class="ui-select-menu" style="display:none;" id="dropBoxMenu">
                            <li class="js_online">上线</li>
                            <li class="js_offline">下线</li>
                            <li class="js_reload">重载</li>
                            <li class="js_delete">删除</li>
                            <!-- <li>导出配置</li> -->
                        </ul>
                    </div>
                </li>
                <li>
                    搜索：
                    <input type="text" class="min m" id="brokerListSearch">
                </li>
            </ul>
            <ul class="addon-list fr">
                <li>
                    <a href="javascript:;" class="btn btn-primary s js_add_one">+单个新增</a>
                </li>
                <!-- <li>
                    <a href="javascript:;" class="btn btn-primary s">+批量导入</a>
                </li> -->
            </ul>
        </div>
        <!-- toolbar-wp END -->

        <!-- table-wp START -->
        <div class="table-wp">
            <table id="brokerList">
                <colgroup span="14">
                </colgroup>
                <thead>
                <tr>
                    <th><span class="checkbox js_all_check"><i class="icon icon_check"></i><label
                            for=""></label><input type="checkbox" checked=""></span></th>
                    <th>BrokerID</th>
                    <th>BrokerIP</th>
                    <th>BrokerPort</th>
                    <th>当前管理状态</th>
                    <th>当前运行状态</th>
                    <th>当前运行子状态</th>
                    <th>可发布</th>
                    <th>可订阅</th>
                    <th>配置是否已变更</th>
                    <th>变更是否已加载</th>
                    <th>broker是否已注册</th>
                    <th>是否已上线</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>


        </div>
        <!-- table-wp END -->
    </div>
    <!-- basic-wp END -->
</div>
<!-- main END -->

<!-- common js start -->
<script type="text/javascript" src="../../../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../../assets/lib/DataTables/datatables.min.js"></script>

<script type="text/javascript" src="../../../assets/scripts/common/helper.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/module.js"></script>
<!-- common js end -->

<script type="text/javascript" src="../../../assets/scripts/brokerList.js"></script>
