##
## Licensed to the Apache Software Foundation (ASF) under one or more
## contributor license agreements.  See the NOTICE file distributed with
## this work for additional information regarding copyright ownership.
## The ASF licenses this file to You under the Apache License, Version 2.0
## (the "License"); you may not use this file except in compliance with
## the License.  You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
<!-- main START -->
<div class="main">
    <div class="main-hd">
        <div class="crumb-wp fl">
            <a class="back" href="../config/topic_list.htm">Topic列表</a>
            <span class="arrow">&rsaquo;</span>
            <span class="cur">Topic详情 - <span id="topicNav">gift_ugc_test</span></span>
        </div>
        <ul class="addon-list fr">
            <!--  <li><a href="" class="btn btn-primary s">删除Broker</a></li> -->
        </ul>
    </div>

    <!-- panel-mod START -->
    <div class="panel-mod-wp">
        <!-- 40% -->
        <div class="panel-wp" style="width:100%">
            <!-- 基本信息 -->
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Topic基本信息</span>
                </div>
                <div class="panel-cnt" id="commonInfo">
                    <!-- 内容 START -->

                    <!-- 内容 END -->
                </div>
            </div>

            <!-- 缺省配置 -->
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">Topic当前缺省配置</span>
                    <a href="javascript:;" class="link fr js_mod_one" id="modTopic">编辑</a>
                </div>
                <div class="panel-cnt" id="defInfo">
                    <!-- 内容 START -->

                    <!-- 内容 END -->
                </div>
            </div>

            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">部署broker列表</span>
                        <span class="search-bar">
                            <input type="text" class="expand" placeholder="请输入关键字搜索标签"
                                   id="brokerSearch">
                            <a href="javascript:" class="icon-btn" title="搜索"><i
                                    class="icon_search"></i></a>
                        </span>
                </div>
                <div class="panel-cnt scroll">
                    <div class="table-wp">
                        <table class="white" id="brokerTable">
                            <thead>
                            <tr>
                                <th>broker</th>
                                <th>broker可发布状态</th>
                                <th>broker可订阅状态</th>
                                <th>broker分区数</th>
                                <th>broker运行状态</th>
                                <th>numPartitions</th>
                                <th>unflushThreshold</th>
                                <th>unflushInterval</th>
                                <th>deletePolicy</th>
                                <th>acceptPublish</th>
                                <th>acceptSubscribe</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-hd">
                    <span class="tit">消费组列表</span>
                        <span class="search-bar">
                            <input type="text" class="expand" placeholder="请输入关键字搜索标签"
                                   id="consumerSearch">
                            <a href="javascript:" class="icon-btn" title="搜索"><i
                                    class="icon_search"></i></a>
                        </span>
                    <a href="javascript:;" class="link fr js_add_consumer_one">新增</a>
                </div>
                <div class="panel-cnt scroll">
                    <div class="table-wp">
                        <table class="white" id="consumerTable">
                            <thead>
                            <tr>
                                <th>消费组</th>
                                <th>创建人</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- panel-mod END -->
</div>
<!-- main END -->
<!-- common js start -->
<script src="../../../assets/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../../../assets/lib/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/helper.js"></script>
<script type="text/javascript" src="../../../assets/scripts/common/module.js"></script>
<!-- common js end -->
<script type="text/javascript" src="../../../assets/scripts/topicDetail.js"></script>
