@import './status-common.scss';

.project-status-page {
  padding: 20px;
  background-color: $white;
  border-radius: $radius;
  @extend %shallow-shadow;
  @include title-bar();
  @include status-point();

  .reason-analysis-span {
    color: $color-primary;
  }

  .status-button-group-left {
    float: left;

    .type-filter {
      width: 110px;
    }
  }

  .status-button-group {
    float: right;

    button {
      margin-left: $p8;
    }
  }

  .top-bar {
    margin-bottom: 16px;
    text-align: center;

    .summary-down-count {
      display: inline-block;
      width: 200px;
      height: 34px;
      padding: 0 10px;
      color: $whitesmoke;
      font-size: 16px;
      line-height: 34px;
      text-align: center;
      background: $gray;
      border-radius: 4px;
      box-shadow: 0 3px 16px 2px rgba(122, 122, 122, 0.4);

      &.red {
        background: $red;
      }

      &.green {
        background: $green;
      }

      i {
        margin-right: 12px;
      }
    }

    .add-button {
      float: right;
      margin-right: 10px;
    }

    .account-button {
      float: right;
    }
  }

  .name-link {
    color: $navy;
  }

  .row-click {
    cursor: pointer;
  }

  .row-operation {
    i {
      margin-left: 10px;
      font-size: 16px;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .status-list {
    margin-top: 5px;

    li {
      float: left;
      width: 1px;
      height: 12px;
      margin-right: 1px;

      &.grey {
        background: $platinum;
      }

      &.green {
        background: $green;
      }

      &.red {
        background: $red;
      }
    }
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 10px 12px;
  }
}
