<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.sreworks.warehouse.domain.SwModelMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.sreworks.warehouse.domain.SwModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_alias" jdbcType="VARCHAR" property="tableAlias" />
    <result column="build_in" jdbcType="BIT" property="buildIn" />
    <result column="layer" jdbcType="VARCHAR" property="layer" />
    <result column="domain_id" jdbcType="INTEGER" property="domainId" />
    <result column="partition_format" jdbcType="VARCHAR" property="partitionFormat" />
    <result column="data_mode" jdbcType="VARCHAR" property="dataMode" />
    <result column="stat_period" jdbcType="VARCHAR" property="statPeriod" />
    <result column="lifecycle" jdbcType="INTEGER" property="lifecycle" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.sreworks.warehouse.domain.SwModel">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, name, alias, table_name, table_alias, build_in, layer, 
    domain_id, partition_format, data_mode, stat_period, lifecycle, tag
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.sreworks.warehouse.domain.SwModelExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sw_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.alibaba.sreworks.warehouse.domain.SwModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sw_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sw_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sw_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.sreworks.warehouse.domain.SwModelExample">
    delete from sw_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.sreworks.warehouse.domain.SwModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sw_model (gmt_create, gmt_modified, name, 
      alias, table_name, table_alias, 
      build_in, layer, domain_id, 
      partition_format, data_mode, stat_period, 
      lifecycle, tag, description
      )
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{tableAlias,jdbcType=VARCHAR}, 
      #{buildIn,jdbcType=BIT}, #{layer,jdbcType=VARCHAR}, #{domainId,jdbcType=INTEGER}, 
      #{partitionFormat,jdbcType=VARCHAR}, #{dataMode,jdbcType=VARCHAR}, #{statPeriod,jdbcType=VARCHAR}, 
      #{lifecycle,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.sreworks.warehouse.domain.SwModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sw_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="tableAlias != null">
        table_alias,
      </if>
      <if test="buildIn != null">
        build_in,
      </if>
      <if test="layer != null">
        layer,
      </if>
      <if test="domainId != null">
        domain_id,
      </if>
      <if test="partitionFormat != null">
        partition_format,
      </if>
      <if test="dataMode != null">
        data_mode,
      </if>
      <if test="statPeriod != null">
        stat_period,
      </if>
      <if test="lifecycle != null">
        lifecycle,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableAlias != null">
        #{tableAlias,jdbcType=VARCHAR},
      </if>
      <if test="buildIn != null">
        #{buildIn,jdbcType=BIT},
      </if>
      <if test="layer != null">
        #{layer,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=INTEGER},
      </if>
      <if test="partitionFormat != null">
        #{partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="dataMode != null">
        #{dataMode,jdbcType=VARCHAR},
      </if>
      <if test="statPeriod != null">
        #{statPeriod,jdbcType=VARCHAR},
      </if>
      <if test="lifecycle != null">
        #{lifecycle,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.sreworks.warehouse.domain.SwModelExample" resultType="java.lang.Long">
    select count(*) from sw_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sw_model
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableAlias != null">
        table_alias = #{record.tableAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.buildIn != null">
        build_in = #{record.buildIn,jdbcType=BIT},
      </if>
      <if test="record.layer != null">
        layer = #{record.layer,jdbcType=VARCHAR},
      </if>
      <if test="record.domainId != null">
        domain_id = #{record.domainId,jdbcType=INTEGER},
      </if>
      <if test="record.partitionFormat != null">
        partition_format = #{record.partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.dataMode != null">
        data_mode = #{record.dataMode,jdbcType=VARCHAR},
      </if>
      <if test="record.statPeriod != null">
        stat_period = #{record.statPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.lifecycle != null">
        lifecycle = #{record.lifecycle,jdbcType=INTEGER},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sw_model
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      table_alias = #{record.tableAlias,jdbcType=VARCHAR},
      build_in = #{record.buildIn,jdbcType=BIT},
      layer = #{record.layer,jdbcType=VARCHAR},
      domain_id = #{record.domainId,jdbcType=INTEGER},
      partition_format = #{record.partitionFormat,jdbcType=VARCHAR},
      data_mode = #{record.dataMode,jdbcType=VARCHAR},
      stat_period = #{record.statPeriod,jdbcType=VARCHAR},
      lifecycle = #{record.lifecycle,jdbcType=INTEGER},
      tag = #{record.tag,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sw_model
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      table_alias = #{record.tableAlias,jdbcType=VARCHAR},
      build_in = #{record.buildIn,jdbcType=BIT},
      layer = #{record.layer,jdbcType=VARCHAR},
      domain_id = #{record.domainId,jdbcType=INTEGER},
      partition_format = #{record.partitionFormat,jdbcType=VARCHAR},
      data_mode = #{record.dataMode,jdbcType=VARCHAR},
      stat_period = #{record.statPeriod,jdbcType=VARCHAR},
      lifecycle = #{record.lifecycle,jdbcType=INTEGER},
      tag = #{record.tag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.sreworks.warehouse.domain.SwModel">
    update sw_model
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableAlias != null">
        table_alias = #{tableAlias,jdbcType=VARCHAR},
      </if>
      <if test="buildIn != null">
        build_in = #{buildIn,jdbcType=BIT},
      </if>
      <if test="layer != null">
        layer = #{layer,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null">
        domain_id = #{domainId,jdbcType=INTEGER},
      </if>
      <if test="partitionFormat != null">
        partition_format = #{partitionFormat,jdbcType=VARCHAR},
      </if>
      <if test="dataMode != null">
        data_mode = #{dataMode,jdbcType=VARCHAR},
      </if>
      <if test="statPeriod != null">
        stat_period = #{statPeriod,jdbcType=VARCHAR},
      </if>
      <if test="lifecycle != null">
        lifecycle = #{lifecycle,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.sreworks.warehouse.domain.SwModel">
    update sw_model
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_alias = #{tableAlias,jdbcType=VARCHAR},
      build_in = #{buildIn,jdbcType=BIT},
      layer = #{layer,jdbcType=VARCHAR},
      domain_id = #{domainId,jdbcType=INTEGER},
      partition_format = #{partitionFormat,jdbcType=VARCHAR},
      data_mode = #{dataMode,jdbcType=VARCHAR},
      stat_period = #{statPeriod,jdbcType=VARCHAR},
      lifecycle = #{lifecycle,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.sreworks.warehouse.domain.SwModel">
    update sw_model
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_alias = #{tableAlias,jdbcType=VARCHAR},
      build_in = #{buildIn,jdbcType=BIT},
      layer = #{layer,jdbcType=VARCHAR},
      domain_id = #{domainId,jdbcType=INTEGER},
      partition_format = #{partitionFormat,jdbcType=VARCHAR},
      data_mode = #{dataMode,jdbcType=VARCHAR},
      stat_period = #{statPeriod,jdbcType=VARCHAR},
      lifecycle = #{lifecycle,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.sreworks.warehouse.domain.SwModelExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sw_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.sreworks.warehouse.domain.SwModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sw_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>