.md-img-preview {
  cursor: zoom-in;
}

.img-enlarge-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);

  img {
    max-width: 80%;
    cursor: zoom-out;
  }
}
