@terminus:registry=http://registry.npm.terminus.io/
@mrmlnc:registry=https://registry.npm.taobao.org/
@nodelib:registry=https://registry.npm.taobao.org/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
