.pipeline-log {
  .pipeline-log-time {
    color: $color-text;

    .pipeline-log-title {
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: $radius;
    }
  }
}

.pipeline-log-detail {
  height: 100%;
  padding: 10px;
  overflow: auto;
  color: $log-font-color;
  background-color: $log-bg-color;
  border-radius: $radius-lg;
}
