.mask-or-truncate-item {
  &-column {
    margin-right: 20px;
    &-input {
      flex-grow: 1;
    }
  }
  &-remove-button {
    margin-left: 10px;
    padding-top: 5px;
    &-icon {
      color: var(--pf-global--palette--red-100);
      cursor: pointer;
    }
  }
}
