.mask-hash-salt-item {
  &-column {
    margin-right: 20px;
    &-input {
      flex-grow: 1;
    }
  }
  &-label {
    font-size: var(--pf-global--FontSize--sm);
  }
  &-remove-button {
    margin-left: 10px;
    padding-top: 5px;
    &-icon {
      color: var(--pf-global--palette--red-100);
      cursor: pointer;
    }
  }
}
.pf-l-flex {
  &-nowrap {
    flex-wrap: nowrap;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }
}
