.issue-title-label {
  .issue-title-text {
    display: flex;
    flex-grow: 1;
    width: 0;

    .issue-text-label {
      display: flex;
      align-items: center;
      margin-left: 12px;

      .label-item {
        max-width: 80px;
        margin-right: 8px;
        margin-bottom: 0;
      }
    }
  }
}
