<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mapper/tddl/CommonDefinitionMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/IncidentTypeMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/IncidentInstanceMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/FailureInstanceMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/FailureRecordMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/AlertInstanceMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/RiskTypeMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/RiskInstanceMapper.xml"/>
        <mapper resource="mybatis/mapper/tddl/EventInstanceMapper.xml"/>
    </mappers>
</configuration>