<?xml version="1.0" encoding="UTF-8" ?>
<!--~
  ~   Licensed to the Apache Software Foundation (ASF) under one
  ~   or more contributor license agreements.  See the NOTICE file
  ~   distributed with this work for additional information
  ~   regarding copyright ownership.  The ASF licenses this file
  ~   to you under the Apache License, Version 2.0 (the
  ~   "License"); you may not use this file except in compliance
  ~   with the License.  You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  -->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
        http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd
    ">
  <listener>
    <listener-class>com.qlangtech.tis.manage.ConsoleInitilizeListener</listener-class>
  </listener>

  <env-entry>
    <env-entry-name>logback/context-name</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>console</env-entry-value>
  </env-entry>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/tis.application.context.xml,classpath:/tis.application.mockable.context.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <context-param>
    <param-name>contextClass</param-name>
    <param-value>com.qlangtech.tis.manage.spring.TISWebApplicationContext</param-value>
  </context-param>

  <filter>
    <filter-name>setResponseLocal</filter-name>
    <filter-class>com.qlangtech.tis.manage.common.DefaultFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>setResponseLocal</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>struts2</servlet-name>
    <servlet-class>org.apache.struts2.dispatcher.servlet.StrutsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>struts2</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>struts2</servlet-name>
    <url-pattern>*.ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>struts2</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>


  <!-- 根据taskid直接查询实时 执行日志
  <servlet>
    <servlet-name>tasklogfeedback</servlet-name>
    <servlet-class>com.qlangtech.tis.manage.servlet.TaskFeedbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>tasklogfeedback</servlet-name>
    <url-pattern>/download/tasklogfeedback</url-pattern>
  </servlet-mapping>
-->
  <!-- websocket推送服务集群 中的日志 -->
  <servlet>
    <servlet-name>logfeedback</servlet-name>
    <servlet-class>com.qlangtech.tis.manage.servlet.LogFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logfeedback</servlet-name>
    <url-pattern>/download/logfeedback</url-pattern>
  </servlet-mapping>

  <!-- 通过 appname runtime groupindex 查找solr core的配置信息 -->
<!--  <servlet>-->
<!--    <servlet-name>getappconfig</servlet-name>-->
<!--    <servlet-class>com.qlangtech.tis.manage.servlet.LoadSolrCoreConfigByAppNameServlet</servlet-class>-->
<!--  </servlet>-->

  <!-- 通过 appname runtime groupindex 查找solr core的配置信息 -->
<!--  <servlet-mapping>-->
<!--    <servlet-name>getappconfig</servlet-name>-->
<!--    <url-pattern>/download/appconfig/*</url-pattern>-->
<!--  </servlet-mapping>-->



</web-app>
