@import '../util.scss';

.dice-form-drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 0%;
  height: 100%;
  transition: width 0.5s;

  .mask {
    position: fixed;
    right: 0;
    left: 0;
    display: none;
    height: 100%;
    background-color: $color-mask;
  }

  .container {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: $white;

    .title {
      padding: 10px;
      font-weight: 500;
      border-bottom: 1px solid $color-border;
    }

    .content {
      padding: 10px;
    }
  }

  &.open {
    width: 100%;

    .mask {
      display: block;
    }
  }
}
