.case-drawer {
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &-header {
    height: 120px;
    border-bottom: 1px solid $color-border;

    &-op {
      i {
        margin-left: 12px;
        font-size: 16px;
      }
    }

    &-desc {
      max-width: calc(100% - 210px);

      .truncate {
        max-width: calc(100 - 20px);
      }
    }
  }

  &-body {
    align-items: inherit;
    margin-bottom: 55px;

    &-right {
      width: 200px;
      border-left: 1px solid $color-border;
    }

    .case-index-hover {
      .case-index-block {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        color: $white;
      }

      .index-num {
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background-color: $gainsboro;
        border-radius: 100%;

        &.error {
          color: $color-danger;
          background-color: $color-danger-bg;
        }
      }

      .drag-icon {
        display: none;
        margin-right: 0;
        color: $gainsboro;
        font-size: 16px;
        cursor: move;

        &:hover {
          color: $color-primary;
        }
      }

      .copy-icon {
        margin-right: 0;
        margin-left: 6px;
        color: $gainsboro;
        cursor: copy;

        &:hover {
          color: $color-primary;
        }
      }

      &:hover {
        .index-num {
          display: none;
        }

        .drag-icon {
          display: inline-block;
        }
      }
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 16px;
    background: $white;
    border-top: 1px solid $color-border;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  }
}
