.service-mesh-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  .error-check-form {
    display: flex;
    align-items: center;

    .error-check-item {
      width: 140px;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-form-explain {
      width: 140px;
    }
  }

  .service-mesh-tab {
    display: flex;
    flex: 1;
    flex-direction: column;

    .ant-tabs-content {
      flex: 1;
      height: 0;
    }

    .service-mesh-tab-panel {
      overflow: auto;
    }

    .ant-form-vertical {
      width: 60%;

      @include sm-width() {
        width: 100%;
      }
    }
  }

  .service-mesh-forms-container {
    display: flex;
    flex-direction: column;

    .service-mesh-search {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;

      input {
        width: 240px;
      }
    }

    .service-mesh-collapse-forms {
      flex: 1;
      height: 0;
      overflow: auto;

      .collapse-form-header {
        display: flex;
        justify-content: space-between;
      }

      .collapse-form-item {
        height: 400px;
        overflow: auto;

        &.fault-inject-dubbo {
          height: 330px;
        }
      }
    }
  }

  .hide-no-rule-interface {
    &-label {
      display: inline-block;
      margin-right: $b16;
      line-height: 32px;
    }

    button {
      vertical-align: baseline;
    }
  }
}
