.application-error-page {
  text-align: center;
}

.application-error-page > div {
  display: inline-block;
}

.application-error-page > div.separator {
  display: block;
  height: 0px;
}

.application-error-page > div.application-error-page_details > div {
  border: 1px solid #ccc;
}
.application-error-msg_error_msg {
  white-space: pre-wrap;
}
