<?xml version="1.0"?>
<!-- Configuration for local environment, all logs would print in console. -->
<configuration>
    <!-- Configure color for logs. -->
    <!-- Classes for rendering color. -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!-- Color log pattern. -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{96}){cyan} %L  %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- Configuration for console output. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--    任务执行日志-->
    <springProperty scope="context" name="taskLogHome" source="cloudeon.task.log"/>
    <appender name="TASK-LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>taskId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${taskId}" class="ch.qos.logback.core.FileAppender">
                <file>${taskLogHome}/${taskId}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <logger name="org.dromara.cloudeon.processor" level="INFO">
        <appender-ref ref="TASK-LOG"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>