# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock

# testing
/coverage

# production
/build
/share
*.zip
# misc
.DS_Store
.datart-cli
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
stats.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode

# docs
/types

/public/custom-chart-plugins/
/public/task
/public/antd/theme.less