.template-card-row {
  align-items: stretch;
  width: 676px;

  .template-card {
    width: 162px;
    text-align: justify;
    border: 1px solid $color-border;

    &.checked {
      border-color: $primary;
    }
  }

  .template-icon {
    width: 40px;
    height: 40px;
  }

  .template-description {
    line-height: 20px;
  }
}
