.dice-form-group {
  .dice-form-group-children {
    display: block;

    &-row {
      display: flex;
      justify-content: space-between;
      margin-top: $p8;

      .ant-form-item {
        width: 100%;
        margin: 0 $p8;
      }
    }
  }

  .expand-icon {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }

  &.hide-children {
    .dice-form-group-children {
      display: none;
    }

    .expand-icon {
      transform: rotate(0deg);
    }
  }
}
