.paging-table {
  .op-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .table-title {
    font-weight: 500;
    font-size: 16px;
  }
}
