.addon-card-list {
  height: 100%;

  .addons-content {
    position: relative;
    display: flex;
    height: calc(100% - 36px);
    padding-top: 20px;
  }

  .content-title {
    display: inline-block;
    margin-bottom: $p8;
    font-size: 16px;
    line-height: 24px;
  }

  .menu-list {
    width: 200px;
    margin-top: 3px;
    margin-right: 20px;
    padding: $p4 0;
    font-size: 16px;
    background: $white;
    border-radius: $radius;
    @extend %shallow-shadow;
  }

  .category-item {
    height: 40px;
    padding: 0 12px;
    color: $color-text-sub;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover,
    &.active {
      color: $color-active;
      background: $color-active-bg;

      > a,
      > div {
        color: $color-active;
      }

      i {
        color: $color-active;
      }
    }
  }
}

.addon-filter {
  display: flex;

  .env-select {
    width: 268px;
    margin-right: 20px;
  }

  .data-select {
    width: 268px;
  }
}
