.app-center-version {
  margin-left: 4px;
  background-color: $color-primary;
  color: $white;
  font-size: 12px;
  line-height: 18px;
  padding: 0 8px;
  border-radius: 10px;
}

.nav-org-list {
  margin-bottom: 0;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    line-height: 26px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $color-active;
    }
  }

  .org-logo {
    width: 46px;
    max-height: 30px;
    margin-right: 10px;
  }

  i {
    margin-left: 8px;
  }
}

.side-app-center {
  color: $white;
}

.side-app-center-popover {
  .ant-popover-inner-content {
    padding: 0;
  }

  .ant-menu-vertical {
    .app-center-item {
      height: 32px;
      line-height: 32px;
    }
  }
}

.message-icon .ant-badge-count {
  transform: scale(0.9) translate(50%, -50%);
  padding: 0 6px;
}

.side-nav-menu .menu-container .ant-menu-inline-collapsed {
  width: 50px;
}
