.classpath
.project
.settings
.idea/
.iml/
.DS_Store
**/target/
/ambari-server/derby.log
/ambari-server/pass.txt
/ambari-web/npm-debug.log
/ambari-web/public/
/ambari-web/node_modules/
/ambari-web/node/
*.pyc
*.py~
**/*.iml
.hg
.hgignore
.hgtags
derby.log
pass.txt
ambari-agent/src/test/python/ambari_agent/dummy_files/current-stack
velocity.log*
ambari-metrics/ambari-metrics-host-monitoring/src/main/python/psutil/build/
rebel.xml
rebel-remote.xml
out
createDDL.jdbc
/contrib/views/storm/src/main/resources/ui/node_modules/
/contrib/views/storm/src/main/resources/ui/public/
/contrib/views/storm/src/main/resources/ui/npm-debug.log
/dist
/build
ambari_python.egg-info
