.child-selection-step {
  &_form {
    padding: 15px 0px;
    .filter-input-field {
      flex-grow: 1;
      .pf-c-form-control {
        max-width: 750px;
      }
    }
    .pf-c-form__group {
      &-control {
        .pf-l-flex > div {
          .pf-c-toggle-group {
            .pf-m-selected {
              color: var(--pf-global--active-color--100) !important;
            }
          }
        }
      }
    }
    .pf-m-action {
      margin-top: 0px;
    }
  }
}
