.ta_date{ 
    
	border:1px solid #d8d8d8;
	-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
	    border-radius: 3px;
		 background-color: #fefefe;
	  background-image: -ms-linear-gradient(top, #fafafa, #f5f5f5);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f5f5f5));
	  background-image: -moz-linear-gradient(top, #fafafa, #f5f5f5);
	  background-image: -o-linear-gradient(top, #fafafa, #f5f5f5);
	  background-image: linear-gradient(top, #fafafa, #f5f5f5);
	  background-repeat: repeat-x;
	   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
           box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		   box-shadow:0px 1px 1px rgba(218,218,218,0.8);
		   float:left;
}

.ta_date * {
  margin:0;
  padding:0;
}

.ta_date .date_title {
	  font-family:Arial;
	  font-size:14px;
	  	color:#666666;
		padding:6px 10px;
		*padding:0px 10px;
	 border-right:1px solid #d8d8d8;
	vertical-align:middle;
	cursor:pointer;
	*zoom:1;
}
.ta_date:hover {
	  background-image:none;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.ta_date .to{ padding:0 5px;}
.ta_date .opt_sel{/*====*/
	width:30px;
	height:28px;
	line-height:28px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	margin-left:-4px;	
}
.ta_date a.opt_sel:link, .ta_date a.opt_sel:visited {
	
}
.ta_date a.opt_sel:active, .ta_date a.opt_sel:hover {
	
}

.ta_date .i_orderd{
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align:middle;
	border-top: 5px solid #727272;
	border-right: 5px dashed transparent;
	border-left: 5px dashed transparent;
	font-size:0;
	content: "";
	overflow:hidden;
	*margin-top:10px;
}


.ta_calendar2{*width:536px;}
.ta_calendar1{*width:268px;}
.ta_calendar{
	border: 1px solid #e1e1e1;
	 background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
		  font-size:12px;
	text-align:left;
	position:absolute;
	z-index:100;
}
.i_pre,.i_next,.ta_calendar td.ta_dateRangeSelected,.ta_calendar td.first,.ta_calendar td.last,.ta_calendar td.today{
	background:url(./images/calendar_all.png) no-repeat;
	cursor:pointer;
}
.i_pre,.i_next{ width:23px; height:23px;display:inline-block; }
.i_pre{ background-position:0 0;}
.i_pre:hover{ background-position:-46px 0px;}
.i_next{ background-position:-23px 0;}
.i_next:hover{ background-position:-69px 0px;}

.ta_calendar td.ta_dateRangeSelected{
	background-position:-164px 2px;
	color:#fff;
}
.ta_calendar td.ta_dateRangeGray{
    color: #BBB;
    cursor: default;
}

.ta_calendar td.first{
	color:#6590c1;
	background-position:-128px 2px;
}
.ta_calendar td.last{
	color:#6590c1;
	background-position:-200px 2px;
}
.ta_calendar td.today{
	color:#fff;
	background-position:-92px 2px;
}
.ta_calendar .dis{
	color:#9e9e9e;
}
.ta_calendar table {
	font-size: 12px;
	float:left;
	margin:0 8px;
	_display:inline;
	border-spacing:0 7px;
	border-collapse:collapse;
}
.ta_calendar table caption{ text-align:center; height:35px; line-height:35px; font-size:14px;}
.ta_calendar table thead tr {
	border: 1px solid #e1e1e1;
	background:#f7f8fa;
	 -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
     -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
          box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
		  	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.ta_calendar table thead th {
	line-height: 20px;
	padding: 4px 10px;
	color:#444;
	cursor: pointer;
	text-align:left;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.ta_calendar table.calendar-month {
				font-size: 12px;
				float:left;
				margin:0 8px;
				_display:inline;
				border-spacing:7px;
				border-collapse:separate;
				margin-bottom:10px;
			}
			.calendar-month caption{
				border-bottom:1px solid #E1E1E1;
				*padding-bottom:0px;
			}
			
			.calendar-month tbody td {
				line-height: 30px;
				padding: 4px 11px;
				text-align:center;
				white-space:nowrap;
				font-family:"΢���ź�";
				cursor:pointer;
			}
			.calendar-month td.hover,.calendar-month td:hover,.calendar-month caption span:hover{
				background:#;
				color:#6590c1;
				border:1px solid #6590c1;
				padding: 3px 10px;
				border-radius:2px;
				cursor:pointer;
			}
			.calendar .dis:hover{
				color:#9e9e9e;
				border:1px solid #d3d5d6;
				padding: 3px 10px;
			}
			.calendar-month td.current{
				background:#6590c1;
				color:#fff;
				border-radius:2px;
			}

.ta_calendar table thead th.sun{border-left: 1px solid #e1e1e1;}
.ta_calendar table thead th.sat{border-right: 1px solid #e1e1e1;}

.ta_calendar table tbody td {
	line-height: 20px;
	padding: 4px 11px;
	text-align:center;
	white-space:nowrap;
	font-family:"Tahoma";
}

.ta_calendar_cont{position:relative;}
.ta_calendar_cont .i_pre,.ta_calendar_cont .i_next{position:absolute; top:7px;}
.ta_calendar_cont .i_pre{left:10px;}
.ta_calendar_cont .i_next{right:10px;}
.ta_calendar_footer{
	border-top:1px solid #e5e5e5;
	background:#fafafa;
	padding-top:6px;
	height:34px;
}
.ta_calendar_footer .frm_btn{
	float:right;
	padding-right:10px;
}
.ta_calendar_footer .frm_btn input{
	margin-left:3px;
}
.ta_calendar_footer .frm_msg{
	float:left;
	padding-left:10px;
	vertical-align:middle;
}
.ta_calendar_footer .ipt_text_s{
	padding:4px 4px;
}

.ta_ipt_text, .ta_ipt_textarea, .ta_ipt_text_s {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 6px 4px;
    position: relative;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 180px;
    z-index: 2;
}

.ta_ipt_text_s {
    width: 80px;
}

.ta_btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FEFEFE, #F5F5F5);
    background-repeat: repeat-x;
    border-color: #CACACA #CACACA #B3B3B3;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "΢���ź�","����";
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    outline: 0 none;
    padding: 3px 12px;
    text-align: center;
}
.ta_btn:hover, .ta_btn:active, .ta_btn.active, .ta_btn.disabled, .ta_btn[disabled] {
    color: #333333;
}
.ta_btn:hover {
    background-color: #FEFEFE;
    background-image: none;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.ta_btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.ta_btn.active, .ta_btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.ta_btn.disabled, .ta_btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.ta_btn {
    margin: 2px 5px 0 0;
    vertical-align: top;
}
.ta_btn:hover{
    background-position: 0 -16px;
}
.ta_btn_primary {
    background-color: #B4D66F;
    background-image: -moz-linear-gradient(center top , #C7E184, #A2CC59);
    border: 1px solid #88AB4A;
    color: #56740F;
}
.ta_btn_primary:hover{
    background-color: #5C96DB;
    background-image: -moz-linear-gradient(center top , #74A5ED, #4789CD);
    border: 1px solid #286AB1;
    color: #FFFFFF;
}

.cf:after {
    clear: both;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

