.svg-chart-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  .svg-box {
    overflow: auto;
    // 去除滚轮上下滑动画布
    width: 100% !important;
    // min-width: 100%;
    height: 100% !important;
    cursor: grab;
  }

  .enlarge {
    cursor: grab;
  }
}
