.grid-checkbox {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //height: 100%;
  .item{
    display: flex;
    width: 150px;
    flex-direction: column;
    padding: 12px 8px;
    .middle-icon {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
  }
  .app-items {
    display: flex;
    position: relative;
    margin: 10px 10px 10px 0;
    padding: 10px;
    width: 150px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
    .app-name {
      color: #333;
      font-size: 15px;
      font-weight: bold;
    }

    .removeHandle{
      position: absolute;
      right: -5px;
      color: #a5a2a2!important;
      top: -9px;
      font-size: 18px;
      cursor: pointer;
    }

    .right-text {
      flex: 2
    }

    .check-img{
      position: absolute;
      right: 10px;
      font-size: 20px;
    }

    .description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      width: 80px;
    }

    .icon-img {
      width: 20px;
      height: 30px;
      flex: 1
    }
  }
}