.topology-box-ele {
  display: flex;
  justify-content: center;
  text-align: center;
  border-style: dotted;
  border-color: $color-border;
  border-radius: 10px;

  span {
    margin-top: -20px;
    color: $color-text-sub;
  }
}
