.scale-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 32px;
  border: 1px solid $color-border;
  border-radius: $radius;

  &:hover {
    border: 1px solid $color-active-border;
  }

  .scale-op {
    color: $color-dark-4;

    &:hover {
      color: 1px solid $color-active-border !important;
      cursor: pointer;
    }
  }

  .scale-minus {
    padding-left: 12px;
  }

  .scale-plus {
    padding-right: 12px;
  }

  .ant-select-selection {
    width: 58px;
    height: 30px;
    border: none;
    box-shadow: none;
  }
}
