*
!config
!dist/version
!dist/ranger-*-admin.tar.gz
!dist/ranger-*-usersync.tar.gz
!dist/ranger-*-tagsync.tar.gz
!dist/ranger-*-hdfs-plugin.tar.gz
!dist/ranger-*-yarn-plugin.tar.gz
!dist/ranger-*-hive-plugin.tar.gz
!dist/ranger-*-hbase-plugin.tar.gz
!dist/ranger-*-kafka-plugin.tar.gz
!dist/ranger-*-knox-plugin.tar.gz
!downloads/*
!scripts/*
