.comments-container {
  .comments-section {
    position: relative;
    height: 22px;
    margin: 16px 0;
    color: $color-dark-2;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;

    .section-line {
      position: absolute;
      top: 11px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed $color-dark-1;
    }

    .comments-section-text {
      position: relative;
      z-index: 1;
      padding: 0 8px;
      background: $white;
    }
  }

  .selecter-item {
    width: 200px;
    margin-right: 10px;
  }

  .detail-title {
    color: $color-dark-8;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .detail-property,
  .detail-value {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
  }

  .detail-property {
    color: $color-dark-4;
  }

  .detail-value {
    color: $color-dark-6;
  }

  .comment-box {
    margin-bottom: 0;

    &:not(:last-child) {
      &:after {
        display: none;
      }
    }
  }

  .comments-association-box {
    position: relative;
    margin-bottom: 16px;
    padding: 12px;
    font-weight: 500;
    border: 1px solid $color-border;
    border-radius: $radius;
  }
}
