<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.UserInfoMapper">
    <select id="queryUserByToken" resultType="com.datasophon.dao.entity.UserInfoEntity">
        select u.*
        from t_ddh_user_info u ,t_ddh_access_token t
        where u.id = t.user_id and token=#{token} and t.expire_time > NOW()
    </select>

</mapper>