.analysis-chart {
  .analysis-chart-top {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: $white;
    border-radius: 6px;
  }

  .index-explain {
    position: relative;
    display: block;
    height: 30px;
    font-size: 16px;
    line-height: 30px;

    .close-icon {
      position: absolute;
      right: 0;
    }
  }

  .selector-wrapper {
    margin: 10px 0;
    padding: 10px;
    vertical-align: middle;
    border-radius: 6px;

    .time-range-selector {
      width: 150px;
      margin: 20px;
    }
  }

  .card-container {
    position: relative;

    .empty-holder {
      min-height: 300px;
      background-color: $white;
    }
  }
}
