.dice-cp {
  &.file-tree {
    overflow: auto;

    .tree-node-action {
      position: absolute;
      right: 5px;
      top: 4px;
      display: none;
    }

    .ant-tree-treenode:hover .tree-node-action {
      display: inline-block;
    }

    .ant-tree-treenode:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 40px;
      transition: all 0.3s;
    }

    .ant-tree-treenode-selected:before,
    .ant-tree-treenode:hover:before {
      background: $color-tree-bg-active;
    }

    .ant-tree .ant-tree-treenode {
      padding: 0;

      .ant-tree-node-content-wrapper {
        width: 0;
      }

      .ant-tree-title {
        width: calc(100% - 48px);
      }

      .ant-tree-node-content-wrapper,
      .ant-tree-switcher,
      .ant-tree-iconEle {
        height: 40px;
        line-height: 40px;

        svg,
        i {
          width: 16px;
          vertical-align: middle;
        }
      }
    }

    .ant-tree-node-content-wrapper.ant-tree-node-selected,
    .ant-tree-node-content-wrapper:hover {
      background-color: transparent;
    }
  }
}

.action-btn {
  padding: 5px 12px;
  border-radius: 3px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $purple;
    background-color: $color-tree-bg-active;
  }
}
