<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.realtime.view.dao.AdUserClickCountMapper">
  <resultMap id="BaseResultMap" type="com.platform.realtime.view.module.AdUserClickCount">
    <result column="date" property="date"/>
    <result column="user_id" property="userid"/>
    <result column="ad_id" property="adid"/>
    <result column="click_count" property="clickCount"/>
  </resultMap> 
  
  <sql id="Base_Column_List">
    date, user_id, ad_id, click_count
  </sql>

  <select id="selectByDate" resultMap="BaseResultMap"
    parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from ad_user_click_count
    where date = #{date,jdbcType=VARCHAR}
    ORDER BY date,ad_id
  </select>


</mapper>