<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.datavines.server.repository.mapper.SlaSenderMapper">


    <sql id="workspaceData">
        SELECT id,
        workspace_id,
        type,
        config,
        name,
        update_by,
        update_time
        FROM dv_sla_sender
        WHERE workspace_id = #{workspaceId}
    </sql>

    <select id="pageListSender" resultType="io.datavines.server.api.dto.vo.SlaSenderVO" >
        SELECT dss.id,
            dss.workspace_id,
            dss.name,
            dss.config as config,
            dss.type,
            du.username AS update_by,
            dss.update_time
        FROM
            ( <include refid="workspaceData"/>)dss
        left JOIN dv_user du
            ON du.id = dss.update_by
        <if test="searchVal != null">
            WHERE LOWER(dss.name) LIKE CONCAT(CONCAT('%', LOWER(#{searchVal})), '%')
        </if>

    </select>

</mapper>