.multi-input-item {
  margin-bottom: 4px;

  .multi-input-icons {
    display: flex;
    width: 70px;
    margin-left: 10px;
    cursor: pointer;
    color: $gray;
  }

  .input-with-icon {
    display: flex;
    align-items: center;
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    color: $gray;
  }
}
