// TODO: (zxj) 组件化协议后端配置icon，目前提供现成的方便渲染
.issue-icon {
  width: 16px;
  height: 16px;
  // margin-left: 4px;
  color: $white;
  line-height: 16px !important;
  text-align: center;
  border-radius: 100%;

  &.iteration {
    background-color: $primary;
    border-radius: $radius;
  }

  &.priority {
    font-size: 16px;

    &.urgent {
      background-color: $color-danger;
    }

    &.high {
      background-color: $orange;
    }

    &.normal {
      background-color: $yellow;
    }

    &.low {
      background-color: $color-success;
    }
  }

  &.issue-type {
    font-weight: bold;
    font-size: 16px;
    border-radius: $radius;

    &.requirement {
      color: $color-info;
    }

    &.task svg {
      transform: translateY(0);
    }

    &.bug svg {
      transform: translateY(0);
    }

    &.epic {
      color: $color-primary;
    }
  }

  &.severity {
    margin-right: 4px;
    font-size: 14px;
    line-height: 18px;

    &.fatal {
      background-color: $red;
    }

    &.serious {
      background-color: $orange;
    }

    &.normal {
      background-color: $yellow;
    }

    &.slight {
      background-color: $green;
    }

    &.suggest {
      background-color: $darkcyan;
    }
  }

  &.state {
    margin-right: 4px;

    &.wh {
      background-color: $color-warning;
    }

    &.zs {
      background-color: $color-text-icon;
    }

    &.jxz {
      background-color: $color-info;
    }

    &.tg {
      background-color: $color-success;
    }

    &.zt {
      background-color: $color-danger;
    }
  }
}
