*.iml
.idea
.DS_Store
assembly/target
streamis-jobmanager/streamis-job-launcher/streamis-job-launcher-base/target
streamis-jobmanager/streamis-job-launcher/streamis-job-launcher-linkis/target
streamis-jobmanager/streamis-job-launcher/streamis-job-launcher-service/target
streamis-jobmanager/streamis-job-launcher/streamis-job-launcher.iml
streamis-jobmanager/streamis-job-manager/streamis-job-manager-base/target
streamis-jobmanager/streamis-job-manager/streamis-job-manager-service/target
streamis-jobmanager/streamis-jobmanager-common/target
streamis-jobmanager/streamis-jobmanager-server/target
streamis-jobmanager/streamis-projectmanager-server/target

streamis-project/streamis-project-common/target
streamis-project/streamis-project-server/target

streamis-server/target
streamis-appconn/target
/logs/streamis-server.log
/logs/linkis.log
/test/target
/test/src