.cp-dice-dropdown-select {
  text-align: center;

  &.dropdown-select-button {
    font-weight: bold;
    font-size: 18px;
    border: none;
  }

  &-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .caret {
    svg {
      margin-bottom: 1px !important;
    }
  }
}
