.monitor-grid-panel {
  .data-line {
    display: flex;

    .data-unit {
      display: block;
      width: 25%;
      font-size: 12px;

      &:not(:last-child) {
        border-right: 1px solid $gainsboro;
      }

      &:not(:first-child) {
        padding-left: 20px;
      }

      .value {
        display: block;
        padding: 10px 0 0 0;
        color: $navy;
        font-size: 14px;

        span {
          border-bottom: 2px solid $darkgray;
        }
      }

      .primary {
        border-bottom-color: $green !important;
      }

      .danger {
        border-bottom-color: $red !important;
      }

      .info {
        border-bottom-color: $orange !important;
      }
    }
  }
}
