.monitor-overview {
  .ant-select {
    width: 100px;
  }

  .little-panel {
    height: 130px;
  }

  .middle-panel {
    height: 280px;
  }

  .service-status {
    .ant-table-body {
      > table {
        border: none;
      }
    }

    .ant-table-tbody > tr > td {
      padding: 20px 10px;
      border-top: none;

      &:last-child {
        text-align: left;
      }
    }

    .ant-table-header {
      > table {
        border: none;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }

    .ant-table-thead {
      > tr > th {
        padding: 0 10px;
        color: $color-primary;
        font-size: 12px;
        line-height: 40px;

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  .main-panel {
    .list-panel {
      border-color: $color-border;
    }

    .monitor-panel-header {
      margin-bottom: 0;
    }
  }
}
