:global {
  .file-form {
    .ant-form-item-label {
      text-align: left;
    }

    .modal-tip {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: none;
      }

      .modal-tip-link {
        color: $color-primary;
        cursor: pointer;

        &.disabled {
          cursor: wait;
        }
      }
    }

    .crumbs {
      margin-bottom: 24px;
      color: $color-dark-4;
    }
  }
}
