.release-list-container {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: $white;
  border: 1px solid $color-border;
  border-radius: $radius;
}

.release-list-page {
  width: 300px;
  min-height: 100%;
  padding: 12px 0;

  .search-table-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 0;
  }

  .search-group {
    padding: 0 27px 0 16px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 300px;
    display: block;
    height: 100%;
    border-right: thin solid $color-border;
    content: '';
  }

  .search-table-content {
    flex: 1;
    overflow: auto;
  }

  .search-table-header {
    margin-bottom: 12px;
    padding: 0 16px;
    overflow: unset;
  }

  .search-input {
    width: 236px;
  }

  .release-pagination {
    float: right;
    margin-top: 10px;
  }

  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;

    .title {
      font-weight: 500;
      font-size: 16px;
    }
  }

  .search-tip {
    margin-top: 20px;
    color: $color-dark-6;
    text-align: center;
  }

  table {
    td {
      cursor: pointer;
    }
  }
}

.release-detail-container {
  flex: 1;
  width: 0;
}
