<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.datax.service.data.visual.dao.ChartDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.datax.service.data.visual.api.entity.ChartEntity">
        <result column="id" property="id" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="create_dept" property="createDept" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="chart_name" property="chartName" />
        <result column="chart_thumbnail" property="chartThumbnail" />
    </resultMap>

    <resultMap id="ExtendResultMap" type="cn.datax.service.data.visual.api.entity.ChartEntity" extends="BaseResultMap">
        <result column="chart_json" property="chartConfig" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark,
        create_dept, chart_name, chart_thumbnail
    </sql>

    <sql id="Extend_Column_List">
        id,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark,
        create_dept, chart_name, chart_thumbnail, chart_json
    </sql>

    <sql id="Chart_Column_List">
        ${alias}.id,
        ${alias}.status,
        ${alias}.create_by,
        ${alias}.create_time,
        ${alias}.update_by,
        ${alias}.update_time,
        ${alias}.remark,
        ${alias}.create_dept, ${alias}.chart_name, ${alias}.chart_thumbnail, ${alias}.chart_json
    </sql>

    <select id="selectById" resultMap="ExtendResultMap">
        SELECT
        <include refid="Extend_Column_List"></include>
        FROM visual_chart
        WHERE 1=1 AND id = #{id}
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM visual_chart
        ${ew.customSqlSegment}
    </select>

</mapper>
