.pipeline-file-record-list {
  width: 600px;

  .pipeline-refresh-btn {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: $p16;
    cursor: pointer;

    .iconfont {
      vertical-align: baseline;
    }

    &:hover {
      color: $color-primary;
    }
  }

  .pipeline-record-list-table {
    .ant-table-pagination.ant-pagination {
      margin: 10px 0 0;
    }

    .pipeline-record-list-tr {
      cursor: pointer;
    }

    .pipeline-record-list {
      background: unset;

      > td {
        background: unset;
      }
    }

    .selected-row {
      background: $color-active-bg !important;
      cursor: pointer;
    }
  }
}
