{{!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<form class="form-horizontal">
    <fieldset>
        <div class="form-horizontal">
            <p class="formHeader"> Zone Details:</p>
            <div class="form-group row" data-id="zoneName">
                <label class="control-label col-sm-3 col-form-label">Zone Name*</label>
                <div class="col-sm-4">
                    <div data-editors="name"></div>
                    <div class="help-inline" data-error=""></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3 col-form-label">Zone Description</label>
                <div class="col-sm-4">
                    <div data-editors="description"></div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <p class="formHeader">Zone Administration:</p>
            <div class="form-group row" data-id="adminUsers">
                <label class="control-label col-sm-3 col-form-label">Admin Users</label>
                <div class="col-sm-4">
                    <div data-editors="adminUsers"></div>
                    <div class="help-inline" data-error=""></div>
                </div>
            </div>
            <div class="form-group row" data-id="adminUserGroups">
                <label class="control-label col-sm-3 col-form-label">Admin Usergroups</label>
                <div class="col-sm-4">
                    <div data-editors="adminUserGroups"></div>
                    <div class="help-inline" data-error=""></div>
                </div>
            </div>
            <div class="form-group row" data-id="auditUsers">
                <label class="control-label col-sm-3 col-form-label">Auditor Users</label>
                <div class="col-sm-4">
                    <div data-editors="auditUsers"></div>
                    <div class="help-inline" data-error=""></div>
                </div>
            </div>
            <div class="form-group row" data-id="auditUserGroups">
                <label class="control-label col-sm-3 col-form-label">Auditor Usergroups</label>
                <div class="col-sm-4">
                    <div data-editors="auditUserGroups"></div>
                    <div class="help-inline" data-error=""></div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <p class="formHeader">Services:</p>
            <div class="form-group row">
                <label class="control-label col-sm-3 col-form-label">Select Tag Services</label>
                <div class="col-sm-4">
                    <div data-editors="tagServices"></div>
                </div>
            </div>
            <div class="form-group row" data-id="selectServicesName">
                <label class="control-label col-sm-3 col-form-label">Select Resource Services*</label>
                <div class="col-sm-4">
                    <input type="text" data-id="servicesName">
                    <div class="help-inline" data-id="serviceNameHelp" style="display:none">Required</div>
                </div>
            </div>
        </div>
        <div data-id="zoneTableLayout" class="margin-top-6"></div>
    </fieldset>
</form>