// Color palette
$red: #d84b65 !default;
$blue: #1890ff !default;
$darkblue: #070a1a !default;
$green: #27c99a !default;
$palegreen: #8db36c !default;
$darkcyan: #498e9e !default;
$orange: #f47201 !default;
$cyan: rgba(91, 214, 208, 1) !default;
$purple: #6a549e !default;
$yellow: #f4b518 !default;
$black: #000000 !default;
$navy: #333333 !default;
$gray: #666666 !default;
$darkgray: #999999 !default;
$lightgray: #bbbbbb !default;
$lightblue: #d1dcff !default;
$lightnavy: #ccd0d6 !default;
$gainsboro: #d9dce4 !default;
$platinum: #e8e8e8 !default;
$whitesmoke: #f5f5f5 !default;
$ghostwhite: #f9f9f9 !default;
$white: #ffffff !default;

$color-dark-8: rgba(0, 0, 0, 0.8) !default;
$color-dark-6: rgba(0, 0, 0, 0.6) !default;
$color-dark-5: rgba(0, 0, 0, 0.5) !default;
$color-dark-4: rgba(0, 0, 0, 0.4) !default;
$color-dark-3: rgba(0, 0, 0, 0.3) !default;
$color-dark-2: rgba(0, 0, 0, 0.2) !default;
$color-dark-1: rgba(0, 0, 0, 0.1) !default;
$color-dark-06: rgba(0, 0, 0, 0.06) !default;
$color-dark-04: rgba(0, 0, 0, 0.04) !default;
$color-dark-02: rgba(0, 0, 0, 0.02) !default;

$color-white-8: rgba(255, 255, 255, 0.8) !default;
$color-white-6: rgba(255, 255, 255, 0.6) !default;
$color-white-4: rgba(255, 255, 255, 0.4) !default;
$color-white-3: rgba(255, 255, 255, 0.3) !default;
$color-white-2: rgba(255, 255, 255, 0.2) !default;
$color-white-1: rgba(255, 255, 255, 0.1) !default;

$color-dark-blue-6: rgba(7, 10, 26, 0.6) !default;

// Color primary
$color-primary: #6a549e !default;
$color-primary-light: #0c0b14 !default;
$color-primary-dark: #5340c8 !default;

$color-default: #302647; // rgba(48,38,71,1);
$color-default-8: rgba($color-default, 0.8);
$color-default-6: rgba($color-default, 0.6);
$color-default-4: rgba($color-default, 0.4);
$color-default-1: rgba($color-default, 0.1);
$color-default-2: rgba($color-default, 0.2);
$color-default-3: rgba($color-default, 0.3);
$color-default-06: rgba($color-default, 0.06);
$color-default-04: rgba($color-default, 0.04);
$color-default-02: rgba($color-default, 0.02);
$color-default-01: rgba($color-default, 0.01);

// function color
$color-info: $blue;
$color-info-bg: rgba($color-info, 0.1);
$color-error: $red;
$color-error-bg: rgba($color-error, 0.1);
$color-danger: $red;
$color-danger-bg: rgba($red, 0.1);
$color-warning: $yellow;
$color-warning-bg: rgba($color-warning, 0.1);
$color-success: $green;
$color-success-bg: rgba($color-success, 0.1);

$color-default-bg: rgba($color-default, 0.1);
$color-active: $color-primary;
$color-active-bg: rgba($color-primary, 0.06);
$color-active-border: rgba($color-primary, 0.6);
$color-disabled: $color-dark-3;
$color-disabled-bg: rgba($black, 0.06);
$color-click-bg: rgba($color-primary, 0.2);
$color-light-bg: $whitesmoke;

// Color text
$color-text: $color-dark-8 !default;
$color-text-sub: $color-default-6 !default;
$color-text-desc: $color-default-4 !default;
$color-text-icon: $color-default-3 !default;
$color-text-holder: $color-default-2 !default;
$color-text-light-desc: $color-dark-blue-6 !default;

// Color border
$color-border: $color-dark-1 !default;

//Color Tree background-color
$color-tree-bg: #d7d1de !default;
$color-tree-bg-active: #f5f4fd !default;

//Color List background-color
$color-list-bg-active: #f6f5f9 !default;

// Color decorator
$color-hover: #f2f1fc;
$color-bg: #f0eef5;
$color-shadow: #9998b1 !default;
$color-code-bg: rgba($black, 0.02);

// color for nusi TODO: remove this
$text-sub: $color-text-sub;
$text-desc: $color-text-desc;
$text-normal: $color-text;
$text-light: $color-text-holder;
$primary: $color-primary;
$border-color: $color-border;
$log-bg-color: #3c444f;
$log-font-color: #c2c1d0;

$color-get: #00b49d;
$color-post: #b890fa;
$color-put: #f2be24;
$color-patch: #4b44c9;
$color-delete: #d1344e;
$color-options: #00b5d1;
$color-head: #17bc65;

$terminal-bgcolor: #48515f;

// Color new Table
$color-table-color: #837d90;
$color-table-text-highlight: #7c53db;
$color-table-bg-hover: #f7f7f8;
$color-table-head-bg: #fbfbfb;
$color-bg-gray: #efeef0;

// Color Filter
$color-input-bg: #efeef0;

// color new list
$color-box-shadow: rgba($color-text-sub, 0.1);

// new assistant color
$color-purple-deep: #7c53db;
$color-purple-light: #f9f0ff;
$color-purple-highlight: #a051ff;

$color-dropdown-bg-dark: #59516c;
