// same with antd
$base-line-height: 32px;
$sm-line-height: 28px;
$lg-line-height: 36px;

// 圆角
$radius: 3px;
$border-radius: 3px;
$radius-lg: 6px;

// 间距
$p4: 4px;
$p8: 8px;
$p12: 12px;
$p16: 16px;
$p20: 20px;
$p24: 24px;
$p28: 28px;
$p32: 32px;

// 响应式边距 breakpoint
$b32: 32px;
$b16: 16px;

// 布局
$sider-width: 48px;
$subsider-width: 200px;
$subsider-fold-width: 48px;
$sm-content-break-width: 600px;
$md-content-break-width: 1024px;
$lg-content-break-width: 1440px;

$main-padding-break: 1272px;
