.edit-list {
  &-box {
    overflow: auto;
  }

  &-item-box {
    display: flex;

    > div {
      display: inline-block;
    }
  }

  &-item {
    position: relative;
    min-height: 38px;
    padding: 2px 10px;
    line-height: 34px;
    border-bottom: 1px solid $border-color;

    textarea.edit-list-item-textarea {
      height: 30px;
      resize: none;
    }

    &.min-width {
      min-width: 100px;
    }

    &.required-item {
      &::before {
        position: absolute;
        left: 2px;
        color: $red;
        content: '*';
      }
    }

    .ant-input,
    .ant-select-selection {
      border: 1px solid transparent;
      border-radius: $radius;

      &:hover,
      &:focus {
        border: 1px solid $color-primary;
      }
    }

    &.has-error {
      .ant-input,
      .ant-select-selection {
        border: 1px solid $red !important;

        &:focus {
          box-shadow: 0 0 0 2px rgb($red, 0.2);
        }
      }
    }
  }

  &-item-title {
    background-color: #f1f1f1;

    &::before {
      content: none !important;
    }
  }

  .edit-list-bottom {
  }
}
