# OSX
.DS_Store

# library
mgim/
mglibs/
mgim-android/
library/

# android generated
bin/
gen/

# eclipse
.classpath
.settings
.project

local.properties
project.properties

# IDEA
.idea/
*.iml
out/

# gradle
build/
.gradle/
gradle/
gradlew
gradlew.bat
gradle.properties
binlocal.gradle
bintray.gradle

# build
lint.xml
lint.html
proguard-rules.txt

run.sh
com_crashlytics_export_strings.xml
crashlytics-build.properties
Mogujie4Android/libs/eventbus-2.2.1.jar

# test
test.html

Mogujie4Android/assets/crashlytics-build.properties