.flow-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/images/editor-background.png);
  background-repeat: repeat;
  background-size: contain;
  border: 1px solid $color-border;
  border-radius: $radius;
}
