<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.sreworks.health.domain.AlertInstanceMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.sreworks.health.domain.AlertInstance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="def_id" jdbcType="INTEGER" property="defId" />
    <result column="app_instance_id" jdbcType="VARCHAR" property="appInstanceId" />
    <result column="app_component_instance_id" jdbcType="VARCHAR" property="appComponentInstanceId" />
    <result column="metric_instance_id" jdbcType="VARCHAR" property="metricInstanceId" />
    <result column="metric_instance_labels" jdbcType="VARCHAR" property="metricInstanceLabels" />
    <result column="gmt_occur" jdbcType="TIMESTAMP" property="gmtOccur" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="receivers" jdbcType="VARCHAR" property="receivers" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.sreworks.health.domain.AlertInstance">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, def_id, app_instance_id, app_component_instance_id, 
    metric_instance_id, metric_instance_labels, gmt_occur, source, level, receivers
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.sreworks.health.domain.AlertInstanceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alert_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.alibaba.sreworks.health.domain.AlertInstanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from alert_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alert_instance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from alert_instance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.sreworks.health.domain.AlertInstanceExample">
    delete from alert_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alibaba.sreworks.health.domain.AlertInstance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into alert_instance (gmt_create, gmt_modified, def_id, 
      app_instance_id, app_component_instance_id, 
      metric_instance_id, metric_instance_labels, 
      gmt_occur, source, level, 
      receivers, content)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{defId,jdbcType=INTEGER}, 
      #{appInstanceId,jdbcType=VARCHAR}, #{appComponentInstanceId,jdbcType=VARCHAR}, 
      #{metricInstanceId,jdbcType=VARCHAR}, #{metricInstanceLabels,jdbcType=VARCHAR}, 
      #{gmtOccur,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{receivers,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.sreworks.health.domain.AlertInstance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into alert_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="defId != null">
        def_id,
      </if>
      <if test="appInstanceId != null">
        app_instance_id,
      </if>
      <if test="appComponentInstanceId != null">
        app_component_instance_id,
      </if>
      <if test="metricInstanceId != null">
        metric_instance_id,
      </if>
      <if test="metricInstanceLabels != null">
        metric_instance_labels,
      </if>
      <if test="gmtOccur != null">
        gmt_occur,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="receivers != null">
        receivers,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="defId != null">
        #{defId,jdbcType=INTEGER},
      </if>
      <if test="appInstanceId != null">
        #{appInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="appComponentInstanceId != null">
        #{appComponentInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="metricInstanceId != null">
        #{metricInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="metricInstanceLabels != null">
        #{metricInstanceLabels,jdbcType=VARCHAR},
      </if>
      <if test="gmtOccur != null">
        #{gmtOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null">
        #{receivers,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.sreworks.health.domain.AlertInstanceExample" resultType="java.lang.Long">
    select count(*) from alert_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update alert_instance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.defId != null">
        def_id = #{record.defId,jdbcType=INTEGER},
      </if>
      <if test="record.appInstanceId != null">
        app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.appComponentInstanceId != null">
        app_component_instance_id = #{record.appComponentInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.metricInstanceId != null">
        metric_instance_id = #{record.metricInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.metricInstanceLabels != null">
        metric_instance_labels = #{record.metricInstanceLabels,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtOccur != null">
        gmt_occur = #{record.gmtOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.receivers != null">
        receivers = #{record.receivers,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update alert_instance
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      def_id = #{record.defId,jdbcType=INTEGER},
      app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{record.appComponentInstanceId,jdbcType=VARCHAR},
      metric_instance_id = #{record.metricInstanceId,jdbcType=VARCHAR},
      metric_instance_labels = #{record.metricInstanceLabels,jdbcType=VARCHAR},
      gmt_occur = #{record.gmtOccur,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      receivers = #{record.receivers,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update alert_instance
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      def_id = #{record.defId,jdbcType=INTEGER},
      app_instance_id = #{record.appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{record.appComponentInstanceId,jdbcType=VARCHAR},
      metric_instance_id = #{record.metricInstanceId,jdbcType=VARCHAR},
      metric_instance_labels = #{record.metricInstanceLabels,jdbcType=VARCHAR},
      gmt_occur = #{record.gmtOccur,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      receivers = #{record.receivers,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.sreworks.health.domain.AlertInstance">
    update alert_instance
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="defId != null">
        def_id = #{defId,jdbcType=INTEGER},
      </if>
      <if test="appInstanceId != null">
        app_instance_id = #{appInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="appComponentInstanceId != null">
        app_component_instance_id = #{appComponentInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="metricInstanceId != null">
        metric_instance_id = #{metricInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="metricInstanceLabels != null">
        metric_instance_labels = #{metricInstanceLabels,jdbcType=VARCHAR},
      </if>
      <if test="gmtOccur != null">
        gmt_occur = #{gmtOccur,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null">
        receivers = #{receivers,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.sreworks.health.domain.AlertInstance">
    update alert_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      def_id = #{defId,jdbcType=INTEGER},
      app_instance_id = #{appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{appComponentInstanceId,jdbcType=VARCHAR},
      metric_instance_id = #{metricInstanceId,jdbcType=VARCHAR},
      metric_instance_labels = #{metricInstanceLabels,jdbcType=VARCHAR},
      gmt_occur = #{gmtOccur,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      receivers = #{receivers,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.sreworks.health.domain.AlertInstance">
    update alert_instance
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      def_id = #{defId,jdbcType=INTEGER},
      app_instance_id = #{appInstanceId,jdbcType=VARCHAR},
      app_component_instance_id = #{appComponentInstanceId,jdbcType=VARCHAR},
      metric_instance_id = #{metricInstanceId,jdbcType=VARCHAR},
      metric_instance_labels = #{metricInstanceLabels,jdbcType=VARCHAR},
      gmt_occur = #{gmtOccur,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      receivers = #{receivers,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.alibaba.sreworks.health.domain.AlertInstanceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alert_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.alibaba.sreworks.health.domain.AlertInstanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from alert_instance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into alert_instance (gmt_create, gmt_modified, def_id,
    app_instance_id, app_component_instance_id,
    metric_instance_id, metric_instance_labels,
    gmt_occur, source, level,
    receivers, content)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, #{item.defId,jdbcType=INTEGER},
      #{item.appInstanceId,jdbcType=VARCHAR}, #{item.appComponentInstanceId,jdbcType=VARCHAR},
      #{item.metricInstanceId,jdbcType=VARCHAR}, #{item.metricInstanceLabels,jdbcType=VARCHAR}, #{item.gmtOccur,jdbcType=TIMESTAMP},
      #{item.source,jdbcType=VARCHAR}, #{item.level,jdbcType=VARCHAR}, #{item.receivers,jdbcType=VARCHAR},
      #{item.content,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <select id="countGroupByTime" parameterType="java.util.Map" resultType="com.alibaba.fastjson.JSONObject">
    select
      DATE_FORMAT(gmt_occur, #{dateFormat,jdbcType=VARCHAR}) aggTime, count(1) as cnt
    from
      alert_instance
    where
    <if test="_parameter.appInstanceId != null">
      app_instance_id = #{appInstanceId,jdbcType=VARCHAR} and
    </if>
      gmt_occur >= #{startTimestamp,jdbcType=TIMESTAMP} and gmt_occur &lt;= #{endTimestamp,jdbcType=TIMESTAMP}
    group by
      aggTime
  </select>
</mapper>