.milestone-info-card {
  &.dragging {
    background: repeating-linear-gradient(
      45deg,
      $color-dark-06,
      $color-dark-06 2px,
      $color-white-8 0,
      $color-white-8 8px
    );
    cursor: move;

    .milestone-info-card-content {
      background: transparent;
      opacity: 0;
    }
  }

  .milestone-title {
    display: flex;
    align-items: center;
  }
}
