@import url('~@/assets/style/tab.less');

.pageContentLayout{
    // background-color: #fff;
    .headerInfos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .btnsWrap{
        > button{
            margin-left: 5px;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btnStart{
        color:#fff;
        background-color: #5f9aff;
        border-color: #5f9aff;
    }
    .btnStop{
        color:#fff;
        background-color: #f86c6d;
        border-color: #f86c6d;
    }
    .btnUpdate{
        color:#fff;
        background-color: #52c41a;
        border-color: #52c41a;
    }

    // .tabsBar{
    //     display: flex;
    //     flex-direction: row;
    //     // border-bottom: 1px solid rgba(0,0,0,.06);
    //     height: 30px;
    //     align-items: center;
    //     >div{
    //         min-width: 60px;
    //         height: 100%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         cursor: pointer;

    //         &.actived{
    //             background-color: #fff;
    //             border-top-left-radius: 5px;
    //             border-top-right-radius: 5px;
    //         }
    //     }
    // }
    // .tabContent{
    //     min-height: 100px;
    //     width: 100%;
    //     padding: 20px;
    //     background-color: #fff;
    // }
    :global {
        .ant-tabs-tab{
            border-radius: 5px 5px 0 0 !important;
            font-size: 14px !important;
            padding: 5px 20px 4px !important;
        }
        .ant-tabs-tab-active{
            border-color: #fff !important;
        }
        .ant-tabs-content-holder{
            background: #fff!important;
            padding: 15px;
        }
        .ant-tabs-nav{
            margin:0;
        }
        .ant-layout-content{
            background: #fff!important;
        }
        .ant-page-header-heading-extra{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .ant-pro-page-container-children-content{
            margin: 15px;
        }
    }
}

