.issue-workflow-setting-modal {
  width: 100%;
  overflow: auto;

  .form-content {
    &-left {
      flex-basis: 120px;
      text-align: center;
    }

    &-right {
      flex-grow: 1;
      width: 0;
      height: 100%;
    }
  }

  .state-option-btn {
    position: relative;
    width: 110px;
    padding: 0 4px;
    color: $primary;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: $color-active-bg;
    border-radius: $radius;

    .state-delete-btn {
      position: absolute;
      top: -6px;
      right: -6px;
      margin: 0;
      padding: $p4;
      color: $primary;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.15s;
      &:hover {
        font-weight: bold;
      }
    }

    .state-move-btn {
      color: $primary;
      opacity: 0;
      margin: 0;
      transition: opacity 0.15s;
      &:hover {
        font-weight: bold;
      }
    }

    &:hover {
      .state-delete-btn,
      .state-move-btn {
        opacity: 1;
      }
    }
  }

  .add-option-btn {
    height: 42px;
    line-height: 42px;
    .ant-btn {
      width: 100%;
      height: 100%;
      line-height: inherit;
    }
  }

  .state-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: $p4;
  }

  .state-td {
    display: inline-block;
    width: 100px;
    height: $p24;
    margin: $p4 0;
    padding: 0 $p8;
    font-size: $p12;
    line-height: $p24;
    white-space: nowrap;
    text-align: center;
  }

  .state-radio-btn {
    color: $color-primary;
  }

  .state-transfer-name {
    width: 60px;
  }
}
