.topology-node-fade {
  opacity: 0.1;
}

.topology-node-focus {
  .topology-node {
    @extend %hover-shadow;
  }
}

.topology-link-text-fade {
  opacity: 0.1;
}

.topology-link-text-focus {
  opacity: 1;
}

.node-carrier {
  overflow: visible;
}

.topology-link {
  cursor: pointer;
}

.line-text-carrier {
  overflow: visible;
}
