[mysqld]

user=mysql

default-storage-engine=INNODB

#character-set-server=utf8

character-set-client-handshake=FALSE

character-set-server=utf8mb4

collation-server=utf8mb4_unicode_ci

init_connect='SET NAMES utf8mb4'

[client]

#utf8mb4字符集可以存储emoji表情字符

#default-character-set=utf8

default-character-set=utf8mb4

[mysql]

#default-character-set=utf8

default-character-set=utf8mb4
