.erda-gantt-calendar-bottom-text {
  text-anchor: middle;
  font-size: 12px;
  fill: $color-dark-6;
  user-select: none;
  pointer-events: none;
}

.erda-gantt-calendar-top-tick {
  stroke: $white;
}

.erda-gantt-calendar-top-text {
  text-anchor: middle;
  fill: $lightgray;
  user-select: none;
  pointer-events: none;
}

.erda-gantt-calendar-header {
  fill: $white;
  stroke: $color-dark-2;
  &-container {
    position: absolute;
    padding: 8px 0;
  }
}
.erda-gantt-calendar {
  .calendar-disabled-text {
    color: $color-dark-3;
  }
  .calendar-normal-text {
    color: $color-dark-6;
  }
  .calendar-highlight-text {
    color: $black;
  }

  .erda-gantt-calendar-today {
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background-color: $red;
    color: $white;
    font-size: 12px;
    > div {
      transform: scale(0.8);
    }
  }

  .erda-gantt-calendar-arrow-left,
  .erda-gantt-calendar-arrow-right {
    position: absolute;
    width: 16px;
    height: 20px;
    top: 30px;
    background-color: $color-default-06;
    color: $color-default-4;
    cursor: pointer;
    &:hover {
      background-color: $color-default;
      color: $white;
    }
  }

  .erda-gantt-calendar-arrow-left {
    border-radius: 0 2px 2px 0;
  }
  .erda-gantt-calendar-arrow-right {
    border-radius: 2px 0 0 2px;
  }
}
