.no-data-list {
  display: flex;
  justify-content: center;
  min-height: 265px;
  background-color: $white;

  .no-data-content {
    display: flex;
    align-items: center;
    min-height: 265px;
    padding-top: 80px;
  }
}

.error-detail {
  padding: 20px;
  border: 1px solid $color-border;
  border-radius: 6px;

  .title {
    color: $color-primary;
    line-height: 40px;
  }

  .title-secondly {
    color: $color-text;
  }

  .ant-row {
    line-height: 30px;
  }

  pre {
    padding: 10px;
    color: #cccccc;
    background-color: #3c444f;
    border-radius: 4px;
  }
}
