# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

*~

# eclipse ignore
.settings
.project
.classpath
.tomcatplugin
logPath_IS_UNDEFINED
*.gz

# idea ignore
.idea
*.iml

# maven ignore
target

# other ignore
*.log
*.tmp
Thumbs.db
*.DS_Store
*.tgz


# local env files
.env.local
.env.*.local

# Log files
*.log
*.log.zip

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist

node_modules
package-lock.json

data/tmp
data/storage
data/logs

lineage-web/build/
lineage-web/node/
static
/lineage-server/lineage-server-start/data/
logs