.node-click-confirm {
  .ant-confirm-body {
    .ant-confirm-title {
      line-height: 18px;
    }
  }
}

.build-detail {
  height: 100%;
  background-color: $white;
  border-radius: 0 4px 4px 0;

  .his-build-icon {
    display: inline-block;
    box-sizing: content-box;
    height: 20px;
    margin-left: $p8;
    padding: 0 4px;
    color: $color-text-sub;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    background: $color-disabled-bg;
    border-radius: $radius;
  }

  .ant-badge {
    margin-left: 5px;
  }

  .title {
    color: $color-text;
    font-size: 18px;
    vertical-align: middle;
  }

  .info-header {
    display: flex;
    justify-content: space-between;

    .iconfont {
      color: $color-dark-4;
    }

    &-right {
      display: flex;

      .build-operator {
        margin-left: $p12;
      }

      .iconfont {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  .trigger-btn {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 15px);
    width: 36px;
    height: 20px;
    text-align: center;
    background: $white;
    border: 1px solid $color-border;
    border-top: none;
    border-radius: $radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translateX(-50%);
    cursor: pointer;
    transition: bottom 0.2s;
    @extend %shallow-shadow;
  }

  .main-info {
    display: flex;
    flex-direction: column;
    height: 75px;
    margin-top: 7px;
    padding-top: 15px;
    overflow: hidden;
    background: $white;
    border-bottom: 1px solid $color-border;
    transition: height 0.2s;

    &-full {
      width: calc(100% + 32px);
      height: 300px;
      margin-right: -$p16;
      margin-left: -$p16;
      padding-top: 14px;
      padding-right: 15px;
      padding-left: 15px;
      border: 1px solid $color-border;
      border-radius: $radius;
      @extend %shallow-shadow;

      .trigger-btn {
        bottom: -229px;
      }
    }

    .hover-py {
      color: $color-primary;
    }

    .info-label {
      height: 22px;
      margin-bottom: 4px;
      color: $color-text-desc;
      line-height: 22px;
    }
  }

  .main-info-parent {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 97px;
    margin-bottom: 24px;
  }

  .info {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    margin-bottom: 40px;

    .rerun-ver {
      text-decoration: underline;
      cursor: pointer;
    }

    .build-message {
      width: 170px;
    }

    .left,
    .center {
      flex: 1;

      .icon-link {
        margin-left: 3px;
        cursor: pointer;
      }
    }

    .cron-btn {
      display: inline-flex;
    }

    .left {
      .build-execute {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: 5px;

        .light-circle {
          position: absolute;
          left: -3px;
          width: 20px;
          height: 20px;
          border: solid 1px transparent;
          border-top: solid 1px $blue;
          border-top-color: $blue;
          border-radius: 100%;
          animation: circle-line 1.6s linear infinite;
        }

        .running {
          color: $blue;
          -webkit-animation: opacity 0.8s 0s ease-in-out infinite alternate;
          animation: opacity 0.8s 0s ease-in-out infinite alternate;
        }

        .build-execute-txt {
          margin-left: 5px;
          font-size: 12px;
        }
      }

      @keyframes circle-line {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes opacity {
        0% {
          opacity: 0.2;
        }

        100% {
          opacity: 1;
        }
      }
    }

    .right {
      display: inline-flex;
      align-items: center;
      padding-right: 1.25rem;
      padding-left: 0.9375rem;

      i {
        color: $green;
        font-size: 2rem;
        cursor: pointer;
      }

      .build-operator {
        float: left;
        width: 5rem;
        padding: 0 0.9375rem;
        text-align: center;
        border-right: 1px solid $color-border;
        cursor: pointer;

        &:last-child {
          border-right: unset;
        }

        span {
          display: block;
          font-size: 0.75rem;
          line-height: 20px;
        }

        i {
          color: $color-text;
          font-size: 1.5rem;
        }

        &:hover {
          color: $color-primary;

          i {
            color: $color-primary;
          }
        }
      }

      .readonly {
        color: $darkgray;

        i {
          color: $darkgray;
        }
      }
    }

    p {
      margin-bottom: 5px;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      > span {
        display: inline-block;
        width: 100px;
      }

      .ant-badge {
        width: auto;
      }
    }
  }

  .build-detail-err-msg {
    padding: 12px;
    background-color: rgba(245, 235, 210, 0.4);
    border: 1px solid #f5ebd2;
    border-radius: 0.3125rem;

    pre {
      margin: 0;
      font-family: inherit;
    }

    .build-err-header {
      display: inline-flex;
      align-items: center;
    }

    .build-err-icon {
      margin-right: 0.3125rem;
      color: $color-warning;
      font-weight: bold;
    }

    .build-err-stack {
      margin-top: 0.5rem;
      padding-left: 1rem;
    }
  }
}

.build-history-wp {
  width: 660px;

  .refresh-newest-btn {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: $p16;
    cursor: pointer;

    .iconfont {
      vertical-align: baseline;
    }

    &:hover {
      color: $color-primary;
    }
  }

  .build-history-list {
    .run-index {
      .iconfont {
        vertical-align: baseline;
      }
    }

    .ant-table-pagination.ant-pagination {
      margin: 10px 0 0;
    }

    .build-history-tr {
      cursor: pointer;
    }

    .selected-row {
      background: $color-active-bg;
      cursor: pointer;
    }
  }
}
