*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
.settings
.cache
.DS_Store
.project
.classpath
.scala_dependencies
docs/api/
lib_managed/
logs/
src_managed/
target/
reports/
metastore_db/
derby.log
dependency-reduced-pom.xml
rss-*.tgz
hadoop-*.tar.gz
deploy/kubernetes/docker/hadoopconfig/*
*.exe
*.exe~
*.dll
*.so
*.dylib
local
vendor
VERSION
testbin/*
*.test
*.out
!vendor/**/zz_generated.*
*.swp
*.swo
*~
deploy/kubernetes/operator/bin
common/build/
integration-test/common/build/
storage/build/
build/
