{{!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<div id="serviceDetails">
    <p class="formHeader">
        {{tt 'h.serviceDetails'}} :
    </p>
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <td>
                    {{tt 'lbl.serviceName'}}
                </td>
                <td>
                    {{serviceName}}
                </td>
            </tr>
            <tr>
                <td>
                    {{tt 'lbl.displayName'}}
                </td>
                <td>
                    {{displayName}}
                </td>
            </tr>
            <tr>
                <td>
                    {{tt 'lbl.description'}}
                </td>
                {{#if description}}
                    <td>
                        {{description}}
                    </td>
                {{else}}
                <td>
                    --
                </td>
                {{/if}}
            </tr>
            <tr>
                <td>
                    {{tt 'lbl.activeStatus'}}
                </td>
                {{#if isEnabled}}
                    <td>
                        <span class="badge badge-info">Enabled</span>
                    </td>
                {{else}}
                <td>
                    <span class="badge badge-info">Disabled</span>
                </td>
                {{/if}}
            </tr>
            <tr>
                <td>
                    {{tt 'lbl.selectTagService'}}
                </td>
                <td>
                    {{#compare tagService  "eq" ''}}
                        <span>--</span>
                    {{else}}
                        <span class="badge badge-info">{{tagService}}</span>
                    {{/compare}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="configProperties">
    <p class="formHeader">
        {{tt 'h.configProperties'}}  :
    </p>
    <table class="table table-bordered table-condensed">
        <tbody>
            {{#each configsList}}
                <tr>
                    <td>
                        {{@key}}
                    </td>
                    <td>
                        {{#if this}}
                            {{this}}
                        {{else}}
                            --
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="2"><b>{{tt 'lbl.addNewConfig'}} :</b></td>
            </tr>
            {{#if customConfigs}}
                {{#each customConfigs}}
                    <tr>
                        <td>
                            {{@key}}
                        </td>
                        <td>
                            {{this}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td>
                        --
                    </td>
                    <td>
                        --
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>
<div id="auditFilters">
    <p class="formHeader">
        {{tt 'h.auditFilter'}}  :
    </p>
    <div class="table-responsive">
        <table class="table table-permission table-condensed table-read-only">
            <thead>
                <tr>
                    <th>Is Audited</th>
                    <th>Access Result</th>
                    <th>Resources</th>
                    <th>Operations</th>
                    <th>Permissions</th>
                    <th>Users</th>
                    <th>Groups</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                {{#each auditFilters}}
                    <tr>
                        <td>
                            {{#if this.isAudited}}
                                <span class="badge badge-info">{{this.isAudited}}</span>
                            {{else}}
                                --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.accessResult}}
                                <span class="badge badge-info">{{this.accessResult}}</span>
                            {{else}}
                                --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.resources}}
                            <div class="resource-list min-width-150">
                                <div class="resourceGrp ui-sortable-handle">
                                    {{#each this.resources}}
                                        <div class="resourcesFilter"><div><b>{{@key}}</b>:{{this.values}}</div>
                                            {{#if this.isExcludes}}<span class="badge badge-dark pull-right">{{this.isExcludes}}</span> {{/if}}{{#if this.isRecursive}}<span class="badge badge-dark pull-right">{{this.isRecursive}}</span>{{/if}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{else}}
                              --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.actions}}
                              {{#each this.actions}}
                               <span class="badge badge-info">{{this}}</span>
                              {{/each}}
                            {{else}}
                              --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.accessTypes}}
                              {{#each this.accessTypes}}
                               <span class="badge badge-info">{{this}}</span>
                              {{/each}}
                            {{else}}
                              --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.users}}
                              {{#each this.users}}
                               <span class="badge badge-info">{{this}}</span>
                              {{/each}}
                            {{else}}
                              --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.groups}}
                              {{#each this.groups}}
                               <span class="badge badge-info">{{this}}</span>
                              {{/each}}
                            {{else}}
                                 --
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.roles}}
                              {{#each this.roles}}
                               <span class="badge badge-info">{{this}}</span>
                              {{/each}}
                            {{else}}
                                 --
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>