.flyadmin-package {
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text-align-right{
    text-align: right;
  }

  .success-icon {
    font-size: 50px;
    color: #52c41a;
    margin: 30px 0 30px 0;
  }

  .tooltip-text {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .env-list {
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .env-title {
    padding-left: 10px;
    margin: 10px 0;
  }
}