<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.plugin.repository.mapper.PluginResourceWorkflowRelDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDO">
    <!--@mbg.generated-->
    <!--@Table am_plugin_resource_workflow_rel-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="plugin_resource_id" jdbcType="BIGINT" property="pluginResourceId" />
    <result column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <result column="workflow_type" jdbcType="VARCHAR" property="workflowType" />
    <result column="workflow_id" jdbcType="BIGINT" property="workflowId" />
    <result column="workflow_status" jdbcType="VARCHAR" property="workflowStatus" />
    <result column="workflow_error_message" jdbcType="LONGVARCHAR" property="workflowErrorMessage" />
    <result column="lock_version" jdbcType="INTEGER" property="lockVersion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, plugin_resource_id, cluster_id, workflow_type, workflow_id, 
    workflow_status, workflow_error_message, lock_version
  </sql>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_plugin_resource_workflow_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from am_plugin_resource_workflow_rel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from am_plugin_resource_workflow_rel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDOExample">
    <!--@mbg.generated-->
    delete from am_plugin_resource_workflow_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_plugin_resource_workflow_rel (gmt_create, gmt_modified, plugin_resource_id, 
      cluster_id, workflow_type, workflow_id, 
      workflow_status, workflow_error_message, 
      lock_version)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{pluginResourceId,jdbcType=BIGINT}, 
      #{clusterId,jdbcType=VARCHAR}, #{workflowType,jdbcType=VARCHAR}, #{workflowId,jdbcType=BIGINT}, 
      #{workflowStatus,jdbcType=VARCHAR}, #{workflowErrorMessage,jdbcType=LONGVARCHAR}, 
      #{lockVersion,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_plugin_resource_workflow_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="pluginResourceId != null">
        plugin_resource_id,
      </if>
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="workflowType != null">
        workflow_type,
      </if>
      <if test="workflowId != null">
        workflow_id,
      </if>
      <if test="workflowStatus != null">
        workflow_status,
      </if>
      <if test="workflowErrorMessage != null">
        workflow_error_message,
      </if>
      <if test="lockVersion != null">
        lock_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pluginResourceId != null">
        #{pluginResourceId,jdbcType=BIGINT},
      </if>
      <if test="clusterId != null">
        #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="workflowType != null">
        #{workflowType,jdbcType=VARCHAR},
      </if>
      <if test="workflowId != null">
        #{workflowId,jdbcType=BIGINT},
      </if>
      <if test="workflowStatus != null">
        #{workflowStatus,jdbcType=VARCHAR},
      </if>
      <if test="workflowErrorMessage != null">
        #{workflowErrorMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="lockVersion != null">
        #{lockVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_plugin_resource_workflow_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_plugin_resource_workflow_rel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pluginResourceId != null">
        plugin_resource_id = #{record.pluginResourceId,jdbcType=BIGINT},
      </if>
      <if test="record.clusterId != null">
        cluster_id = #{record.clusterId,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowType != null">
        workflow_type = #{record.workflowType,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowId != null">
        workflow_id = #{record.workflowId,jdbcType=BIGINT},
      </if>
      <if test="record.workflowStatus != null">
        workflow_status = #{record.workflowStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowErrorMessage != null">
        workflow_error_message = #{record.workflowErrorMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.lockVersion != null">
        lock_version = #{record.lockVersion,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_plugin_resource_workflow_rel
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      plugin_resource_id = #{record.pluginResourceId,jdbcType=BIGINT},
      cluster_id = #{record.clusterId,jdbcType=VARCHAR},
      workflow_type = #{record.workflowType,jdbcType=VARCHAR},
      workflow_id = #{record.workflowId,jdbcType=BIGINT},
      workflow_status = #{record.workflowStatus,jdbcType=VARCHAR},
      workflow_error_message = #{record.workflowErrorMessage,jdbcType=LONGVARCHAR},
      lock_version = #{record.lockVersion,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDO">
    <!--@mbg.generated-->
    update am_plugin_resource_workflow_rel
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pluginResourceId != null">
        plugin_resource_id = #{pluginResourceId,jdbcType=BIGINT},
      </if>
      <if test="clusterId != null">
        cluster_id = #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="workflowType != null">
        workflow_type = #{workflowType,jdbcType=VARCHAR},
      </if>
      <if test="workflowId != null">
        workflow_id = #{workflowId,jdbcType=BIGINT},
      </if>
      <if test="workflowStatus != null">
        workflow_status = #{workflowStatus,jdbcType=VARCHAR},
      </if>
      <if test="workflowErrorMessage != null">
        workflow_error_message = #{workflowErrorMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="lockVersion != null">
        lock_version = #{lockVersion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginResourceWorkflowRelDO">
    <!--@mbg.generated-->
    update am_plugin_resource_workflow_rel
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      plugin_resource_id = #{pluginResourceId,jdbcType=BIGINT},
      cluster_id = #{clusterId,jdbcType=VARCHAR},
      workflow_type = #{workflowType,jdbcType=VARCHAR},
      workflow_id = #{workflowId,jdbcType=BIGINT},
      workflow_status = #{workflowStatus,jdbcType=VARCHAR},
      workflow_error_message = #{workflowErrorMessage,jdbcType=LONGVARCHAR},
      lock_version = #{lockVersion,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>