<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.tesla.appmanager.plugin.repository.mapper.PluginDefinitionDOMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO">
    <!--@mbg.generated-->
    <!--@Table am_plugin_definition-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="plugin_name" jdbcType="VARCHAR" property="pluginName" />
    <result column="plugin_version" jdbcType="VARCHAR" property="pluginVersion" />
    <result column="plugin_registered" jdbcType="BOOLEAN" property="pluginRegistered" />
    <result column="package_path" jdbcType="VARCHAR" property="packagePath" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO">
    <!--@mbg.generated-->
    <!--@Table am_plugin_definition-->
    <result column="plugin_description" jdbcType="LONGVARCHAR" property="pluginDescription" />
    <result column="plugin_dependencies" jdbcType="LONGVARCHAR" property="pluginDependencies" />
    <result column="plugin_extra" jdbcType="LONGVARCHAR" property="pluginExtra" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, plugin_name, plugin_version, plugin_registered, package_path
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    plugin_description, plugin_dependencies, plugin_extra
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDOExample" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_plugin_definition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByExample" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDOExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from am_plugin_definition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from am_plugin_definition
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from am_plugin_definition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDOExample">
    <!--@mbg.generated-->
    delete from am_plugin_definition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_plugin_definition (gmt_create, gmt_modified, plugin_name, 
      plugin_version, plugin_registered, package_path, 
      plugin_description, plugin_dependencies, 
      plugin_extra)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{pluginName,jdbcType=VARCHAR}, 
      #{pluginVersion,jdbcType=VARCHAR}, #{pluginRegistered,jdbcType=BOOLEAN}, #{packagePath,jdbcType=VARCHAR}, 
      #{pluginDescription,jdbcType=LONGVARCHAR}, #{pluginDependencies,jdbcType=LONGVARCHAR}, 
      #{pluginExtra,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into am_plugin_definition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="pluginName != null">
        plugin_name,
      </if>
      <if test="pluginVersion != null">
        plugin_version,
      </if>
      <if test="pluginRegistered != null">
        plugin_registered,
      </if>
      <if test="packagePath != null">
        package_path,
      </if>
      <if test="pluginDescription != null">
        plugin_description,
      </if>
      <if test="pluginDependencies != null">
        plugin_dependencies,
      </if>
      <if test="pluginExtra != null">
        plugin_extra,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pluginName != null">
        #{pluginName,jdbcType=VARCHAR},
      </if>
      <if test="pluginVersion != null">
        #{pluginVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginRegistered != null">
        #{pluginRegistered,jdbcType=BOOLEAN},
      </if>
      <if test="packagePath != null">
        #{packagePath,jdbcType=VARCHAR},
      </if>
      <if test="pluginDescription != null">
        #{pluginDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="pluginDependencies != null">
        #{pluginDependencies,jdbcType=LONGVARCHAR},
      </if>
      <if test="pluginExtra != null">
        #{pluginExtra,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDOExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from am_plugin_definition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update am_plugin_definition
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pluginName != null">
        plugin_name = #{record.pluginName,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginVersion != null">
        plugin_version = #{record.pluginVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginRegistered != null">
        plugin_registered = #{record.pluginRegistered,jdbcType=BOOLEAN},
      </if>
      <if test="record.packagePath != null">
        package_path = #{record.packagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginDescription != null">
        plugin_description = #{record.pluginDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pluginDependencies != null">
        plugin_dependencies = #{record.pluginDependencies,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pluginExtra != null">
        plugin_extra = #{record.pluginExtra,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--@mbg.generated-->
    update am_plugin_definition
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      plugin_name = #{record.pluginName,jdbcType=VARCHAR},
      plugin_version = #{record.pluginVersion,jdbcType=VARCHAR},
      plugin_registered = #{record.pluginRegistered,jdbcType=BOOLEAN},
      package_path = #{record.packagePath,jdbcType=VARCHAR},
      plugin_description = #{record.pluginDescription,jdbcType=LONGVARCHAR},
      plugin_dependencies = #{record.pluginDependencies,jdbcType=LONGVARCHAR},
      plugin_extra = #{record.pluginExtra,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update am_plugin_definition
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      plugin_name = #{record.pluginName,jdbcType=VARCHAR},
      plugin_version = #{record.pluginVersion,jdbcType=VARCHAR},
      plugin_registered = #{record.pluginRegistered,jdbcType=BOOLEAN},
      package_path = #{record.packagePath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO">
    <!--@mbg.generated-->
    update am_plugin_definition
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pluginName != null">
        plugin_name = #{pluginName,jdbcType=VARCHAR},
      </if>
      <if test="pluginVersion != null">
        plugin_version = #{pluginVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginRegistered != null">
        plugin_registered = #{pluginRegistered,jdbcType=BOOLEAN},
      </if>
      <if test="packagePath != null">
        package_path = #{packagePath,jdbcType=VARCHAR},
      </if>
      <if test="pluginDescription != null">
        plugin_description = #{pluginDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="pluginDependencies != null">
        plugin_dependencies = #{pluginDependencies,jdbcType=LONGVARCHAR},
      </if>
      <if test="pluginExtra != null">
        plugin_extra = #{pluginExtra,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO">
    <!--@mbg.generated-->
    update am_plugin_definition
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      plugin_name = #{pluginName,jdbcType=VARCHAR},
      plugin_version = #{pluginVersion,jdbcType=VARCHAR},
      plugin_registered = #{pluginRegistered,jdbcType=BOOLEAN},
      package_path = #{packagePath,jdbcType=VARCHAR},
      plugin_description = #{pluginDescription,jdbcType=LONGVARCHAR},
      plugin_dependencies = #{pluginDependencies,jdbcType=LONGVARCHAR},
      plugin_extra = #{pluginExtra,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.tesla.appmanager.plugin.repository.domain.PluginDefinitionDO">
    <!--@mbg.generated-->
    update am_plugin_definition
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      plugin_name = #{pluginName,jdbcType=VARCHAR},
      plugin_version = #{pluginVersion,jdbcType=VARCHAR},
      plugin_registered = #{pluginRegistered,jdbcType=BOOLEAN},
      package_path = #{packagePath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>