.trace-status-viewer {
  color: $color-text-sub;
  text-align: center;
  border-radius: 4px;
  transition-duration: 0.3s;

  > span {
    display: inline-block;
    line-height: $base-line-height;
  }

  .request-status-wp {
    display: inline-block;
    height: 30px;
    margin: 50px 0;
    padding-right: 20px;
    line-height: 30px;

    .request-status-text {
      float: left;
      font-size: 18px;
    }

    .request-status-btn {
      float: left;
      margin-left: 10px;
      cursor: pointer;

      svg {
        margin-top: 2px;
      }

      > i {
        font-size: 22px;
        vertical-align: -5px;
      }
    }

    i {
      font-size: 18px;

      &.iconfont {
        vertical-align: baseline;
      }
    }

    &.cancel i {
      color: $color-warning;
    }

    &.success i {
      color: $color-success;
    }

    &.pending i {
      color: $color-active;
    }

    &.failure i {
      color: $color-danger;
    }
  }
}
