.line-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: $color-dark-8;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  opacity: 1;

  &.on-line {
    padding-bottom: 40px;
  }

  &.under-line {
    padding-top: 40px;
  }
}
