.topology-node {
  @extend %shallow-shadow;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2), 0 -2px 2px 1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: $radius;
  cursor: pointer;

  &:hover {
    @extend %hover-shadow;
  }

  &.simple-node {
    .node-title {
      height: 100%;
      border-bottom: 0;

      .node-icon {
        width: 60px;
        height: 60px;
      }
    }
  }

  &.actived {
    border: 2px solid $color-primary;
  }

  .node-operation {
    .operation-item {
      padding: 0 4px;
      color: $color-text-sub;
    }
  }

  .node-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 84px;
    padding: 12px;
    border-bottom: 1px solid $color-border;

    .node-icon {
      width: 40px;
      height: 40px;
      margin-right: 12px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .node-name {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 0;

      .text {
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .sub-text {
        overflow: hidden;
        color: $color-text-desc;
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .small-node-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    border-bottom: 3px solid $color-border;

    .error-icon {
      color: $red;
      font-size: 28px;
    }

    .common-icon {
      color: $green;
      font-size: 28px;
    }
  }

  .node-info {
    display: flex;
    flex: 1;

    .info-item-separate {
      width: 1px;
      background: $color-border;
    }

    .info-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 0;
      padding: 6px 0;
    }

    .info-value {
      width: 100%;
      overflow: hidden;
      font-size: 20px;
      line-height: 28px;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
    }

    .small-info-value {
      font-size: 28px;
    }

    .info-key {
      overflow: hidden;
      color: $color-text-desc;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
