.addon-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 86px;
  color: $color-text;
  background-color: $white;
  border-radius: 3px;
  @extend %shallow-shadow;

  &.with-link {
    &:hover {
      @extend %hover-shadow;
      cursor: pointer;
    }
  }

  &-icon-wrapper {
    width: 80px;
    height: 100%;
    padding: 24px 16px 22px 16px;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &-text {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
    overflow: hidden;
    line-height: 1.5rem;

    .name {
      font-size: 1rem;
    }

    .sub-info {
      display: flex;
      justify-content: flex-start;
      color: $color-text-desc;
    }
  }

  &-info {
    .ant-badge {
      position: absolute;
      top: 0.375rem;
      right: 0.375rem;
    }
  }
}
