.runtime-operation-content {
  display: flex;
  align-items: center;
  @keyframes circle-line {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

  .deploy-status {
    float: right;
    margin-right: 6px;
  }

  .operation {
    display: flex;
    color: $color-text;
  }

  .runtime-operate {
    &.cancel {
      color: $color-warning;
      border-color: $color-warning;

      i {
        color: $color-warning;
      }
    }
  }
}

.record-info {
  & > div {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid $color-border;

    .info-name {
      width: 30%;
    }
  }
}
