.ranking-list {
  .ranking-item {
    display: flex;
    padding: 10px;

    .rank {
      width: 50px;
    }

    .label {
      flex: 3;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
    }

    .rank-value {
      flex: 1;
      text-align: right;
    }

    .action {
      padding-left: 10px;
      margin-top: 2px;
    }
  }
}