<?xml version='1.0' encoding='UTF-8'?>
<com.qlangtech.tis.component.GlobalComponent>
  <showExtensionDetail>true</showExtensionDetail>
  <dsDumpFactories>
    <com.qlangtech.tis.fullbuild.indexbuild.impl.YarnTableDumpFactory plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
      <name>yarn_dump</name>
      <yarnCfg>yarn-config1</yarnCfg>
      <fsName>hdfs1</fsName>
      <destination>hive1</destination>
      <maxHeapMemory>0</maxHeapMemory>
      <maxCPUCores>0</maxCPUCores>
      <runjdwpPort>0</runjdwpPort>
    </com.qlangtech.tis.fullbuild.indexbuild.impl.YarnTableDumpFactory>
  </dsDumpFactories>
  <indexBuilderFactories>
    <com.qlangtech.tis.fullbuild.indexbuild.impl.YarnIndexBuilderTriggerFactory plugin="tis-hive-flat-table-builder-plugin@{{tis_pkg_version}}">
      <name>yarn_index_builder</name>
      <containerName>yarn1</containerName>
      <maxHeapMemory>0</maxHeapMemory>
      <maxCPUCores>0</maxCPUCores>
      <runjdwpPort>0</runjdwpPort>
      <fsName>hdfs1</fsName>
      <maxDocMakeFaild>0</maxDocMakeFaild>
    </com.qlangtech.tis.fullbuild.indexbuild.impl.YarnIndexBuilderTriggerFactory>
  </indexBuilderFactories>
</com.qlangtech.tis.component.GlobalComponent>