.sider-switch-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: $white;
  border-radius: $radius;
  @extend %select-shadow;

  .input-wrap {
    margin-bottom: 2px;
    padding: 8px 6px;
  }

  ul {
    flex: 1;
    margin-bottom: 0;
    overflow: auto;
  }

  li {
    padding: 0 12px;
    line-height: 32px;
    cursor: pointer;

    &.active,
    &:hover {
      color: $color-primary;
    }
  }
}

.sider-switch-overlay {
  &::before {
    content: none;
  }
}

.side-nav-menu {
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  scrollbar-width: 0;
  background-color: $white;
  .menu-container {
    .fold {
      height: auto;
      line-height: 1;
      padding: 0;
      text-align: center;

      .ant-menu-submenu-title {
        height: auto;
        line-height: 1;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }

      .ant-menu-item-icon {
        display: inline-block;
        width: 100%;
      }

      i,
      .ant-menu-item-icon {
        line-height: 1;
      }
    }

    .ant-menu:not(.ant-menu-sub) {
      .fold-icon {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5rem 0.5rem 0 0.5rem;
        text-align: center;
      }
    }

    .fold:not(.ant-menu-item-selected):not(:hover) .layer {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40%;
      background: linear-gradient(to right, transparent, $white 80%);
      pointer-events: none;
    }
  }

  .ant-menu {
    background-color: $white;
    .ant-menu-submenu-arrow {
      color: rgba(9, 24, 33, 0.44);
      font-weight: 500;
    }
    .ant-menu-item-icon {
      color: $primary;
      font-size: 16px;
    }

    .ant-menu-item-icon + .ant-menu-title-content {
      margin-left: 4px;
    }

    .ant-menu-item {
      margin: 0;
      &.ant-menu-item-selected {
        background-color: $color-tree-bg-active;
        font-weight: 500;
        border-right: 4px solid $primary;
        &::after {
          opacity: 0;
        }
      }
      &:not(.ant-menu-item-selected) {
        a {
          color: rgba(9, 23, 32, 0.64);
        }
        &:hover {
          a {
            color: $primary;
          }
        }
      }
      .ant-menu-item-icon {
        margin: 0;
      }
      &:hover {
        color: $primary;
        font-weight: 500;
        background-color: $color-click-bg;
      }
    }
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        > span:not(.ant-menu-item-icon) {
          color: rgba(9, 24, 33, 0.64);
        }
        margin: 0;
      }
      &.ant-menu-submenu-open {
        > .ant-menu-submenu-title {
          > span:not(.ant-menu-item-icon) {
            color: $color-dark-8;
            font-weight: 500;
          }
        }
      }
      & > .ant-menu-submenu-title {
        &:hover {
          background-color: $color-click-bg;
          > span:not(.ant-menu-item-icon) {
            color: $color-dark-8;
          }
        }
      }
    }
    a:focus {
      text-decoration: none;
    }
  }
}

.ant-menu.ant-menu-submenu-popup {
  .fold-icon {
    display: inline-block;
  }

  .fold-title {
    display: none !important;
  }
}
