.erda-app-center-drawer {
  .app-center-list-item {
    height: 40px;
    line-height: 40px;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      background: #f0eef5;
    }
  }

  .app-list-item {
    color: rgba(9, 24, 33, 0.84) !important;

    i {
      color: $white;
      font-size: 24px;
      background-color: $purple;
      border-radius: 100%;
      transform: translateY(4px);
    }
  }

  .ant-drawer-body {
    padding: 16px;
  }
}
