.service-card-wrapper {
  border-radius: $radius;
  @extend %shallow-shadow;

  .inner-content {
    display: none;
  }

  &.block {
    .inner-content {
      display: block;
      padding: 0 16px 16px 16px;
      background-color: $white;
    }

    .service-card {
      border-bottom: 1px solid $color-border;

      &:hover {
        box-shadow: unset;
        cursor: pointer;
      }
    }
  }

  .service-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 550px;
    height: 80px;
    color: $color-text;
    background-color: $white;
    border-radius: $radius;

    &:hover {
      @extend %hover-shadow;
      cursor: pointer;

      .resources {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }

      .name {
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-icon-wrapper {
      width: 80px;
      height: 100%;
      padding: 20px;

      svg {
        width: 40px;
        height: 40px;
        color: unset;
      }
    }

    &-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 0;
      white-space: nowrap;

      .name {
        width: 100%;
      }

      .info-msg {
        display: flex;
        line-height: 24px;
      }

      .resources {
        flex: 1;
        color: $color-dark-4;
        opacity: 0;
      }

      .error-msg {
        color: $color-danger;
        line-height: 22px;

        .log-link {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    &-operation {
      display: flex;
      justify-content: flex-end;
      margin-right: 16px;

      .common-ops {
        color: $color-dark-4;
      }

      .endpoint-ops {
        display: flex;
        align-items: center;

        .warning-info {
          color: $color-warning;
          font-size: 12px;
        }

        .domain-links {
          margin-right: 12px;
          color: $primary;
        }

        .iconfont {
          font-size: 24px;
        }
      }
    }
  }
}

.filter-dropdown {
  .filter-item {
    display: block;
    border: none;
    box-shadow: none;

    &:focus-within {
      outline: none;
    }
  }
}

.popover-links {
  margin-bottom: unset;

  li {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: unset;
    }
  }
}
