@import (reference) '~antd/es/style/themes/index';
@import url('~@/assets/style/flex.less');

.clusterLayout{
  display: flex;
  flex-wrap: wrap;
  .clusterBox{
    width: 30%;
    min-width: 300px;
    height: 180px;
    padding: 0;
    overflow: 'hidden';
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    &:hover {
      color: @primary-color;
      .stackDesc{
        color: @primary-color;
      }

    //   @interval:0px;

    //   &::before, &::after {
    //       content: "";
    //       position: absolute;
    //       top: @interval;
    //       left: @interval;
    //       right: @interval;
    //       bottom: @interval;
    //       border: 2px solid var(--ant-primary-color-hover);
    //       transition: all .5s;
    //       border-radius: var(--bRadius);
    //       animation: clippath 3s infinite linear;
    //   }
    //   &::after {
    //       animation: clippath 3s infinite -1.5s linear;
    //   }
    //   @keyframes clippath {
    //       0%, 100% { clip-path: inset(0 0 98% 0); }
    //       25% { clip-path: inset(0 98% 0 0); }
    //       50% { clip-path: inset(98% 0 0 0); }
    //       75% { clip-path: inset(0 0 0 98%); }
    //   }
    }
  }
}

.stackWrap {
  .flexCenter();
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: @primary-color;
  }
  .titleWrap{
    width: 100%;
    display: flex;
    .cardIcon{
      color: @primary-color;
      width: 50px;
      margin-left: 10px;
    }
    .stackTitle{
      font-size: 18px;
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
  .stackInfo {
    width: 100%;
    padding-left: 61px;
    font-size: 15px;
    margin: 10px 0;
    .stackDesc{
      line-height: 28px;
      color: var(--cloudeon-text-color-1);
    }
  }
}
.codeEditorWrap{
  border: 1px solid #d9d9d9;
  width: 100% !important;
}
.inputWrap{
  width: 100% !important;
}
:global{
  .ace_print-margin{
    left:0 !important;
  }
  .ant-pro-card-actions > li, .ant-pro-card-actions .ant-space-item{
    margin: 0;
    padding: 12px 0;
  }
}