// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.


/* business-metadata */
.business-metadata-tree-parent {
    padding: 0px;

    >li:first-child {
        font-weight: 600;
        word-break: break-all;
    }

    .business-metadata-tree-child {
        &.entity-detail-table table {
            td {
                &:nth-child(1) {
                    width: 35%;
                }

                word-break: break-word;
            }
        }

        padding-left: 5px;
        margin-top: 10px;
        font-weight: 100;
    }

    .custom-table {
        &:not(.bm-create) {
            .custom-tr {

                .custom-col-1 {
                    width: calc(50% - 55px);

                    .select2-selection--multiple .select2-selection__rendered {
                        overflow: scroll;
                    }
                }

                .custom-col-2 {
                    width: 45px;
                }
            }
        }
    }

}

.business-metadata-options.dropdown {
    .dropdown-menu {
        min-width: 100px;

        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: $color_jungle_green_approx;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }
}

.business-metadata-options.dropdown.open {
    .btn-action {
        background-color: $color_jungle_green_approx;
        border: 1px solid $color_jungle_green_approx;
        color: #fff !important;
    }
}

.business-metadata-details,
.admin-details {
    .tableOverlay {
        background-color: transparent;
    }

    .expandable .attr-details {
        max-height: 300px;
        overflow: auto;
        margin-left: 30px;
        width: calc(100% - 30px);
    }

    .expandable .admin-audit-details {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;

        .attr-type-container {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 10px;
            margin: 5px;
            width: 32%;
        }
    }

    .expandable .admin-attr-details {
        max-height: 100px;
        margin-left: 20px;
        width: calc(100% - 27px);
    }

    .import-export .admin-audit-details {
        display: table;
        border: 1px solid #ddd;
        border-radius: 4px;

        tr>td:nth-child(2) {
            text-align: right;
        }
    }
}

.admin-details .expandable .admin-audit-details .attr-type-container {
    max-height: 200px;
    overflow: auto;
}

.admin-details .attributeResultContainer {
    float: left;
}

.tab-pane {
    .business-metadata-attr-page {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 20px;
        background-color: $white;
        width: 100%;
        height: inherit;
    }
}

.business-metadata-attr-page {
    .form-horizontal {
        padding: 10px 22px;
        // border: 1px solid #DEDEDE;

        .control-label-sm {
            padding-top: 3px;
        }

        .control-label-sm-pl {
            @extend .control-label-sm;
            padding-left: 10px;
        }

        .control-label-sm-pr {
            @extend .control-label-sm;
            padding-right: 10px;
        }

        .business-metadata-attr {
            border: 1px solid #DEDEDE;
            padding: 10px 20px
        }
    }
}

.business-metadata-attr-fontLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.business-metadata-attr-tableOverlay {
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    background: #808080;
    z-index: 99;
    display: none;
    opacity: 0.2;
}

.business-metadata-attr-page {
    .modal-footer {
        text-align: center;
    }
}

.remove-from-list {
    .select2-results__option[aria-selected=true] {
        display: none;
    }
}

.business-metadata-detail-attr {
    margin-bottom: 0px;
    box-shadow: none;

    .panel-heading {
        color: #686868 !important;
        font-size: 13px;
        padding: 0;

        .panel-title {
            font-size: 14px;
            word-break: break-all;
            width: inherit;

            a:hover {
                color: #686868 !important;
                opacity: 1 !important;
            }
        }
    }

    .btn-group>button {
        color: #686868 !important;
    }

    td {
        word-break: break-word;
    }

    .business-metadata-detail-attr-key {
        width: 30%;
    }
}