// 纯组件样式
// (无需添加next组件的样式依赖，以及业务组件的样式依赖，会自动添加，并在build时自动在lib目录中生成index.scss和style.js)


// Fusion皮肤配置核心变量
//@import "~@alife/next/lib/core/index.scss";

// put your code here


.biz-tSearch-deskstop {
  //border: 1px solid #000;
  //width: 250px;
  .hotKey-panel {
    // background-color:'white';
    width:484px;
    .hotKeyItem {
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      padding-left: 20px;
      padding-right:10px;
      margin:0;
      cursor:pointer;
      overflow: hidden;
      &:hover {
        background-color:#D7E9FD;
        font-weight:bold;
      }
    }

  }
  .panel-container-card {
    box-shadow: -1px 1px 5px 1px #eee;
    width: 484px;
    position: absolute;
    max-height: 600px;
    overflow-y: scroll;
  }
  .ant-select {
    width: 350px;
  }


  .antd-pro-description-list-detail {
    word-break: break-all;
  }

  .ant-list-item-meta-content {
    word-break: break-all;
  }


  .ant-card-body {
    padding: 5px 0px;
  }

  .ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
    padding-left: 15px;
    padding-right: 5px;
  }

  .panel-container {
    .flat-list-pane {
      width: 484px;
      height: auto;
      .flat-list {
        max-height:430px;
        overflow-y: scroll;
      }
      .more-btn {
        cursor:pointer;
        text-align: center;
        padding-left:14px;
        color:lightskyblue;
        text-align:left;
      }
      .suggest-list-cell {
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        padding-left: 20px;
        padding-right:10px;
        margin:0;
        cursor:pointer;
        overflow: hidden;
        &:hover {
          background-color:#D7E9FD;
          font-weight:bold;
        }
      }
    }
    .panel-container-card {
      box-shadow: -1px 1px 5px 1px #eee;
      width: 484px;
      position: absolute;
      height: auto;
    }

    .panel-container-infinite-container {
      //border: 1px solid #e8e8e8;
      border-radius: 4px;
      overflow: auto;
      //padding: 8px 24px;
      height: 350px;
    }

    .panel-container-infinite-loading {
      position: absolute;
      bottom: -40px;
      left: 20px;
    }
  }

  .panel-keyword {
    position: absolute;
    text-align: left;
  }


}



