.topology {
  background: $color-default;

  .ant-spin-nested-loading,
  .ant-spin-container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .topology-filter {
    .contractive-filter-item {
      background: rgba($white, 0.06) !important;

      > span {
        color: rgba($white, 0.6) !important;
      }

      .hover {
        color: rgba($white, 0.6) !important;
      }

      &:hover {
        .hover {
          color: rgba($white, 0.9) !important;
        }
      }

      .contractive-filter-item-value {
        color: rgba($white, 0.9) !important;
      }
    }

    .time-select {
      .time-range,
      .auto-refresh,
      .manual-refresh {
        background: rgba($white, 0.06) !important;
        color: rgba($white, 0.9) !important;

        .ant-select {
          color: rgba($white, 0.9) !important;

          .ant-select-arrow {
            color: rgba($white, 0.6) !important;
          }

          &:hover {
            .ant-select-arrow {
              color: rgba($white, 0.9) !important;
            }
          }
        }
      }
    }
  }

  .topology-detail {
    background-color: $color-default;
    width: 325px;
    z-index: 20;
    transition: all 0.3s ease-in-out;

    &.expand {
      right: 0;
    }

    &.collapse {
      right: -325px;
    }

    .content {
      background-color: rgba($white, 0.04);

      .metric-detail {
        > div {
          background: rgba($white, 0.04);
        }
      }
    }
  }
}
