.abm-grafana {
  position: relative;
  min-height: 200px;

  .operation-btn {
    position: absolute;
    z-index: 2;
    top: 10px;
  }

  .grafana-content {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
}