.flyadmin-edit-table {
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 12px 14px 12px 14px;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    padding: 0 3px;
  }

  .ant-tabs-nav .ant-tabs-tab .anticon {
    margin-right: 1px;
  }

  .ant-card-body {
    padding: 12px;
  }
}
.flyadmin-drag-contain{
  .drag-up {
    animation: dragup ease 0.2s 1;
    animation-fill-mode: forwards;
    border: solid 2px #cccccc;
  }

  .drag-down {
    animation: dragdown ease 0.2s 1;
    animation-fill-mode: forwards;
    border: solid 2px #cccccc;

  }

  @keyframes dragup
  {
    from {
      margin-top:10px;
    }
    to {
      margin-top:60px;
    }
  }

  @keyframes dragdown
  {
    from {
      margin-bottom:10px;
      margin-top:60px;
    }
    to {
      margin-bottom:60px;
      margin-top:10px;

    }
  }

  ul li{
    list-style: none;
  }
}