.ei-table-adaption {
  position: relative;
  left: 0;
  display: block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;

  .ei-table-value {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
