{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-recess-order",
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "plugins": ["stylelint-order", "stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "plugin/declaration-block-no-ignored-properties": true,
    "declaration-block-trailing-semicolon": "always",
    "comment-empty-line-before": null,
    "declaration-empty-line-before": null,
    "function-name-case": "lower",
    "no-descending-specificity": null,
    "no-invalid-double-slash-comments": null,
    "rule-empty-line-before": ["always", { "except": ["inside-block"] }],
    "no-extra-semicolons": true,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }],
    "indentation": [2],
    "no-duplicate-selectors": null,
    "selector-class-pattern": null
  },
  "ignoreFiles": ["node_modules/**/*", "build/**/*", "dist/**/*"],
  "customSyntax": "postcss-less"
}
