.monitor-panel {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 12px;
  background-color: $white;
  border: 1px solid $color-border;
  border-radius: $radius;
  @extend %shallow-shadow;

  .monitor-panel-header {
    position: relative;
    height: 30px;
    margin-bottom: 12px;

    .title {
      line-height: 30px;
    }

    .title-right {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 30px;

      .detail {
        font-size: 22px;
      }
    }
  }
}
