<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="col-sm-12 {{#unless isAssignView}}add-seperator{{/unless}}">
    <div class="row">
        {{#unless isAssignView}}
        <div class="col-sm-7 no-padding" style="margin-top: 5px;">
            <span class="pull-left">Terms</span>
            <label class="switch pull-left">
                <input type="checkbox" class="switch-input" name="glossaryView" value="text" />
                <span class="switch-slider"></span>
            </label>
            <span class="pull-left">Category</span>
        </div>
        <div class="{{#if isAssignView}}col-sm-2{{else}}col-sm-5{{/if}} no-padding-right">
            <button type="button" class="btn btn-action btn-md pull-right" title="Refresh" data-id="refreshGlossary" onclick="this.blur();" type="button"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn btn-action btn-md pull-right" data-id="createGlossary" type="button"><i class="fa fa-plus"></i></button>
            <div class="dropdown pull-right">
                <button type="button" data-toggle="dropdown" class="btn btn-action btn-md dropdown-toggle" type="button"><i class="fa fa-paperclip"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="{{importTmplUrl}}">Download Import template</a></li>
                    <li><a href="javascript:void(0)" data-id="importGlossary">Import Glossary Term</a></li>
                </ul>
            </div>
            <!--  -->
            {{/unless}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 text-center" data-id='glossaryTreeLoader'>
            <i class="fa fa-refresh fa-spin-custom"></i>
        </div>
        <div data-id='glossaryTreeView'>
            <div class="no-padding col-sm-12 term-view">
                <div>
                    <input type="text" class="form-control" data-id="searchTerm" placeholder="{{#if isAssignView}}Search Term{{else}}Search Glossary, Term{{/if}}">
                </div>
                <div data-id="termTree" style="margin-top: 5px;padding-bottom: 25px;overflow-x: auto;overflow-y:hidden;" class="tree-container">
                </div>
            </div>
            <div class="col-sm-12 no-padding category-view" style="display: none;">
                <div>
                    <input type="text" class="form-control" data-id="searchCategory" placeholder="{{#if isAssignView}}Search Catalog{{else}}Search Glossary, Category{{/if}}">
                </div>
                <div data-id="categoryTree" style="margin-top: 5px;padding-bottom: 25px;overflow-x: auto;overflow-y: hidden;" class="tree-container">
                </div>
            </div>
        </div>
    </div>
</div>