.gitbook-link {
  display: none !important;
}
.book-header {
  background: #001528;
  display: none;
}
.book-body {
  background: #fafafa;
}
.book-summary{
  background: #fff;
}
.summary .active{
    border-right-color: #1891ff;
    border-right-style: solid;
    background: #e6f6ff;
}
.divider{
   display: none;
}
.book-summary ul.summary li a:hover {
    text-decoration: none;
}
.book-summary ul.summary li.header {
    padding-left: 5px;
    color: #364149;
    text-transform: none;
    font-weight: bolder;
}

.page-inner {
   max-width: none;
}

.navigation-prev {
  display: none;
}
.navigation-next {
  display: none;
}

nav.intopic-toc>h3 {
  display: none;
}
nav.intopic-toc .navbar-nav {
  margin-top: 0px;
}


