<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="form-group clearfix">
    <div class="col-sm-4">
        <label class="col-sm-12 required" for="">Start Time</label>
        <input type="text" class="form-control start-time" name="startTime" data-id="startTime" readonly />
    </div>
    <div class="col-sm-4">
        <label class="col-sm-12 required" for="">End Time</label>
        <input type="text" class="form-control end-time" name="endTime" data-id="endTime" readonly />
    </div>
    <div class="col-sm-3">
        <label class="col-sm-12 required" for="">TimeZone</label>
        <select class="form-control row-margin-bottom time-zone" data-id="timeZone" required>
        </select>
    </div>
    <div class="col-sm-1 attributePlusData" align="right" style="margin-top: 25px;">
        <button type="button" class="btn btn-danger btn-sm closeInput" data-id="close"><i class="fa fa-times"></i></button>
    </div>
</div>