<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="clearfix">
    <div class="col-sm-12 default-tab">
        <ul class="nav nav-tabs" data-id="tab-list">
            <li role="businessMetadata" class="tab active"><a href="#tab-businessMetadata" aria-controls="tab-businessMetadata" role="tab" data-toggle="tab">Business Metadata</a></li>
            <li role="enum"><a href="#tab-enum" aria-controls="tab-enum" role="tab" data-toggle="tab">Enumerations</a></li>
            <li role="audit"><a href="#tab-audit" aria-controls="tab-audit" role="tab" data-toggle="tab">Audits</a></li>
            <li role="typeSystem"><a href="#tab-typeSystem" aria-controls="tab-typeSystem" role="tab" data-toggle="tab">Type System</a></li>
        </ul>
    </div>
</div>
<div class="tab-content admin-details">
    <div id="tab-businessMetadata" role="businessMetadata" class="tab-pane active animated fadeIn">
        <div id="r_businessMetadataTableLayoutView">
        </div>
    </div>
    <div id="tab-enum" role="enum" class="tab-pane animated fadeIn">
        <div id="r_enumTableLayoutView">
        </div>
    </div>
    <div id="tab-audit" role="audit" class="tab-pane animated fadeIn">
        <div id="r_adminTableLayoutView">
        </div>
    </div>
    <div id="tab-typeSystem" role="typeSystem" class="tab-pane" style="position: relative;">
        <div id="r_typeSystemTreeLayoutView">
        </div>
    </div>
</div>
</div>