#main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px;
  overflow: auto;
}

@media screen and (max-width: 1024px) {
  #main {
    padding: 8px;
  }

  .skeleton-header {
    padding: 16px 12px 15px;
  }
}

.dice-layout {
  display: flex;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;

  &.has-notice {
    height: calc(100vh - 53px);

    &.has-notice-only-one {
      height: calc(100vh - 40px);
    }

    .top-button-group {
      top: 72px;
    }
  }
}

.notice-wrap {
  height: 53px;
  padding: $p8 0;
  overflow: hidden;
  background: #ffedec;
  border-radius: 3px;

  .ant-carousel {
    height: 100%;

    .slick-slider {
      height: 100%;
    }

    .slick-list {
      .slick-track {
        div {
          width: 100vw;
          padding: 0 $p8;
          overflow: hidden;
          line-height: 22px;
          white-space: nowrap;
          text-align: center;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .slick-dots {
    bottom: $p4;
  }

  &.only-one {
    height: 40px;
  }
}
